
<table class="table">
    <tr><th></th><th>Path</th><th>Mult</th><th>DataTypes</th><th>Notes</th></tr>
    <tr ng-repeat="item in items" ng-class="{myRequired:item.min==1,borderTop:item.groupParent}">
        <!-- <tr ng-repeat="item in canonical.item"
        ng-class="{myRequired:item.min==1,extension:item.extension}">  -->

        <td>

            <strong ng-show="item.extension" style="color: darkblue">Ext</strong>
        </td>
        <td  style="cursor: pointer">   <!-- ng-click="showED(item.ed)" -->
            <div ng-style="{ 'padding-left': (item.path | pathindent) -10 }">
                {{item.path}}
                <div>{{item.extensionPath}}</div>
            </div>
        </td>
        <td>{{item.min}}..{{item.max}}</td>
        <td>
            <div ng-repeat="typ in item.type">
                <div ng-show="typ.code == 'Reference'">

                    --> <span class="clickable" ng-click="selectItemI(typ.profile,'profile')">{{typ.profile | referenceType}}</span>
                    <span class="clickable" ng-click="selectItemI(typ.targetProfile,'profile')">{{typ.targetProfile | referenceType}}</span>

                </div>
                <div ng-hide="typ.code == 'Reference'">{{typ.code}}</div>

            </div>
        </td>
        <td>
            <div>{{item.extension.name}}</div>
            <div ng-show="item.extension.url" class="clickableDotted" ng-click="selectExtensionFromProfile(item.extension)">
                Ext: {{item.extension.url}}</div>


            <div ng-show="item.extension.analysis.isComplexExtension">


                <table class="table">
                    <tr ng-class="{myRequired:child.min==1}" ng-repeat="child in item.extension.analysis.children">
                        <td>{{child.code}}</td>
                        <td>
                            <div ng-repeat="typ in child.ed.type">
                                {{typ.code}}
                            </div>
                        </td>
                        <td>{{child.min}}..{{child.max}}</td>
                        <td><div ng-repeat="typ in child.type">
                            {{typ.code}}
                        </div></td>
                        <td>
                            <span class="clickable" ng-click="showValueSet(child.boundValueSet,'uri')">
                                {{child.boundValueSet}}
                            </span>
                        </td>
                        <td>{{child.bindingStrength}} </td>
                    </tr>
                </table>

                <!--
                                                                 <pre>{{item.extension.analysis | json}}</pre>
             -->
            </div>

            <!-- If a coded item...-->
            <div ng-show="item.coded.valueSetUri">
                VS:
                <span class="clickableDotted" ng-click="showValueSet(item.coded.valueSetUri,'uri')">
                    {{item.coded.valueSetUri}}
                </span>
                <span class="clickableDotted" ng-click="showValueSet(item.coded.valueSetReference,'uri')">
                    {{item.coded.valueSetReference}}
                </span>
            </div>

            <!-- if a coded simple extension -->
            <div ng-show="item.extension.analysis.binding">
                <span class="clickableDotted" ng-click="showValueSet(item.extension.analysis.boundValueSet,'uri')">
                    VS: {{item.extension.analysis.boundValueSet}} ({{item.extension.analysis.binding.strength}})
                </span>
            </div>


            <div ng-show="item.coded.valueSetReference">
                Reference:
                <span class="clickable" ng-click="showValueSet(item.coded.valueSetReference,'ref')">
                    {{item.coded.valueSetReference}}
                </span>
            </div>

            <div ng-show="item.coded.strength">Strength: {{item.coded.strength}}</div>

            <div ng-show="item.slicing">
                <div ng-repeat="discriminator in item.slicing.discriminator">
                    Sliced Element: Discriminator = {{discriminator}}
                </div>
                <div>Rule: {{item.slicing.rules}}   Ordered: {{item.slicing.ordered}}</div>
            </div>


            <div ng-repeat="fixed in item.fixed">
                {{fixed.k}} = {{fixed.v}}
            </div>

            <div ng-show="item.isModifier">
                This is a <a target="_blank" href="https://www.hl7.org/fhir/elementdefinition-definitions.html#ElementDefinition.isModifier">Modifier element</a>
            </div>

            <!--
                                                            <pre>{{item.extension.analysis | json}}</pre>
            -->

            <div ng-show="item.groupParent"><em>{{item.display}}</em></div>
            <div ng-hide="item.groupParent || !item.display">

                <div class="pull-right">
                    <i class="glyphicon glyphicon-question-sign"
                       style="cursor: pointer"
                       popover-trigger="'mouseenter'"
                       popover-placement="left"
                       uib-popover="{{item.display}}">
                    </i>
                </div>
            </div>
        </td>
    </tr>
</table>
                                