<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>

    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/angular-lightweight-markdown-editor.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <style>
        #resourceGraph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }


         .borderForGraph {
             border-left: thin solid darkgrey;
             border-right: thin solid darkgrey;
         }



    </style>

    <script>

        //https://github.com/rallu/angular-lightweight-markdown-editor


        angular.module("sampleApp",['ui.bootstrap','ngStorage','ngSanitize']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/builderCtrl.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/logicalModelSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/addPropertyInBuilderCtrl.js"></script>

    <script src="resourceBuilder/vsBrowser.js"></script>

    <!--
    <script src="js/newVSFinder.js"></script>

    <script src="js/profileCreatorSvc.js"></script>


    <script src="js/documentBuilder.js"></script>








    <script src="js/loginCtrl.js"></script>

    <script src="js/modellerFilters.js"></script>
    <script src="js/igSvc.js"></script>

-->

    <title>Builder</title>




</head>


<body style="padding: 8px;padding-top: 80px" >

    <div ng-app="sampleApp" ng-controller="builderCtrl" class="container-fluid">


        <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container-fluid">
                <div class="col-md-2 col-sm-2">
                    <a class="navbar-brand" href="#">
                        Builder
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="navbar-text">
                        Conformance: {{appConfigSvc.getCurrentConformanceServer().name}}
                    </div>

                </div>

                <div class="col-md-2 col-sm-2">

                </div>


            </div>
        </nav>



        <div class="row">

            <div class="col-md-2 col-sm-2">

                <button class="btn btn-link pull-right" ng-click="newBundle()">New set</button>
                <h4>Sets</h4>

                <ul class="list-group" >
                    <li style="cursor: pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':$index == currentBundleIndex}"
                        ng-repeat="entry in builderBundles"
                        ng-click="selectBundle($index)">

                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <strong>{{entry.name}}</strong>
                            </div>
                            <div class="col-md-2 col-sm-2">

                                <i class="glyphicon glyphicon-remove"
                                   title="Delete"
                                   ng-click="deleteBundle($index)" style="cursor: pointer">

                                </i>
                            </div>

                        </div>


                    </li>
                </ul>




            </div>

            <div class="col-md-5 col-sm-5 borderForGraph">

                <button ng-hide="displayMode == 'new'"
                        ng-click="displayMode = 'new'"
                        class="btn btn-primary pull-right">Add Resource</button>

                <uib-tabset>
                    <uib-tab heading="All resources">
                        <br/>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <table class="table table-bordered table-condensed">
                                    <tr><td>Type</td><td>Text</td></tr>
                                    <tr ng-repeat="entry in resourcesBundle.entry">
                                        <td><div class='clickable' ng-click="selectResource(entry.resource)">
                                            {{entry.resource.resourceType}}</div>
                                        </td>
                                        <td><p ng-bind-html="entry.resource.text.div"></p></td>
                                    </tr>
                                </table>
                            </div>

                        </div>



                    </uib-tab>
                    <uib-tab heading="Graph" select="redrawChart()">
                        <div id="resourceGraph"></div>
                        <br/>
                    </uib-tab>
                </uib-tabset>


            </div>


            <div class="col-md-5 col-sm-5">

                <div ng-show="displayMode == 'view'">
                    <uib-tabset ng-show="currentResource">

                        <uib-tab heading="Structure & Reference">

                            <div class="row">
                                <div class="col-sm-5 col-md-5">
                                    <br />
                                    <span class="pull-right">
                                        <a target="_blank" ng-href="http://hl7.org/fhir/{{currentResource.resourceType | getLogicalID}}">
                                            <i class="glyphicon glyphicon-globe"
                                               title="View Resource definition in spec">

                                            </i>

                                        </a>
                                    </span>


                                    <div id="SDtreeView"></div>


                                </div>



                                <div class="col-sm-7 col-md-7">


                                    <br/>

                                    <div class="row">
                                        <div class="col-md-11 col-sm-11">
                                            <div class="rounded-box"><p ng-bind-html="currentResource.text.div"></p></div>
                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                            <i class="glyphicon glyphicon-edit iconSpacing pull-right"
                                               title="Edit text"
                                               ng-click="editResource(currentResource)" style="cursor: pointer">

                                            </i>


                                            <br />
                                            <i class="glyphicon glyphicon-remove iconSpacing pull-right"
                                               title="Delete resource"
                                               ng-click="removeResource(currentResource)" style="cursor: pointer">

                                            </i>


                                        </div>
                                    </div>








                                    <br/>
                                    <div class="banner" ng-show="hashPath">{{hashPath.path}}</div>

                                    <div ng-show="currentElementValue.display">
                                        <h5>Current Value</h5>
                                        <div>{{currentElementValue.display}}</div>
                                        <br/>
                                    </div>








                                    <h5 ng-show="hashPath">DataType/s</h5>
                                    <div ng-repeat="type in hashPath.ed.type">
                                        <div ng-hide="type.code == 'Reference'">

                                            <div>
                                                <div class="pull-right">
                                                    <a target="_blank" ng-href="http://hl7.org/fhir/datatypes.html#{{type.code}}">
                                                        <i class="glyphicon glyphicon-globe"
                                                           title="View Datatype in spec">

                                                        </i>

                                                    </a></div>
                                            </div>

                                            <span ng-class="{clickable:supportedDt.indexOf(type.code)>-1}"
                                                    ng-click="addValueForDt(hashPath,type.code)">

                                                {{type.code}}
                                            </span>


                                        </div>
                                        <div ng-show="type.code == 'Reference'">
                                            <div>
                                                <div class="pull-right">
                                                    <a target="_blank" ng-href="http://hl7.org/fhir/{{type.profile | referenceType}}">
                                                        <i class="glyphicon glyphicon-globe"
                                                           title="View Resource in spec">

                                                        </i>
                                                    </a></div>
                                            </div>

                                            --> {{type.profile | referenceType}}
                                        </div>

                                    </div>

                                    <div ng-show="hashPath.isReference">

                                        <h5>Potential References</h5>

                                        <table class="table table-condensed table-bordered">
                                            <tr><th>Type</th><th>Potential resources</th></tr>
                                            <tr ng-repeat="(key,data) in hashReferences">
                                                <td>{{key}}</td>
                                                <td>
                                                    <table width="100%">
                                                        <tr ng-repeat = "resource in data">
                                                            <td>
                                                                <div title="{{resource.resourceType}}" ng-bind-html="resource.text.div"></div>
                                                            </td>
                                                            <td><div class="pull-right">

                                                    <span>
                                                        <i class="glyphicon glyphicon-plus"
                                                           ng-click="linkToResource(hashPath.path,resource,hashPath)" style="cursor: pointer">

                                                        </i>
                                                    </span>
                                                            </div>
                                                            </td>

                                                        </tr>
                                                    </table>


                                                </td>

                                            </tr>
                                        </table>

                                    </div>

<!--

                                    <div ng-show="enterPropertyValue">
                                        <br/>

                                        <div class="rounded-box">

                                            <ng-include src="'/includes/builderDataEntry.html'"></ng-include>

                                            <div><
                                                <button class="btn btn-link" ng-click="saveNewValue()">Save</button>

                                                <span class="clickable pull-right" ng-click="saveNewValue()">Save</span>
                                            </div>
                                            <br/>


                                        </div>



                                    </div>
                                    -->

                                    <br/>

                                    <div ng-show="hashPath.ed.binding">
                                        <h5>ValueSet Binding ({{hashPath.ed.binding.strength}})</h5>
                                        <div>
                                            <button class="btn btn-link" ng-click="viewVS(hashPath.ed.binding.valueSetReference.reference)">
                                                {{hashPath.ed.binding.valueSetReference.reference}}
                                            </button>


                                        </div>
                                        <div></div>
                                    </div>
                                    <hr/>
                                    {{hashPath.definition}}

                                    {{hashPath.comments}}

                                    <!--
                                                                    <pre>{{currentResource | json}}</pre>
                                    -->





                                </div>
                            </div>


                        </uib-tab>


                        <uib-tab heading="Resource Summary">
                            <br/>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    Resource Type: <strong>{{currentResource.resourceType}}</strong>
                                </div>
                                <div class="col-md-6 col-sm-6">

                                    <i class="glyphicon glyphicon-remove iconSpacing pull-right"
                                       title="Delete resource"
                                       ng-click="removeResource(currentResource)" style="cursor: pointer">

                                    </i>

                                    <i class="glyphicon glyphicon-edit iconSpacing pull-right"
                                       title="Edit text"
                                       ng-click="editResource(currentResource)" style="cursor: pointer">

                                    </i>

                                </div>
                            </div>





                            <div class="rounded-box"><p ng-bind-html="currentResource.text.div"></p></div>



                            <h4>Current References</h4>


                            <div>
                                <strong>From this resource</strong>
                                <table class="table table-condensed table-bordered">
                                    <tr><th>Path</th><th>Target resource</th><th></th></tr>
                                    <tr ng-repeat="ref in currentResourceRefs.src">
                                        <td>{{ref.path}}</td>
                                        <td>{{ref.targ}}</td>
                                        <td><i class="glyphicon glyphicon-remove"
                                               ng-click="removeReference(ref)" style="cursor: pointer">

                                        </i></td>
                                    </tr>
                                </table>

                                <strong>To this resource</strong>
                                <table class="table table-condensed table-bordered">
                                    <tr><th>From</th><th>Source path</th></tr>
                                    <tr ng-repeat="ref in currentResourceRefs.targ">
                                        <td>{{ref.src}}</td>
                                        <td>{{ref.path}}</td>
                                    </tr>
                                </table>
                            </div>





                            <hr/>







                        </uib-tab>

                        <uib-tab heading="Resource Json">
                            <pre>{{currentResource | json}}</pre>
                        </uib-tab>

                    </uib-tabset>
                </div>


                <div ng-show="displayMode == 'new'">
                    <h4>Add new Resource</h4>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            Resource Type:
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <select ng-model="input.newResource" class="form-control"
                                    ng-change="newTypeSelected(input.newResource)"
                                    ng-options="resource.name for resource in resources"></select>
                        </div>
                    </div>



                    <div class="row" ng-show="currentType">
                        <div class="col-md-12 col-sm-12">
                            <br/>

                            <uib-tabset>
                                <uib-tab heading="New resource instance">
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            Text
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <textarea class="form-control" ng-model="input.text"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">



                                        <div class="col-md-2 col-sm-2">

                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <br/>
                                            <button class="btn btn-success pull-right" ng-click="addNewResource(input.newResource.name)">Add</button>
                                        </div>
                                    </div>


                                </uib-tab>

                                <uib-tab heading="About this resource type">

                                    <div>
                                        <a target="_blank" class="pull-right"
                                           ng-href="http://hl7.org/fhir/{{input.newResource.name}}.html">
                                            View in spec
                                        </a>
                                    </div>


                                    <h4>Potential references</h4>
                                    <table class="table table-bordered table-condensed">
                                        <tr><th>Path</th><th>Resource Type</th></tr>
                                        <tr ng-repeat="ref in references">
                                            <td>{{ref.path | dropFirstInPath}}</td>
                                            <td>{{ref.profile | getLogicalID}}</td>

                                        </tr>
                                    </table>
                                </uib-tab>
                            </uib-tabset>

                            <button class="btn btn-default" ng-click="displayMode = 'view'">Cancel</button>


                        </div>
                    </div>




                </div>

                </div>




        </div>

        <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                    vs-selected="vsSelected"></vs-browser>

    </div>
</body>
</html>