<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>

    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/angular-lightweight-markdown-editor.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <style>
        #resourceGraph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }
    </style>

    <script>

        //https://github.com/rallu/angular-lightweight-markdown-editor


        angular.module("sampleApp",['ui.bootstrap','ngStorage','ngSanitize']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/builderCtrl.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/logicalModelSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/libs/vis.min.js"></script>

    <!--


    <script src="js/profileCreatorSvc.js"></script>


    <script src="js/documentBuilder.js"></script>








    <script src="js/loginCtrl.js"></script>
    <script src="resourceBuilder/vsBrowser.js"></script>
    <script src="js/modellerFilters.js"></script>
    <script src="js/igSvc.js"></script>
    <script src="js/newVSFinder.js"></script>
-->

    <title>Builder</title>




</head>


<body style="padding: 8px;padding-top: 80px" >

    <div ng-app="sampleApp" ng-controller="builderCtrl" class="container-fluid">


        <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container-fluid">
                <div class="col-md-2 col-sm-2">
                    <a class="navbar-brand" href="#">
                        Builder
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">

                </div>

                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-danger" ng-click="clearAllData()">Clear all</button>
                </div>


            </div>
        </nav>



        <div class="row">
            <div class="col-md-5 col-sm-5">

                <uib-tabset>
                    <uib-tab heading="All resources">
                        <br/>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <table class="table table-bordered table-condensed">
                                    <tr><td>Type</td><td>Text</td></tr>
                                    <tr ng-repeat="entry in resourcesBundle.entry">
                                        <td><div class='clickable' ng-click="selectResource(entry.resource)">
                                            {{entry.resource.resourceType}}</div>
                                        </td>
                                        <td><p ng-bind-html="entry.resource.text.div"></p></td>
                                    </tr>
                                </table>
                            </div>

                        </div>



                    </uib-tab>
                    <uib-tab heading="Graph" select="redrawChart()">
                        <div id="resourceGraph"></div>
                        <br/>
                    </uib-tab>
                </uib-tabset>


            </div>


            <div class="col-md-4 col-sm-4">
                <uib-tabset ng-show="currentResource">
                    <uib-tab heading="Profile">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div id="SDtreeView"></div>
                            </div>
                            <div class="col-sm-6 col-md-6">
   <!--
                                <pre>{{hashReferences | json}}</pre>
-->


                                <div class="banner">{{hashPath.path}}</div>


                                <!--
                                <div ng-hide="hashPath.offRoot">
                                    <div>Segments</div>
                                    <ul>
                                        <li ng-repeat="segment in hashPath.segments">{{segment}}</li>
                                    </ul>
                                    <button class="btn btn-link" ng-click="addSegment(hashPath)">Add</button>

                                </div>

                                -->

                                <strong>Potential References</strong>

                                <table class="table table-condensed table-bordered">
                                    <tr><th>Type</th><th>Potential resources</th></tr>
                                    <tr ng-repeat="(key,data) in hashReferences">
                                        <td>{{key}}</td>
                                        <td>
                                            <table width="100%">
                                                <tr ng-repeat = "resource in data">
                                                    <td>
                                                        <div title="{{resource.resourceType}}" ng-bind-html="resource.text.div"></div>
                                                    </td>
                                                    <td><div class="pull-right">

                                                <span>
                                                    <i class="glyphicon glyphicon-plus"
                                                       ng-click="linkToResource(hashPath.path,resource,hashPath)" style="cursor: pointer">

                                                    </i>
                                                </span>
                                                    </div>
                                                    </td>

                                                </tr>
                                            </table>


                                        </td>

                                    </tr>
                                </table>


                                <pre>{{currentResource | json}}</pre>

<!--

                                    <table width="100%">
                                        <tr ng-repeat = "resource in possibleReferences">
                                            <td>
                                                <div title="{{resource.resourceType}}" ng-bind-html="resource.text.div"></div>
                                            </td>
                                            <td><div class="pull-right">

                                        <span>
                                            <i class="glyphicon glyphicon-plus"
                                               ng-click="linkToResource(key,resource,data.ref)" style="cursor: pointer">

                                            </i>
                                        </span>
                                            </div>
                                            </td>

                                        </tr>
                                    </table>
-->






                            </div>
                        </div>


                    </uib-tab>
                    <uib-tab heading="Summary">
                        <hr/>

                        <div>Resource Type: <strong>{{currentResource.resourceType}}</strong>
                            <span class="pull-right">
                                <button class="btn btn-link" ng-click="removeResource(currentResource)">Remove</button> </span>
                        </div>
                        <div class="rounded-box"><p ng-bind-html="currentResource.text.div"></p></div>



                        <h4>References</h4>

                        <uib-tabset>

                            <uib-tab heading="Current">
                                <br/>
                                <div>
                                    <strong>From this resource</strong>
                                    <table class="table table-condensed table-bordered">
                                        <tr><th>Path</th><th>Target resource</th><th></th></tr>
                                        <tr ng-repeat="ref in currentResourceRefs.src">
                                            <td>{{ref.path}}</td>
                                            <td>{{ref.targ}}</td>
                                            <td><i class="glyphicon glyphicon-remove"
                                                   ng-click="removeReference(ref)" style="cursor: pointer">

                                            </i></td>
                                        </tr>
                                    </table>

                                    <strong>To this resource</strong>
                                    <table class="table table-condensed table-bordered">
                                        <tr><th>From</th><th>Source path</th></tr>
                                        <tr ng-repeat="ref in currentResourceRefs.targ">
                                            <td>{{ref.src}}</td>
                                            <td>{{ref.path}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </uib-tab>

                            <uib-tab heading="Create">

                                <br/>
                                <table class="table table-condensed table-bordered">
                                    <tr><th>Path</th><th>Potential resources</th></tr>
                                    <tr ng-repeat="(key,data) in objReferences">
                                        <td>{{key | dropFirstInPath}} {{data.ref.min}}..{{data.ref.max}}</td>
                                        <td>
                                            <table width="100%">
                                                <tr ng-repeat = "resource in data.resource">
                                                    <td>
                                                        <div title="{{resource.resourceType}}" ng-bind-html="resource.text.div"></div>
                                                    </td>
                                                    <td><div class="pull-right">

                                                <span>
                                                    <i class="glyphicon glyphicon-plus"
                                                       ng-click="linkToResource(key,resource,data.ref)" style="cursor: pointer">

                                                    </i>
                                                </span>
                                                    </div>
                                                    </td>

                                                </tr>
                                            </table>


                                        </td>

                                    </tr>
                                </table>


                                {{l2Nodes}}
                                {{bbNodesX}}
                                <div ng-repeat="(key,value) in l2Nodes">
                                    {{key}}
                                    <div ng-repeat = "ref in value">
                                        {{ref}}
                                    </div>

                                </div>


                            </uib-tab>
                        </uib-tabset>



                        <hr/>







                    </uib-tab>
                    <uib-tab heading="Resource Json">
                        <pre>{{currentResource | json}}</pre>
                    </uib-tab>

                </uib-tabset>

            </div>


            <div class="col-md-3 col-sm-3">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <select ng-model="input.newResource" class="form-control"
                                ng-change="newTypeSelected(input.newResource)"
                                ng-options="resource.name for resource in resources"></select>
                    </div>
                </div>


                <div class="row" ng-show="currentType">
                    <div class="col-md-12 col-sm-12">
                        <br/>

                        <uib-tabset>
                            <uib-tab heading="New resource instance">
                                <br/>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        Text
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <textarea class="form-control" ng-model="input.text"></textarea>
                                    </div>
                                </div>

                                <div class="row">



                                    <div class="col-md-2 col-sm-2">

                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <button class="btn btn-default" ng-click="addNewResource(input.newResource.name)">Add</button>
                                    </div>
                                </div>


                            </uib-tab>

                            <uib-tab heading="About this resource">

                                >> show spec in separate tab
                                <h4>Potential references</h4>
                                <table class="table table-bordered table-condensed">
                                    <tr><th>Path</th><th>Resource Type</th></tr>
                                    <tr ng-repeat="ref in references">
                                        <td>{{ref.path | dropFirstInPath}}</td>
                                        <td>{{ref.profile | getLogicalID}}</td>

                                    </tr>
                                </table>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>








            </div>

        </div>

    </div>
</body>
</html>