<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/carePlanCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/components/dataTypes.js"></script>
    <!--
    <script src="js/services.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/documentBuilder.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>



    <script src="js/profileCreatorSvc.js"></script>
    -->

    <title>CarePlan</title>

</head>


<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="carePlanCtrl" class="container-fluid">

<h3>Careplan</h3>

<div class="row">
    <div class="col-md-3 col-sm-3">
        Identifier
    </div>

    <div class="col-md-3 col-sm-3">
        <input class="form-control" ng-model="input.identifier"/>
    </div>
    <div class="col-md-3 col-sm-3">
        <button class="btn btn-success" ng-click="loadPlans(input.identifier)">Load Plans</button>
    </div>



</div>
    <br/>

    <uib-tabset>
        <uib-tab heading="Individual Plans">
            <table class="table table-bordered" ng-show="input.plans.length > 0">
                <tr>
                    <th>Index</th><th>Server</th><th>Patient</th><th>Detail</th>
                </tr>
                <tr ng-repeat="plan in input.plans">
                    <td width="5%">{{$index}}</td>
                    <td width="20%">
                        <div>{{plan.server.name}}</div>
                        <div><a ng-click="toggleDetail($index)">Toggle detail</a></div>
                    </td>
                    <td width="15%">
                        <div>Id: {{plan.patient.id}}</div>
                    </td>
                    <td width="60%">
                        <div ng-show="output.showDetail[$index]">
                            <uib-tabset>
                                <uib-tab heading="Summary">
                                    <table>
                                        <tr>
                                            <td>Addresses</td>
                                            <td>
                                                <ul>
                                                    <li ng-repeat="a in plan.plan.addresses">{{a.display}}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>

                                </uib-tab>
                                <uib-tab heading="Care Team">

                                    <ul>
                                        <li ng-repeat="team in plan.plan.careTeam">
                                            {{team.reference}}

                                        </li>
                                    </ul>

                                </uib-tab>
                                <uib-tab heading="Activity">
                                    <table class="table table-bordered">
                                        <tr ng-repeat = "act in plan.plan.activity">
                                            <td valign="top">{{$index}}</td>
                                            <td>
                                                <div ng-show="act.reference">Reference: {{act.reference.display}}</div>


                                                <div>Category: <codeable-concept cc="act.detail.category"></codeable-concept></div>
                                                <div>Code: <codeable-concept cc="act.detail.code"></codeable-concept></div>
                                                <div>Status:{{act.detail.status}}</div>
                                            </td>
                                            <td>
                                                <pre ng-show="act.detail.scheduledTiming">{{act.detail.scheduledTiming | json}}</pre>
                                                <pre ng-show="act.detail.scheduledPeriod">{{act.detail.scheduledPeriod | json}}</pre>
                                                <div ng-show="act.detail.scheduledString">{{act.detail.scheduledString}}</div>
                                            </td>
                                        </tr>
                                    </table>

                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{plan.plan | json}}</pre>
                                </uib-tab>
                            </uib-tabset>
                        </div>


                    </td>
                </tr>
            </table>



        </uib-tab>
        <uib-tab heading="Combined Plans">

        </uib-tab>
    </uib-tabset>


    {{input.plansDEP}}


</div>
</body>
</html>