<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/showdown.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <title>HPI</title>

    <script>


        angular.module("sampleApp",['ui.bootstrap','ngStorage','firebase',"ngSanitize"]).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").constant("moment", moment);

        angular.module("sampleApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
            //$compileProvider.aHrefSanitizationWhitelist(/^\s*(|blob|):/);
        }]);

    </script>

    <style>
        .reference  {
            color: #00A000;
        }
        .isExtension {
            color: #4183c4;
            border-bottom: 1px dotted #000;
        }

        .isModifierExtension {
            color: red;
            border-bottom: 1px dotted #000;
        }
        .isModifierBackground {
            background-color: lightcoral;

        }
        .error {

        }

        .doc table,th,td {

            vertical-align: top;
            border: 1px solid grey;
            padding: 8px;


        }


    </style>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/nhipCtrl.js"></script>
    <script src="js/nhipSvc.js"></script>
    <script src="js/logicalModelSvc.js"></script>

    <script src="js/appConfigSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/modellerFilters.js"></script>
    <script src="js/taskSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>

    <script src="resourceBuilder/vsBrowser.js"></script>

    <script src="js/libs/vis.min.js"></script>
    <script src="js/sendComment.js"></script>

<!--
    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    -->

</head>
<body style="padding: 8px;padding-top: 80px">


<div ng-app="sampleApp" ng-controller="nhipCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-7">
            <a class="navbar-brand" href="#">New Zealand HPI & NHI FHIR Draft Implementation Guide</a>
        </div>

        <div class="col-md-2">
            <!--
            <div class="navbar-text">
                <div class="btn-group" ng-click="selectIG(input.igCode)">
                    <label class="btn btn-default" ng-model="input.igCode" uib-btn-radio="'nzRegistry'">Identity</label>

                    <label class="btn btn-default" ng-model="input.igCode" uib-btn-radio="'nhip'">Clinical</label>


                </div>
            </div>
-->
        </div>


        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
            </div>
        </div>
        <div class="col-md-2">
            <img class="pull-right" style="max-width:40%; height:auto; padding:8px" src="content/nhip/mohlogo.svg"/>
        </div>
    </nav>


    <div class="pull-right">
        <input type="checkbox" ng-model="clinicalView"
               uib-popover="Clinical view hides technical tabs to de-clutter the display"
               popover-placement="left"
               popover-trigger="'mouseenter'"
        > Clinical View
    </div>

    <uib-tabset ng-if="showTabsInView" active="activeTabIndex">
        <uib-tab ng-repeat = "tab in tabs" >
            <uib-tab-heading>{{tab.title}}</uib-tab-heading>
            <br/>
            <p ng-if="tab.contents" ng-bind-html="tab.contents | markDown"></p>


            <ng-include src="tab.includeUrl"></ng-include>
        </uib-tab>

        <uib-tab ng-if="tabs.length > 0 && ! clinicalView" heading="Downloads">
            <p>Download of all artifacts - Profiles, Extension Definitions, Terminology</p>

            CapabilityStatement

        </uib-tab>

    </uib-tabset>



    <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                vs-selected="vsSelected"></vs-browser>


</div>

</body>
</html>