<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <style>
        .myScroll {
            height: 800px;
            overflow-y: scroll;
        }
    </style>



    <script>
        angular.module("igApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("igApp").constant("moment", moment);




    </script>

    <script src="js/igAnalysis.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>

    <title>IG Analysis</title>

</head>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="igApp" ng-controller="igCtrl" class="container-fluid">

    <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-7 col-sm-7">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Implementation Guide Extension usage
                    </a>
                </span>

            </div>





            <div class="col-md-2 col-sm-2">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>



            <div class="col-md-3 col-sm-3">


            </div>

        </div>
    </nav>


    <div class="row">
        <div class="col-md-5">

            <h4>Extension definitions</h4>
            <div class="myScroll">
                <div class="list-group">
                    <div ng-class="{'list-group-item':true,'listItemSelected':k==selectedEDUrl}" ng-repeat="(k,v) in hashExtension"
                         ng-click="selectED(k,v)" style="cursor: pointer">
                        {{k}}
                        <span class="badge pull-right">
                        {{v.length}}
                    </span>
                        <span class="clearfix"/>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-7">
            <div ng-hide="selectedEDUrl">
                <div style="margin-top: 80px">
                    <em> Select an extension definition to the left to view the IG's that are using it...</em>

                    </div>
                </div>
            

            <div ng-show="selectedED">



                <h4>IGs using {{selectedEDUrl}}</h4>

                <table class="table table-bordered">
                    <tr><th>IG Url</th><th>Path</th></tr>
                    <tr ng-repeat="item in selectedED ">
                        <td>{{item.ig}}</td>
                        <td>{{item.path}}</td>
                    </tr>
                </table>
            </div>

<!--
            <pre>{{ selectedED | json}}</pre>
            -->
        </div>



    </div>








</div>
</body>
</html>