<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/igCompanionCtrl.js"></script>
    <script src="js/igCompanionSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/libs/vis.min.js"></script>


    <!--
        <script src="js/components/dataTypes.js"></script>
        <script src="js/appConfigSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/documentBuilder.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>



    <script src="js/profileCreatorSvc.js"></script>
    -->

    <title>IG Companion</title>

</head>


<body style="padding: 8px;padding-top: 80px">

<div ng-app="sampleApp" ng-controller="igCompanionCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-7">
            <a class="navbar-brand" href="#">IG Companion</a>
        </div>

        <div class="col-md-2">
            <!--
            <div class="navbar-text">
                <div class="btn-group" ng-click="selectIG(input.igCode)">
                    <label class="btn btn-default" ng-model="input.igCode" uib-btn-radio="'nzRegistry'">Identity</label>

                    <label class="btn btn-default" ng-model="input.igCode" uib-btn-radio="'nhip'">Clinical</label>


                </div>
            </div>
-->
        </div>


        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">
                <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="navbar-text">
            {{server}}
            </div>
        </div>
    </nav>

    <uib-tabset>
        <uib-tab heading="Sample queries">

            <ng-include src="'includes/igQueryBuilder.html'"></ng-include>

        </uib-tab>
    </uib-tabset>





</div>
</body>
</html>