<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/igCompanionCtrl.js"></script>
    <script src="js/igCompanionSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/libs/vis.min.js"></script>


    <!--
        <script src="js/components/dataTypes.js"></script>
        <script src="js/appConfigSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/documentBuilder.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>



    <script src="js/profileCreatorSvc.js"></script>
    -->

    <title>IG Companion</title>

</head>


<body style="padding: 8px;padding-top: 8px">

<div ng-app="sampleApp" ng-controller="igCompanionCtrl" class="container-fluid">

    <uib-tabset>
        <uib-tab heading="Sample queries">
            <br/>

            <ng-include src="'includes/igQueryBuilder.html'"></ng-include>

        </uib-tab>

        <uib-tab heading="Validate resource instance">
            <p>Paste the resource into the box below and click 'Validate'. It must have the url of the profile that
            it is being validated against in the meta.profile element.</p>
            <p><strong><em>Only the JSON format is currently supported</em></strong></p>

            <br/>
            <div class="row">
                <div class="col-md-6">
                     <textarea rows="30" class="form-control" ng-model="input.validate">   </textarea>
                </div>

                <div class="col-md-6">
                    <div>
                        <button class="btn btn-primary pull-right" ng-click="validate(input.validate)">Validate</button>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="validateResult">
                        <pre>{{validateResult | json}}</pre>
                    </div>
                </div>
            </div>

        </uib-tab>

        <uib-tab heading="About">
xx
<!--
            <div class="row">
                <div class="col-md-6">
                    <h3>Servers</h3>

                    <div class="row">
                        <div class="col-md-4">
                            Examples and Profiles
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Validation
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Terminology
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>

            </div>
                <div class="col-md-6">

                </div>
            </div>


            -->
        </uib-tab>

    </uib-tabset>

</div>
</body>
</html>