<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/makeResourceCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/components/dataTypes.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/addPropertyInBuilderCtrl.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/sbHistorySvc.js"></script>
    <script src="js/dataTypeCtrl.js"></script>

    <title>Make Resource</title>

</head>


<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="makeResourceCtrl" class="container-fluid">

<h3>Make Resource</h3>


<div class="row">
    <div class="col-md-3 col-sm-3">
        <div id="treeView"></div>
    </div>

    <div class="col-md-3 col-sm-3">
        <ul class="list-unstyled">
            <li ng-repeat="ed in possibleChildren" class="clickable" ng-click="selectChild(ed)">
                {{ed.path | lastName}}
            </li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3">
        <div>Mult: {{selectedEd.min}}..{{selectedEd.max}}</div>
        <ul class="list-unstyled">
            <li ng-repeat="typ in selectedEd.type" class="clickable" ng-click="selectType(typ,selectedEd.path)">
                {{typ.code}}
        </ul>

        <hr/>
        <pre>{{selectedEd | json}}</pre>
    </div>
    <div class="col-md-3 col-sm-3">
        <pre>{{selectedNode | json}}</pre>
    </div>



</div>



</div>
</body>
</html>