<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ui.checkbox','ngStorage','firebase','ngSanitize']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);
    </script>


    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>

    <script src="js/mappingCtl.js"> </script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/mappingCtl.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
   <!--
    <script src="js/taskManagerCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>


    <script src="js/loginCtrl.js"></script>
    <script src="js/fhirUtils.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
-->
    <title>Mapping</title>

</head>

<style>
    .editor
    {
        font-family:"Courier New";
        font-weight: bold;
        font-size: 12px;
    }

    #resourceGraph {
        width: 100%;
        height: 550px;
        border: 1px solid lightgray;
    }
</style>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="mappingCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3 col-sm-3">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Mapping language designer
                    </a>
                </span>
            </div>


            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    <select ng-model="currentSM" class="form-control"
                            ng-change="selectMapFromDD(currentSM)"
                            ng-options="map.id for map in maps"></select>
<!--
                    <select ng-model="input.model" class="form-control"
                            ng-change="selectMapFromDD(input.model)"
                            ng-options="map.id for map in maps"></select>
                    -->


                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <i class="glyphicon glyphicon-plus-sign clickable" ng-click="addMap()"></i>
                </div>
            </div>


            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{currentSM.name}}
                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>

            <div class="col-md-3 col-sm-3">

                <div class="nav navbar-form navbar-right" ng-hide="user">
                    <span style="font-size:1.8em; cursor: pointer"uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="nav navbar-form navbar-right" ng-show="user">
                    <span style="font-size:1.8em; cursor: pointer"
                          uib-popover="Current user: {{user.email}}. Click to log out"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">

                        <div href="#" ng-click="logout()"> <i class="glyphicon glyphicon-log-out"></i></div>
                    </span>
                </div>
            </div>

        </div>
    </nav>



        
            <button ng-show="input.isDirty" class="btn btn-primary pull-right"
                    ng-click="updateStructureMap()">Update StructureMap resource</button>
            <uib-tabset>
                <uib-tab heading="Project">
                    <br/>
                    <div class="row">
                        <div class="col-md-6" >

                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-3">
                                    <strong>Id</strong>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control" disabled="disabled" ng-model="currentSM.id"/>

                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-3">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-md-9">

                                    <input class="form-control" ng-model="currentSM.name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Description</strong>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control"
                                              ng-change="input.isDirty = true"
                                              ng-model="currentSM.description"></textarea>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <h4>Structure Definitions</h4>
                            <table class="table table-bordered">
                                <tr><th>Url</th><th>Mode</th></tr>
                                <tr ng-repeat="struct in currentSM.structure">
                                    <td>{{struct.url}}</td>
                                    <td>{{struct.mode}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="Example input">
                    <br/>
                    <textarea rows = "30" class="form-control" ng-change="input.isDirty = true" ng-model="input.inputJson"></textarea>
                </uib-tab>
                <uib-tab heading="Mapping File">
                    <br/>
                    <div class="alert alert-danger" ng-show="convertError">
                        <div ng-repeat = "iss in convertError.issue">
                            Error: {{iss.details.text}}
                        </div>
                    </div>

                    <textarea rows = "30" class="form-control editor" ng-change="input.isDirty = true" ng-model="input.mappingFile"></textarea>
                </uib-tab>


                <uib-tab heading="Transform">
                    <br/>
                    <div class="alert alert-danger" ng-show="transformError">
                        <div ng-repeat = "iss in transformError.issue">
                            Error: {{iss.details.text}}
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-link pull-right" ng-show="output"
                            ng-click="copyToClipboard()">Copy to Clipboard</button>

                    <button class="btn btn-link pull-right" ng-show="output"
                            ng-click="validate()">Validate</button>

                    <div>
                        <button class="btn btn-primary" ng-click="transform()">Execute transform</button>
                        <span class="pull-right">{{transformMessage}}</span>
                    </div>
                    <br/>

                    <pre ng-show="transformError">{{transformError | json}}</pre>



                    <uib-tabset ng-hide="transformError">
                        <uib-tab heading="Json">
                            <pre>{{output | json}}</pre>

                        </uib-tab>
                        <uib-tab ng-show="output.resourceType=='Bundle'" heading="Bundle entries">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="list-group">
                                        <div ng-class="{'list-group-item':1,'listItemSelected':entry==selectedEntry}"
                                             ng-repeat="entry in output.entry"
                                             ng-click = "selectEntryFromBundle(entry)">
                                            {{entry.resource.resourceType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <uib-tabset>
                                        <uib-tab heading="Json">
                                            <pre>{{selectedEntry | json}}</pre>

                                        </uib-tab>
                                    </uib-tabset>

                                </div>



                            </div>

                        </uib-tab>
                        <uib-tab heading="Graph"  select="fitSingleGraph()">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="resourceGraph"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <uib-tabset>
                                            <uib-tab heading="Json">
                                                <pre>{{selectedEntry | json}}</pre>

                                            </uib-tab>
                                        </uib-tabset>

                                    </div>
                                </div>
                            </div>


                        </uib-tab>

                    </uib-tabset>



                </uib-tab>

            </uib-tabset>



    </div>

</div>
</body>
</html>