<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/moment.min.js"></script>

    <script src="js/libs/codemirror.js"></script>

    <link rel="stylesheet" type="text/css" href="css/codemirror.css"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ui.checkbox','ngStorage','firebase','ngSanitize']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

        angular.module("sampleApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

    </script>


    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>

    <script src="js/mappingCtl.js"> </script>
    <script src="js/mappingSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/mappingCtl.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <script src="js/logicalModelSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
   <!--
    <script src="js/taskManagerCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>


    <script src="js/loginCtrl.js"></script>
    <script src="js/fhirUtils.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
-->
    <title>Mapping</title>

</head>

<style>
    .editor
    {
        font-family:"Courier New";
        font-weight: bold;
        font-size: 12px;
    }

    .scrollOutput {
        height: 500px;
        overflow-y: scroll;
    }

    #resourceGraph {
        width: 100%;
        height: 550px;
        border: 1px solid lightgray;
    }
</style>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="mappingCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-4 col-sm-4">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Mapping language designer
                    </a>
                </span>
            </div>


            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">

                    <select ng-model="currentSM" class="form-control"
                            ng-change="selectMapFromDD(currentSM)"
                            ng-options="map.id for map in maps"></select>

                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <button btn class="btn btn-primary" ng-click="addMap()">New Map</button>

                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <button btn class="btn btn-primary" ng-click="openMap()">Open Map</button>

                </div>
            </div>


            <div class="col-md-1 col-sm-1">
                <div class="navbar-text">
                    <button btn class="btn btn-primary"
                            ng-show="currentSM && (currentSM.publisher !== user.email)"
                            ng-click="copyMap()">Copy Map</button>
                </div>
            </div>





            <div class="col-md-2 col-sm-2">
                <span class="navbar-text clickable" style="font-size:1.8em" uib-popover="Toggle help"
                      popover-placement="left"
                      popover-trigger="'mouseenter'">
                    <i class="glyphicon glyphicon-question-sign" ng-click="showHelp = ! showHelp"></i>
                </span>

                <img style="margin-top: 12px" ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

            </div>

            <div class="col-md-1 col-sm-1">

                <div class="nav navbar-form navbar-right" ng-hide="user">
                    <span style="font-size:1.8em; cursor: pointer" uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="nav navbar-form navbar-right" ng-show="user">
                    <span style="font-size:1.8em; cursor: pointer"
                          uib-popover="Current user: {{user.email}}. Click to log out"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">

                        <div href="#" ng-click="logout()"> <i class="glyphicon glyphicon-log-out"></i></div>
                    </span>
                </div>
            </div>

        </div>
    </nav>



    <div ng-hide="user">
        Only logged in users can view or create maps. To log in click the <span><i class="glyphicon glyphicon-log-in"></i></span> icon in the navbar.
    </div>

    <div ng-show="maps.length == 0 && user && (! showWaiting)">
        There are no maps currently defined for this user. To create a new map, click the 'New Map' button
        in the navbar and add a new map.
    </div>



<!--
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <textarea id="cm1"></textarea>
        </div>
        <div class="col-md-6  col-sm-6">
            <textarea id="cm2"></textarea>
        </div>
    </div>
-->

    <div ng-show="showHelp">
        <p>This clinFHIR module allows you to create and execute maps that use the
            <a href="http://hl7.org/fhir/mapping-language.html" target="_blank"> FHIR mapping language</a>.</p>

        <p>The term 'map' is used to describe the instructions to convert from source/s to target/s. There are 2 representations
        of this map.</p>
        <ul>
            <li>
                The 'mapping file' is the textual representation of the instructions. It is created by the designer using a tool
                such as this one, and is intended to be portable across engines
            </li>
            <li>
                The StructureMap resource which is created from the mapping file using the $convert operation (in this implementation - other architectures are possible).

            </li>
        </ul>

        <p>There are many ways that you can create these maps - here is on process</p>

        <ol>
            <li>
                Create a sample of the input file as a Json file in your favourite editor. (It can be modified in the app,
                but it's easier to start with an existing file.
            </li>
            <li>
                Optionally (but preferably) create a Logical Model that describes the structure of this input file. Having such
                a model enables some of the features of the mapping engine. Use the clinFHIR Logical Modeller or Firely Forge tool for this.
                The file needs to be stored on the mapping server (as a StructureDefinition resource) and you'll need to add the url to
                the mapping file.
            </li>
            <li>
                Create the terminology resources (ValueSet, CodeSystem, ConceptMap) that are needed for the transform.
            </li>
            <li>
                Create a new map, giving it an id, name and description using the 'New Map' button in the navbar. Don't select the
                'sample' checkbox or from a library</li>
            <li>
                Paste the contents of the example input file into the 'Sample Input' text area. When the map is updated (a button
                appears when either the example or map is changed) the example is saved in an extension on the map.
            </li>
            <li>
                Create the transformation map by entering the contents into the 'Mapping' text area. You'll need to save the map (which
                generates the StructureMap resource) before executing the transform. A button will appear to the top right whenever there
                are changes to be saved.
            </li>
            <li>Execute the map against the example input by clicking the 'Execute Transform' button. This will call the $transform
                operation on the mapping server and will display the output at the bottom of the screen in a number of different formats
            </li>

        </ol>

        <p>You can continue to modify both the map and the example any number of times. Both will be saved (as extensions) whenever
            the StructureMap is updated.</p>

        <strong>More Information</strong> (Open in a separate tab)
        <br/><br/>
        <ul>
            <li><a href="http://hl7.org/fhir/mapping-language.html" target="_blank">The specification</a></li>
            <li><a href="http://docs.simplifier.net/mappingengine/index.html" target="_blank">Firely's documentation</a></li>

        </ul>



    </div>

    <uib-tabset ng-show="currentSM && !showHelp">

                <uib-tab heading="Workspace">
                    <br/>
                    <div class="row">
                        <div class="col-md-2">
                            <div style="text-align: center">
                            <div class="alert alert-warning">Sample Input</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="text-align: center">
                            <button ng-hide="transformMessage || input.isDirty" class="btn btn-danger" ng-click="transform()">Execute transform</button>

                            <button ng-show="input.isDirty" class="btn btn-primary"
                                        ng-click="updateStructureMap()">Update StructureMap resource</button>

                                <span ng-hide="input.isDirty">{{transformMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align: center">
                                <div class="alert alert-warning">Mapping file</div>
                            </div>

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="alert alert-warning" ng-show="validateSampleMessage">
                                {{validateSampleMessage}}
                            </div>
                            <!-- <textarea id="sample" ></textarea>-->

                             <textarea id="sample" rows = "25" class="form-control editor"
                                       ng-model="input.inputJson"></textarea>

<!-- <textarea id="sample" rows = "25" class="form-control editor"
                                       ng-blur="checkSample()"
                                       ng-change="input.isDirty = true" ng-model="input.inputJson"></textarea>

-->

                        </div>
                        <div class="col-md-8">

                            <div class="alert alert-danger" ng-show="convertError">
                                <div ng-repeat = "iss in convertError.issue">
                                    Error: {{iss.details.text}} {{iss.diagnostics}}
                                </div>
                            </div>
                                <!-- <textarea id="map" rows = "25" class="form-control editor" ng-change="input.isDirty = true" ng-model="input.mappingFile"></textarea>
                        -->
                            <textarea id="map" rows = "25" class="form-control editor" ng-change="input.isDirty = true" ng-model="input.mappingFile"></textarea>


                        </div>
                    </div>


                    <hr/>

                    <div class="alert alert-danger" ng-show="transformError">
                        <div ng-repeat = "iss in transformError.issue">
                            Error: {{iss.details.text}} {{iss.diagnostics}}
                        </div>
                    </div>
                    <br/>

                    <button class="btn btn-link pull-right" ng-show="output"
                            ng-click="copyToClipboard()">Copy to Clipboard</button>

                    <pre ng-show="transformError">{{transformError | json}}</pre>

                    <uib-tabset ng-show="output">
                        <uib-tab heading="Json">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="scrollOutput">
                                        <pre>{{output | json}}</pre>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-link" ng-show="output"
                                            ng-click="validate()">Validate</button>
                                    <div class="scrollOutput">
                                        <pre>{{validateResult | json}}</pre>
                                    </div>
                                </div>
                            </div>




                        </uib-tab>
                        <uib-tab ng-show="output.resourceType=='Bundle'" heading="Bundle entries">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="list-group">
                                        <div ng-class="{'list-group-item':1,'listItemSelected':entry==selectedEntry}"
                                             ng-repeat="entry in output.entry"
                                             ng-click = "selectEntryFromBundle(entry)">
                                            {{entry.resource.resourceType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <uib-tabset>
                                        <uib-tab heading="Json">
                                            <pre>{{selectedEntry | json}}</pre>

                                        </uib-tab>
                                    </uib-tabset>

                                </div>



                            </div>

                        </uib-tab>
                        <uib-tab heading="Graph"  select="fitSingleGraph()">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="resourceGraph"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <uib-tabset>
                                            <uib-tab heading="Json">
                                                <pre>{{selectedEntry | json}}</pre>

                                            </uib-tab>
                                        </uib-tabset>

                                    </div>
                                </div>
                            </div>




                        </uib-tab>
                    </uib-tabset>
                </uib-tab>

                <uib-tab heading="Project">
                    <br/>


                    <a class="btn btn-link pull-right" download="{{downloadMapName}}"
                       href="{{downloadMapContent}}" title="{{downloadMapName}}" >
                        Download StructureMap resource
                    </a>


                    <uib-tabset>
                        <uib-tab heading="Summary">
                            <br/>
                            <div class="row">
                                <div class="col-md-6" >

                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-3">
                                            <strong>StructureMap Id</strong>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="form-control" disabled="disabled" ng-model="currentSM.id"/>

                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-3">
                                            <strong>Publisher</strong>
                                        </div>
                                        <div class="col-md-9">

                                            <input class="form-control" disabled="disabled" ng-model="currentSM.publisher"/>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-3">
                                            <strong>Name</strong>
                                        </div>
                                        <div class="col-md-9">

                                            <input class="form-control" ng-model="currentSM.name"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Description</strong>
                                        </div>
                                        <div class="col-md-9">
                                                <textarea class="form-control"
                                              ng-change="input.isDirty = true"
                                              ng-model="currentSM.description"></textarea>

                                        </div>
                                    </div>
                                    <h4>Structure Definitions</h4>
                                    <table class="table table-bordered">
                                        <tr><th>Url</th><th>Mode</th></tr>
                                        <tr ng-repeat="struct in currentSM.structure">
                                            <td><div class="clickable" ng-click="showLM(struct.url)">{{struct.url}}</div> </td>
                                            <td>{{struct.mode}}</td>
                                            <td><span class="clickable" ng-click="importModel(struct.url)">Import</span></td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="col-md-6">
                                    <uib-tabset>
                                        <uib-tab heading="Tree">
                                            <br/>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div id="lmTreeView"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <pre>{{selectedNodeED | json}}</pre>
                                                </div>
                                            </div>

                                        </uib-tab>
                                        <uib-tab heading="Json">
                                            <pre>{{selectedLM | json}}</pre>
                                        </uib-tab>
                                    </uib-tabset>

                                </div>
                            </div>




                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{currentSM | json}}</pre>
                        </uib-tab>


                    </uib-tabset>


                </uib-tab>

                <uib-tab heading="History">

                    <button class="btn btn-link" ng-click="refreshHistory()">Refresh</button>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="list-group">
                                <div ng-class="{'list-group-item':true,'listItemSelected':hx == hxItem}"
                                     style="cursor: pointer"
                                     ng-repeat="hx in history" ng-click="showHistoryItem(hx)">
                                    {{hx.date | getPrettyDate}}
                                    <div>({{hx.date | getAgeSeconds}})</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row" ng-show="hxItem">
                                <div class="col-md-6">
                                    <pre >{{hxItem.example}}</pre>
                                </div>
                                <div class="col-md-6">
                                    <pre>{{hxItem.map}}</pre>
                                </div>
                            </div>


                        </div>
                    </div>



                </uib-tab>


<!--

                <uib-tab heading="Example input" ng-show="1==2">
                    <br/>
                    <textarea rows = "30" class="form-control" ng-change="input.isDirty = true" ng-model="input.inputJson"></textarea>
                </uib-tab>
                <uib-tab heading="Mapping File"  ng-show="1==2">
                    <br/>
                    <div class="alert alert-danger" ng-show="convertError">
                        <div ng-repeat = "iss in convertError.issue">
                            Error: {{iss.details.text}}
                        </div>
                    </div>

                    <textarea rows = "30" class="form-control editor" ng-change="input.isDirty = true" ng-model="input.mappingFile"></textarea>
                </uib-tab>


                <uib-tab heading="Transform" ng-display="1==2">
                    <br/>
                    <div class="alert alert-danger" ng-show="transformError">
                        <div ng-repeat = "iss in transformError.issue">
                            Error: {{iss.details.text}}
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-link pull-right" ng-show="output"
                            ng-click="copyToClipboard()">Copy to Clipboard</button>

                    <button class="btn btn-link pull-right" ng-show="output"
                            ng-click="validate()">Validate</button>

                    <div>
                        <button class="btn btn-primary" ng-click="transform()">Execute transform</button>
                        <span class="pull-right">{{transformMessage}}</span>
                    </div>
                    <br/>

                    <pre ng-show="transformError">{{transformError | json}}</pre>



                    <uib-tabset ng-hide="transformError">
                        <uib-tab heading="Json">
                            <pre>{{output | json}}</pre>

                        </uib-tab>
                        <uib-tab ng-show="output.resourceType=='Bundle'" heading="Bundle entries">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="list-group">
                                        <div ng-class="{'list-group-item':1,'listItemSelected':entry==selectedEntry}"
                                             ng-repeat="entry in output.entry"
                                             ng-click = "selectEntryFromBundle(entry)">
                                            {{entry.resource.resourceType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <uib-tabset>
                                        <uib-tab heading="Json">
                                            <pre>{{selectedEntry | json}}</pre>

                                        </uib-tab>
                                    </uib-tabset>

                                </div>



                            </div>

                        </uib-tab>
                        <uib-tab heading="Graph"  select="fitSingleGraph()">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="resourceGraphXXXX"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12">
                                        <uib-tabset>
                                            <uib-tab heading="Json">
                                                <pre>{{selectedEntry | json}}</pre>

                                            </uib-tab>
                                        </uib-tabset>

                                    </div>
                                </div>
                            </div>


                        </uib-tab>

                    </uib-tabset>



                </uib-tab>
-->
            </uib-tabset>



    </div>

</div>


</body>
</html>