<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/lodash.core.js"></script>
    <script src="js/libs/jstree.min.js"></script>



    <script>
        angular.module("sampleApp",['ui.checkbox','ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/components/dataTypes.js"></script>
    <script src="js/profileCreatorSvc.js"></script>

    <script src="js/newBuilderSvc.js"></script>


    <script src="js/newBuilderCtl.js"></script>
    <script src="js/services.js"></script>
    <script src="js/dataTypeCtrl.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>



    <script src="resourceBuilder/vsBrowser.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <!--
 <script src="resourceBuilder/rbServices.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/documentBuilder.js"></script>

    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>



    <script src="js/profileCreatorSvc.js"></script>
    -->

    <title>New Builder</title>

</head>


<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="newBuilderCtrl" class="container-fluid">



<h3>Builder</h3>
    <div class="row">
        <div class="col-md-3 col-sm-3">
        </div>
        <div class="col-md-3 col-sm-3">
            <select ng-model="input.resourceType" class="form-control"
                    ng-change="newCoreResourceType(input.resourceType)"
                    ng-options="type.name for type in standardResourceTypes">

            </select>
        </div>
    </div>



    <button class="btn btn-link" ng-click="loadSD('Condition')">Load Condition</button>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div id="SDtreeView"></div>

        </div>
        <div class="col-md-5 col-sm-5">
            <uib-tabset>
                <uib-tab heading="Data Entry">
                    <div ng-show="selectedNode.data.meta.isMultiple && selectedNode.data.meta.isBBE && selectedNode.data.meta.canCopy">
                        <!-- add a new node in the tree for multiple nodes. have an index to tell them apart...-->
                        <button class="btn btn-primary pull-right" ng-click="addNewNode()">Add new node</button>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                    <div>
                        <span class="clickable iconSpacing" ng-repeat="typ in selectedNode.data.meta.type"
                              ng-click="showDEForm(typ.code)">{{typ.code}}</span>

                        <div ng-show="currentDT">

                            <div class="rounded-box">
                                <ng-include src="'/includes/builderDataEntry.html'"></ng-include>

                            </div>


                            <button  class="btn btn-primary pull-right" ng-click="addDataType()">Add</button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Validate">

                    <button class="btn btn-primary pull-right" ng-click="validate()">Validate</button>

                    <pre>{{validationResult | json}}</pre>

                </uib-tab>
                <uib-tab heading="Debug">
                    <pre>{{selectedNode.data.meta | json}}</pre>

                       <pre>{{selectedNode | json}}</pre>

                    <pre>{{treeData | json}}</pre>


                </uib-tab>
            </uib-tabset>


        </div>
        <div class="col-md-4 col-sm-4">

            <uib-tabset>
                <uib-tab heading="Json">
                    <pre>{{resource | json}}</pre>

                </uib-tab>

                <uib-tab heading="Tree">
                    <div>
                        <span class="clickable pull-right" ng-click="toggleTreeExpand()">Toggle Expand</span>
                    </div>
                    <div id="builderResourceTree"></div>
                </uib-tab>



            </uib-tabset>


            <span class="clickable" ng-click="clear()">Clear resource</span>

        </div>



    </div>



</div>
</body>
</html>