<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/lodash.core.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <script>
        angular.module("sampleApp",['ui.checkbox','ngSanitize','ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/components/dataTypes.js"></script>
    <script src="js/profileCreatorSvc.js"></script>

    <script src="js/newBuilderSvc.js"></script>


    <script src="js/newBuilderCtl.js"></script>
    <script src="js/services.js"></script>
    <script src="js/dataTypeCtrl.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>

    <script src="resourceBuilder/vsBrowser.js"></script>

    <script src="resourceBuilder/selectProfile.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/filters.js"></script>
    <!--
 <script src="resourceBuilder/rbServices.js"></script>


    <script src="js/documentBuilder.js"></script>

    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>



    <script src="js/profileCreatorSvc.js"></script>
    -->

    <title>New Builder</title>

</head>


<body style="padding: 8px; padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="newBuilderCtrl" class="container-fluid">


    <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-2 col-sm-2">
            <div
               uib-popover-html="displayServers"
               popover-trigger="'mouseenter'"
               popover-placement="right">
                <h3>Resource builder</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <select ng-model="input.nbProfile" class="form-control navbar-text"
                    ng-change="savedProfileUrl(input.nbProfile)"
                    ng-options="url for url in nbProfile">

            </select>

        </div>

        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">
                <button class="btn btn-primary  " ng-click="findProfile()">Find Profile</button>
            </div>

        </div>

        <div class="col-md-1 col-sm-1">
        </div>

        <div class="col-md-2 col-sm-2">
            <img ng-show='waiting' class=" navbar-text" src="css/ajax_loader_blue_32.gif"/>
        </div>

        <div class="col-md-2 col-sm-2">
            <a ng-click="input.showDev = ! input.showDev">Toggle dev</a>
        </div>


    </nav>


    <div ng-show="input.showDev">
        <h3>Dev & testing</h3>

        <div class="row">
            <div class="col-md-6">
                <textarea class="form-control" rows="10" ng-model = 'pastedResource'>

                </textarea>

                <button class="btn btn-link" ng-show="treeData" ng-click="parseResource(pastedResource)">Parse</button>

            </div>
            <div class="col-md-6">
                <div ng-repeat="item in parsedTree">
                    <div class="rounded-box" ng-show="item.data.meta.value">
                        <div class="pull-right">{{item.data.meta.path}}</div>
                        <br/>
                        <div>
                            {{item.data.meta.value | json}}
                        </div>
                    </div>


                </div>

            </div>
        </div>


    </div>


    <div ng-hide="input.showDev">
        <ng-include src="'/includes/newBuilderInclude.html'"></ng-include>

    </div>

    <select-profile trigger="showFindProfileDialog"
                    all-resource-types="standardResourceTypes"
                    profile-selected="selectedProfileFromDialog" type="'profile'">

    </select-profile>

</div>
</body>
</html>