<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/lodash.core.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",[,'ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/newEditCtrl.js"></script>
    <script src="js/newEditSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <!--
  <script src="js/conceptMapCtl.js"></script>

  <script src="js/resourceCreatorSvc.js"></script>

  <script src="js/profileCreatorSvc.js"></script>
  <script src="js/resourceSvc.js"></script>
  <script src="js/builderSvc.js"></script>
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/newVSFinder.js"></script>
  <script src="js/libs/angular-bootstrap-checkbox.js"></script>



  <script src="js/profileDiffSvc.js"></script>
  <script src="js/logicalModelSvc.js"></script>

<script src="js/appConfigSvc.js"></script>
<script src="js/libs/ngStorage.min.js"></script>
<script src="resourceBuilder/rbServices.js"></script>
<script src="js/components/dataTypes.js"></script>

<script src="js/services.js"></script>

<script src="js/filters.js"></script>
<script src="js/documentBuilder.js"></script>
<script src="resourceBuilder/rbServices.js"></script>
<script src="js/reporterCtrl.js"></script>

<script src="js/libs/ngStorage.min.js"></script>



<script src="js/profileCreatorSvc.js"></script>
-->


    <style>
        .myScroll {
            height: 800px;
            overflow-y: scroll;
        }
        .myRequired {
            color:red;
            background-color:  mistyrose;
        }
        .extension {
            color:blue;
            background-color: powderblue;
        }


    </style>
        <title>New Editor</title>

</head>


<body  style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="newEditCtrl" class="container-fluid">


    <div class="row">
        <div class="col-md-3">


            <div></div>

            <div id="builderResourceTree"></div>

        </div>
        <div class="col-md-3">
            <ul>
                <li ng-repeat="element in internal.element">
                    <div class="clickable" ng-click="selectElement(element)">{{element.path}}</div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <uib-tabset>
                <uib-tab heading="myElement">
                    <pre>{{selectedElement | json}}</pre>
                </uib-tab>
                <uib-tab heading="Full Json">
                    <pre>{{profile.snapshot | json}}</pre>
                </uib-tab>
            </uib-tabset>



        </div>
    </div>


</div>
</body>
</html>