<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <title>New Zealand Implementation guides</title>


    <script>
        angular.module("sampleApp",['ui.bootstrap']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>

    <script src="js/nzigsCtrl.js"></script>
    <script src="js/nzigsSvc.js"></script>
    <script src="js/filters.js"></script>

<!-- needed for vs viewer
    <script src="js/appConfigSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/appConfigSvc.js"></script>

    <script src="resourceBuilder/vsBrowser.js"></script>
-->

    <style>
        #profilesGraph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray
        }

        .spanWidth {
            display: inline-block;
            width : 100px
        }

    </style>

</head>
<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="nzigsCtrl" class="container-fluid">

    <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-6">
                <a class="navbar-brand" href="#">
                    New Zealand Profiles and Implementation Guides

                </a>
            </div>
            <div class="col-md-1" >
                <i class="navbar-text clickable glyphicon glyphicon-question-sign" ng-click = "input.showHelp = ! input.showHelp"></i>
            </div>

            <div class="col-md-2"  ng-show="input.showHelp">
                <div class="navbar-text">
                    <a href="https://docs.google.com/document/d/1EnselYdjxO_wdu51vtmjOf0pYi8tPjeHz-ffQqSpm0g/edit" target="_blank">More docs</a>
                </div>

            </div>




        </div>
    </nav>

    <uib-tabset>
        <uib-tab heading="Profiles">


            <br/>
            <div class="row" ng-show="input.showHelp">
                <div class="col-md-6">
                    <p><strong>Shows Profiles and the relationships between them.</strong></p>
                    <p>Each node is a profile, pointing to the one that it is specialized from. </p>
                       <p> The top node is the abstract <a href="http://hl7.org/fhir/domainresource.html" target="_blank">DomainResource</a>
                           defined in the FHIR spec (There's also a plain resource above that which is not shown in this graph).
                           Below that are the individual resource types also defined in the spec. Neither these nor
                        the DomainResource can be changed, and are coloured red in the graph. The remainder of the profiles (coloured blue)are specialized from the resource in the spec. The
                        third row are generally the national profiles with common changes applied with the forth row and below being created
                           for individual use cases or by vendors.</p>
                        <p>Specialization includes: </p>
                    <ul>
                        <li>Adding a new element using an extension</li>
                        <li>Removing an element by changing its multiplicity</li>
                        <li>Changing ValueSet binding for coded elements </li>
                    </ul>
                    <p>Selecting a node in the graph will display the details in the right pane, using a number of views. </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Shows details of the selected profile.</strong></p>
                    <p>Displayed when a profile is selected in the graph, there are a number of views.</p>
                    <ul>
                        <li>The <strong>Shorthand</strong> tab shows the FHIR shorthand script used to define the profile. This is only found in the
                            profiles not defined in the spec - ie the blue profiles.</li>
                        <li><strong>All elements</strong> is a table with all the elements defined for that profile in a summary display. Each row contains:
                        <ul>
                            <li>Path - indented</li>
                            <li>Must Support (MS). True if the client app must have support for that element - eg be able to store or display it</li>
                            <li>Description</li>
                        </ul>

                        </li>
                        <li><strong>Raw profile json</strong> is the actual StructureDefinition resource that represnennts the profile. You don't generally need this</li>
                        <li><strong>Raw profile elements</strong> is a slighlyy more structured version of the StructureDefinition, making it easier to see the individual elements.
                        Like the raw json view, it is really for reference only</li>
                        <li><strong>Extensions</strong> has all the extensions used by this profile.</li>
                    </ul>

                    <em>As constructing these views requires reading the  profile and extension definitions from the conformance server, there can be a delay between
                    selecting the node in the graph and displaying the viewed</em>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="profilesGraph"></div>
                </div>
                <div class="col-md-6"  ng-show="selectedProfile">
                    <div><span class="spanWidth">Name: </span> <strong>{{selectedProfile.name}}</strong> </div>
                    <div><span class="spanWidth">Description: </span> {{selectedProfile.description}}</div>
                    <div><span class="spanWidth">Url: </span> {{selectedProfile.url}}</div>
                    <div><span class="spanWidth">Base: </span> {{selectedProfile.baseProfile}}</div>
                    <br/>
                    <!--
                    <pre>{{selectedProfile | json}}</pre>
-->

                    <div ng-show = "profileError" class="alert alert-danger">{{profileError}}</div>

                    <uib-tabset>
                        <uib-tab heading = "Shorthand">
                            <pre>{{selectedFsh}}</pre>
                        </uib-tab>

                        <uib-tab heading = "All Elements">
                            <table class="table table-bordered">
                                <tr><th>Path</th><th>MS</th><th>Mult.</th><th>Description</th></tr>
                                <tr ng-repeat="row in allElements">
                                    <td  ng-style="{ 'padding-left': (row.path | pathindent) }">{{row.path}}</td>
                                    <td>{{row.ed.mustSupport}}</td>
                                    <td>{{row.ed.min}}..{{row.ed.max}}</td>
                                    <td>
                                        <div>{{row.description}}</div>
                                        <ul>
                                            <li ng-repeat="child in row.children">
                                                <!--<pre>{{child | json}}</pre>-->
                                                <div ng-show = "child.sliceName">
                                                    {{child.sliceName}} ({{child.definition}})

                                                </div>
                                                <div ng-show = "child.err">
                                                    {{child.err}}
                                                </div>
                                                <!--
                                                <div><em>{{child.err}}</em></div>
                                                -->
                                            </li>
                                        </ul>
                                        <div><em>{{row.err}}</em></div>
                                        <div ng-show="row.extUrl">URL:<em >{{row.extUrl}}</em></div>
                                        <div><span class="clickable" ng-click="viewVS(row.ed.binding.valueSet)">{{row.ed.binding.valueSet}}</span> </div>

                                    </td>
                                </tr>
                            </table>
                        </uib-tab>

                        <uib-tab heading = "Raw profile json">
                            <pre>{{selectedSD | json}}</pre>

                        </uib-tab>
                        <uib-tab heading = "Raw profile elements">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="list-group">
                                        <div class="list-group-item" ng-repeat="ele in selectedSD.snapshot.element"
                                             ng-click="input.selectedElement = ele" >
                                            {{ele.path}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre>{{input.selectedElement | json}}</pre>
                                </div>

                            </div>


                        </uib-tab>
                        <!--<uib-tab heading = "all elements json">
                            <pre>{{allElements | json}}</pre>

                        </uib-tab> -->

                        <uib-tab>
                            <uib-tab-heading>
                                Extensions list&nbsp;<span class="badge pull-right"> {{selectedProfile.extensions.length}}</span>
                            </uib-tab-heading>
                            <br/>
                            <table class="table table-bordered">
                                <tr><th>Url / Path</th><th>Description</th></tr>
                                <tr ng-repeat="ext in selectedProfile.extensions">
                                    <td>
                                        {{ext.url}}
                                        <div>Path: {{ext.path | dropFirstInPath}}</div>
                                    </td>
                                    <td>
                                        {{ext.description}}
                                        <div ng-show ="ext.analysis.style == 'simple'">
                                            <div>
                                                <span>Type/s: </span>
                                                <span ng-repeat = "type in ext.analysis.type">{{type.code}} </span>
                                            </div>
                                            <div ng-show = "ext.analysis.binding.valueSet">
                                                Binding: <em>{{ext.analysis.binding.valueSet}}</em> ({{ext.analysis.binding.strength}})
                                            </div>

                                        </div>
                                        <div ng-show ="ext.analysis.style == 'complex'">
                                            <ul>
                                                <li ng-repeat="child in ext.analysis.children">

                                                    <div>
                                                        <span>{{child.name}} </span>
                                                        <span> (</span>
                                                        <span ng-repeat = "type in child.type">{{type.code}} </span>
                                                        <span> )</span>
                                                    </div>
                                                    <div ng-show = "child.binding.valueSet">
                                                        Binding: <em>{{child.binding.valueSet}}</em> ({{child.binding.strength}})
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>


                                    </td>
                                </tr>
                            </table>
                        </uib-tab>

                        <uib-tab  ng-show="false">
                            <uib-tab-heading>
                                Bindings&nbsp;<span class="badge pull-right"> {{selectedProfile.bindings.length}}</span>
                            </uib-tab-heading>
                            <br/>
                            <table class="table table-bordered">
                                <tr><th>Url / Path</th><th>Description</th></tr>
                                <tr ng-repeat="bind in selectedProfile.bindings">
                                    <td>{{bind.binding.valueSet}}
                                        <div>{{bind.path | dropFirstInPath}}</div>
                                    </td>
                                    <td>
                                        {{bind.binding.description}}
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>


                    </uib-tabset>


                </div>
            </div>


        </uib-tab>

        <uib-tab heading="Extensions">
            <br/>

            <div ng-show="input.showHelp">
                <div><strong>All extensions used by profiles </strong></div>
                <p>Contains a list of the extensions used by any profile in this collection.</p>
                <p>They can be defined in NZ for use in a profile, or an International one (always preferred if possible) </p>
                <p>The profiles that use them, and the path within the profile, are also displayed.</p>
            </div>


            <div class="row">
                <div class="col-md-1">
                    <strong>Filter</strong>
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Filter text for Url, description or profile name" class="form-control" ng-model="input.filterText" />
                </div>
            </div>
            <br/>
            <table class="table table-bordered">
                <tr><th>Url</th><th>Description</th><th>Profile & path</th><th>Types & children</th></tr>
                <tr ng-show="input.showHelp">
                    <td>The canonical Url for this extension</td>
                    <td>The description of the extension</td>
                    <td>Profiles that use this extension</td>
                    <td>If a simple extension, then the datatype and binding. If a complex extension, then the child elements with type and binding</td>
                </tr>
                <tr ng-repeat = "ext in extensions" ng-show="showRow(ext)">
                    <td>{{ext.url}}</td>
                    <td>{{ext.description}}</td>
                    <td>

                        <div ng-repeat = "profile in ext.profiles">
                            {{profile.profile.name}} ({{profile.path}})
                        </div>
                    </td>
                    <td>
                        <div ng-show ="ext.analysis.style == 'simple'">
                            Simple Extension
                            <div>
                                <span>Type/s: </span>
                                <span ng-repeat = "type in ext.analysis.type">{{type.code}} </span>
                            </div>
                            <div ng-show = "ext.analysis.binding.valueSet">
                                Binding: <em class = 'clickable' ng-click="viewVS(ext.analysis.binding.valueSet)">
                                {{ext.analysis.binding.valueSet}}</em> ({{ext.analysis.binding.strength}})
                            </div>

                        </div>
                        <div ng-show ="ext.analysis.style == 'complex'">
                            Complex Extension
                            <ul>
                                <li ng-repeat="child in ext.analysis.children">

                                    <div>
                                        <span>{{child.name}} </span>
                                        <span> (</span>
                                        <span ng-repeat = "type in child.type">{{type.code}} </span>
                                        <span> )</span>
                                    </div>
                                    <div ng-show = "child.binding.valueSet">
                                        Binding: <em class = 'clickable' ng-click="viewVS(child.binding.valueSet)">{{child.binding.valueSet}}</em>
                                        ({{child.binding.strength}})
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </td>
                </tr>
            </table>
        </uib-tab>
    </uib-tabset>


    <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                vs-selected="vsSelected"></vs-browser>

</div>



</body>
</html>