<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/jstree.min.js"></script>



    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage','firebase','ngSanitize']).config(function($locationProvider) {

            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);
    </script>
    <script src="js/nzProjectCtl.js"> </script>
    <script src="resourceBuilder/vsBrowser.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>


    <style>
        .myForm {
            padding: 8px;
        }
        .capStmtScroll {
            height: 900px;
            overflow-y: scroll;
        }
        .documentation {
            margin-left:20px;
        }
        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        .iframeClass {
            width: 100%;
            height : 800px;
        }
        #singleResourceGraph {
            width: 100%;
            height: 550px;
            border: 1px solid lightgray;
        }

    </style>
    <script src="js/taskManagerCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/fhirUtils.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>

    <title>NZ Profiles</title>

</head>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="nzCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-7 col-sm-7">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Tooling to support the New Zealand FHIR profiling projects
                    </a>
                </span>

            </div>

            <div class="col-md-2 col-sm-2">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>



                </form>
            </div>



            <div class="col-md-3 col-sm-3">

                <div class="nav navbar-form navbar-right" ng-hide="user">
                    <span style="font-size:1.8em; cursor: pointer"uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="nav navbar-form navbar-right" ng-show="user">
                    <span style="font-size:1.8em; cursor: pointer"
                          uib-popover="Current user: {{user.email}}. Click to log out"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">

                        <div href="#" ng-click="logout()"> <i class="glyphicon glyphicon-log-out"></i></div>
                    </span>
                </div>
            </div>

        </div>
    </nav>



    <uib-tabset>
        <uib-tab heading="NHI/HPI">


            <br/>
            <uib-tabset>
                <uib-tab heading="Design">
                    <div class="row">
                        <div class="col-md-6">

                            <h4>Models</h4>

                            <table class="table">



                                <tr ng-repeat="model in models">
                                    <td><a  target="_blank" ng-href="{{model.url}}">{{model.name}}</a></td>
                                    <td>{{model.description}}
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <h4>Implementation Guides</h4>
                                    </td>

                                </tr>

                                <tr>
                                    <td width = "20%">
                                        <a target="_blank" href="http://snapp.clinfhir.com:8080/output/index.html">
                                            NHI Implementation Guide
                                        </a>
                                    </td>
                                    <td>
                                        The draft version of the Implementation guide for the NHI interface.
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <h4>Tools</h4>
                                    </td>
                                </tr>


                                <tr>
                                    <td><a  target="_blank" ng-href="{{taskManager}}">Comments viewer</a></td>
                                    <td>
                                        <p>An app that displays all the comments for a model, and allows their disposition to be tracked.</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td><a target="_blank" href="validateSample.html">Validator</a></td>
                                    <td>
                                        This allows a sample resource (in XML or Json) to be validated
                                    </td>
                                </tr>


                                <tr>
                                    <td width = "20%">
                                        <a target="_blank" href="http://conman.clinfhir.com/connectathon.html?event=nz">
                                            ConMan
                                        </a>
                                    </td>
                                    <td>
                                        The Connectathon Manager instance for the NZ profile development work.
                                    </td>
                                </tr>

                                <!--
                                                <tr>
                                                    <td><a target="_blank" href="https://ontoserver.csiro.au/shrimp/vs.html?fhir=https%3A%2F%2Fprimarycare.ontoserver.csiro.au%2Ffhir">ValueSets</a></td>
                                                    <td>
                                                        The shrimp browser that has a list of all the ValueSets used by the project.
                                                    </td>
                                                </tr>
                                -->

                            </table>


                        </div>
                        <div class="col-md-6">
                            <uib-tabset>
                                <uib-tab heading="Notifications">
                                    <iframe
                                            src="https://docs.google.com/document/d/1dxSOaPXjGAFFpOUby5Z1AYYIIIZV0EzpE7vIr30Ubuc/edit?usp=sharing"
                                            class="iframeClass">


                                    </iframe>

                                </uib-tab>
                                <uib-tab heading="HPI types">
                                    <h4>HPI model Relationships</h4>

                                    <img src="artifacts/HPI%20Relationships.png"/>

                                </uib-tab>
                                <!--
                                <uib-tab heading="Examples">

                                    <select class="form-control" ng-model="input.selectedExample"
                                            ng-options="example.display for example in examples"
                                            ng-change="selectSample(input.selectedExample)"></select>

                                    <div class="row" ng-show="input.selectedExample">
                                        <div class="col-md-9">
                                            <div>{{input.selectedExample.url}}</div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clickable pull-right" ng-click="copyExampleToClipboard(input.selectedExampleJson)">Copy to clipboard</div>
                                        </div>
                                    </div>

                                    <pre>{{input.selectedExampleJson | json}}</pre>


                                </uib-tab>
                                -->
                                <!--
                                <uib-tab heading="Help">

                                    <p ng-bind-html="helpText"></p>




                                </uib-tab>
                                -->
                                <uib-tab heading="Comments Help">

                                    <h4>Documentation and Help</h4>
                                    <table class="table">
                                        <tr>
                                            <td width = "20%">
                                                <a target="_blank" href="https://docs.google.com/presentation/d/1bIFjSjDuMmuxNXPLuc-YerzBuJJYNx9gFC5EgJeizF0/edit?usp=sharing">
                                                    Summary presentation
                                                </a>
                                            </td>
                                            <td>
                                                An overview of the Logical Modeller in review mode. Also describes the comments and notes
                                            </td>
                                        </tr>

                                    </table>


                                    <h4>FAQ</h4>

                                    <uib-accordion >
                                        <div uib-accordion-group class="panel-default" heading="Log in to the application">
                                            <p>It's possible to view the model and associated comments without logging in, but to add a new comment - or make a note against
                                                a comment then you do need to log in. Logins are shared across applications so you can log in to
                                                any of them and it will be remembered for the others. There's an icon to the top right ( <i class="glyphicon glyphicon-log-in"></i> )
                                                that will display the login box.</p>
                                            <ul>
                                                <li>If you've logged in before then enter your email and password and click login.</li>
                                                <li>For a new login, enter your email and a password then click the login button. You will get a prompt
                                                    about creating a new account.</li>
                                            </ul>
                                            <p>Once you've logged in, your login will be remembered in the browser. To log out, click the
                                                logout ( <i class="glyphicon glyphicon-log-out"></i> ) icon.</p>

                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="Add a comment to a particular element in the model">
                                            To add a comment to an element in the model, select the element in the tree, then click the 'add comment'
                                            link that appears in the detail pane to the right (about half way down the page). A dialog box will
                                            appear into which you can add the comment.
                                            <p>There's an image in <a target="_blank" href="https://docs.google.com/presentation/d/1bIFjSjDuMmuxNXPLuc-YerzBuJJYNx9gFC5EgJeizF0/edit?usp=sharing">
                                                the Summary presentation
                                            </a></p>
                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="Add a note to an existing comment">
                                            To add a note against an element, select the element, then click the edit icon ( <i class="glyphicon glyphicon-edit"></i> ) against the
                                            comment.  A dialog box will
                                            appear into which you can add the comment.
                                            <p>There's an image in <a target="_blank" href="https://docs.google.com/presentation/d/1bIFjSjDuMmuxNXPLuc-YerzBuJJYNx9gFC5EgJeizF0/edit?usp=sharing">
                                                the Summary presentation</a></p>
                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="View the existing comments and notes for an element">
                                            Each comment and the notes against it can be viewed individually using the edit option (click the
                                            edit icon - <i class="glyphicon glyphicon-edit"></i> -  against a comment, and a dialog appears with the comment and any notes.
                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="View all the existing comments and notes for the model">
                                            Select the 'Model' tab to the upper right. A sub-tab will be displayed with a 'Comments' tab. Selecting that
                                            will list all the comments.
                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="Add a comment to the model">
                                            <p>This is useful if you want to make a comment about the model that is not related
                                                to a specific element.</p>
                                            <ul>
                                                <li>If you're wanting to suggest an additional element, then select the 'parent' element
                                                    where the new one would logically fit, and add a new comment there.</li>
                                                <li>To just make a comment about the model overall, select the topmost element
                                                    (eg NhiPatient) and add the comment there.</li>
                                            </ul>
                                        </div>

                                        <div uib-accordion-group class="panel-default" heading="What is the comments viewer">
                                            <p>Any logged in user can add a comment to an element in the model to record suggestions for updating such as:</p>
                                            <ul>
                                                <li>A change to the documentation</li>
                                                <li>Additions / Changes to the ValueSet for a coded elements</li>
                                                <li>Changes to multiplicity (if the element can repeat></li>
                                            </ul>

                                            <p>These comments can be viewed in the model itself (select any element and the comments are shown to the right)
                                                and also in a specialized application - the Task viewer. This application treats the comments as if each
                                                one was a task that needs to be resolved - accepted or rejected. </p>
                                            <p>It's really intended for an administrator, but useful for an individual to see what the resolution
                                                to their comment was.</p>
                                        </div>

                                    </uib-accordion>

                                </uib-tab>
                            </uib-tabset>




                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="Examples">
                    <br/>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong style="margin-top: 25px;margin-left: 25px">Type</strong>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="input.exampleType"
                                            ng-options="key for key in arExampleTypes"></select>

                                </div>
                            </div>

                            <div class="list-group">
                                <div ng-repeat=" example in examples"
                                     style="cursor: pointer"
                                     ng-show="showExample(example)"
                                     ng-class="{'list-group-item':true,'listItemSelected':input.selectedExample==example}"
                                     ng-click="selectSample(example)">
                                    {{example.display}}

                                    <div><em>{{example.description}}</em></div>

                                </div>
                            </div>




                        </div>
                        <div class="col-md-9">


                            <div class="rounded-box">
                                <p ng-bind-html="input.selectedExampleJson.text.div"></p>
                            </div>

                            <div class="row" ng-show="input.selectedExample">
                                <div class="col-md-9">
                                    <div>{{input.selectedExample.url}}</div>
                                </div>
                                <div class="col-md-3">
                                    <div class="clickable pull-right" ng-click="copyExampleToClipboard(input.selectedExampleJson)">Copy to clipboard</div>
                                </div>
                            </div>

                            <uib-tabset>
                                <uib-tab heading="Json">
                                    <!--  <div class="row" ng-show="input.selectedExample">
                                          <div class="col-md-9">
                                              <div>{{input.selectedExample.url}}</div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="clickable pull-right" ng-click="copyExampleToClipboard(input.selectedExampleJson)">Copy to clipboard</div>
                                          </div>
                                      </div>-->

                                    <pre>{{input.selectedExampleJson | json}}</pre>
                                </uib-tab>

                                <uib-tab heading="Xml">


                                    <pre>{{input.selectedExampleXml}}</pre>
                                </uib-tab>




                                <uib-tab heading="Tree">
                                    <div class="pull-right">
                                        <button class="btn btn-link iconSpacing" ng-click="collapseAll()">Collapse all</button>
                                        <button class="btn btn-link iconSpacing" ng-click="expandAll()">Expand all</button>



                                    </div>


                                    <div id="resourceTree"></div>
                                </uib-tab>

                                <uib-tab heading="Graph"  select="fitSingleGraph()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="singleResourceGraph"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-show="selectedIGExampleEntry">
                                                {{selectedIGExampleEntry.display}}
                                                <br/><br/>
                                                {{selectedIGExampleEntry.description}}
                                                <br/><br/>
                                                <button class="btn btn-link" ng-click="selectSample(selectedIGExampleEntry)">Select this resource</button>
                                            </div>

                                        </div>
                                    </div>

                                </uib-tab>

                            </uib-tabset>


                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="CapabilityStatements">
                    <br/>
                    <div class="row">
                        <div class="col-md-2">

                            <div class="list-group">
                                <div ng-repeat="cs in capStmt"
                                     style="cursor: pointer"
                                     ng-class="{'list-group-item':true,'listItemSelected':input.selectedCapStmt.id==cs.id}"
                                     ng-click="selectCapStmt(cs.id)">
                                    {{cs.display}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">
                            <div class="capStmtScroll">
                            <uib-tabset>
                                <uib-tab heading="Display">

                                    <div class="banner">Resources</div>

                                    <div ng-repeat="rest in input.selectedCapStmt.rest">

                                        <table class="table">
                                            <tr><th>Type</th><th>Documentation</th><th>Interactions</th><th>Search Parameters</th></tr>
                                            <tr ng-repeat="res in rest.resource">
                                                <td>{{res.type}}</td>
                                                <td>{{res.documentation}}</td>

                                                <td>
                                                    <div ng-repeat="int in res.interaction">
                                                        {{int.code}}
                                                        <div class="documentation"><em>{{int.documentation}}</em></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-repeat="srch in res.searchParam">
                                                        {{srch.name}} ({{srch.type}})
                                                        <div class="documentation"><em>{{srch.documentation}}</em></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                    <div ng-show="input.selectedCapStmt.rest[0].operation">
                                        <div class="banner">Operations

                                        <span class="pull-right">
                                            <input ng-model="input.showDoc" type="checkbox"/>
                                            <span style="font-weight: normal" >&nbsp;Show documentation</span>
                                        </span>
                                        </div>

                                        <div ng-repeat="rest in input.selectedCapStmt.rest">
                                            <table class="table">
                                                <tr><th>Name</th><th>Documentation</th><th>Parameters</th></tr>
                                                <tr ng-repeat="op in rest.operation">
                                                    <td>{{op.name}}</td>
                                                    <td width="35%">
                                                        {{op.documentation}}

                                                        <div ng-show="input.showDoc"><br/>{{op.fullDefinition.description}}</div>
                                                    </td>
                                                    <td width="55%">
                                                        <div ng-repeat="param in op.fullDefinition.parameter">
                                                            {{param.name}} ({{param.use}})
                                                            <span class="clickable" ng-click="showType(param)">{{param.type}}</span>
                                                            {{param.min}}..{{param.max}}
                                                            <span class="clickable" ng-click="viewVS(param.binding.valueSet)">
                                                                 {{param.binding.valueSet}}
                                                            <span ng-show="param.binding.strength"> ({{param.binding.strength}})</span>
                                                            </span>

                                                            <div ng-show="input.showDoc" style="margin-left: 20px"><em>{{param.documentation}}</em></div>
                                                        </div>
                                                        {{}}
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>


                                </uib-tab>
                                <uib-tab heading="Json">
                                    <div><em>Note that the OperationDefinition resource is added to the operation element </em></div>
                                    <br/>
                                    <pre>{{input.selectedCapStmt | json}}</pre>
                                </uib-tab>
                            </uib-tabset>
                            </div>
                        </div>
                    </div>

                </uib-tab>


            </uib-tabset>

        </uib-tab>
        <uib-tab heading="Summary Record">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                    <ul>
                        <li><a href="http://build.fhir.org/ig/HL7/fhir-ips/index.html" target="_blank">IPS FHIR Profile (International Patient Summary) </a> </li>
                    </ul>

                </div>
            </div>

        </uib-tab>


    </uib-tabset>








    <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                vs-selected="vsSelected"></vs-browser>



</div>
</body>
</html>