<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/orionCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/libs/vis.min.js"></script>

    <!--


  <script src="js/appConfigSvc.js"></script>
  <script src="js/libs/ngStorage.min.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/components/dataTypes.js"></script>

  <script src="js/services.js"></script>

  <script src="js/filters.js"></script>
  <script src="js/documentBuilder.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/reporterCtrl.js"></script>

  <script src="js/libs/ngStorage.min.js"></script>



  <script src="js/profileCreatorSvc.js"></script>
  -->


    <style>
        #resourceGraph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

</style>
        <title>Query Amadeus</title>

</head>


<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="orionCtrl" class="container-fluid">

<h3 class="banner">Query Amadeus FHIR API</h3>


    <div class="row">
        <div class="col-md-1 col-sm-1">
           <p style="padding-top: 8px">Portal User</p>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" disabled class="form-control" ng-model="user"/>

        </div>
        <div class="col-md-3 col-sm-3">


        </div>

        <div class="col-md-1 col-sm-1" >

        </div>

        <div class="col-md-4 col-sm-4">


        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-sm-1">
            <p style="padding-top: 8px">NHI</p>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control" ng-model="nhi"/>

        </div>
        <div class="col-md-3 col-sm-3">
            <button class="btn btn-success" ng-click="read(nhi)">Read Data</button>

        </div>

        <div class="col-md-1 col-sm-1" ng-show="waiting">
            <img src="css/ajax_loader_blue_32.gif"/>
        </div>

        <div class="col-md-4 col-sm-4">

            <div ng-show="sealed" uib-alert class="alert-danger">The Patient is sealed to you!</div>
        </div>
    </div>

    <hr/>

    <uib-tabset ng-show="medicationDispense" >
        <uib-tab heading="Table of meds">
            <br/>
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <table class="table table-bordered">
                        <tr><th>Date</th><th>Medication</th><th>Dose</th><th>Route</th><th>Quantity</th></tr>
                        <tr ng-repeat="disp in medicationDispense">
                            <td>{{disp.dispensed | date:'yyyy-mm-dd'}}</td>
                            <td valign="top">
                                <span ng-click="selectItem(disp.id)" class="clickable">{{disp.medication.display}}</span>
                            </td>
                            <td>{{disp.dose.text}}</td>
                            <td>{{disp.dose.route.coding[0].display}}</td>
                            <td>{{disp.quantity.value}} {{disp.quantity.code}}</td>
<!--
                            <td>
                                <uib-tabset  ng-show="item[disp.id] == true">
                                    <uib-tab heading="Resource Json">

                                    </uib-tab>
                                    <uib-tab heading="Resource Json">
                                        <pre >{{mdResource[disp.id] | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="Internal Json">
                                        <pre >{{disp | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>
                            </td>
                            -->
                        </tr>
                    </table>

                </div>

                <div class="col-md-6 col-sm-6" ng-show="selectedResource">
                    <div class="banner">{{selectedInternal.medication.display}}</div>
                    <uib-tabset>
                        <br/>
                        <uib-tab heading="Tree">
                            <div id="builderResourceTree"></div>
                        </uib-tab>
                        <uib-tab heading="Graph" select="redrawChart()">
                            <div id="resourceGraph"></div>
                        </uib-tab>


                        <uib-tab heading="Json">
                            <pre>{{selectedResource | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Internal">
                            <pre>{{selectedInternal| json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Json">
            <pre>{{bundle | json}}</pre>
        </uib-tab>
    </uib-tabset>



    <div id="resourceGraphDEP"></div>





</div>





</div>
</body>
</html>