<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>


    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <style>

        .listScroll {
            height: 900px;
            overflow-y: scroll;
        }

        .extension {
            color: mediumpurple;
        }

        .required {
            color: red;
        }

        .normal {
            color: black;
        }

        #profileGraph {
            width: 100%;
            height: 500px;

            border: 1px solid lightgray;
        }

    </style>

    <script src="js/libs/jstree.min.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/lodash.core.js"></script>



    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
-->
    <script>
        angular.module("sampleApp",['ui.bootstrap',"ngSanitize",'ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

    </script>

    <script src="js/packageViewerCtrl.js"></script>
    <script src="js/packageViewerSvc.js"></script>

    <title>Package Viewer</title>

</head>


<body  style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="packageViewerCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-4">
            <a class="navbar-brand" href="#">
                Package Viewer: {{package.name}}#{{package.version}}
            </a>
        </div>

        <div class="col-md-2">
            <div class="navbar-text">


                <a ng-href="{{package.packageJson.canonical}}"
                   target="_blank">View Current IG</a>
            </div>

        </div>



        <div class="col-md-2">
            <div class="navbar-text">
                <a ng-href="https://registry.fhir.org/package/{{package.name}}%7c{{package.version}}"
                   target="_blank">View in registry</a>
            </div>

        </div>
        <div class="col-md-3 col-sm-3">
            <div class="navbar-text pull-right">
                <a href="https://www.lyniate.com/" target="_blank">
                    <img  src="/icons/supported_by_lyniate.png"/>
                </a>

            </div>

        </div>
    </nav>

    <div class="row">
        <div class="col-md-3">

            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <select ng-model="input.package" class="form-control"
                            ng-change="selectPackage(input.package)"
                            ng-options="package.display for package in allPackages"></select>
                </div>
                <div class="col-md-2 col-sm-2">
                    <i  style="margin-top: 8px"  class="glyphicon glyphicon-download-alt"
                        uib-popover="Download a package from the registry"
                        popover-trigger="'mouseenter'"
                        popover-placement="right"

                       ng-click="loadPackage()"></i>
                </div>
            </div>


            <div class="listScroll">
                <uib-accordion>
                <div  ng-repeat="(k,v) in package.grouped" uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        {{k}}
                        <span class="pull-right badge">{{v.length}}</span>
                    </uib-accordion-heading>

                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="item in v" style="cursor: pointer">

                            <span class="pull-right badge">{{item.value.length}}</span>

                            <div ng-click="selectItem(item)">{{item.display}}</div>
                        </div>
                    </div>


                </div>

            </uib-accordion>
            </div>

        </div>

        <div class="col-md-9">


            <div ng-show="downloadingFromRegistry.name">
                <div class="alert alert-warning">
                    Downloading the package {{downloadingFromRegistry.name}}#{{downloadingFromRegistry.version}} from the HL7 FHIR Registry. Please wait, it can
                    take a little while...
                </div>
            </div>


            <div class="rounded-box" ng-show="selectedItem">
                <div style="padding: 8px">
                    <strong>{{selectedItem.url}}</strong>
                    <span class="pull-right">{{selectedItem.name}}</span>
                    <div><em>{{selectedItem.display}}</em></div>
                </div>

            </div>


            <!---------------------------------    extension -------------------->
            <div ng-show="selectedItem.kind == 'extension'">
                <ng-include src="'/includes/pvExtension.html'"></ng-include>
            </div>

            <!---------------------------------    misc -------------------->

            <div ng-show="selectedItem.kind == 'misc'">
                <uib-tabset>
                    <uib-tab heading="Json">
                        <pre>{{selectedResource | json}}</pre>
                    </uib-tab>
                </uib-tabset>
            </div>

            <!---------------------------------    operationdefinition -------------------->

            <div ng-show="selectedItem.kind == 'operationdefinition'">
                <ng-include src="'/includes/pvOperationDefinition.html'"></ng-include>
            </div>

            <!---------------------------------    searchparameter -------------------->

            <div ng-show="selectedItem.kind == 'searchparameter'">
                <ng-include src="'/includes/pvSearchParameter.html'"></ng-include>

            </div>


            <!---------------------------------    valueset -------------------->

            <div ng-show="selectedItem.kind == 'valueset'">

                <ng-include src="'/includes/pvValueSet.html'"></ng-include>


            </div>

            <!---------------------------------    codesystem -------------------->

            <div ng-show="selectedItem.kind == 'codesystem'">
                <uib-tabset>
                    <uib-tab heading="List">
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="listScroll">
                                    <table class="table table-bordered">
                                        <tr ng-repeat = "concept in selectedResource.concept"
                                            ng-click="input.selectedConcept = concept"
                                            style="cursor: pointer">
                                            <td>{{concept.code}}</td>
                                            <td>{{concept.display}}</td>
                                            <td>{{concept.definition}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div ng-show="input.selectedConcept">
                                    <strong>Concept json</strong>
                                    <pre>{{input.selectedConcept | json}}</pre>
                                </div>

                            </div>
                        </div>


                    </uib-tab>
                    <uib-tab heading="Json">
                        <pre>{{selectedResource | json}}</pre>
                    </uib-tab>
                </uib-tabset>
            </div>

            <!---------------------------------    resource profile -------------------->
            <div ng-show="selectedItem.kind == 'resourceprofile'">
                <ng-include src="'/includes/pvResourceProfile.html'"></ng-include>
                <!--
                <uib-tabset>
                    <uib-tab heading="Json">
                        <pre>{{selectedResource| json}}</pre>
                    </uib-tab>

                    <uib-tab heading="Tree">

                        <div class="row">
                            <div class="col-md-3">
                                <div id="treeView"></div>
                            </div>
                            <div class="col-md-9">
                                <uib-tabset>
                                    <uib-tab heading="Details">



                                    </uib-tab>

                                    <uib-tab heading="ElementDefinition">
                                        <pre>{{selectedED | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>

                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab heading="Raw data">
                        <table class="table">
                            <tr ng-repeat="ed in selectedResource.snapshot.element">
                                <td>{{ed.path}}</td>
                                <td>{{ed.sliceName}}</td>
                                <td>{{ed.id}}</td>
                            </tr>
                        </table>
                    </uib-tab>


                    <uib-tab heading="table">
                        <table class="table table-bordered">
                            <tr><th>Path</th><th>MS</th><th>Mult.</th><th>Description</th></tr>
                            <tr ng-repeat="row in allElements">
                                <td>{{row.path}}</td>
                                <td>{{row.ed.mustSupport}}</td>
                                <td>{{row.ed.min}}..{{row.ed.max}}</td>
                                <td>
                                    <div>{{row.description}}</div>
                                    <ul>
                                        <li ng-repeat="child in row.children">

                                            <div ng-show = "child.sliceName">
                                                {{child.sliceName}} ({{child.definition}})

                                            </div>
                                            <div ng-show = "child.err">
                                                {{child.err}}
                                            </div>

                                        </li>
                                    </ul>
                                    <div><em>{{row.err}}</em></div>
                                    <div ng-show="row.extUrl">URL:<em >{{row.extUrl}}</em></div>
                                    <div><span class="clickable" ng-click="viewVS(row.ed.binding.valueSet)">{{row.ed.binding.valueSet}}</span> </div>

                                </td>
                            </tr>
                        </table>
                    </uib-tab>

                </uib-tabset>

                -->

            </div>


            <!---------------------------------    datatype profile -------------------->

            <div ng-show="selectedItem.kind == 'datatypeprofile'">

                <ng-include src="'/includes/pvDatatypeProfile.html'"></ng-include>


            </div>

            <!---------------------------------    conceptmap -------------------->
            <div ng-show="selectedItem.kind == 'conceptmap'">
                <uib-tabset>
                    <uib-tab heading="List">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="listScroll">
                                    <div ng-repeat="group in selectedResource.group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                Source:
                                            </div>
                                            <div class="col-md-10">
                                                {{group.source}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                Target:
                                            </div>
                                            <div class="col-md-10">
                                               {{group.target}}
                                            </div>
                                        </div>

                                        <table class="table table-bordered">
                                            <tr ng-repeat = "map in group.element"
                                                ng-click="input.selectedMap = map">
                                                <td>{{map.code}}</td>
                                                <td>{{map.display}}</td>
                                                <td>
                                                    <div ng-repeat="target in map.target">
                                                        {{target.code}} {{target.display}}
                                                        <div>{{target.equivalence}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <pre>{{input.selectedMap | json}}</pre>
                            </div>
                        </div>


                    </uib-tab>
                    <uib-tab heading="Json">
                        <pre>{{selectedResource | json}}</pre>
                    </uib-tab>
                </uib-tabset>
            </div>


            <!---------------------------------    example -------------------->

            <div ng-show="selectedItem.kind == 'example'">

                <ng-include src="'/includes/pvExample.html'"></ng-include>


            </div>

            <!---------------------------------    capabilitystatement -------------------->

            <div ng-show="selectedItem.kind == 'capabilitystatement'">
                <pre>{{selectedResource | json}}</pre>
            </div>

            <!---------------------------------    implementation guide -------------------->

            <div ng-show="selectedItem.kind == 'implementationguide'">
                <pre>{{selectedResource | json}}</pre>
            </div>



        </div>
    </div>


</div>
</body>
</html>