<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>

    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/lodash.core.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="https://cdn.counter.dev/script.js" data-id="62b27fdf-0033-481b-8b59-680638d9162c" data-utcoffset="12"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>
    <script src="js/libs/showdown.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>


    <style>

        body {
            background: #fcfcfc;
        }

        .list-group-itemXX {
            background-color: white;
        }

        table {
            background: white;
        }

        #mynetwork {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

        #documentGraph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }


        #encTimeline {
            width: 100%;
            height: 200px;
            border: 1px solid lightgray;
        }

        #resourcenetwork {
            width: 100%;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>

    <script src="js/libs/angular-sanitize.js"></script>

    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <script>
        angular.module("sampleApp",['ui.checkbox','ui.bootstrap',"firebase",'ngStorage','ngSanitize']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

        angular.module("sampleApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|blob):/);
        }]);

        //http://www.devblogrbmz.com/angular-default-request-headers-and-interceptors/
        //http://www.webdeveasy.com/interceptors-in-angularjs-and-useful-examples/

        //pretty sure this isn't used...

        /*
        angular.module("sampleApp").factory('authIntercept',['sessionSvc',function(sessionSvc){
            return {
                'request': function(config){

                    console.log('intercept '+ sessionSvc.getAuthToken());
                  //

                    if (sessionSvc.getAuthToken()) {
                        config.headers['Authorization'] = sessionSvc.getAuthToken();
                        config.headers['myAuth'] = sessionSvc.getAuthToken();
                    }
                    return config
                }
            }
        }]).config(function($httpProvider){
            $httpProvider.interceptors.push('authIntercept')
        })
*/

    </script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/services.js"></script>
    <script src="js/libs/jstree.min.js"></script>

    <script src="js/appConfigSvc.js"></script>
    <script src="js/queryCtrl.js"></script>


    <script src="js/modalDialogSvc.js"></script>
    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/resourceViewerCtl.js"></script>
    <script src="js/observationsDisplayCtrl.js"></script>

    <script src="js/findPatientCtrl.js"></script>

    <script src="js/libs/vis.min.js"></script>
    <script src="js/components/dataTypes.js"></script>

    <script src="directive/fhirpath/fhirpath.js"></script>


    <script src="directive/graphql/graphql.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/sessionSvc.js"></script>

    <script src="js/pvTaskCtrl.js"></script>
    <script src="js/setServerCtrl.js"></script>

    <script src="js/serverInteractionSvc.js"></script>

    <script src="resourceBuilder/vsBrowser.js"></script>

    <script src="js/libs/fhirpath.min.js"></script>
    <script src="js/libs/fhirpath.r4.min.js"></script>


    <script src="js/createSampleBundleSvc.js"></script>
    <script src="js/terminologySvc.js"></script>
    <script src="js/terminologyExplorerCtrl.js"></script>
    <!-- for the 3d graph - and others

     <script src="js/questionnaireSvc.js"></script>
 <script src="directive/questionnaire/questionnaireCtl.js"></script>

    <script src="//unpkg.com/3d-force-graph@1"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.4/papaparse.min.js"></script>
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
-->
    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>

    <title>Patient Viewer</title>

</head>


<body style="padding: 8px;padding-top:80px">

<div ng-app="sampleApp" ng-controller="resourceViewerCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                <div>
                    <a class="navbar-brand" href="#"
                       uib-popover-html="displayServers"
                       popover-trigger="'mouseenter'"
                       popover-placement="right">
                        Patient Viewer
                    </a>
                </div>





            </div>

            <div class="col-md-4">
                <div class="navbar-text">
                    Server: <i class="glyphicon glyphicon-edit clickable" ng-click="selectServer()"> </i>
                     {{appConfigSvc.getCurrentDataServer().url}}
                </div>
            </div>



            <div class="col-md-1 col-sm-1">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>

            <div class="col-md-1 col-sm-1">
                <form ng-hide = "loadedFromBookmark" class="navbar-form navbar-right">
                    <button class="btn btn-primary pull-right" ng-click="findPatient()">Select Patient</button>
                </form>
            </div>

            <div class="col-md-1 col-sm-1">
                <form ng-hide = "loadedFromBookmark" class="navbar-form navbar-right">
                    <button class="btn btn-primary pull-right" ng-click="frontPage()">Front page</button>
                </form>
            </div>

            <div class="col-md-3">
                <div class="pull-right">
                    <a href="https://www.intersystems.com/" target="_blank">
                        <img style="padding-top: 8px;padding-bottom: 8px" src="/icons/sb-intersystems.png"/>
                    </a>

                </div>

            </div>
        </div>



    </nav>

    <div ng-show="currentPatient" class="banner">{{ResourceUtilsSvc.getOneLineSummaryOfResource(currentPatient)}} ({{currentPatient.id}})</div>


    <div ng-show="appConfigSvc.getCurrentPatient()">
        <ng-include src="'includes/resourceViewer.html'"></ng-include>
    </div>

    <div ng-hide="appConfigSvc.getCurrentPatient() || loadedFromBookmark">

        <div style="font-family: Open Sans, sans-serif;">
            The Patient viewer application It is targeted at the Clinician or Information Analyst, and will display the resources from a patient record in a
            number of perspectives. These include:
            <ul>
                <li>The resource explorer to examine individual resources</li>
                <li>The resource references graph that shows connections between resources</li>
                <li>The terminology explorer that displays coded data</li>
                <li>Numeric Observations - tables and graphs</li>
                <li>The encounter timeline that shows resources by encounter</li>
                <li>A <a href="https://hl7.org/fhirpath/" target="_blank">FhirPath</a> tab for querying within individual resources or the bundle of all resources</li>

            </ul>
        </div>



        <div style="font-family: Open Sans, sans-serif;">
            To select a Patient to view, first select the server where the data is stored using the
            link at the top left (Labelled 'Server'). <em>https://hapi.fhir.org/baseR4/</em> is a good choice
            if you don't have a specific server in mind.
            <br/>
            The <i class="glyphicon glyphicon-edit clickable" ng-click="selectServer()"> </i> icon
            will display a dialog where you can select another one, or enter the details of some other Server.

            <br/><br/>

            Next, click the 'Select Patient' button at the top right to select the patient to view from that server. You can choose
            the patient by their name, identifier or Id - or you can create a new one directly. Be aware that it might
            take a few seconds for a search to be performed.

            <br/><br/>
            As an alternative, you can select a sample patient from the list below. This is often the easiest if
            you don't have a specific server/patient in mind (and it's significantly faster to load!).
            <br/><br/>
            <strong>Some caveats:</strong>
            <ul>
                <li>You shouldn't use this for real patient data - there's no security</li>
                <li>It's a training tool and will be really slow with large datasets (> 100 resources or so)</li>
            </ul>
        </div>
        <br/>
        <h4>Sample patients</h4>
        <div class="myScroll1">
            <table class="table table-bordered">
                <tr><th>Name</th><th>Description</th><th>Author</th><th></th></tr>
                <tr ng-repeat="bundle in bundlesFromLibrary">
                    <td>{{bundle.name}}</td>
                    <td>{{bundle.description}}</td>
                    <td>{{bundle.author}}</td>
                    <td><button class="btn-primary btn" ng-click="loadFromLibrary(bundle)">Load</button></td>
                </tr>
            </table>
        </div>


    </div>




</div>
</body>
</html>