<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/portHoleCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>



    <script src="js/libs/vis.min.js"></script>

    <!--
 <script src="js/profileDiffSvc.js"></script>
    <script src="js/logicalModelSvc.js"></script>

  <script src="js/appConfigSvc.js"></script>
  <script src="js/libs/ngStorage.min.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/components/dataTypes.js"></script>

  <script src="js/services.js"></script>

  <script src="js/filters.js"></script>
  <script src="js/documentBuilder.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/reporterCtrl.js"></script>

  <script src="js/libs/ngStorage.min.js"></script>



  <script src="js/profileCreatorSvc.js"></script>
  -->


    <style>
        .myScroll {
            height: 600px;
            overflow-y: scroll;
        }
        .myRequired {
            color:red;
            background-color:  mistyrose;
        }
        .extension {
            color:blue;
            background-color: powderblue;
        }


    </style>
        <title>Porthole</title>

</head>


<body style="padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="portHoleCtrl" class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                <a class="navbar-brand" href="#">
                    Porthole
                </a>


            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{terminologyServer.name}}
                </div>
            </div>

            <div class="col-md-5 col-sm-5">



            </div>


            <div class="col-md-3 col-md-3">


            </div>

        </div>
    </nav>



    <div class="row">
        <div class="col-sm-2 col-md-2">
            <h4>Views</h4>

        </div>
        <div class="col-sm-8 col-md-8">
            <div class="rounded-box">

                <div id="timeline"></div>


            </div>

        </div>
        <div class="col-sm-2 col-md-2">
            <h4>View options</h4>
        </div>
    </div>




    <div class="row">
        <div class="col-sm-2 col-md-2">

            <ul class="list-group">
                <li style="cursor:pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':view.mode == currentView.mode}"
                    ng-repeat="view in views" ng-click="processView(view)">
                    {{view.display}}
                </li>
            </ul>

        </div>
        <div class="col-sm-8 col-md-8">
            <div class="rounded-box myScroll">




            </div>

        </div>
        <div class="col-sm-2 col-md-2">

        </div>
    </div>



</div>
</body>
</html>