<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/portHoleCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>

    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/builderSvc.js"></script>
    <script src="js/portHoleSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>



    <script src="js/libs/vis.min.js"></script>

    <!--
 <script src="js/profileDiffSvc.js"></script>
    <script src="js/logicalModelSvc.js"></script>

  <script src="js/appConfigSvc.js"></script>
  <script src="js/libs/ngStorage.min.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/components/dataTypes.js"></script>

  <script src="js/services.js"></script>

  <script src="js/filters.js"></script>
  <script src="js/documentBuilder.js"></script>
  <script src="resourceBuilder/rbServices.js"></script>
  <script src="js/reporterCtrl.js"></script>

  <script src="js/libs/ngStorage.min.js"></script>



  <script src="js/profileCreatorSvc.js"></script>
  -->


    <style>
        .myScroll {
            height: 600px;
            overflow-y: scroll;
        }
        .myRequired {
            color:red;
            background-color:  mistyrose;
        }
        .extension {
            color:blue;
            background-color: powderblue;
        }


    </style>
        <title>Porthole</title>

</head>


<body style="padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="portHoleCtrl" class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                <a class="navbar-brand" href="#">
                    Porthole
                </a>


            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">
                    {{appConfigSvc.getCurrentDataServer().name}}
                </div>
            </div>

            <div class="col-md-5 col-sm-5">




            </div>

            <div class="col-md-1 col-sm-1">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>

            <div class="col-md-2 col-md-2">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <select class="form-control" ng-model="input.view"
                                ng-options="view.display for view in views">

                        </select>
                    </div>


                </form>
   <!--
                <ul class="nav navbar-nav navbar-right">
                    <li uib-dropdown>

                        <a href="#" uib-dropdown-toggle>
                        <span style="font-size:2em; cursor: pointer">
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                        </a>



                        <ul class="dropdown-menu" role="menu">

                            <li ng-repeat="view in views" ng-click="processView(view)">

                                <a href="#" ng-click="showChart()"
                                   uib-popover="{{view.display}}"
                                   popover-placement="left"
                                   popover-trigger="'mouseenter'">{{view.display}}</a>


                            </li>

                            <li>
                                <a href="#" ng-click="showChart()"
                                   uib-popover="Show how many people are using clinFHIR"
                                   popover-placement="left"
                                   popover-trigger="'mouseenter'">Access statistics</a>
                            </li>

                            <li>
                                <a href="#" ng-click="displayMode = 'front'"
                                   uib-popover="Show the main Launcher screen"
                                   popover-placement="left"
                                   popover-trigger="'mouseenter'">Launcher</a>
                            </li>

                        </ul>
                    </li>
                </ul>
-->

            </div>

        </div>
    </nav>



    <div class="row">
        <div class="col-sm-2 col-md-2">
            <h4>Changes</h4>

        </div>
        <div class="col-sm-8 col-md-8">
            <div class="rounded-boxDEP">
                <h4>Details</h4>



                <div ng-hide="1" id="timeline"></div>


            </div>

        </div>
        <div class="col-sm-2 col-md-2">
            <h4>Views</h4>
        </div>
    </div>




    <div class="row">

        <div class="col-sm-2 col-md-2">

            <ul class="list-group">
                <li style="cursor:pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':currentProvenance.id == prov.id}"
                    ng-repeat="prov in provenance" ng-click="displayProvenance(prov)">
                    <div>{{prov.local.scenario}}<span class="pull-right">{{prov.recorded | getAgeSeconds}}</span> </div>
                    <em><div>{{prov.local.note}}</div></em>

                </li>
            </ul>




        </div>

        <div class="col-sm-10 col-md-10">
            <div class="rounded-box myScroll">


                <uib-tabset>

                    <uib-tab heading="Resources">
                        <br/>


                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <table class="table table-bordered table-condensed">
                                    <tr><th>Type</th><th>Id</th><th>Ver</th></tr>
                                    <tr ng-repeat="targ in currentProvenance.target">
                                        <td><div class="clickable" ng-click="getResourceDetails(targ)"> {{targ.local.type}}</div></td>
                                        <td>{{targ.local.id}}</td>
                                        <td>{{targ.local.version}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-7 col-md-7">

                                <uib-tabset>
                                    <uib-tab heading="Selected Version">
                                        <pre>{{specificVersion | json}}</pre>
                                    </uib-tab>
                                    <uib-tab heading="All Versions">
                                        <div class="row">
                                            <div class="col-sm-5 col-md-5">
                                                <ul>
                                                    <li ng-repeat="(key,value) in selectedResourceHx">
                                                        {{key}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-5 col-md-5">
                                            </div>
                                        </div>

                                        <!--

                                        <table class="table table-bordered table-condensed">
                                            <tr><th>Type</th><th>Id</th><th>Ver</th></tr>
                                            <tr ng-repeat="(key,value) in selectedResourceHx">
                                                <td>{{key}}</td>
                                            </tr>
                                        </table>
                                        -->


                                        <pre>{{selectedResourceHx | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>


                            </div>
                        </div>











                    </uib-tab>

                    <uib-tab heading="Provenance">
                        <pre>{{currentProvenance | json}}</pre>
                    </uib-tab>

                </uib-tabset>




            </div>

        </div>

        <!--
        <div class="col-sm-2 col-md-2">

            <ul class="list-group">
                <li style="cursor:pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':view.mode == currentView.mode}"
                    ng-repeat="view in views" ng-click="processView(view)">
                    {{view.display}}
                </li>
            </ul>

        </div>
        -->

    </div>



</div>
</body>
</html>