<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>



    <script src="js/libs/moment.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>clinFHIR Project</title>

    <style>/*https://css-tricks.com/snippets/css/css-box-shadow/*/
        .myBox {
            margin-top: 10px;
            box-shadow: 0 0 8px black;
            padding:12px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

        }
        .clickableDEP {
            color: rgb(79, 155, 214);
            cursor: pointer;
        }
        .pass {
            color:green;
        }
        .fail {
            color:red;
        }

    </style>

    <script>


        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").constant("moment", moment);


    </script>



    <script src="js/projectCtl.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <!--

    <script src="js/appConfigSvc.js"></script>

    <script src="js/setServers.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/logicalModelSvc.js"></script>
    <script src="js/loginCtrl.js"></script>

   -->



</head>
<body style="padding: 8px;padding-top: 80px">


<div ng-app="sampleApp" ng-controller="projectCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-8 col-sm-8">
            <a class="navbar-brand" href="#">clinFHIR Project</a>
        </div>

        <div class="col-md-2 col-sm-2">
            <div class="navbar-text pull-right">

            </div>

        </div>


        <div class="col-md-1 col-sm-1">


        </div>


        <div class="col-md-1 col-sm-1">
            <ul class="nav navbar-nav navbar-right"  ng-hide="waiting">
                <li uib-dropdown>

                    <a href="#" uib-dropdown-toggle>
                        <span style="font-size:2em; cursor: pointer">
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                    </a>



                    <ul class="dropdown-menu" role="menu">


                        <li>
                            <a href="#" ng-click="showChart()" ng-hide="displayMode=='access'"
                               uib-popover="Show how many people are using clinFHIR"
                               popover-placement="left"
                               popover-trigger="'mouseenter'">Access statistics</a>
                        </li>

                        <li>
                            <a href="#" ng-click="displayMode = 'front'" ng-hide="displayMode=='front'"
                               uib-popover="Show the main Launcher screen"
                               popover-placement="left"
                               popover-trigger="'mouseenter'">Launcher</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>


    </nav>

    <div class="row">
        <div class="col-sm-6 col-md-6">

            <div>
                <button class="btn btn-primary" ng-click="login()">Login</button>


            </div>


            <a href="logicalModeller.html#$$$">Launch modeler</a>

        </div>
        <div class="col-sm-6 col-md-6">

        </div>
    </div>

</div>
</body>
</html>
