<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-1.2.5.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/services.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/documentBuilder.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/reporterCtrl.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/appConfigSvc.js"></script>

    <script src="js/modalDialogSvc.js"></script>
    <script src="js/profileCreatorSvc.js"></script>

    <title>Reporter</title>

</head>


<body style="padding: 8px" >

<div ng-app="sampleApp" ng-controller="reporterCtrl" class="container-fluid">




    <uib-tabset>
        <uib-tab heading="Log">
            <h3>Failed operations - Validate or Save, Profile creation</h3>
            <br />

            <div class="row">
                <div class="col-md-3 col-sm-3">

                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            Email:
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <select class="form-control" ng-model="input.email" ng-change="emailSelected()"
                                    ng-options = "value.display for (key,value) in uniqueEmails" >
                            </select>

                        </div>
                    </div>



                    <br />
                    <div class="list-group">
                        <div class="list-group-item"
                           ng-repeat="error in errors " ng-if = "error.user.email == input.email.email || input.email.email == 'all'">
                            <div
                                    style="cursor: pointer" ng-click="errorSelected(error)">
                                {{error.resource.resourceType}}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <span class="pull-right">{{error.date | getAgeSeconds}}</span>
                                        <div>{{error.date | date:'medium'}}</div>
                                    </div>
                                </div>
                                {{error.user.email}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-9 col-sm-9">
                    <uib-tabset>
                        <uib-tab heading="All">
                            <pre ng-show="selectedError" >{{selectedError | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Resource">
                            <pre ng-show="selectedError" >{{selectedError.resource | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="OperationOutcome">
                            <pre ng-show="selectedError" >{{selectedError.oo | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Meta">
                            <pre ng-show="selectedError" >{{selectedErrorMeta | json}}</pre>
                        </uib-tab>
                    </uib-tabset>


                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Document Builder">
            <div ng-controller="documentBuilderCtrl">
                <ng-include src="'/includes/documentBuilder.html'"></ng-include>
            </div>
        </uib-tab>

    </uib-tabset>





</div>
</body>
</html>