<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
<!--
    <script src="js/libs/ui-bootstrap-tpls-1.2.5.min.js"></script>
    -->
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
   <!--
   <script src="js/libs/angular.min.1.4.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
-->
    <script src="js/libs/go-debug.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/toArrayFilter.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="/js/libs/angular-cookies.min.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/angular-translate.min.js"></script>
    <script src="js/libs/angular-translate-loader-url.min.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>

    <script src="js/libs/angular-translate-loader-static-files.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/angular-drag-and-drop-lists.min.js"></script>

    <style>
        .applyPadding {
            padding-top: 80px;
        }
    </style>

    <script>
        //http://stackoverflow.com/questions/18214835/angularjs-how-to-enable-locationprovider-html5mode-with-deeplinking
        //http://www.ng-newsletter.com/posts/angular-translate.html
/*        angular.module("sampleApp",['ngCookies','ui.bootstrap','ngSanitize','angular-toArrayFilter','ngStorage','pascalprecht.translate']).config(
                ['$locationProvider', function( $locationProvider,$translateProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');



        }]);
*/
        angular.module("sampleApp",['ui.checkbox','ngAnimate','ngCookies','ui.bootstrap','ngSanitize','angular-toArrayFilter','ngStorage','pascalprecht.translate','dndLists'])

        angular.module("sampleApp").constant("moment", moment);

        angular.module("sampleApp").config(function($locationProvider,$translateProvider,$localStorageProvider){
            //console.log($localStorageProvider)
            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');

            var localStorage = $localStorageProvider.$get();

            var preferredLanguage = 'en';// $localStorageProvider.get('preferredLanguage') || 'ru';
            if (localStorage && localStorage.preferredLanguage) {
                preferredLanguage = localStorage.preferredLanguage
            }

            //console.log(localStorage)
            $translateProvider.useSanitizeValueStrategy('escape');


            //to avoif FOUC - https://angular-translate.github.io/docs/#/guide/12_asynchronous-loading
            $translateProvider.translations('en', {
                TITLE: 'Resource Creator',
                MYRECENTPATIENTS : 'My recent patients',
                MYRECENTPROFILES : 'My recent profiles',
                SYSTEMCONFIGURATION : 'System Configuration',
                TERMINOLOGYSERVER: 'Terminology Server',
                PATIENT : 'Patient',
                PROFILE : 'Profile',
                SELECTPATIENT : 'Select Patient',
                FINDPROFILE: 'Find Profile or Base Type',
                NEWRESOURCE : 'New Resource Instance',
                RESOURCENAVIGATOR : 'Resource Navigator',
                ELEMENTDETAILS : 'Element Details',
                CHILDELEMENTS : 'Child Elements',
                RESOURCE : 'Resource',
                VALIDATE : 'Validate',
                PARK : 'Park',
                SAVE : 'Save',
                CLOSE : 'Close',
                DETAILS : 'Details',
                TEST : 'Test',
                'LANGUAGE.ENGLISH' : 'English',
                'LANGUAGE.RUSSIAN' : 'Russian',
                'LANGUAGE.DUTCH' : 'Dutch',
                "MENU.QUERYSERVERS":"Query Servers",
                "MENU.RESETCONFIG" : "Reset Config",
                "MENU.CLEARPROFILECACHE":"Clear Profile Cache",
                "MENU.CLEARPATIENTCACHE":"Clear Patient Cache",
                "MENU.CHANGELANGUAGE":"Change Language"
            });
            $translateProvider.preferredLanguage('en');


            //this will load the language files automatically when $translate.use() is invoked in the controller...
            $translateProvider.useStaticFilesLoader({
                prefix: 'translate/',
                suffix: '.json'
            });
            $translateProvider.preferredLanguage(preferredLanguage);
/*
            return;

            var initInjector = angular.injector(['ng']);
            var $http = initInjector.get('$http');

            $http.get('translate/ru.json').then(
                    function(data) {
                        console.log(data)
                        $translateProvider.translations('ru', data.data)
                        console.log(data.data)
                        $translateProvider.preferredLanguage('ru');
                    }
            )

            $translateProvider.preferredLanguage(preferredLanguage);
*/


            //console.log($translateProvider.translations())

        })
/*
        angular.module('sampleApp')
                .factory('$exceptionHandler', function () {
                    return function errorCatcherHandler(exception, cause) {
                        console.log('captured exception->', exception,cause);
                        //Raven.captureException(exception);
                    };
                });

        */


/*
        window.onerror = function (em, url, ln) {
            alert(em + ", " + url + ", " + ln);
            return false;
        }
*/

    </script>






    <!-- files needed for resourceCreator -->
    <script src="js/resourceCreatorCtrl.js"></script>
    <script src="js/profileCreatorSvc.js"></script>
    <script src="js/profileBuilderCtrl.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>
<!--
    <script src="js/mmCtrl.js"></script>
-->
    <script src="js/appConfigSvc.js"></script>

    <script src="resourceBuilder/rbServices.js"></script>
    <script src="resourceBuilder/vsBrowser.js"></script>
    <script src="resourceBuilder/selectProfile.js"></script>
    <script src="js/services.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/searchForResourceCtrl.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/menuCtrl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/autoFocus.js"></script>

    <script src="js/newExtensionDefinition.js"></script>

    <script src="js/newVSFinder.js"></script>
    <script src="js/components/profileDisplayComp.js"></script>
    <script src="js/components/resourceUploadComp.js"></script>
    <script src="js/components/dataTypes.js"></script>

    <script src="js/libs/vis.min.js"></script>
    <script src="js/listBuilder.js"></script>
    <script src="js/consultBuilder.js"></script>
    <title>FHIR Resource Creator</title>

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

        #timeline {
            width: 100%;
            height: 200px;
            border: 1px solid lightgray;
        }

        #resourcenetwork {
            width: 100%;
            height: 400px;
            border: 1px solid lightgray;
        }

        #mmDiv {
            width: 100%;
            height: 400px;
            border: 1px solid lightgray;
        }

        #profileNetwork {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }



    </style>

</head>


<body style="padding: 8px " >

    <div  ng-app="sampleApp" ng-controller="resourceCreatorCtrl" class="container-fluid">




        <div ng-class="{applyPadding : ! startupParams.hideNav}" >
        <!-- Hide the nav bar if the 'hideNav' query parameter is set in the call-->
            <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

                <div class="container-fluid">
                    <div class="col-md-1">
                        <a class="navbar-brand" href="#">
                            <!--
                            Resource Creator
                            -->
                            {{ 'TITLE' | translate }}

                        </a>

                    </div>

                    <div class="col-md-5">
                        <p>


                            <div>

                                <span uib-dropdown  popover-placement="right" popover-trigger='mouseenter'
                                      uib-popover="Data Server: {{appConfigSvc.getCurrentDataServer().url}}">
                                    <strong>{{'PATIENT' | translate}}: </strong>

                                </span>

                                <span ng-hide="appConfigSvc.getCurrentPatient()">Use 'Select Patient' link to find patient</span>

                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(appConfigSvc.getCurrentPatient())}}

                                 <span ng-show="appConfigSvc.getCurrentPatient()"> ({{appConfigSvc.getCurrentPatient().id}})</span>
                                <!--<a ng-show="appConfigSvc.getCurrentPatient()" href="#" ng-click="displayMode = 'patient'">Details</a> -->

                        <a ng-show="appConfigSvc.getCurrentPatient()" href="#" ng-click="displayMode = 'view'">{{'DETAILS'| translate}}</a>

                            </div>

                        <div>
                                <span uib-dropdown  popover-placement="right" popover-trigger='mouseenter'
                                      uib-popover="Conformance Server: {{appConfigSvc.getCurrentConformanceServer().url}}">
                                        <strong>{{'PROFILE'|translate}}:</strong>
                                </span>

                            <span popover-placement="right" popover-trigger='mouseenter'
                                  uib-popover="{{resourceCreatorSvc.getCurrentProfile().url}}">
                                {{resourceCreatorSvc.getCurrentProfile().url | shortUrl}}</span>
                            <span ng-hide="resourceCreatorSvc.getCurrentProfile()">Use Find Profile link to load a profile</span>
                        </div>

                        </p>


                    </div>


                    <div class="col-md-6">

                        <div class="navbar-text">


                            <span uib-dropdown ng-hide="resourceCreatorSvc.getParkedResources().length==0">
                                  <a href  uib-dropdown-toggle>
                                      Parked <span class="badge">{{resourceCreatorSvc.getParkedResources().length }}</span>
                                  </a>
                                  <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                      <li ng-repeat="park in resourceCreatorSvc.getParkedResources()">
                                          <a href = '#' ng-click="restoreFromParked(park,$index)">{{park.display}}</a>
                                      </li>
                                  </ul>
                             </span>


                        </div>



                        <form ng-show="displayMode == 'new'" class="navbar-form navbar-right">



                            <button class="btn btn-danger pull-right" ng-show="buildState=='dirty'"
                                    ng-click="cancelNewResource('dirty')">Cancel</button>

                            <button class="btn btn-success pull-right" ng-hide="buildState=='dirty'"
                                    ng-click="cancelNewResource('close')">{{'CLOSE'|translate}}</button>


                        </form>

                        <form ng-show="displayMode == 'new'" class="navbar-form navbar-right">
                            <button class="btn btn-primary pull-right" ng-click="saveToServer()">{{'SAVE' | translate}}</button>
                            <button style="margin-right: 8px" class="btn btn-info pull-right"
                                    ng-click="park()">{{'PARK' | translate}}</button>

                            <button
                                    popover-placement="left" popover-trigger='mouseenter'
                                    uib-popover="Validate against Data Server:{{config.servers.data}}"
                                    class="btn btn-link pull-right" ng-click="validate()">{{'VALIDATE' | translate}}</button>
                        </form>


                        <!-- The menu-->
                        <div ng-controller="menuCtrl" ng-show="displayMode == 'front'">

                            <!--
                            a convenience link during dev
                            <a class="navbar-form navbar-right" href="#" ng-click="showQuery()">Query Servers</a>
-->

                            <ul class="nav navbar-nav navbar-right"  ng-hide="waiting">
                                <li uib-dropdown>

                                    <a href="#" uib-dropdown-toggle>
                                        <span style="font-size:2em; cursor: pointer">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </span>
                                    </a>



                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" ng-click="showQuery()">{{'MENU.QUERYSERVERS'|translate}}</a>
                                        </li>


                                        <li>
                                            <a href="#" ng-click="newExtension()">Extension editor</a>
                                        </li>





                                        <li>
                                            <a href="valuesetCreator.html" target="_blank">ValueSet editor</a>
                                        </li>

                                        <li class="divider"></li>
                                        <li>
                                            <a href="#" ng-click="resetConfig()">{{'MENU.RESETCONFIG'|translate}}</a>
                                        </li>


                                        <li>
                                            <a href="#" ng-click="clearProfileCache()">{{'MENU.CLEARPROFILECACHE'|translate}}</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="clearPatientCache()">{{'MENU.CLEARPATIENTCACHE'|translate}}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#" ng-click="showValidateInstance()">Validate Resource</a>
                                        </li>
                                        <li class="divider"></li>

                                        <li>
                                            <a href="#" ng-click="changeLanguage()">{{'MENU.CHANGELANGUAGE'|translate}}</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-show="translate.use() !== 'en'"
                                               ng-click="resetLanguageToEnglish()">Reset to English</a>
                                        </li>





                                    </ul>
                                </li>
                            </ul>
                        </div>




                        <button class="btn btn-info pull-right" ng-click="editExistingResource()">
                            edit</button>



                        <form ng-hide="displayMode == 'new' || displayMode == 'query' " class="navbar-form navbar-right">
                            <div ng-show="appConfigSvc.getCurrentPatient() && resourceCreatorSvc.getCurrentProfile()">
                                <button class="btn btn-info pull-right" ng-click="createNewResource()">
                                    {{'NEWRESOURCE' | translate}}</button>
                            </div>
                        </form>

                        <!-- <form ng-hide="displayMode == 'new' || displayMode == 'query' " class="navbar-form navbar-right">
                            <div ng-show="appConfigSvc.getCurrentPatient() && resourceCreatorSvc.getCurrentProfile()">
                                <button class="btn btn-info pull-right" ng-click="displayMode = 'new'">New Resource</button>
                            </div>
                        </form> -->


                        <form ng-hide="displayMode == 'front' || displayMode == 'new'" class="navbar-form navbar-right">
                            <span  popover-placement="left" popover-trigger='mouseenter'
                                  uib-popover="Load front screen">
                                    <a class="btn btn-success" href="#" ng-click="displayMode = 'front'">Front</a>
                                </span>
                        </form>



                        <div class="pull-right navbar-form" ng-show="waiting">
                            <img src="css/ajax_loader_blue_32.gif"/>
                        </div>


                    </div>

                </div>


            </nav>

            <!-- The list builder -->

            <!--
            <button class="btn btn-link" ng-click="displayMode = 'list'">ListBuilder</button>
            <div ng-show="displayMode == 'list'" ng-controller="listbuilderCtrl">
                <ng-include src="'/includes/listBuilder.html'"></ng-include>
            </div>

            -->



            <div ng-show="displayMode == 'front'" ng-controller="frontCtrl">
                <ng-include src="'/includes/frontPage.html'"></ng-include>
            </div>


            <div ng-show="displayMode == 'query'" ng-controller="queryCtrl">
                <ng-include src="'/includes/serverQuery.html'"></ng-include>
            </div>


            <div ng-show="displayMode == 'new'">
                <ng-include src="'/includes/resourceCreatorMain.html'" onload="includeLoaded()"></ng-include>
            </div>


            <div ng-show="displayMode == 'view'">
                <ng-include src="'/includes/resourceViewer.html'"></ng-include>
            </div>


            <button class="btn btn-link" ng-click="displayMode = 'consult'">ConsultBuilder</button>
            <div ng-show="displayMode == 'consult'" ng-controller="consultbuilderCtrl">
                <ng-include src="'/includes/consultBuilder.html'"></ng-include>
            </div>


            <!-- A directive for browsing value sets-->
            <vs-browser trigger="showVSBrowserDialog"></vs-browser>

        </div>





    </div>



</body>
</html>