<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min.1.4.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/toArrayFilter.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/libs/moment.min.js"></script>



    <script>
        angular.module("sampleApp",['ui.bootstrap','ngSanitize','angular-toArrayFilter','ngStorage'])
    </script>



<!--
  <script src="js/services.js"></script>
    <script src="js/resourceSvc.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/libs/moment.min.js"></script>



    -->

    <!-- files needed for resourceCreator -->
    <script src="js/resourceCreatorCtrl.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>

    <script src="js/appConfigSvc.js"></script>

    <script src="resourceBuilder/rbServices.js"></script>
    <script src="resourceBuilder/vsBrowser.js"></script>


    <script src="js/libs/ngStorage.min.js"></script>

    <script src="js/filters.js"></script>

    <title>FHIR Resource Creator</title>

</head>


<body style="padding: 8px">

    <div ng-app="sampleApp" ng-controller="resourceCreatorCtrl" class="container-fluid">


        <div class="row panel-body"  style="background-color: #ffffdd;">
            <div class="col-md-2">
                <select class="form-control" ng-model = "results.profileName" ng-change="selectProfile()">
                    <option value="Condition">Condition</option>
                    <option value="CarePlan">CarePlan</option>
                    <option value="qicore-condition">QICore Condition</option>

                </select>
            </div>
            <div class="col-md-10">

                <button class="btn btn-primary pull-right" ng-click="saveToServer()">Save</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h4>Navigator</h4>
                <div style="height:250px; overflow-y: auto;" >
                    <div id="treeView"></div>
                </div>



            </div>
            <div class="col-md-4">

                <div ng-show="selectedNode">
                    <h4>Element details: <em>{{selectedNode.text}}</em></h4>

                    {{selectedNode.display}}

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-right" ng-click="removeNode()">Remove</button>
                        </div>

                    </div>


                </div>



                <h4 ng-show="children.length > 0">Child elements</h4>

                <div ng-repeat="child in children track by $index">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="{{child.myData.displayClass}}">{{child.myData.display}}</div>
                        </div>
                        <div class="col-md-2">
                            {{child.min}}..{{child.max}}
                        </div>
                        <div class="col-md-4">
                            <div ng-repeat="type in child.type">

                                <span ng-hide="type.profile">
                                    <a href="#" ng-click="childSelected(child,$index)">{{type.code}} </a>
                                </span>

                                <span ng-show="type.profile">
                                    <a href="#" class="clickableResourceReference"
                                       ng-click="childSelected(child,$index)">-> {{type.profile | referenceType}} </a>

                                </span>

                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div class="col-md-5">

                <h4>Resource</h4>
                <ng-include src="'/includes/dataTypeInputTemplates.html'"></ng-include>
                <pre>{{resource | json}}</pre>

                <!--
                <uib-tabset>
                    <uib-tab heading="Data input">
                        <ng-include src="'/includes/dataTypeInputTemplates.html'"></ng-include>
                        <pre>{{resource | json}}</pre>
                    </uib-tab>
                    <uib-tab heading="TreeData">
                        <div ng-repeat="node in treeData">
                            ID: {{node.id}}  ParentId: {{node.parent}} Path: {{node.path}}

                            <div>{{node.fragment}}</div>
                        </div>

                    </uib-tab>
                </uib-tabset>
-->





                <!--
                <pre>{{selectedChild | json}}</pre>
-->
            </div>
        </div>

        <vs-browser trigger="showVSBrowserDialog"></vs-browser>


    </div>

</body>
</html>