<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/libs/angular.min.1.4.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/toArrayFilter.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngSanitize','angular-toArrayFilter']).run(function($http){
          //  $http.defaults.headers.post.prefer = 'return=representation'
        })


    </script>

    <script src="js/services.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>

    <script src="js/libs/moment.min.js"></script>



    <title>FHIR Sample Creator</title>

</head>


<body style="padding: 8px">

    <div ng-app="sampleApp" ng-controller="sampleCtrl" class="container-fluid">

        <uib-tabset>


            <uib-tab heading="Sample Patients">
                <br />


                <div class="panel panel-default">

                    <div class="panel-body"  style="background-color: #ffffdd;">

                        <div class="row ">
                            <div class="col-md-2">
                                <select class="form-control" ng-model="input.patient" ng-change="showPatient(input.patient.resource)"
                                        ng-options = "entry as entry.resource.name[0].text for entry in outcome.samplePatientsBundle.entry">
                                    <option value="">-- choose patient --</option>

                                </select>
                            </div>
                            <div class="col-md-8">
                                <p  ng-bind-html="outcome.demographicsHtml"></p>
                            </div>

                            <div class="col-md-2">
                                <a href="#" class="btn btn-link pull-right"  ng-show="global.state == 'new'"
                                   ng-click="global.state = 'view'">View Resources</a>

                                <a href="#" class="btn btn-link pull-right"  ng-show="global.state == 'view'"
                                   ng-click="global.state = 'new'">New Resource</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show = "global.state == 'new'" class="row">
                    new

                </div>

                <div ng-show = "global.state == 'view'" class="row">





                    <div class="col-md-2">
                        <h4>Resource Types</h4>
                        <div class="list-group">

                            <a href="#" class="list-group-item" ng-click="typeSelected(type)"
                               ng-repeat="type in outcome.resourceTypes ">
                                {{type.type}}
                                <span class="pull-right badge">{{type.bundle.total}}</span>
                            </a>

                        </div>
                        <div class="list-group">
                            <a ng-show="outcome.allResources" href="#" class="list-group-item" ng-click="getVitals()">Vitals</a>
                        </div>
                    </div>

                    <div class="col-md-10">


                        <!-- The vitals table -->
                        <table class="table table-bordered" ng-show="vitalsTable">
                            <tr>
                                <td>Item</td>
                                <td ng-repeat="date in vitalsTable.dates track by $index">
                                    <div>{{date | date : 'dd-MMM-yy hh:mm'}}</div>
                                    <!--<div>{{date | date : 'hh:mm'}}</div>-->
                                    <div>{{date | getAge}}</div>
                                </td>
                            </tr>

                            <tr ng-repeat="row in vitalsTable.rows track by $index" >
                                <td title="{{row.code}}">{{row.display}}  ({{row.unit}})</td>

                                <td ng-repeat="item in row.cols track by $index">
                                    {{item.value}}
                                </td>
                            </tr>
                        </table>



                        <div class="row">
                            <div class="col-md-4">

                                <h4>{{outcome.selectedType}} resources</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item"
                                       ng-repeat="entry in outcome.allResourcesOfOneType.entry">
                                        <div style="cursor: pointer" ng-click="resourceSelected(entry)">
                                            <ng-include src="'./includes/resourceDisplayTemplates.html'"></ng-include>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">

                                <div ng-show="outcome.selectedResource">



                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>{{outcome.selectedResource.resourceType}}/{{outcome.selectedResource.id}}</h4>
                                            <pre>{{outcome.selectedResource | json:2}}</pre>
                                        </div>

                                        <div class="col-md-4">
                                            <h4>Outward references</h4>

                                            <div class="list-group">
                                                <a href="#"class="list-group-item"
                                                    ng-repeat="reference in resourceReferences.outwardLinks"
                                                    ng-click="selectNewResource(reference,$event)">

                                                    <div>{{reference.element}} ==> {{reference.reference}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </a>
                                            </div>

                                            <h4>Inward references</h4>

                                            <div class="list-group">
                                                <a href="#" class="list-group-item"
                                                   ng-repeat="reference in resourceReferences.inwardLinks"
                                                    ng-click="selectNewResource(reference,$event)">

                                                    <div>{{reference.resource.resourceType}}/{{reference.resource.id}}.
                                                        {{reference.name}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </a>
                                            </div>
                                        </div>
                                    </div>


<!--


                                    <uib-tabset>
                                        <uib-tab heading="Json">
                                            <pre>{{outcome.selectedResource | json:2}}</pre>
                                        </uib-tab>

                                        <uib-tab heading="References">
                                            <h4>Outward references</h4>

                                            <div class="list-group">
                                                <div  class="list-group-item"
                                                   ng-repeat="reference in resourceReferences.outwardLinks">
                                                    <div class="pull-right">
                                                        <a href="#" ng-click="selectNewResource(reference,$event)">
                                                            <i class="glyphicon glyphicon-arrow-right"></i> </a>
                                                    </div>
                                                    <div>{{reference.element}} ==> {{reference.reference}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </div>
                                            </div>

                                            <h4>Inward references</h4>

                                            <div class="list-group">
                                                <div  class="list-group-item"
                                                   ng-repeat="reference in resourceReferences.inwardLinks">
                                                    <div class="pull-right">
                                                        <a href="#" ng-click="selectNewResource(reference,$event)">
                                                            <i class="glyphicon glyphicon-arrow-right"></i> </a>
                                                    </div>
                                                    <div>{{reference.resource.resourceType}}/{{reference.resource.id}}.
                                                        {{reference.name}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </div>
                                            </div>

                                        </uib-tab>
                                    </uib-tabset>

                                -->
                                </div>

                            </div>
                        </div>


                    </div>





                </div>







            </uib-tab>



            <uib-tab heading="New Patient">




                <br />

                <div class="row">
                    <div class="col-md-2">

                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-click="input.action='patient'">Patient</a>
                            <a href="#" class="list-group-item" ng-click="input.action='observation'">Observations</a>
                            <a href="#" class="list-group-item list-group-item-warning" ng-click="input.action='create'">Create</a>


                        </div>


                    </div>
                    <div class="col-md-10">


                        <div ng-show="input.action=='observation'">
                            <ng-include src="'./includes/newObservations.html'"></ng-include>
                        </div>


                        <div ng-show="input.action=='patient'">
                            <ng-include src="'./includes/newPatient.html'"></ng-include>
                        </div>

                        <div ng-show="input.action=='create'">
                            <div class="banner">Create sample data</div>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">FHIR Server</label>
                                    <div class="col-md-4">
                                        <select ng-model="input.serverBase" class="form-control">
                                            <option value="http://localhost:8080/baseDstu2/">Local Server</option>
                                            <option value="http://fhir.hl7.org.nz/dstu2/">HL7 NZ</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-md-offset-2 col-md-3">
                                    <a href="#" ng-show="input.referenceResourcesAvailable"
                                       ng-click="save()" class="btn btn-primary">Create sample data</a>
                                </div>
                            </div>

                            <div class="row" ng-show="outcome.log.length > 0">

                                <div class="col-md-offset-2 col-md-10">
                                    <h4>Log</h4>
                                    <div ng-repeat="log in outcome.log">
                                        {{log}}
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>






            </uib-tab>


        </uib-tabset>

    </div>

</body>
</html>