<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min.1.4.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/toArrayFilter.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngSanitize','angular-toArrayFilter','ngStorage'])
    </script>

    <script src="js/services.js"></script>
    <script src="js/resourceSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <script src="js/appConfigSvc.js"></script>


    <!-- files needed for resourceCreator -->
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/resourceCreatorCtrl.js"></script>
    <script src="js/resourceCreatorSvc.js"></script>


    <!-- files needed for resourceBuilder -->
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="resourceBuilder/rbFrameCtrl.js"></script>
    <script src="resourceBuilder/renderProfile.js"></script>
    <script src="resourceBuilder/vsBrowser.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>


    <title>FHIR Sample Creator</title>

</head>


<body style="padding: 8px">

    <div ng-app="sampleApp" ng-controller="sampleCtrl" class="container-fluid">

        <div class="pull-right">
            <!--{{dataServer.name}}-->

            <select ng-model="dataServer" class="form-control" ng-change="selectServer(dataServer)"
                    ng-options = "item.name for item in config.allKnownServers"
                    title = "{{dataServer.url}}">
            </select>


        </div>



        <uib-tabset>


            <uib-tab heading="New Patient">

                <br />

                <div class="row">
                    <div class="col-md-2">

                        <h5>Options for Sample Creator</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-click="input.action='patient'">Patient</a>
                            <a href="#" class="list-group-item" ng-click="input.action='observation'">Observations</a>

                        </div>


                        <h5>Action</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-click="input.action='create'">Create</a>
                        </div>

                    </div>
                    <div class="col-md-10">


                        <div ng-show="input.action=='observation'">
                            <ng-include src="'./includes/newObservations.html'"></ng-include>
                        </div>


                        <div ng-show="input.action=='patient'">
                            <ng-include src="'./includes/newPatient.html'"></ng-include>
                        </div>

                        <div ng-show="input.action=='create'">
                            <div class="banner">Write sample data to server</div>
                            <form class="form-horizontal" role="form">


                                <div class="form-group">
                                    <label class="col-md-2 control-label">Patient</label>
                                    <div class="col-md-4">
                                        <p class="form-control">{{input.fname}} {{input.lname}}</p>
                                    </div>
                                </div>

<!--
                                <div class="form-group">
                                    <label class="col-md-2 control-label">FHIR Server</label>
                                    <div class="col-md-4">
                                        <select ng-model="dataServer" class="form-control" ng-change="selectServer(dataServer)"
                                            ng-options = "item.name for item in config.allKnownServers">
                                        </select>
                                        <div>({{dataServer.url}})</div>


                                    </div>
                                </div>
                                -->


                            </form>

                            <div class="row">
                                <div class="col-md-offset-2 col-md-3">
                                    <a href="#" ng-show="input.referenceResourcesAvailable"
                                       ng-hide="saving"
                                       ng-click="save()" class="btn btn-primary">Create sample data</a>
                                    <img ng-show="saving" src="css/ajax_loader_blue_32.gif"/>
                                </div>
                            </div>

                            <div class="row" ng-show="outcome.log.length > 0">

                                <div class="col-md-offset-2 col-md-10">
                                    <h4>Log</h4>
                                    <div ng-repeat="log in outcome.log">
                                        {{log}}
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>






            </uib-tab>



            <uib-tab heading="Existing Patients">
                <br />


                <div class="panel panel-default">

                    <div class="panel-body"  style="background-color: #ffffdd;">

                        <div class="row ">
                            <div class="col-md-2">
                                <select class="form-control" ng-model="input.patient" ng-change="showPatient(input.patient.resource)"
                                        ng-options = "entry as entry.resource.name[0].text for entry in outcome.samplePatientsBundle.entry">
                                    <option value="">-- choose patient --</option>

                                </select>



                            </div>

                            <div class="col-md-1">
                                <img ng-show="loadingPatient" src="css/ajax_loader_blue_32.gif"/>
                            </div>



                            <div class="col-md-7">
                                <p ng-bind-html="outcome.demographicsHtml"></p>
                            </div>

                            <div class="col-md-2" ng-show="currentPatient">
                                <a href="#" class="btn btn-link pull-right"  ng-show="global.state == 'new'"
                                   ng-click="global.state = 'view'">View Resources</a>

                                <a href="#" class="btn btn-link pull-right"  ng-show="global.state == 'view'"
                                   ng-click="global.state = 'new'">New Resource</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Include the profile-form directive that is the resource builder -->
                <div ng-show = "global.state == 'new' && currentPatient" class="row">

                    <div ng-controller="rbFrameCtrl">

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control" ng-model="input.profileType"
                                        ng-change="resourceTypeSelected(input.profileType.name)"
                                        ng-options="standardResourceDisplay(type) for type in standardResourceTypes">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-8 col-sm-8">

                            </div>
                        </div>

                        <!-- This is the profile for the resource builder. It will show and manage the whole resource builder UI-->
                        <ng-include src="'./includes/frameForBuilder.html'"></ng-include>
                    </div>



                </div>

                <div ng-show = "global.state == 'newNONONO' && currentPatient" class="row">
                    <div ng-controller="resourceCreatorCtrl">


                        <ng-include src="'/includes/resourceCreator.html'" onload="includeLoaded()"></ng-include>
                    </div>
                </div>



                <div ng-show = "global.state == 'view'" class="row">
                    <div class="col-md-2">
                        <h4>Resource Types</h4>
                        <div class="list-group">

                            <a href="#" class="list-group-item" ng-click="typeSelected(type)"
                               ng-repeat="type in outcome.resourceTypes ">
                                {{type.type}}
                                <span class="pull-right badge">{{type.bundle.total}}</span>
                            </a>

                        </div>
                        <div class="list-group">
                            <a ng-show="outcome.allResources" href="#" class="list-group-item" ng-click="getVitals()">Vitals</a>
                        </div>
                    </div>

                    <div class="col-md-10">


                        <!-- The vitals table -->
                        <table class="table table-bordered" ng-show="vitalsTable">
                            <tr>
                                <td>Item</td>
                                <td ng-repeat="date in vitalsTable.dates track by $index">
                                    <div>{{date | date : 'dd-MMM-yy hh:mm'}}</div>
                                    <div>{{date | getAge}}</div>
                                </td>
                            </tr>

                            <tr ng-repeat="row in vitalsTable.rows track by $index" >
                                <td title="{{row.code}}">{{row.display}}  ({{row.unit}})</td>

                                <td ng-repeat="item in row.cols track by $index">
                                    {{item.value}}
                                </td>
                            </tr>
                        </table>



                        <div class="row">
                            <div class="col-md-4">

                                <h4>{{outcome.selectedType}} resources</h4>
                                <div class="list-group">
                                    <a href="#" class="list-group-item"
                                       ng-repeat="entry in outcome.allResourcesOfOneType.entry">
                                        <div style="cursor: pointer" ng-click="resourceSelected(entry)">
                                            <ng-include src="'./includes/resourceDisplayTemplates.html'"></ng-include>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">

                                <div ng-show="outcome.selectedResource">



                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>{{outcome.selectedResource.resourceType}}/{{outcome.selectedResource.id}}</h4>
                                            <pre>{{outcome.selectedResource | json:2}}</pre>
                                        </div>

                                        <div class="col-md-4">
                                            <h4>Outward references</h4>

                                            <div class="list-group">
                                                <a href="#"class="list-group-item"
                                                    ng-repeat="reference in resourceReferences.outwardLinks"
                                                    ng-click="selectNewResource(reference,$event)">

                                                    <div>{{reference.element}} ==> {{reference.reference}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </a>
                                            </div>

                                            <h4>Inward references</h4>

                                            <div class="list-group">
                                                <a href="#" class="list-group-item"
                                                   ng-repeat="reference in resourceReferences.inwardLinks"
                                                    ng-click="selectNewResource(reference,$event)">

                                                    <div>{{reference.resource.resourceType}}/{{reference.resource.id}}.
                                                        {{reference.name}}</div>
                                                    <div><p ng-bind-html="reference.resource.text.div"></p></div>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>







            </uib-tab>



        </uib-tabset>

    </div>

</body>
</html>