<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>



    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>Resource survey</title>

    <script>

        angular.module("sampleApp",['ui.bootstrap','ui.checkbox']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").constant("moment", moment);


    </script>


    <script src="js/surveyCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
</head>
<body style="padding: 8px;padding-top: 80px">


<div ng-app="sampleApp" ng-controller="surveyCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-11 col-sm-11">
            <a class="navbar-brand" href="#">Resource usage survey</a>
        </div>

        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">

            </div>

        </div>
    </nav>

    <uib-tabset>
        <uib-tab heading="Survey">



            <div class="rounded-box-filled">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="input.name" placeholder="My Name"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="input.contact" placeholder="Email (optional)"/>
                    </div>
                    <div class="col-md-3">
                        <checkbox ng-model="input.selectedOnly"
                                  ng-click="selectedOnly(! input.selectedOnly)"></checkbox>
                        Only show selected resource types
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary pull-right" ng-click="submit()">Submit</button>
                    </div>
                </div>

            </div>

            <br/>

            <div class="row">
                <div class="col-md=3">
                    <table class="table table-bordered">
                        <tr>
                            <th width="20%">Resource type</th>
                            <th width="15%" width="15%">Deployment type</th>

                            <th>Notes</th>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" ng-model="input.filter"
                                       ng-change="setFilter(input.filter)"
                                       placeholder="Filter text"/>
                            </td>
                        </tr>
                        <tr ng-repeat = "row in lst" >

                            <td>
                                <checkbox ng-model="input.selected[row.name]"
                                          ng-click="checked(row)"></checkbox>
                                {{row.name}}
                            </td>


                            <td>
                                <div ng-show="input.selected[row.name]">

                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="input.deployType[row.name]" uib-btn-radio="'dev'">Dev / Test</label>
                                        <label class="btn btn-default" ng-model="input.deployType[row.name]" uib-btn-radio="'prod'">Production</label>

                                    </div>
                                </div>
                            </td>

<!--
                            <td>
                                <div ng-show="input.selected[row.name]">

                                    <checkbox ng-model="input.devtest[row.name]"
                                              ng-click="checked(row)"></checkbox>

                                </div>

                            </td>


                            <td>
                                <div ng-show="input.selected[row.name]">
                                <checkbox ng-model="input.production[row.name]"
                                          ng-click="checked(row)"></checkbox>
                                </div>
                            </td>

-->
                            <td>
                                <div ng-show="input.selected[row.name]">
                                    <textarea class="form-control" ng-model="input.notes[row.name]"></textarea>
                                </div>
                            </td>


                        </tr>
                    </table>
                </div>
            </div>

        </uib-tab>
        <uib-tab heading="Result so far...">

            <div class="rounded-box-filled">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <checkbox ng-model="input.showNotes"
                                      ng-click="showNotes(! input.showNotes)"></checkbox>
                            Show Notes
                        </div>

                    </div>
                </div>

            </div>

            <table class="table table-bordered">
                <tr><th width="20%">Resource type</th><th>Number of Responses</th><th>Dev/Test deployments</th><th>Production deployments</th><th>Notes</th></tr>
                <tr ng-repeat="res in results">
                    <td>{{res.type}}</td>
                    <td>{{res.count}}</td>
                    <td>{{res.dev}}</td>
                    <td>{{res.prod}}</td>
                    <td>
                        <div ng-show="input.showNotes" ng-repeat="note in res.notes">
                            {{note}}
                        </div>
                        <div ng-hide="input.showNotes">
                            <div ng-show="res.notes.length > 0">
                                ({{res.notes.length}})
                            </div>

                        </div>
                    </td>
                </tr>
            </table>



        </uib-tab>

    </uib-tabset>

</div>
</body>
</html>
