<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage','firebase']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>

    <style>
        .myForm {
            padding: 8px;
        }
        .taskListScroll {
            height: 900px;
            overflow-y: scroll;
        }

    </style>
    <script src="js/taskManagerCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/taskSvc.js"></script>


    <title>Task Manager</title>

</head>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="taskManagerCtrl" class="container-fluid">

    <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-2 col-sm-2">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Task Manager
                    </a>
                </span>

            </div>


            <div class="col-md-3 col-sm-3">
                <select ng-model="input.selectedModel" class="form-control navbar-text "
                        ng-change = "selectModel(input.selectedModel)"
                        ng-options="model.id for model in allModels"></select>
            </div>

            <div class="col-md-1 col-sm-1">
                <button class="btn btn-default  navbar-text" ng-click="refresh()">Refresh</button>
            </div>
            <div class="col-md-3 col-sm-3">
                <span style="cursor:pointer" ng-click='setServers()' class="navbar-text pull-right"> {{appConfigSvc.getCurrentConformanceServer().name}}</span>
            </div>

            <div class="col-md-2 col-sm-2">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>



                </form>


            </div>



            <div class="col-md-1 col-sm-1">

                <div class="nav navbar-form navbar-right" ng-hide="user">
                    <span style="font-size:1.8em; cursor: pointer"uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="nav navbar-form navbar-right" ng-show="user">
                    <span style="font-size:1.8em; cursor: pointer"
                          uib-popover="Current user: {{user.email}}. Click to log out"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">

                        <div href="#" ng-click="logout()"> <i class="glyphicon glyphicon-log-out"></i></div>
                    </span>
                </div>
            </div>

        </div>
    </nav>

    <uib-tabset>
        <uib-tab heading="Workflow">
            <br/>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <select ng-model="input.filterStatus" class="form-control"
                            ng-options="state.display for state in states"></select>
                    <div class="taskListScroll">
                        <table class="table table-bordered">
                            <tr><th>Path</th><th>Comment</th><th>Status</th><th>Notes</th></tr>
                            <tr ng-repeat="task in tasks | orderBy: 'path'" ng-show="canShowTask(task,input.filterStatus)">
                                <td><div ng-click="selectTask(task)" class="clickable">{{task.path | dropFirstInPath}}</div></td>
                                <td>{{task.description | limitTo :30}}</td>
                                <td>{{stateHash[task.status]}}</td>
                                <td>{{task.notes.length}}</td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="col-md-4 col-sm-4">

                    <uib-tabset>
                        <uib-tab heading="Details">

                            <div ng-show="localTask" >

                                <div class="row myForm">
                                    <div class="col-md-3">
                                        <div>
                                            <strong>Path</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        {{localTask.path}}
                                    </div>
                                </div>

                                <div class="row myForm">
                                    <div class="col-md-3">
                                        <div>
                                            <strong>Element Definition</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div>{{selectedEd.short}}</div>
                                        {{selectedEd.definition}}
                                    </div>
                                </div>

                                <div class="row myForm" ng-show="selectedEd.comment">
                                    <div class="col-md-3">
                                        <div>
                                            <strong>Element Comment</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        {{selectedEd.comment}}
                                    </div>
                                </div>


                                <div class="row myForm">
                                    <div class="col-md-3">
                                        <div>
                                            <strong>User comment</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        {{localTask.description}}
                                    </div>
                                </div>

                                <div class="row myForm">
                                    <div class="col-md-3">
                                        <strong>Email</strong>
                                    </div>
                                    <div class="col-md-9">
                                        {{localTask.requesterDisplay}}
                                    </div>
                                </div>

                                <div class="row myForm">
                                    <div class="col-md-3">
                                        <strong>Status</strong>
                                    </div>
                                    <div class="col-md-2">
                                        {{stateHash[localTask.status]}}
                                    </div>
                                    <div class="col-md-7">
                                        <div ng-show="localTask.status && user">
                                            <button class="btn btn-default" ng-click="changeState('received')"
                                                    ng-show="showStateChange('received',localTask.status)">Reviewed</button>

                                            <button class="btn btn-default"  ng-click="changeState('accepted')"
                                                    ng-show="showStateChange('accepted',localTask.status)">Accepted</button>

                                            <button class="btn btn-default"  ng-click="changeState('completed')"
                                                    ng-show="showStateChange('completed',localTask.status)">Completed</button>

                                            <button class="btn btn-default"  ng-click="changeState('declined')"
                                                    ng-show="showStateChange('completed',localTask.status)">Declined</button>

                                            <button class="btn btn-default"  ng-click="changeState('cancelled')"
                                                    ng-show="showStateChange('cancelled',localTask.status)">Cancelled</button>
                                        </div>
                                        <div ng-hide="user">
                                            <em>Please login to change the status or add a new note</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="row myForm">
                                    <div class="col-md-2">
                                        <strong>Notes</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <table class="table">
                                            <tr><th>Note</th><th>When</th><th>Who</th></tr>
                                            <tr ng-repeat="note in localTask.notes track by $index">
                                                <td>{{note.text}}</td>
                                                <td>{{note.time | getAgeSeconds}}</td>
                                                <td>{{note.authorString}}</td>

                                            </tr>
                                            <tr ng-show="user">
                                                <td >
                                                    <textarea class="form-control" ng-model="input.note"></textarea>

                                                    <div>
                                                        <button class="btn btn-link pull-right" ng-show="input.note"
                                                                ng-click="addNote(input.note)">Add note</button>
                                                    </div>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>



                        </uib-tab>
                        <uib-tab ng-show="localTask" heading="Status change history">
                            <button  style="margin: 8px" class="btn btn-primary pull-right" ng-click="refreshHistory()">Load history</button>

                            <table class="table table-bordered" ng-show="statusHistory">
                                <tr><th>Date</th><th>Status</th><th>Reason</th></tr>
                                <tr ng-repeat="task in statusHistory">
                                    <td>{{task.meta.lastUpdated | getPrettyDate}}</td>
                                    <td>{{stateHash[task.status]}}</td>
                                    <td>{{task.statusReason.text}}</td>
                                </tr>
                            </table>

                        </uib-tab>
                        <uib-tab heading="Json">
                            <strong>FHIR Task resource</strong>
                            <pre>{{fhirTask | json}}</pre>

                            <strong>Local Task object</strong>
                            <pre>{{localTask | json}}</pre>

                        </uib-tab>
                    </uib-tabset>


                </div>
                <div class="col-md-4 col-sm-4">
                    <h4>State Diagram</h4>
                    <img src="artifacts/workFlowState.png"/>

                </div>





            </div>

        </uib-tab>
        <uib-tab heading="Report">
            <br/>
            <table class="table table-bordered">
                <tr><th>Path</th><th>Status</th><th>Comment</th><th>Email</th><th>Notes</th></tr>
                <tr ng-repeat="task in tasks | orderBy: 'path'">
                    <td>{{task.path | dropFirstInPath}}</td>
                    <td>{{task.state}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.requesterDisplay}}</td>
                    <td>
                        <div ng-repeat="note in task.notes">
                            <div class="row">
                                <div class="col-sm-8 col-md-8">
                                    {{note.text}}
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    {{note.authorString}}
                                </div>
                            </div>
                        </div>


                        </td>

                </tr>
            </table>

        </uib-tab>
    </uib-tabset>


</div>
</body>
</html>