<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    !-->

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>
    <script src="js/libs/moment.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>Teams</title>


    <script>


        angular.module("sampleApp",['ui.bootstrap','ngStorage','firebase']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("sampleApp").constant("moment", moment);


    </script>

    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>


    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/teamsCtrl.js"></script>
    <script src="js/teamsSvc.js"></script>

    <script src="js/filters.js"></script>

    <!--
        <script src="js/appConfigSvc.js"></script>
    <script src="js/launcherCtl.js"></script>
    <script src="js/setServers.js"></script>
        <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/logicalModelSvc.js"></script>
    <script src="js/loginCtrl.js"></script>
    -->

</head>
<body style="padding: 8px;padding-top: 80px">


<div ng-app="sampleApp" ng-controller="teamsCtrl" class="container-fluid" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-11 col-sm-11">
            <a class="navbar-brand" href="#">clinFHIR Teams prototype</a>
        </div>

        <div class="col-md-1 col-sm-1">
            <div class="navbar-text">
                <button class="btn btn-primary" ng-click="reset()">Reset</button>
            </div>

        </div>



    </nav>

    <uib-tabset>
        <uib-tab heading="Manage Teams">
            <br/>
           <div class="row">
                <div class="col-md-2 col-sm-2">
                    <strong>Organizations</strong>
                    <select class="form-control" ng-model="input.organization"
                            ng-change="selectOrganization(input.organization)"
                            ng-options = "org.display for org in organizations"></select>
                    <br/>
                    <strong>Teams</strong>
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,listItemSelected:team1==team}" ng-repeat="team1 in teams track by $index"
                             ng-click="selectTeam(team1)" style="cursor: pointer" ng-show="team1.managingOrganization.id == input.organization.id">
                            {{team1.name}}
                            <i class="glyphicon glyphicon-minus-sign pull-right clickable" ng-click="removeTeam($index)"></i>

                            <!--
                            <i class="glyphicon glyphicon-edit pull-right clickable iconSpacing" ng-click="editTeam($index)"></i>
                            -->

                        </div>
                    </div>
                    <i class="glyphicon glyphicon-plus-sign pull-right clickable" ng-click="editTeam()"></i>



                </div>

                <div class="col-md-10 col-sm-10" ng-show="team">

                            <br/>


                            <div class="row">
                                <div class="col-md-2">
                                    <strong>Name</strong>
                                </div>
                                <div class="col-md-3">
                                    <strong>Purpose</strong>
                                </div>
                                <div class="col-md-3">
                                    <strong>Services</strong>
                                </div>
                                <div class="col-md-2">
                                    <strong>Coverage</strong>
                                </div>
                                <div class="col-md-2">
                                    <strong>Contact</strong>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-2">
                                    {{team.name}}
                                </div>
                                <div class="col-md-3">
                                    {{team.purpose}}
                                </div>
                                <div class="col-md-3">
                                    <div class="row" ng-repeat="service in team.service">
                                        <div class="col-sm-12 col-md-12">
                                            {{service.display}}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{team.coverage}}
                                </div>
                                <div class="col-md-2">
                                    <div class="row" ng-repeat="contact in team.contact">
                                        <div class="col-sm-3 col-md-3">
                                            {{contact.system}}
                                        </div>
                                        <div class="col-sm-9 col-md-9">
                                            {{contact.value}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <i class="glyphicon glyphicon-edit pull-right clickable iconSpacing" ng-click="editTeam(team)"></i>

                            <hr/>
<!-- temp hiding - don't delete...

                            <strong>Locations</strong> <span class="badge">{{team.location.length}}</span>
                            <i class="glyphicon glyphicon-plus-sign clickable" ng-click="editLocation()"></i>
                            <table class="table table-bordered">
                                <tr><th>Name</th><th>Hours</th><th>Contact</th><th>Action</th></tr>
                                <tr ng-repeat = "location in team.location">
                                    <td>{{location.display}}</td>
                                    <td>{{location.hours}}</td>

                                    <td>
                                        <div class="row" ng-repeat = "contact in location.contact">
                                            <div class="col-sm-3 col-md-3">
                                                {{contact.type}}
                                            </div>
                                            <div class="col-sm-9 col-md-9">
                                                {{contact.value}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <i class="glyphicon glyphicon-minus-sign pull-right clickable" ng-click="removeLocation($index)"></i>
                                    </td>
                                </tr>
                            </table>

-->

                            <strong>Members</strong> <span class="badge">{{team.member.length}}</span>

                            <i class="glyphicon glyphicon-plus-sign clickable" ng-click="editMember()"></i>

                            <table class="table table-bordered">
                                <tr><th>Name</th><th>CPN</th><th>Role</th><th>Qualifications</th><th>Contacts</th><th>Action</th></tr>
                                <tr ng-repeat = "member in team.member">
                                    <td>{{member.name}}</td>
                                    <td>{{member.CPN}}</td>
                                    <td>{{member.role.display}}</td>
                                    <td>
                                        {{qual}}
                                        <div ng-repeat = "qual in member.qualification">
                                            {{qual.codeDisplay}}

                                        </div>
                                    </td>
                                    <td>
                                        <div class="row" ng-repeat = "contact in member.contact">
                                            <div class="col-sm-3 col-md-3">
                                                {{contact.type}}
                                            </div>
                                            <div class="col-sm-9 col-md-9">
                                                {{contact.value}}

                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <i class="glyphicon glyphicon-minus-sign pull-right clickable iconSpacing" ng-click="removeMember($index)"></i>
                                        <!--
                                        <i class="glyphicon glyphicon-edit pull-right clickable iconSpacing" ng-click="editMember($index)"></i>
                                        -->
                                    </td>
                                </tr>
                            </table>









                </div>

            </div>

            <div  class="rounded-box">
                <em>This is a management screen that allows teams to be created, edited and deleted. The intent is to capture the
                    data requirements for teams - you could imagine a DHB or PHO Administration using a screen like this. The degree to
                    which the data will be structured / coded will improve as the design evolves - to start with a lot of the elements
                    are just text, but will become picklists and structured data eventually.</em>

            </div>

        </uib-tab>
        <uib-tab heading="Query Teams">
            <em>This will list / demonstrate the queries that the teams API will support. It is envisaged that other applications
            will use these API's as part of their operation. The API's will include update as well as query capability.</em>
        </uib-tab>
        <uib-tab heading="Log of FHIR Interactions">
            <em>Queries to the FHIR server will be listed here. Purely for technical analysis & design</em>
        </uib-tab>
        <uib-tab heading="CareTeam Json">
            <pre>{{team.resource | json}}</pre>
        </uib-tab>

    </uib-tabset>





</div>
</body>
</html>
