<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">

    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>


    <style>
        .error {
            color:red;
        }
    </style>

    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage','firebase']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script>
        var config = {
            apiKey: "AIzaSyBNMohLbPiSKwpGwfARopdeW_6LLXujcUo",
            authDomain: "clinfhir.firebaseapp.com",
            databaseURL: "https://clinfhir.firebaseio.com",
            storageBucket: ""
        };

        //  console.log(firebase)
        if (firebase) {
            firebase.initializeApp(config);

        }
    </script>


    <style>
        .myForm {
            padding: 8px;
        }
        .taskListScroll {
            height: 900px;
            overflow-y: scroll;
        }

    </style>
    <script src="js/taskManagerCtl.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/validateResourceCtrl.js"></script>


    <title>Resource Validator</title>

</head>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="validateSampleCtrl" class="container-fluid">

    <nav ng-hide="startupParams.hideNav" class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-7 col-sm-7">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Resource Validator
                    </a>
                </span>
            </div>

            <div class="col-md-2 col-sm-2">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>



            <div class="col-md-3 col-sm-3">

                <div class="nav navbar-form navbar-right" ng-hide="user">
                    <span style="font-size:1.8em; cursor: pointer"uib-popover="Click to log in"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">
                        <div ng-click="login()">
                            <i class="glyphicon glyphicon-log-in"></i>
                        </div>
                    </span>
                </div>

                <div class="nav navbar-form navbar-right" ng-show="user">
                    <span style="font-size:1.8em; cursor: pointer"
                          uib-popover="Current user: {{user.email}}. Click to log out"
                          popover-placement="left"
                          popover-trigger="'mouseenter'">

                        <div href="#" ng-click="logout()"> <i class="glyphicon glyphicon-log-out"></i></div>
                    </span>
                </div>
            </div>

        </div>
    </nav>



    <div class="row">
        <div class="col-md-2">
            <strong>Select the validation servers </strong>
            <div ng-repeat = "server in allServers">
                <input type="checkbox" ng-model="server.selected" /> {{server.display}}
                <span class="pull-right" ng-if="server.local"><button class="btn btn-link" ng-click="removeServer(server)">Remove</button> </span>
            </div>

            <button class="btn btn-link" ng-click="addServer()">Add Server</button>

            <button ng-show="input.resource" class="btn btn-primary pull-right" ng-click="validate()">Validate</button>

        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="The url to retrieve the resource to validate" ng-model="queryUrl"/>

                </div>
                <div class="col-md-2">
                    <button ng-show="queryUrl" class="btn btn-link" ng-click="fetchResource(queryUrl)">Fetch</button>
                </div>
            </div>

            <textarea class="form-control" rows="20" ng-model="input.resource"
            placeholder="Paste the resource (XML or Json) and click 'validate'"></textarea>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="The canonical url of the profile to validate against (if any)" ng-model="profileUrl"/>

                </div>
                <div class="col-md-2">

                </div>
            </div>


        </div>


        <div class="col-md-5">


            <uib-tabset>
                <uib-tab heading="Summary">
                    <br/>
                    <table class="table">
                        <tr><th>Server</th><th>Warnings</th><th>Errors</th></tr>
                        <tr ng-repeat = "svr in allServers" ng-if="svr.selected">
                            <td>{{svr.display}}</td>
                            <td>{{svr.cntWarning}}</td>
                            <td>{{svr.cntError}}</td>
                        </tr>
                    </table>

                </uib-tab>

                <uib-tab ng-repeat="svr in allServers" ng-show="svr.selected" heading="{{svr.display}}">

                    <uib-tabset>
                        <uib-tab heading="Details">
                            <table class="table table-bordered">
                                <tr><th>Location</th><th>Diagnostics</th><th>Severity</th></tr>
                                <tr ng-repeat = "iss in svr.response.issue"
                                    ng-class="{error:iss.severity=='error'}">
                                    <td>
                                        <div ng-repeat = 'l in iss.location'>
                                            {{l}}
                                        </div>
                                    </td>
                                    <td>{{iss.diagnostics}}
                                        <div>{{iss.details.text}}</div>
                                        <div ng-repeat="exp in expression">
                                            {{exp}}
                                        </div>

                                    </td>
                                    <td>{{iss.severity}}</td>

                                </tr>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Json">

                            <pre>{{svr.response | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Server">

                            Url: {{svr.url}}
                        </uib-tab>
                    </uib-tabset>

                </uib-tab>
            </uib-tabset>

<!--
            ==========================
            <h4 ng-show="oo">Outcome of Validation</h4>

            <uib-tabset>
                <uib-tab heading="Details">

                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{oo | json}}</pre>
                </uib-tab>
            </uib-tabset>




            <table ng-show="oo" class="table table-bordered">
                <tr><th>Location</th><th>Diagnostics</th><th>Severity</th></tr>
                <tr ng-repeat = "iss in oo.issue"
                    ng-class="{error:iss.severity=='error'}">
                    <td>
                        <div ng-repeat = 'l in iss.location'>
                            {{l}}
                        </div>
                    </td>
                    <td>{{iss.diagnostics}}</td>
                    <td>{{iss.severity}}</td>

                </tr>
            </table>
-->
        </div>
    </div>







</div>
</body>
</html>