<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <script src="js/libs/angular-sanitize.js"></script>



    <script>
        angular.module("sampleApp",['ui.bootstrap','ngStorage','ngSanitize']).config(function($locationProvider) {
            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);

    </script>

    <script src="js/viewIPSCtrl.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/filters.js"></script>
    <title>View IPS</title>

    <style>

        patientBanner {
            border: 1px solid #b8b9b5;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 2px;
            margin-bottom: 5px;
            background-color: #F6F6F6;

        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            font-weight: bold;
        }
        thead {
            font-weight: bold;
        }

    </style>

</head>


<body style="padding: 8px;padding-top: 80px" >

<div ng-app="sampleApp" ng-controller="viewIPSCtrl" class="container-fluid">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-4">
                <span>
                    <a class="navbar-brand" href="#">
                        View IPS Document
                    </a>
                </span>

            </div>

            <div class="col-md-4">


            </div>
            <div class="col-md-3">
                <div class="navbar-text">

                </div>

            </div>

            <div class="col-md-1">
                <div class="navbar-text">
                </div>

            </div>


            <div class="col-md-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>

        </div>

    </nav>

    <!--
        <div class="row">
        <div class="col-md-1">NHI</div>
        <div class="col-md-2"><input type="text" class="form-control" ng-model="input.nhi"/> </div>
        <div class="col-md-1"><button class="btn btn-primary" ng-click="load(input.nhi)">Load</button></div>
        <div class="col-md-8">{{qry}}</div>
    </div>
    -->
    <div class="row">
        <div class="col-md-2">
            <select ng-model="input.endpoint" class= "form-control"
                    ng-change="selectEP(input.endpoint)"
                    ng-options = "ep.name for ep in endPoints"></select>
        </div>
        <div class="col-md-1"><button class="btn btn-primary" ng-click="load(input.endpoint)">Load</button></div>
        <div class="col-md-9">{{qry}}</div>
    </div>

    <uib-tabset ng-show="composition">
        <uib-tab heading="Display">
            <br/>
            <div class="banner">
                {{patient.name[0].family}} <span ng-repeat="f in patient.name[0].given">, {{f}}</span>
                {{patient.gender}} {{patient.birthDate}} ({{patient.birthDate | getAge}})
            </div>

            <div ng-repeat="section in composition.section">
                <div><h4>{{section.title}}</h4></div>

                <p ng-bind-html="to_trusted(section.text.div)"></p>

            </div>
        </uib-tab>

        <uib-tab heading="Resources">
            <div class="row">
                <div class="col-md-4">
                    <div class="myScroll1">
                        <div ng-repeat="section in composition.section">
                            <div><h4>{{section.title}}</h4></div>
                            <div class="list-group">
                                <div class="list-group-item"
                                     style="cursor: pointer"
                                     ng-click="selectResource(ref)"
                                     ng-repeat="ref in section.entry">
                                    {{ref.reference}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <uib-tabset>
                        <uib-tab heading="Json">
                            <pre>{{selectedResource | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Validate">
                            <div class="btn btn-primary" ng-click="validate(selectedResource)">Validate</div>

                            <pre>{{OO | json}}</pre>

                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Json">
            <pre>{{ips | json}}</pre>
        </uib-tab>

    </uib-tabset>




</div>
</body>
</html>