<div>

    <div class="form-group">
        <div class="row" ng-show="vsReference">

            <div class="col-md-12 col-sm-12">

                <div ng-switch on="vsDetails.type">

                    <div ng-switch-when="list">
                        <div class="row">
                            <div class="col-md-4 col-sm-4" ng-repeat = "option in valueSet.expansion.contains">
                                <input type="radio" ng-model="results.cc" name="name" value="{{option}}"  />
                                <span title="{{option.system}}">{{option.display}}</span>
                            </div>
                        </div>

                    </div>
                    <div ng-switch-default>

                        <uib-tabset>
                            <uib-tab heading="Select from Binding">
                                <br/>

                                <div ng-show="showScopingValueSet">
                                    <!-- Used by the ValueSet creator to allow the ValueSet that scopes the search to be selected-->

                                </div>

                                <div class="row">
                                    <div class="col-md-7 col-sm-7">
                                        <strong>Search Text</strong>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <a class="btn btn-link pull-right" ng-click="showVSBrowserDlg()">Explore ValueSet</a>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 5px">

                                    <div class="col-md-9 col-sm-9">
                                        <input type="text" ng-model="results.cc"
                                               placeholder="{{vsDetails.id}} (minimum {{vsDetails.minLength}} characters)"
                                               typeahead-min-length="3"
                                               typeahead-wait-ms="1000"
                                               typeahead-on-select="selectCCfromList($item, $model, $label)"
                                               uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails)"
                                               class="form-control"/>

                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <input type="text" value="{{results.cc.code}}" disabled="disabled" class="form-control pull-right">

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-9 col-sm-9">
                                        <input type="text" class="form-control" placeholder="Enter text if a suitable code cannot be found"
                                               ng-model="results.ccText"/>
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Enter directly / Navigate in the hierarchy">
                                <br/>


                                <div class="row">

                                    <div class="col-md-5 col-sm-5">

                                        <input type="text" uib-typeahead = "system for system in codeSystems"
                                               class="form-control" placeholder="System Uri"
                                               ng-model="results.ccDirectSystem"/>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <input type="text" class="form-control" placeholder="Code"
                                               ng-model="results.ccDirectCode"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="btn btn-primary" ng-click="lookupCode(results.ccDirectSystem,results.ccDirectCode)"
                                                ng-disabled="!results.ccDirectCode || !results.ccDirectSystem">Lookup</button>
                                    </div>


                                </div>

                                <br/>
                                <div class="row">

                                    <div class="col-md-9 col-sm-9">

                                        <input type="text" class="form-control" placeholder="The display (text) of the code"
                                               ng-model="results.ccDirectDisplay"/>
                                    </div>

                                </div>
<!--
                                <pre ng-show="lookupResult">{{lookupResult | json}}</pre>
-->
                                <hr/>
                                <div ng-show="terminologyLookup">
                                    <div class="row">
                                        <div class="col-md-2">
                                            Parents
                                        </div>
                                        <div class="col-md-10">
                                            <div ng-repeat = "parent in terminologyLookup.parent">
                                                <div style="cursor:pointer" ng-click="selectParentCC(parent)">
                                                    {{parent.description}} ({{parent.value}})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            Children
                                        </div>
                                        <div class="col-md-10">
                                            <ul class="list-unstyled">
                                                <li ng-repeat="child in terminologyLookup.children">
                                                    <div style="cursor:pointer" href="#" ng-click="selectChildTerm(child.value,child.description)">
                                                        {{child.description}} ({{child.value}})</div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>


                            </uib-tab>
                        </uib-tabset>

                    </div>


                </div>
            </div>


        </div>
    </div>





    <!-- If there's a list, then no text option...
    <div ng-hide="vsDetails.type=='list'">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <input type="text" class="form-control" placeholder="Enter text if a suitable code cannot be found"
                       ng-model="results.ccText"/>
            </div>
            <div class="col-md-3 col-sm-3">

            </div>
        </div>

    </div>
    -->


    <div ng-hide="vsReference">
        <br />

        <input type="text" class="form-control" placeholder="Enter text if a suitable code cannot be found"
               ng-model="results.ccText"/>

        <em>
            There was no ValueSet referenced by the profile (using a valueSetReference property in the Binding).
            You can enter a textual value, but not select a coded item from a list
        </em>
    </div>

</div>