<div>

    <div class="form-group">
        <div class="row" ng-show="vsReference">

            <div class="col-md-8 col-sm-8">

                <div ng-switch on="vsDetails.type">

                    <div ng-switch-when="list">
                        <div class="row">
                            <div class="col-md-4 col-sm-4" ng-repeat = "option in valueSet.expansion.contains">
                                <input type="radio" ng-model="results.coding" name="name" value="{{option}}"  />
                                <span title="{{option.system}}">{{option.display}}</span>
                            </div>
                        </div>

                    </div>
                    <div ng-switch-default>




                        <input type="text"  ng-model="results.coding"
                               placeholder="enter search text against {{vsDetails.id}} (minimum {{vsDetails.minLength}} characters)"
                               typeahead-min-length={{vsDetails.minLength}}
                               typeahead-wait-ms="1000"
                               typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails.id)"
                               class="form-control"/>
                    </div>


                </div>
            </div>


            <div class="col-md-4 col-sm-4">
                <a class="btn btn-link pull-right" ng-click="showVSBrowserDlg()">Explore ValueSet</a>
            </div>
        </div>
    </div>



    <div ng-hide="vsReference">
        There was no ValueSet referenced by the profile (using a valueSetReference property in the Binding).
        You can enter a textual value, but not select a coded item from a list
    </div>

</div>