<div>


    <div class="row">
        <div class="col-md-2 col-sm-2">Use</div>
        <div class="col-md-10 col-sm-10">

            <span ng-repeat="option in ['home','work','temp','old','mobile']">
                <input type="radio" ng-model="results.ct.use" name="CpUseName" value="{{option}}"  />
                <span>{{option}}&nbsp;&nbsp; </span>
            </span>


        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-2">System</div>
        <div class="col-md-10 col-sm-10">
                             <span ng-repeat="option in ['phone','fax','email','url']">
                                    <input type="radio" ng-model="results.ct.system" name="CpSystemName" value="{{option}}"  />
                                    <span>{{option}}&nbsp;&nbsp; </span>
                                </span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-2">Value</div>
        <div class="col-md-10 col-sm-10"><input type="text" class="form-control" ng-model="results.ct.value"/></div>

    </div>

</div>