<div>

    <div class="row">
        <div class="col-md-2 col-sm-2">Use</div>
        <div class="col-md-10 col-sm-10">

            <span ng-repeat="option in ['usual','official','temp','nickname','old','maiden']">
                <input type="radio" ng-model="results.hn.use" name="HnName" value="{{option}}"  />
                <span>{{option}}&nbsp;&nbsp; </span>
            </span>


        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2 col-sm-2">First Name</div>
        <div class="col-md-10 col-sm-10"><input type="text" class="form-control" ng-model="results.hn.fname"/></div>

    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">Last Name</div>
        <div class="col-md-10 col-sm-10"><input type="text" class="form-control" ng-model="results.hn.lname"/></div>

    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2">Text</div>
        <div class="col-md-10 col-sm-10"><input type="text" class="form-control" ng-model="results.hn.text"/></div>

    </div>

</div>