<div>
    <div class="row">
        <div class="col-md-6 col-sm-6 ">
            <div uib-datepicker ng-model="results.date_start"
                            class="well well-sm"></div>
        </div>

        <div class="col-md-6 col-sm-6 ">
            <div uib-datepicker ng-hide="results.period.startOnly" ng-model="results.date_end"
                             class="well well-sm"></div>
        </div>
    </div>

    <input type="checkbox" ng-model="results.period.startOnly"> Only have start date
</div>

