<div>
    <div>{{profileUrlInReference}}</div>

    <!-- ng-hide="allResourceTypesIndexedByType[item.type].reference"> -->
    <div class="row" style="margin-bottom: 8px" ng-show= "uniqueResources">
        <!-- If uniqueResources is not null, this can select any resource-->
        <div class="col-md-3 col-sm-3">
            Types
        </div>

        <div class="col-md-6 col-sm-6">
            <select class="form-control" ng-model="results.uniqueResourceType"
                    ng-change="resourceTypeSelected(results.uniqueResourceType)"
                    ng-options="res.display for res in uniqueResources ">
                <option></option>
            </select>
        </div>

        <div class="col-md-3 col-sm-3">
            <a href='#' class="pull-right" ng-click="searchResource()">Search for Resource</a>
        </div>

    </div>

    <div class="row" ng-show="resourceList.length > 0">
        <div class="col-md-3 col-sm-3">
            Existing Resources
        </div>
        <div class="col-md-8 col-sm-8">
            <select class="form-control" ng-model="results.resourceItem"
                    ng-change="resourceReferenceSelected()"
                    ng-options="resource.display for resource in resourceList">
                <option></option>
            </select>
        </div>
        <div class="col-md-1 col-sm-1">
            <div class="badge">{{resourceList.length}}</div>
        </div>
    </div>

    <div class="row" ng-show="resourceList.length > 0">
        <div class="col-md-11 col-sm-11">
            <div class="pull-right">
                <button class="btn btn-link" ng-click="selectFromResourceList(resourceList)">
                    show all {{resourceType}} Resources</button>
            </div>
        </div>
    </div>




    <div class="row>">
        <div class="col-md-12 col-sm-12">

            <button ng-show="selectedReferenceResourceType.reference" class="btn btn-link pull-right"
                    ng-click="searchResource()">Search for {{resourceType}} Resource</button>

            <div ng-hide="selectedReferenceResourceType.reference">

                <em>
                    <br />
                    The {{resourceType}} resource type is always associated with a patient, so
                    if it's not in the list above (or there is no list), then
                    you need to park the current resource, create a new resource of the required type
                    for this patient, and then you can retrieve this parked resource, and the new resource will be in the list.

                </em>
            </div>

        </div>

    </div>

    <div ng-show="selectedReferenceResourceType.reference" class="row>">
        <div class="col-md-2 col-sm-2">
            <div>Text</div>
        </div>
        <div class="col-md-9 col-sm-9">
            <input type="text" class="form-control" ng-model="results.resourceItemText"
                   placeholder="The reference display text (optional)"/>
        </div>
    </div>

    <div ng-hide="selectedReferenceResourceType.reference" class="row">
        <div class="col-md-11 col-sm-11">
            <div class="pull-right">
                <button class="btn btn-link" ng-click="findResourceOtherPatient(resourceType)">
                    find {{resourceType}} Resources for another patient</button>
            </div>
        </div>
    </div>


</div>