<div>

    <div class="row" style="margin-bottom: 8px">
        <div class="col-md-3 col-sm-3">Selector</div>
        <div class="col-md-9 col-sm-9">


            <select class="form-control" ng-model="input.dosageTiming"
                    ng-change="updateTimingDetails(input.dosageTiming)"
                    ng-options="option.description for option in timingArray">
                <option></option>
            </select>
    <!--
            <input class="form-control" type="text" ng-model="input.dt.dosage.timingDescription.description"/>
    -->
        </div>


    </div>



    <div class="row">
        <div class="col-md-3 col-sm-3">Duration</div>
        <div class="col-md-3 col-sm-3">Units</div>
        <div class="col-md-3 col-sm-3">freq</div>
        <div class="col-md-3 col-sm-3">freqMax</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.duration"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.units"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.freq"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.freq_max"/>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 col-sm-3">Period</div>
        <div class="col-md-3 col-sm-3">PeriodMax</div>
        <div class="col-md-3 col-sm-3">Units</div>
        <div class="col-md-3 col-sm-3">When</div>

    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.period"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.period_max"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control"  ng-model="input.dt.dosage.timing.period_units"/>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control" ng-model="input.dt.dosage.timing.when"/>
        </div>

    </div>

</div>