<div>


    <style>


        .formScroll {
            height: 900px;
            overflow-y: scroll;
        }
        .dottedUnderline {
            border-bottom: 1px dotted darkblue;
            text-decoration: none;
        }

    </style>
    <div class=" rounded-box">
        <div class="row">
            <div class="col-md-3">
                <strong>Sample Form</strong>
            </div>
            <div class="col-md-6">
                <div uib-popover-html="showPatientSummary()"
                     popover-trigger="'mouseenter'"

                     popover-placement="bottom">
                    <span class="dottedUnderline pull-right">
                        {{ResourceUtilsSvc.getOneLineSummaryOfResource(patient)}}
                    </span>

                </div>

            </div>
            <div class="col-md-1">
                <img style="padding-top: 12px" ng-show="waiting" src="css/ajax_loader_blue_32.gif"/>
            </div>
            <div class="col-md-2">
                <i class="glyphicon glyphicon-refresh pull-right clickable"
                   popover-placement="top" popover-trigger="'mouseenter'"
                   uib-popover="Refresh the model"
                   ng-click="refreshModel()"></i>
            </div>
        </div>
    </div>


    <uib-tabset>
        <uib-tab heading="Editor">
            <br/>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="formScroll">
                        <div class="list-group">
                            <div ng-class="{'list-group-item':1==1,'list-group-item-info':section.code == selectedSection.code}"
                                 ng-repeat="section in sections" ng-click="selectSection(section)">
                                <span style="cursor: pointer" >{{section.title}}</span>
                                <span ng-show="section.code == section.masterCode && section.canRepeat">
                                <i class="glyphicon glyphicon-plus-sign pull-right"
                                   popover-placement="top" popover-trigger="'mouseenter'"
                                   uib-popover="Add a new section"
                                   ng-click="addSection(section)"></i>
                            </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">

                    <div ng-show="selectedInstance">
                   <div class="row">
                       <div class="col-md-10 col-sm-10">
                           <div class="banner">{{selectedInstance.section.title}}</div>
                       </div>
                       <div class="col-md-2 col-sm-2">

                           <div ng-show="selectedInstance.section.profile">
                               <i class="glyphicon glyphicon-flash clickable pull-right"
                                    style="padding-right: 8px"
                                  popover-placement="right" popover-trigger="'mouseenter'"
                                  uib-popover="Can add {{selectedInstance.section.profile}} resources from patient data"
                                  ng-click="prePopRepeats(selectedInstance.section)">

                               </i>
                           </div>

                        </div>
                    </div>


                    <table class="table">
                        <tr ng-repeat="child in selectedInstance.children">
                            <td>{{child.text}} <span ng-show="child.multiple">*</span></td>
                            <td>
                                <div ng-show="child.multiple">
                                    <div ng-repeat = "value in child.values track by $index">
                                        {{value.value}}
                                    </div>
                                    <input ng-model="input.newValue[child.id].new" class="form-control"
                                           ng-focus="selectChild(child)"
                                           ng-blur="addValue(child,input.newValue[child.id].new,true)"/>
                                </div>
                                <div ng-hide="child.multiple">
                                    <input value="input.newValue[child.id][0].value" ng-model="input.newValue[child.id]"
                                           ng-focus="selectChild(child)"
                                           class="form-control"  ng-blur="addValue(child,input.newValue[child.id],false)"/>
                                </div>

                            </td>

                            <td>
                                <div ng-show="child.vs.vs.url">
                                    <i class="glyphicon glyphicon-edit clickable pull-right"
                                       popover-placement="right" popover-trigger="'mouseenter'"
                                       uib-popover="{{child.vs.vs.url}} ({{child.vs.strength}})"
                                       ng-click="viewVS(child.vs.vs.url,child,false)">

                                    </i>
                                </div>


                            </td>


                        </tr>
                    </table>
                </div>

                </div>
                <!-- temp
                <div class="col-md-4 col-sm-4">
                    <div ng-repeat="section in document.sections">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <strong>{{section.code | dropFirstInPath}}</strong>
                            </div>
                        </div>

                        <div ng-repeat="value in section.values" class="row">
                            <div class="col-md-3 col-sm-3">

                            </div>
                            <div class="col-md-2">
                                {{value.field}}
                            </div>
                            <div class="col-md-6">
                                {{value.value}}
                            </div>
                            <div class="col-md-1">


                            </div>

                        </div>
                        <hr/>

                    </div>
                </div>

                -->
            </div>

        </uib-tab>
        <uib-tab heading = 'Full document'>
            <div ng-repeat="section in document.sections">
                <div class="row">
                    <div class="col-md-12">
                        <strong>{{section.code | dropFirstInPath}}</strong>
                    </div>
                </div>

                <div ng-repeat="value in section.values" class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-2">
                        {{value.field}}
                    </div>
                    <div class="col-md-6">
                        {{value.value}}
                    </div>
                    <div class="col-md-1">


                    </div>

                </div>
                <hr/>

            </div>

        </uib-tab>
        <uib-tab heading = 'Json'>
            <pre>{{document | json}}</pre>
        </uib-tab>
        <uib-tab heading = 'Values'>
            <pre>{{input.newValue | json}}</pre>
        </uib-tab>

        <uib-tab heading = 'Instances'>
            <pre>{{sectionInstances | json}}</pre>
        </uib-tab>

    </uib-tabset>

    <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                concept-selected="codeSelected"></vs-browser>

</div>