<div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-7 col-sm-7">
                <h3 ng-hide="currentItem" class="modal-title">Add Concept Map Item</h3>
                <h3 ng-show="currentItem" class="modal-title">Edit Concept Map Item</h3>
            </div>

            <div class="col-md-5 col-sm-5">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show="input.source" ng-click="add()">
                        <span ng-hide="currentItem">Add</span>
                        <span ng-show="currentItem">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

       <div class="row">
           <div class="col-md-4 col-sm-4">
               Source Code
           </div>
           <div class="col-md-8 col-sm-8">
               <!-- disable by setting length to 100-->
               <input ng-show = "sourceVS" type="text" class="form-control" autofocus ng-model="input.source"

                      placeholder="vs={{sourceSystem}}"
                      typeahead-min-length="100"
                      typeahead-wait-ms="1000"
                      typeahead-on-select="selectCCfromList($item, 'source')"
                      uib-typeahead="opt as opt.display for opt in vsLookup('source',$viewValue)"/>
               <input ng-hide = "sourceVS" type="text" class="form-control" autofocus ng-model="input.source"/>
               <div>{{input.sourceDisplay}}</div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                Equivalence
            </div>
            <div class="col-md-8 col-sm-8">
                <select ng-model="input.eq" class="form-control" ng-options="eq for eq in equivalence">

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                Target Code
            </div>
            <div class="col-md-8 col-sm-8">
                <input ng-show = "targetVS" type="text" class="form-control" autofocus ng-model="input.target"

                       placeholder="vs={{targetSystem}}"
                       typeahead-min-length="100"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="selectCCfromList($item, 'target')"
                       uib-typeahead="opt as opt.display for opt in vsLookup('target',$viewValue)"/>
                <input ng-hide = "sourceVS" type="text" class="form-control" autofocus ng-model="input.target"/>
                <div>{{input.targetDisplay}}</div>


                <!--
                <input type="text" class="form-control" ng-model="input.target"/>
                -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-sm-4">
                Comment
            </div>
            <div class="col-md-8 col-sm-8">
                <textarea class="form-control" ng-model="input.comment"></textarea>
            </div>
        </div>
   </div>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <em>Add or update a single mapping within a ConceptMap</em>

            </div>

        </div>



    </div>
</div>