
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 class="modal-title">Add a context</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button ng-show="input.path" class="btn btn-success pull-right" ng-click="add()">
                    Add
                </button>
                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

            </div>

        </div>

    </div>
    <div class="modal-body">


        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4 col-sm-4">
                Select the resource type
            </div>
            <div class="col-md-8 col-sm-8">
                <select ng-change="selectContextType(input.type)" ng-model="input.type" class="form-control"

                        ng-options="type.name for type in allResourceTypes">
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <span ng-show="input.type">Select the path in this resource where the extension can go. Default is the root.</span>
            </div>
            <div class="col-md-8 col-sm-8">
                <select ng-show="paths" ng-change="selectContext(input.typePaths)" ng-model="input.path" class="form-control"

                        ng-options="path for path in paths">
                </select>
            </div>

        </div>





</div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
        </div>
    </div>
</div>
