<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Add a new Concept Map</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-success pull-right" ng-show="canAdd" ng-click="add()">
                        <span ng-hide="currentMap">Add</span>
                        <span ng-show="currentMap">Update</span>
                    </button>
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Name
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control"  ng-model="input.name" ng-blur="checkCanAdd()"/>
            </div>
            <!--
            <div class="col-md-2 col-sm-2">
                <button ng-hide="currentMap" class="btn btn-primary pull-right">Check</button>

            </div>
            -->
        </div>
        <br/>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Description
            </div>
            <div class="col-md-8 col-sm-8">
                <textarea class="form-control" ng-model="input.description" ng-blur="checkCanAdd()"></textarea>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Purpose
            </div>
            <div class="col-md-8 col-sm-8">
                <textarea class="form-control" ng-model="input.purpose" ng-blur="checkCanAdd()"></textarea>
            </div>
        </div>
        <br/>
       <div class="row">
           <div class="col-md-3 col-sm-3">
               Source ValueSet
           </div>
           <div class="col-md-6 col-sm-6">
               <input type="text" class="form-control"  ng-model="input.sourceUri" ng-blur="checkCanAdd()"/>
           </div>
           <div class="col-md-2 col-sm-2">
               <button class="btn btn-primary pull-right" ng-click="findVS('source')">Find</button>
           </div>
       </div>
        <br/>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Target ValueSet
            </div>
            <div class="col-md-6 col-sm-6">
                <input type="text" class="form-control" ng-model="input.targetUri" ng-blur="checkCanAdd()"/>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-primary pull-right" ng-click="findVS('source')">Find</button>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Source CodeSystem
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control"  ng-model="input.sourceCS" ng-blur="checkCanAdd()"/>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Target CodeSystem
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control" ng-model="input.targetCS" ng-blur="checkCanAdd()"/>
            </div>
        </div>
        <br/>
        <!--
        <div class="row" ng-hide="currentMap">
            <div class="col-md-3 col-sm-3">
                Add maps from all source
            </div>
            <div class="col-md-8 col-sm-8">
                <checkbox ng-model="input.addall"/>
                <span><em>If checked, will add an entry in the mapping table for all entries in the Source ValueSet</em></span>

            </div>
        </div>
-->



    </div>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <em ng-hide="currentMap">Add the details for a new ConceptMap</em>
                <em ng-show="currentMap">Edit the details of an existing ConceptMap</em>

            </div>

        </div>



    </div>
</div>