<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3>Add {{dataTypeBeingEntered}} property to {{dtDisplay}}</h3>



            </div>


            <div class="col-md-4 col-sm-4">

                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-click="save()">Save</button>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">

        <ng-include src="'/includes/builderDataEntry.html'"></ng-include>


    </div>

    <div class="modal-footer">




    </div>
</div>