
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h3 class="modal-title">Add new validation server</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>

            </div>




        </div>

    </div>
    <div class="modal-body">


        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div>Name</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input class='form-control' type="text" ng-model="input.name"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                The name of the server (will be displayed in server selection dialogs)
            </div>
        </div>

        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div>Url</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input class='form-control' type="text"
                       placeholder="Server Url"
                       ng-model="input.url"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                The full url to the server (including port). Include a trailing /
            </div>
        </div>

        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div>Use Parameter</div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <input class='form-control' type="checkbox"
                       ng-model="input.parameter"/>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                If true, then wrap the resource in a Parameters resource when validating
            </div>
        </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                {{fhirVersion}}

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right">
                    <div>
                        <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                        <button ng-hide="input.valid || ! input.url" class="btn btn-primary" ng-click="test()">Test</button>
                        <button ng-show="input.valid && input.name && input.url" class="btn btn-success" ng-click="add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <strong>Note that the server must support
                    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS" target="_blank">CORS</a>  as clinFHIR is a web application</strong>

                <div>
                    <br/>
                    There are 2 headers needed in particular:
                    <ul>
                        <li>Access-Control-Allow-Origin:*</li>
                        <li>Access-Control-Expose-Headers:Location, Content-Location</li>
                    </ul>

            </div>
        </div>

</div>
