<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-10 col-sm-10">
                <h3 class="modal-title">Code Lookup: {{concept.display}}</h3>
            </div>
            <div class="col-md-1 col-sm-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="banner">
            {{concept.display}} ({{concept.code}})
        </div>
        <strong></strong>

        <uib-tabset>
            <uib-tab heading="Relations">
                <h5>Parents</h5>
                <table class="table table-bordered table-condensed">
                    <tr ng-repeat="concept in parsed.parent">
                        <td><div class="clickable" ng-click="selectCode(concept)"> {{concept.value}}</div></td>
                        <td>{{concept.description}}</td>
                    </tr>
                </table>

                <h5>Children</h5>
                <table class="table table-bordered table-condensed">
                    <tr ng-repeat="concept in parsed.children">
                        <td><div class="clickable" ng-click="selectCode(concept)"> {{concept.value}}</div></td>
                        <td>{{concept.description}}</td>
                    </tr>
                </table>
            </uib-tab>


            <uib-tab heading="Raw lookup">
                <pre>{{raw | json}}</pre>
            </uib-tab>

        </uib-tabset>






    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <em>Note that this functionality only really works for SNOMED at the moment...</em>

            </div>

        </div>



    </div>
</div>