<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Add a new Concept Map</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-success pull-right" ng-show="canAdd" ng-click="add()">
                        <span ng-hide="currentMap">Add</span>
                        <span ng-show="currentMap">Update</span>
                    </button>
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">



    </div>





    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>

        </div>



    </div>
</div>