
<div>

    <style>
        .spacer {
            margin-bottom: 8px;
        }
    </style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 class="modal-title">Edit IG Item</h3>

            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <input class="form-control" rows = '4' ng-model="name" placeholder="Name for this item"/>



            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <textarea class="form-control" rows = '4' ng-model="description" placeholder="Enter description here">
                </textarea>

            </div>
        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>
        </div>
    </div>

</div>

