<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 ng-hide = 'member' class="modal-title">Add a member</h3>
                <h3 ng-show = 'member' class="modal-title">Edit the member details</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button ng-hide = 'member' class="btn btn-success pull-right" ng-click="add()">Add</button>
                    <button ng-show = 'member' class="btn btn-success pull-right" ng-click="add()">Save</button>
                    <button class="btn btn-link pull-right" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Name
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control"  ng-model="member.name"/>
            </div>

        </div>
        <br/>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                CPN
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control"  ng-model="member.CPN"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                Role
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control" ng-model="member.role.display"/>
            </div>
        </div>
        <br/>
        <div class="row">
           <div class="col-md-3 col-sm-3">
               Qualification
           </div>
           <div class="col-md-9 col-sm-9">
               <div ng-repeat = "qual in member.qualification">

                   <div class="row">
                       <div class="col-md-10 col-sm-10">
                           {{qual.display}}
                       </div>
                       <div class="col-md-1 col-sm-1">
                           <i class="glyphicon glyphicon-remove-sign pull-right clickable" ng-click="deleteQualification($index)"></i>
                       </div>
                   </div>


               </div>
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <input type="text" class="form-control"  ng-model="input.qualification"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <i class="glyphicon glyphicon-plus-sign pull-right clickable" ng-click="addQualification()"></i>
                    </div>
                </div>


           </div>

        </div>
        <br/>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                Contact
            </div>
            <div class="col-md-9 col-sm-9">
                <div ng-repeat="contact in member.contact">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            {{contact.type}}
                        </div>
                        <div class="col-md-7 col-sm-7">
                            {{contact.value}}
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <i class="glyphicon glyphicon-remove-sign pull-right clickable" ng-click="deleteContact($index)"></i>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <select class="form-control" ng-model="input.contactType">
                            <option value="email">Email</option>
                            <option value="mobile">Mobile</option>
                            <option value="phone">Phone</option>
                        </select>

                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input type="text" class="form-control" ng-model="input.contactValue" />
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <i class="glyphicon glyphicon-plus-sign pull-right clickable" ng-click="addContact()"></i>
                    </div>
                </div>

            </div>







        </div>
    </div>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>This is a minimal screen to add a new member. Only a single qualification or contact is supported at the
                    moment (in the actual app there can be multiple). Also - many of the coded fields are currwntly strings -
                    this will change. The intention is that it will be possible to select the
                person from the HPI - and potentially update the HPI as well, depending on the rights of the user</em>





            </div>

        </div>



    </div>
</div>