<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Logical model element</h3>
            </div>
            <div class="col-md-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-success"  ng-click="save()">Save</button>  <!-- ng-show="canSave" -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

            <form>
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Item name (no spaces)</label>
                        <input type="text" class="form-control" ng-model="input.name" auto-focus  autocapitalize="off"
                                placeholder="Name of element">   <!-- ng-blur="checkName()" -->
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <label>Short</label>
                    <input type="text"
                           ng-model="input.short" class="form-control" placeholder="Short description">
                </div>

                <div class="col-md-4 col-sm-4">
                    <label>Datatype</label>

                    <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <select ng-change="setDataType(input.dataType)" ng-model="input.dataType" class="form-control"

                                    ng-options="type.description for type in allDataTypes">
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a ng-href="{{rootForDataType}}{{input.dataType.code}}" target="_blank">
                                <i class="glyphicon glyphicon-eye-open clickable"></i>
                            </a>
                        </div>
                    </div>




                    <div class="pull-right" ng-show="isCoded">
                        <em>{{selectedValueSet.vs.url}}</em>
                       <!-- <em>{{selectedValueSet.vs.name}}</em>-->
                    </div>

                </div>

            </div>

                <div class="form-group">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div><label>Description</label></div>
                        <textarea class="form-control" rows="3" ng-model="input.description" placeholder="Description of element"></textarea>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div ng-show="dt.code=='Reference'">
                            <div><label>Reference</label></div>


                            <uib-tabset>

                                <uib-tab heading="Core Types">


                                    <div class="row">
                                        <div class="col-sm-10 col-md-10">
                                            <select  class="form-control" ng-model="input.referenceToCoreFromIg"
                                                     ng-options="item.name for item in allResourceTypes">

                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <a ng-href="http://hl7.org/fhir/{{input.referenceToCoreFromIg.name}}.html" target="_blank">
                                                <i class="glyphicon glyphicon-eye-open clickable"></i>
                                            </a>
                                        </div>
                                    </div>




                                </uib-tab>
                                <uib-tab heading="Logical Models">
                                    <select  class="form-control" ng-model="input.referenceFromIg"
                                             ng-options="lmDisplay(entry.resource) for entry in references.entry">

                                    </select>
                                </uib-tab>

                            </uib-tabset>


                        </div>

                        <div ng-show="isCoded">
                            <div><label>ValueSet & Concept Map</label></div>

                            <select  ng-show="vsInGuide.length > 0" class="form-control" ng-model="input.vsFromIg"
                                     ng-change="selectVsFromIg()"
                                     ng-options="vs.name for vs in vsInGuide">

                            </select>

                            <div class="clickable " ng-click="selectVsFromServer()">Select ValueSet from Server</div>



                        </div>


                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div><label>Comments</label></div>
                        <textarea class="form-control" rows="4" ng-model="input.comments"
                                  placeholder="Any comments on the use of this element"></textarea>

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div>
                            <div><label>Multiplicity</label></div>
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'opt'">0..1</label>
                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'req'">1..1</label>
                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'mult'">0..*</label>
                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'multreq'">1..*</label>
                            </div>
                        </div>

                        <div><label>Fixed Value</label></div>
                        <textarea class="form-control" rows="1" ng-model="input.fixedString"
                                  placeholder="If this element should have a specific value"></textarea>



                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4">

                    </div>

                    <div class="col-md-4 col-sm-4">


                    </div>

                    <div class="col-md-4 col-sm-4">



                    </div>



                </div>

            </div>



            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div><label>Mapping path</label></div>


                        <uib-tabset>
                            <uib-tab heading="FHIR" select="setCurrentMap('fhir')">
                                <br/>
                                <input type="text" ng-blur="fhirMapping(input.mappingPath)" ng-model="input.mappingPath"
                                       ng-change="updateCurrentMapValue(input.mappingPath)"
                                       uib-typeahead="path for path in allPaths | filter:$viewValue | limitTo:100" class="form-control"
                                        typeahead-on-select="fhirPathSelect($item)"
                                />
<!--
*** was ng-change() above
                                <input type="text" typeahead-on-select="fhirMapping(input.mappingPath)" ng-model="input.mappingPath"
                                       ng-change="updateCurrentMapValue(input.mappingPath)"
                                       uib-typeahead="path for path in allPaths | filter:$viewValue | limitTo:100" class="form-control"/>
                                -->

                                <div ng-show="isExtension">
                                    <div class="form-group">
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" placeholder="Enter the Url of the extension definition"
                                                       uib-popover="The Url for an Extension Definition to apply to this mapping"
                                                       popover-placement="top"
                                                       popover-trigger="'mouseenter'"
                                                       ng-model="input.fhirMappingExtensionUrl" class="form-control"/>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button class="btn btn-primary" ng-click="selectExistingExtension()">Find</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="isCoded">

                                    <div class="form-group">
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                <div><input type="text" class="form-control"
                                                            uib-popover="The Url for a ConceptMap to apply to this mapping"
                                                            popover-placement="top"
                                                            popover-trigger="'mouseenter'"
                                                            placeholder="Url of ConceptMap" ng-model="input.conceptMap"/> </div>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <button class="btn btn-primary" ng-click="">Find</button>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                                <div ng-show="discriminatorReq && false">   <!-- todo need to decide if allowed here...-->
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            <div style="margin-top: 8px"><strong>Discriminator</strong></div>
                                        </div>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="text" placeholder="Discriminator"
                                                   ng-model="input.discriminator" class="form-control"/>
                                        </div>


                                    </div>

                                </div>


                            </uib-tab>
                            <uib-tab heading="HL7 v2" select="setCurrentMap('hl7V2')">
                                <br/>
                                <input type="text" class="form-control" ng-model="input.mappingPathV2"
                                       ng-change="updateCurrentMapValue(input.mappingPathV2)"/>
                            </uib-tab>

                            <uib-tab heading="SNOMED" select="setCurrentMap('snomed')">
                                <br/>
                                <input type="text" class="form-control" ng-model="input.mappingPathSnomed"
                                       ng-change="updateCurrentMapValue(input.mappingPathSnomed)"/>
                            </uib-tab>





                            <uib-tab heading="Others" select = "deleteCurrentMap() ">
                                <br/>

                                <div class="row" ng-repeat="map in input.mappingFromED"
                                    ng-hide="map.identity=='fhir' || map.identity=='hl7V2' ||  map.identity=='snomed'"
                                    ng-click="setCurrentMap(map.identity)">
                                    <div class="col-sm-3">{{map.identity}}</div>
                                    <div class="col-sm-8"><input type="text" class="form-control" ng-model="map.map"/></div>
                                    <div class="col-sm-1" ng-click="removeMap($index)">
                                        <i class="clickable glyphicon glyphicon-minus-sign"></i></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"><input type="text" placeholder="Identity"
                                            ng-change="input.addOtherMap=true" class="form-control" ng-model="input.newMapIdentity"/></div>
                                    <div class="col-sm-8"><input type="text" placeholder="Value"
                                             ng-change="input.addOtherMap=true" class="form-control" ng-model="input.newMapValue"/></div>
                                    <div class="col-sm-1" ng-click="addNewMap(input.newMapIdentity,input.newMapValue)">
                                        <i class="clickable glyphicon glyphicon-plus-sign"></i></div>
                                </div>


                            </uib-tab>
                        </uib-tabset>



                    </div>


                    <div class="col-md-6 col-sm-6">
                        <div><label>Mapping notes for {{currentMap.identity}}</label></div>
                            <textarea class="form-control" rows="5" ng-model="currentMap.comment"
                          placeholder="Describe FHIR mapping. Can also indicate if this element should be bound to a SNOMED term"></textarea>

                        <!--  <textarea class="form-control" rows="5" ng-model="input.mapping"
                          placeholder="Describe FHIR mapping. Can also indicate if this element should be bound to a SNOMED term"></textarea>-->
                    </div>
                </div>

            </div>



        </form>





    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <strong>{{pathDescription}}:</strong> {{parentPath}}

            </div>
            <div class="col-md-4 col-sm-4">
                <div ng-show="baseType">
                    <div class="pull-right">
                        <strong>BaseType:</strong> {{baseType}}

                        <a ng-href="http://hl7.org/fhir/{{baseType}}.html" target="_blank">
                            <i class="glyphicon glyphicon-eye-open clickable"></i>
                        </a>
                    </div>


                </div>


            </div>

        </div>



    </div>
</div>