<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Logical model element</h3>
            </div>
            <div class="col-md-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show="canSave" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">




            <form>
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Item name (no spaces)</label>
                        <input type="text" class="form-control" ng-model="input.name" auto-focus
                               ng-blur="checkName()" placeholder="Name of element">
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <label>Short</label>
                    <input type="text"
                           ng-model="input.short" class="form-control" placeholder="Short description">
                </div>

                <div class="col-md-4 col-sm-4">
                    <label>Datatype</label>

                    <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <select ng-change="setDataType(input.dataType)" ng-model="input.dataType" class="form-control"

                                    ng-options="type.description for type in allDataTypes">
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a ng-href="{{rootForDataType}}{{input.dataType.code}}" target="_blank">
                                <i class="glyphicon glyphicon-eye-open clickable"></i>
                            </a>
                        </div>
                    </div>




                    <div class="pull-right" ng-show="isCoded">
                        <em>{{selectedValueSet.vs.name}}</em>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div><label>Multiplicity</label></div>
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'opt'">0..1</label>
                            <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'req'">1..1</label>
                            <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'mult'">0..*</label>
                            <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'multreq'">1..*</label>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div><label>Comments</label></div>
                        <textarea class="form-control" rows="2" ng-model="input.comments"
                                  placeholder="Any comments on the use of this element"></textarea>

                    </div>
                    <div class="col-md-4 col-sm-4">

                        <div ng-show="dt.code=='Reference'">
                            <div><label>Reference</label></div>
                            <select  class="form-control" ng-model="input.referenceFromIg"
                                     ng-options="entry.resource.name for entry in references.entry">

                            </select>
                        </div>

                        <div ng-show="isCoded">
                            <div><label>ValueSet</label></div>

                            <select  ng-show="vsInGuide.length > 0" class="form-control" ng-model="input.vsFromIg"
                                     ng-change="selectVsFromIg()"
                                     ng-options="vs.name for vs in vsInGuide">

                            </select>

                            <div class="clickable" ng-click="selectVsFromServer()">Select from Server</div>
                        </div>

                    </div>



                </div>

            </div>


            <div class="form-group">
                <div class="row">
                    <!--
                    <div class="col-md-4 col-sm-4">

                    </div>
                    <div class="col-md-4 col-sm-4">

                    </div>
                    -->
                    <div class="col-md-4 col-sm-4">
                        <div><label>Fixed Value</label></div>
                        <textarea class="form-control" rows="2" ng-model="input.fixedString"
                                  placeholder="If this element should have a specific value"></textarea>
                    </div>

                </div>
            </div>



            <div class="form-group">
                <div><label>Description</label></div>
                <textarea class="form-control" rows="3" ng-model="input.description" placeholder="Description of element"></textarea>
            </div>



            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div><label>Mapping path</label></div>


                        <input type="text" ng-model="input.mappingPath"

                               uib-typeahead="path for path in allPaths | filter:$viewValue | limitTo:100" class="form-control">
                        <!--
                                                <select  class="form-control" ng-model="input.mappingPath"
                                                         ng-options="path for path in allPaths"></select>


                                                <input type="text" class="form-control" ng-model="input.mappingPath" placeholder="path in the target resource">
                        -->
                        <!--<div><label>Map to model</label></div>

                        <select class="form-control" ng-model="input.mapToModelEnt"
                                 ng-options="entry.resource.name for entry in references.entry"></select>
-->
                    </div>


                    <div class="col-md-6 col-sm-6">
                        <div><label>Mapping notes</label></div>
                            <textarea class="form-control" rows="5" ng-model="input.mapping"
                          placeholder="Describe FHIR mapping. Can also indicate if this element should be bound to a SNOMED term"></textarea>
                    </div>
                </div>

            </div>



        </form>





    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <strong>{{pathDescription}}:</strong> {{parentPath}}

            </div>

        </div>



    </div>
</div>