<div>
    <style>
        .buttonSize {
            width: 100px;
        }
    </style>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3 ng-hide="task">Add a new comment</h3>
                <h3 ng-show="task">View comment, and add note</h3>

            </div>


            <div class="col-md-4 col-sm-4">

                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button class="btn btn-link" ng-click="$dismiss()">Close</button>
                    <!-- <button class="btn btn-success" ng-click="save()">Save</button> -->

                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">


        <!-- THis is a new comment/task-->
        <div ng-hide = 'task'>
            <div class="row">
                <div class="col-sm-2 col-md-2">
                </div>
                <div class="col-sm-6 col-md-6">
                    <textarea class="form-control" ng-model="input.text" placeholder="Enter comment here" rows="8"></textarea>
                    <div>
                        <button class="btn btn-link pull-right" ng-click="addTask(input.text)">Add comment</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- THis is an edit-->
        <div class="row">
            <div ng-show = 'task'>
                <div class="col-sm-4 col-md-4">
                    <strong>Comment</strong>
                    <p>{{task.description}}</p>
                    <strong>Author</strong>
                    <p>{{task.requesterDisplay}}</p>
                    <strong>Authored</strong>
                    <p>{{task.authoredOn | getAgeSeconds}} ago</p>
                    <strong>Status</strong>
                    <p>{{stateHash[task.status]}}</p>

                    <!--
                                        {{treeData[0].data.header.editor}}
                                        {{Practitioner.telecom[0].value}}

                                        <div ng-show = "treeData[0].data.header.editor && (Practitioner.telecom[0].value !== treeData[0].data.header.editor)">
                                            The model editor is {{treeData[0].data.header.editor}}. Only they can make changes
                                        </div>
                                        -->

                    <!--

                    for now, don't allow status edit from modeller. need to pass in editor & current user
                                        <button class="btn btn-default buttonSize"  ng-click="changeState('received')"
                                                ng-show="showStateChange('received',task.status)"
                                                uib-popover="The task has been initially reviewed (or triaged) but no disposition has been made"
                                                popover-placement="top"
                                                popover-trigger="'mouseenter'">
                                                Reviewed</button>

                                        <button class="btn btn-default buttonSize"  ng-click="changeState('accepted')"
                                                uib-popover="The task has been accepted as one that should be actioned, but that action has not yet occurred."
                                                popover-placement="top"
                                                popover-trigger="'mouseenter'"
                                                ng-show="showStateChange('accepted',task.status)">Accepted</button>

                                        <button class="btn btn-default buttonSize"  ng-click="changeState('completed')"
                                                uib-popover="Any actions required for this task have been completed. The task is complete."
                                                popover-placement="top"
                                                popover-trigger="'mouseenter'"
                                                ng-show="showStateChange('completed',task.status)">Completed</button>

                                        <button class="btn btn-default buttonSize"  ng-click="changeState('rejected')"
                                                uib-popover="No actions will follow from the Task. The task is complete."
                                                popover-placement="top"
                                                popover-trigger="'mouseenter'"
                                                ng-show="showStateChange('rejected',task.status)">Rejected</button>

                                        <button class="btn btn-default buttonSize"  ng-click="changeState('cancelled')"
                                                uib-popover="The task does not need to be reviewed or actioned - for example it was entered in error. The task is complete."
                                                popover-placement="top"
                                                popover-trigger="'mouseenter'"
                                                ng-show="showStateChange('cancelled',task.status)">Cancelled</button>






                    -->
                </div>

                <div class="col-sm-8 col-md-8">
                    <strong>Notes</strong>

                    <table class="table">
                        <tr><th>Note</th><th>When</th><th>Who</th></tr>
                        <tr ng-repeat="note in task.notes">
                            <td>{{note.text}}</td>
                            <td>{{note.time | getAgeSeconds}}</td>
                            <td>{{note.authorString}}</td>
                        </tr>
                        <tr ng-show="practitioner">
                            <td colspan="3">
                                <textarea class="form-control" rows="5" ng-model="input.note"></textarea>

                                <div>
                                    <button class="btn btn-link pull-right" ng-show="input.note" ng-click="addNote(input.note)">Add note</button>
                                </div>

                            </td>
                        </tr>


                    </table>
                </div>
        </div>
        </div>


    </div>

    <div class="modal-header">
        <strong><em>{{modelPath}}</em></strong>

    </div>
</div>