<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3>Add a new team member</h3>

            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">


                    <button ng-show="selectedPractitioner && role" class="btn btn-success pull-right" ng-click="add()">Add</button>
                    <button class="btn btn-link pull-right" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">



        <div class="row">
            <div class="col-md-3 col-sm-3">
                <strong>Scope of Search</strong>

                <div><input type="radio" ng-model="scope" value="org"/> Only this Organization</div>
                <div><input type="radio" ng-model="scope" value="all"/> All HPI</div>
                <div><input type="radio" ng-model="scope" value="none"/> Not in HPI</div>

            </div>

            <div class="col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <strong>Name</strong>
                        <input type="text" class="form-control" ng-model="name" placeholder="Name"/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-primary" style="margin-top: 20px"
                                ng-show= "name" ng-click="search(name)">Search</button>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <em ng-show="scope=='org'">
                    This will only search for Practitioners that already have a relationship with this Organization
                    in the HPI. (Technically, it queries on the PractitionerRole resource)
                </em>
                <em ng-show="scope=='all'">
                    This will search for any Practitioner in the HPI. (Technically, it queries on the Practitioner resource)
                </em>
                <em ng-show="scope=='none'">
                    This is used when the the Practitioner is not in the HPI. It will search the local database rather than
                    the HPI which will allow using adding people not in the HPI into a team. Not yet supported.
                </em>
            </div>
        </div>



            <hr/>

            <div class="row">
                <div class="col-md-4">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,'listItemSelected':prac == selectedPractitioner}" style="cursor: pointer"
                             ng-click="selectPractitioner(prac)" ng-repeat="prac in practitioners">

                            <div>{{prac.name}}</div>
                            <div><span class="pull-right">{{prac.cpn}}</span> </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <uib-tabset ng-show="selectedPractitioner">
                        <uib-tab heading="Details">
                            <strong><div>Registrations</div></strong>

                            <table class="table table-bordered">
                                <tr ng-repeat="reg in selectedPractitioner.qual">
                                   <td>{{reg.codeDisplay}}</td>
                                    <td>
                                        <div ng-repeat="sp in reg.scopePractice">{{sp}}</div>

                                    </td>
                                </tr>
                            </table>

                        </uib-tab>
                        <uib-tab heading="json">
                            <pre>{{selectedPractitioner | json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                    <div class="row"  ng-show="selectedPractitioner">
                        <div class="col-md-4">
                            Role in team
                        </div>
                        <div class="col-md-4">
                            <select ng-model="role" class="form-control"
                                    ng-options = "role.display for role in roles">
                            </select>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>This screen allows you to select a Practitioner from the HPI and add them to the team. The scope of the search can be:</em>
                <ul>
                    <li>Only from practitioners already associated with this organization in the HPI</li>
                    <li>All practitioners in the HPI</li>
                    <li>Add a practitioner not in the HPI (Not yet enabled)</li>
                </ul>
                <em>The practitioner also has a role within the team</em>




            </div>

        </div>



    </div>
</div>