
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h3 class="modal-title">Copy Files</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">


            </div>

        </div>

    </div>
    <div class="modal-body">



        {{fileList | json}}
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">

            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">

            </div>
        </div>





    </div>

    <div class="modal-header">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">


        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="pull-right"  >

                <div>

                    <button  class="btn btn-warning" ng-click="$dismiss(originalSettings)">Cancel</button>
                    <button  class="btn btn-primary" ng-click="save()">Save</button>
                </div>


            </div>

        </div>

        </div>
    </div>

</div>
