
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3>Find {{resourceType}} resources for another patient</h3>

            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-hide = "outcome" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-show = "outcome" ng-click="close()">Select</button>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-4">
                <input type="text" ng-model="input.searchPatientName" class="form-control" autoFocus
                       placeholder="Enter name for patient search">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="searchForPatient(input.searchPatientName)">Search</button>
                <!--
                <span><i class="glyphicon glyphicon-search" ng-click="searchForPatient(input.searchPatientName)"></i></span>
                -->
            </div>
        </div>
        <br/>
        <div ng-show="matchingPatientsList">
            <div uib-alert class="alert-warning" ng-show="nomatch">
                Sorry, there were no patients matching that name
            </div>

            <div class="row">

                <div class="col-md-4 col-sm4">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="resource in matchingPatientsList">
                            <div style="cursor:pointer" ng-click="selectPatient(resource)">
                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(resource)}}
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="col-md-8 col-sm-8">
                    <div ng-show="!resourcesFromOtherPatient.entry || resourcesFromOtherPatient.entry.length==0">
                        <div class="alert alert-info">This patient has no resources of this type</div>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="entry in resourcesFromOtherPatient.entry">
                            <div style="cursor:pointer" ng-click="selectResource(entry.resource)">
                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(entry.resource)}}
                            </div>

                        </li>
                    </ul>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-md-6">

            </div>

            <div class="col-md-6">

            </div>
        </div>



    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8">
                <div class="text-left">
                    <em ng-show="resource.id">
                        This allows you to find a {{resourceType}} resource for some other patient and create a reference
                        from the resource you are creating to it. This isn't common, but sometimes needed - eg for
                        FamilyMemberHistory when used for genetics.
                    </em>
                </div>

            </div>
            <div class="col-md-4">
                <div class="pull-right">

                </div>
            </div>
        </div>

    </div>
</div>
