<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-7 col-sm-7">

                <h3>Import Resource/s from text</h3>

            </div>

            <div class="col-md-1 col-sm-1">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">

               <div class="pull-right">
                   <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                   <button ng-show="input.raw" class="btn btn-success" ng-click="import()">Import</button>
               </div>

            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <textarea ng-model="input.raw" class="form-control" rows="15"></textarea>
            </div>
        </div>
        <br/>

        <div class="row">

            <div class="col-sm-6 col-md-6">
                <div class="pull-left">
                 <checkbox ng-model="input.LM"></checkbox> Import as Logical Model
                </div>
            </div>

            <div class="col-sm-6 col-md-6">


                <div class="pull-right">
                    <checkbox ng-model="input.stripText"></checkbox> Strip text

                </div>

            </div>
        </div>

    </div>




    <div class="modal-header">
        <ul>
            <li><em>Paste the XML or Json into the box and click the Import button (top right).</em></li>
            <li><em>Json can be a single resource, a bundle of resources or a Logical Model. A Bundle
                must have 'fullUrl' set on each resource</em></li>
            <li><em>For Logical Models, make sure to check the 'Logical Model' checkbox, or it will be imported as a StructureDefinition</em></li>
            <li><em>XML must be a bundle, with a type of 'collection',
                no Bundle Id,  and the conformance server must support the Bundle endpoint for both Json and XML</em></li>
        </ul>
    </div>
</div>