
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Enter ValueSet Name </h3>

            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show = "nameValid" ng-click="$close(name)">Select</button>
                </div>

            </div>

        </div>

    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-2 col-sm-2">
                    Name
            </div>
            <div class="col-md-4 col-sm-4">
                <input type="text" class="form-control" ng-model="name" placeholder="Enter name as a single word"/>
            </div>

            <div class="col-md-4 col-sm-4">
                <button ng-show='name' class="btn btn-primary" ng-click="checkName(name)">Check name</button>
            </div>

        </div>
    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8">
                <em>The name of the valueSet must be unique on this server. Click the 'Check Name' link
                (that will appear after you have entered a name) to confirm. Spaces and quotes should be avoided.</em>
            </div>
            <div class="col-md-4">
                <div class="pull-right">

                </div>
            </div>
        </div>

    </div>
</div>
