
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 class="modal-title">Load Form
                </h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button class="btn btn-success pull-right"
                    ng-show="input.selectedEntry" ng-click="select()">
                    Select
                </button>
                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

            </div>

        </div>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat = "entry in bundle.entry"
                        ng-click="input.selectedEntry = entry">
                        {{entry.resource.id}}
                        <div><em>{{entry.resource.name}}</em></div>
                    </div>

                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <pre>{{input.selectedEntry.resource | json}}</pre>
            </div>
        </div>



    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
        </div>
    </div>
</div>
