
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h3 class="modal-title">Login</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right navbar-form" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
                <button class="btn btn-warning pull-right" ng-click="$dismiss()">Cancel</button>

            </div>


        </div>

    </div>
    <div class="modal-body">


        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div>Email</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input autoFocus class='form-control' type="text" ng-model="input.email"/>
            </div>

        </div>

        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div>Password</div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input class='form-control' type="password" ng-model="input.password"/>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-8 col-sm-8">
                <button ng-show="input.email && input.password" class="btn btn-primary pull-right"
                        ng-click="userLogin()">Login</button>
                <button ng-show="input.email" class="btn btn-link pull-right"
                        ng-click="resetPW()">Reset password</button>
            </div>
        </div>

    </div>
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <em>If you don't yet have an account, then just enter an email and a password, and an account will
                    be generated for you. This will be tightened later!</em>


            </div>
        </div>
    </div>
</div>
