<div class="modal-header" ng-show="modalOptions.headerText">
    <h3>{{modalOptions.headerText}}</h3>
</div>

<div class="modal-body">
    <p>{{modalOptions.bodyText}}</p>

    <div ng-show="modalOptions.oo"><pre>{{modalOptions.oo | json}}</pre></div>

</div>

<div ng-show="modalOptions.userText !== undefined">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 ">
            <textarea rows = '3' class = 'form-control ' ng-model="modalOptions.userText"></textarea>
        </div>
    </div>

</div>

<div ng-show="modalOptions.oo !== undefined">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 ">
            <pre>{{modalOptions.oo | json}}</pre>
        </div>
    </div>

</div>



<div class="modal-footer">
    <button autoFocus type="button" class="btn btn-warning"
            data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
    <button class="btn btn-success" ng-show="modalOptions.actionButtonText"
            data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>