<div>

    <style>
        .clickable {
            color: blue;
            cursor: pointer;
        }
    </style>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <h3>Add child element</h3>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save()">Add</button>
                </div>
            </div>
        </div>





    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form>



                    <div class="form-group">
                        <label>DataTypes</label>


                        <div class="row"  ng-repeat="dt in selectedDataTypes">
                            <div class="col-sm-3 col-md-3">
                                {{dt.description}}
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <div ng-show="dt.isCoded">
                                    <div ng-show="dt.vs.vs.url">{{dt.vs.vs.url}}</div>
                                    <div ng-hide="dt.vs.vs.url" class="clickable" ng-click="setBinding(dt)"> Bind ValueSet</div>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-1">
                                <i class="glyphicon glyphicon-remove" ng-click="removeDT($index)"></i>
                            </div>
                        </div>

                        <br />
                        <div>
                            <select ng-model="dataType" class="form-control auto-focus"
                                    ng-change="addDataType()"
                                    ng-options="dt.description for dt in dataTypes">

                            </select>
                            <!--<div ng-show="isCoded">
                                Coded
                                <button class="btn btn-link" ng-click="setBinding()">Bind ValueSet</button>
                            </div>-->
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" ng-model="code" class="form-control" placeholder="Child code" >
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <textarea rows="4" ng-model="description" class="form-control"
                                                  placeholder="Description of the element"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            If the extension only has a single element (ie is a simple extension) then only the datatype/s are needed.
                            The code element and description will be ignored. If the extension is complex (has more than one element) then
                            the code and description are required.
                        </div>

                    </div>
                    <!--<div class="form-group">
                        <label>Description</label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <textarea rows="3" ng-model="description" class="form-control" placeholder="Description of the element"></textarea>
                            </div>
                        </div>
                    </div>-->

                </form>

            </div>
        </div>


    </div>

    <div class="modal-header">


    </div>
</div>