<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">New Logical model</h3>
            </div>
            <div class="col-md-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show="canSave" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="Description">
                <br />
                <form>
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <div class="form-group">
                                <label>Model name</label>
                                <input type="text" class="form-control" ng-model="input.name" auto-focus
                                       ng-blur="checkName()" placeholder="Name of the model"
                                       ng-disabled="SD">
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <div class="form-group">
                                <button class="btn btn-primary pull-right" style="margin-top: 25px"
                                        ng-click="checkModelExists(input.name)" ng-hide="SD">Check</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label>Title</label>
                            <input type="text"
                                   ng-model="input.title" class="form-control" placeholder="Descriptive title">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>Purpose/Description of model</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="input.purpose"
                                          placeholder="Why has this model been developed? What is it intended to do?"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                            <label>Publisher</label>
                            <input type="text"
                                   ng-model="input.publisher" class="form-control" placeholder="Publisher of the model">
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <div ng-show="1">       <!-- was isNew -->


                                <!--
                                <div><label>Model type</label></div>

                                <div class="btn-group">
                                    <label class="btn btn-default"
                                          style="margin-right: 5px" ng-model="input.modelType" uib-btn-radio="'single'">Single resource</label>

                                    <label class="btn btn-default" style="margin-right: 5px"
                                           ng-model="input.modelType" uib-btn-radio="'multiple'">Multiple resources</label>

                                    <label class="btn btn-default" style="margin-right: 5px"
                                           ng-model="input.modelType" uib-btn-radio="'clone'">Copy a model</label>
                                </div>


-->
                                <div  ng-show = "input.modelType == 'single'" class="rounded-box"> <!-- was isNew -->


                                    <div><label>Base Resource</label></div>
<!--

                                    <div style="text-align: center">---- Select the base resource type ---- </div>

                                    -->

                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <select ng-change="selectBaseType(input.baseType)" ng-model="input.baseTypeSelected" class="form-control"

                                                    ng-options="type.name for type in allResourceTypes">
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div>
                                                <input type="checkbox" ng-model="input.createElementsFromBase"/> Copy elements into model
                                            </div>


                                        </div>

                                    </div>



                                </div>




                            </div>


                            <div ng-show="isNew && input.modelType == 'clone'" class="rounded-box">
                                <div style="text-align: center;">---- Select model to copy from ---- </div>

                                <select class="form-control" ng-model="input.clone"
                                        ng-options = "entry.resource.name for entry in allModels.entry"></select>

                            </div>



                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!--
                            <label>Purpose/Description of model</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" ng-model="input.purpose"
                                          placeholder="Why has this model been developed? What is it intended to do?"></textarea>
                            </div>
                            -->
                            <p>
                                <em>Select a base resource if you are creating a profile on a single resource, or
                                if you are modelling a Document (choose a Composition resource type) or a Message
                                    (use a MessageHeader resource type).</em>

                            </p>
                            <p>
                                <em>Select the 'Copy elements...' check box to copy the current elements from the selected resource
                                type into the new model. Generally this is useful for a profile, less so for a
                                    Document or Message.</em>
                            </p>


                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <div><label>Mapping</label></div>
                        <textarea class="form-control" rows="5" ng-model="input.mapping"
                                  placeholder="Describe FHIR mapping for the Model as a whole. Usually done after the model has been completed"></textarea>
                    </div>
                    -->




                </form>


            </uib-tab>
            <uib-tab ng-show = "isNew && !input.clone && 1==2" heading="Base Resource ">
                <br/>

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <select ng-change="selectBaseType(input.baseType)" ng-model="input.baseType" class="form-control"

                                ng-options="type.name for type in allResourceTypes">
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        Copy elements into model <input type="checkbox" ng-model="input.createElementsFromBase"/>
                    </div>

                </div>


                <br />



                <em>If this Logical model is based closely on a single FHIR resource, then select the base
                type from the list and the model will be created with those elements as a starting point</em>


            </uib-tab>
        </uib-tabset>




    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                {{conformanceServer.name}}

            </div>

        </div>



    </div>
</div>