<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">New Logical model</h3>
            </div>
            <div class="col-md-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show="canSave" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">


        <form>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Model name</label>
                        <input type="text" class="form-control" ng-model="input.name" auto-focus
                               ng-blur="checkName()" placeholder="Name of the model">
                    </div>
                </div>
                <div class="col-md-1 col-sm-1">
                    <div class="form-group">
                        <button class="btn btn-primary pull-right" style="margin-top: 25px"
                            ng-click="checkModelExists(input.name)">Check</button>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <label>Short</label>
                    <input type="text"
                           ng-model="input.short" class="form-control" placeholder="Short description">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label>Purpose of model</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" ng-model="input.purpose" placeholder="Why has this model been developed"></textarea>
                    </div>
                </div>
            </div>






        </form>




    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                {{conformanceServer.name}}

            </div>

        </div>



    </div>
</div>