<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3>Download a package from the
                    <div ng-show="input.fromBuild"> Build environment</div>
                    <div ng-hide="input.fromBuild"> Registry</div>
                </h3>
            </div>


            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary"
                            ng-show="canDownload()"
                            ng-click="$close({name:input.name,version:input.version,url:input.url,fromBuild:input.fromBuild})">
                        Select
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div class="modal-body">

        <uib-tabset>
            <uib-tab heading="From Registry" select="input.fromBuild = false">
                <br/>
                <div class="row">

                    <div class="col-md-2 col-sm-2">
                        Package Name
                    </div>

                    <div class="col-md-8 col-sm-8">

                        <input type="text" class="form-control"
                               placeholder="The package name. eg hl7.fhir.uv.ips"
                               ng-model="input.name"/>

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Package Version
                    </div>

                    <div class="col-md-8 col-sm-8">

                        <input type="text" class="form-control"
                               placeholder="The package version. eg 1.0.0"
                               ng-model="input.version"/>

                    </div>
                </div>


            </uib-tab>
            <uib-tab heading="From Build Environment" select="input.fromBuild = true">
                <br/>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Url
                    </div>

                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control"
                               placeholder="The url to the IG home page in the build environment"
                               ng-model="input.url"/>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <button class="btn btn-primary" ng-click="retrieveManifest(input.url)">Get manifest</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Name
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control"
                               disabled = "disabled"
                               ng-model="input.name"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        Version
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control"
                               disabled = "disabled"
                               ng-model="input.version"/>
                    </div>
                </div>


            </uib-tab>
        </uib-tabset>
    </div>


    <div class="modal-header">

        <div class="pull-right">
            <a href="https://registry.fhir.org" target="_blank">Open registry in separate tab</a>
        </div>
        <div class="clearfix"/>
    </div>
</div>