<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3>ValueSet Display</h3>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button class="btn btn-link" ng-click="$dismiss()">Close</button>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-body">

        <strong>{{binding.valueSet}}</strong>

        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="filter" placeholder="Filter text"/>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary" ng-click="expand(filter)">Expand</button>
            </div>
        </div>

            <!--
            <div class="col-md-3">
                <button class="btn btn-link" ng-click="uploadVS(selectedResource,input.filter)">Upload to Terminology server</button>
            </div>
-->
        <br/>


        <div ng-show="expandVSError" class="alert alert-warning">
            <pre>{{expandVSError.data | json}}</pre>
            <div ng-show="expandVSError.status == 404">
                If you like, click <span class="clickable" ng-click="uploadVS()">here </span> to upload the ValueSet to the server, then try again.
            </div>
        </div>


        <table class="table table-bordered">
            <tr ng-repeat = "concept in expandedVS.expansion.contains">
                <td>{{concept.code}}</td>
                <td>{{concept.display}}</td>
                <td>{{concept.definition}}</td>
            </tr>
        </table>

    </div>

<!--
        <table class="table table-bordered">
            <tr ng-repeat="concept in data">
                <td>{{concept.code}}</td>
                <td>{{concept.display}}</td>
            </tr>

        </table>
    -->


    <div class="modal-header">

        <em>{{expandUrl}}</em>

    </div>
</div>