<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Add a new ValueSet</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-success pull-right" ng-show="input.name" ng-click="close()">
                        <span ng-hide="currentVS">Add</span>
                        <span ng-show="currentVS">Update</span>
                    </button>
                    <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <span class="q-required">Name</span>
            </div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control" placeholder="Identifying name" ng-model="input.name"/>
            </div>

        </div>

        <div class="row">
            <br/>
            <div class="col-md-3 col-sm-3">
                Concepts
            </div>
            <div class="col-md-9 col-sm-9">
                <table class="table table-bordered">
                    <tr><th>Code</th><th>Display</th><th>System</th></tr>
                    <tr ng-repeat="concept in VS.concepts">
                        <td>{{concept.code}}</td>
                        <td>{{concept.display}}</td>
                        <td>{{concept.system}}</td>
                        <td>
                            <button class="btn btn-link" ng-click="deleteConcept($index)">Del</button>
                        </td>
                    </tr>

                    <tr>
                        <td><input type="text" class="form-control" ng-model="input.code"/> </td>
                        <td><input type="text" class="form-control" ng-model="input.display"/> </td>
                        <td><input type="text" class="form-control" ng-model="input.system"/> </td>
                        <td>
                            <button class="btn btn-link" ng-click="addConcept()">Add</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <br/>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">



                <em ng-hide="currentVS">Add the details for a new ValueSet</em>
                <em ng-show="currentVS">Edit the details of an existing ValueSet</em>



            </div>

        </div>



    </div>
</div>