
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 class="modal-title">Group</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button class="btn btn-success pull-right"

                        ng-click="save()">
                    Add
                </button>
                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

            </div>

        </div>

    </div>
    <div class="modal-body">

        <div class="row" ng-hide="input.newItemType == 'display'" >
            <div class="col-sm-2 col-md-2">
                Text
            </div>
            <div class="col-sm-9 col-md-9">
                <div><input type="text" class="form-control" ng-model="input.text" placeholder="Enter the group text"/> </div>
            </div>
        </div>
        <!--

        <div>
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    Type
                </div>
                <div class="col-sm-9 col-md-9">
                    <select ng-model="input.newItemType" class="form-control"
                            ng-options = "type for type in newOptionsType">

                    </select>
                </div>
            </div>



            <br/>



            <br/>
            <div ng-switch on="input.newItemType">
                <div ng-switch-when="display">
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            Text
                        </div>
                        <div class="col-sm-9 col-md-9">
                            <textarea class="form-control" ng-model="input.newItemText" placeholder="Enter the text to display" ></textarea>
                        </div>
                    </div>


                </div>
                <div ng-switch-when="choice">
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            ValueSet
                        </div>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" ng-model="input.ValueSet" class="form-control" placeholder="Enter the URL of the ValueSet with the possible answers">
                        </div>
                    </div>


                </div>
            </div>

            -->
            <br/>
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    Can repeat
                </div>
                <div class="col-sm-9 col-md-9">
                    <checkbox ng-model="input.repeats"></checkbox>
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    Code
                </div>
                <div class="col-sm-3 col-md-3">
                    <input type="text" class="form-control" placeholder="Code that identifies this question" ng-model="input.code"/>

                </div>
                <div class="col-sm-6 col-md-6">

                    <input type="radio" name="system" ng-model="input.system" value="http://snomed.info/sct"/> SNOMED &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="system" ng-model="input.system" value="http://loinc.org"/> LOINC

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">

                </div>
            </div>

        </div>



    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
        </div>
    </div>
</div>
