
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">

                <h3 class="modal-title"><span ng-hide="title">Questionnaire </span>  {{title}}</h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <button ng-show="input.link && input.title" class="btn btn-success pull-right" ng-click="add()">
                    <span ng-hide="edit"> Add Page</span>
                    <span ng-show="edit"> Update Page</span>
                </button>
                <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

            </div>




        </div>

    </div>
    <div class="modal-body">

        <questionnaire model="Q" sd = 'sd' bundle="bundle"></questionnaire>

    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
            </div>
        </div>
    </div>
</div>
