<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3 ng-hide="resourceType == 'Resource'" class="modal-title">
                    <div ng-show="input.mode=='find'">Search for Patient</div>
                    <div ng-show="input.mode=='new'">Add new Patient</div>

                </h3>
            </div>
            <div class="col-md-4 col-sm-4">

                <div class="pull-right">
                    <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/>
                    <button class="btn btn-link" ng-hide="showLog" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-show="allowClose" ng-click="$close(currentPatient)">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-body">

        <div ng-show="input.mode == 'find'">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <input type="text" ng-model="input.searchPatientName" class="form-control" autoFocus
                           placeholder="Enter name for patient search">
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-link" ng-click="searchForPatient(input.searchPatientName)">Search</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <input type="text" ng-model="input.patientId" class="form-control"
                           placeholder="Enter Id of patient on this server">
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-link" ng-click="loadPatient(input.patientId)">Load</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <input type="text" ng-model="input.identifier" class="form-control"
                           placeholder="Enter Identifier of patient">
                </div>
                <div class="col-md-2 col-sm-2">
                    <button class="btn btn-link" ng-click="searchForIdentifier(input.identifier)">Search</button>
                </div>
            </div>


            <br/>

            <div ng-show="matchingPatientsList">
                <div uib-alert class="alert-warning" ng-show="nomatch">
                    Sorry, there were no patients matching that name
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="resource in matchingPatientsList">

                        <div style="cursor:pointer" ng-click="selectNewPatient(resource)">
                            {{ResourceUtilsSvc.getOneLineSummaryOfResource(resource)}}
                        </div>

                    </li>
                </ul>

            </div>
        </div>



        <div ng-show="input.mode == 'new'">
            <div ng-show="showLog">
                <h5>Progress...</h5>
                <div ng-repeat="log in outcome.log">
                    {{log}}
                </div>
            </div>


            <form ng-hide = "showLog" class="form-horizontal" role="form">

                <div class="form-group">
                    <!-- Will set input.identifierError in the checkIdentifier() function...-->
                    <label class="col-md-3 col-sm-3 control-label">Identifier</label>
                    <div class="col-md-3 col-sm-3 ">
                        <!-- todo ng-blur not firing...-->
                        <input class="form-control" type="text" ng-model="input.identifier"
                               placeholder="Identifier should be unique"
                               ng-blur="checkIdentifier(input.identifier)"/>

                    </div>
                    <div class="col-md-6 col-sm-6">{{input.identifierError}}</div>
                </div>

                <div class="form-group">
                    <label class="col-md-3  col-sm-3  control-label">First Name</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="text" ng-model="input.fname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3  col-sm-3 control-label">Last Name</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="text" ng-model="input.lname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3  control-label">Date of Birth</label>


                    <div class="col-md-4 col-sm-4">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="input.dob" is-open="popup2.opened"
                                   datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="popup2.opened = true">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                        </p>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        Age: {{input.dob | getAge}}
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3  col-sm-3 control-label">Gender</label>
                    <div class="col-md-4 col-sm-4">

                        <span><input type="radio" name="gendernewpat" value='male' ng-model="input.gender"> Male</span>
                        &nbsp;&nbsp;
                        <span><input type="radio" name="gendernewpat" value='female' ng-model="input.gender"> Female</span>

                    </div>

                </div>


                <div class="form-group">
                    <label class="col-md-3  col-sm-3 control-label">Generate samples</label>
                    <div class="col-md-4 col-sm-4">

                        <checkbox ng-model="input.createSamples"></checkbox>

                    </div>
                    <div class="col-md-5 col-sm-5">
                        <!-- Don't show the button until the name is there... -->
                        <div href="#" ng-click="addNewPatient()" ng-show='input.lname && ! input.identifierError'
                             class="btn btn-primary pull-right">Add patient</div>
                    </div>

                </div>
            </form>


        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-12 col-sm-12" ng-show="allDone">
                <strong>All resources have been created. Click the close button to return to the front page</strong>
                <p>You can review the resource instances that were created using the 'Details' link at the upper left on the screen.</p>
            </div>

        </div>


    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div ng-hide="showLog">
                    <div ng-show="input.mode=='find'" class="btn btn-link pull-left"
                         ng-click="seletNewPatientOption()">Add new patient</div>
                    <div ng-show="input.mode=='new'" class="btn btn-link pull-left"
                         ng-click="input.mode='find'">Find existing patient</div>
                </div>

            </div>

            <div class="col-md-8 col-sm-8">
                <div class="pull-right">{{config.getCurrentDataServer().url}}</div>

                <!--
                <button class="btn btn-warning" ng-hide="showLog" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-show="allowClose" ng-click="$close()">Close</button>
                -->
            </div>
        </div>



    </div>
</div>