<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3 ng-show="resourceType == 'Resource'" class="modal-title">Select the type to search</h3>
                <h3 ng-hide="resourceType == 'Resource'" class="modal-title">Search for {{resourceType}} Resource</h3>
                <div ng-show="profileUrl"><em>Profiled: {{profileUrl}}</em></div>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-show="selectedResource" ng-click="ok(selected.item)">Select</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">
        <div ng-show="loading" class="alert alert-info">
            Querying server, please wait...
        </div>




        <div ng-hide="typeWasSpecified">
            <div>
                <div class="col-md-4 col-sm-4">
                    Resource type
                </div>
                <div class="col-md-8 col-sm-8">
                    <select ng-model="input.type" ng-change="typeSelected(input.type)" class="form-control"
                            ng-options = "r.name for r in resourceTypeList">

                    </select>
                </div>
            </div>

        </div>


        <uib-tabset>
            <uib-tab heading="Query Parameters">
                <br/>
                <div ng-show="selectedResources.total > 0" class="alert alert-success">
                    There were {{selectedResources.entry.length}} resources located. Please select the 'results' tab to select the one you want.
                    (There's a bug at the moment and I can't do it for you!)
                </div>
                <div ng-show="selectedResources.total == 0" class="alert alert-warning">
                    Sorry, there were no resources that matched that query ({{searchString}}).
                    Try again with a more general search (eg a smaller search string)
                </div>

                <div style="height: 200px; overflow-y: auto;">
                    <form class="form-horizontal" role="form">
                        <div ng-repeat = "srch in searchParams">

                            <div ng-if="srch.type=='string' && srch.name.substr(0,1) != '_'">
                                <div class="form-group">
                                    <div class="col-md-2">{{srch.name}}</div>
                                    <div class="col-md-1">==</div>
                                    <div class="col-md-4"><input type="text" class="form-control" ng-model="results[srch.name]"/> </div>
                                    <div class="col-md-5">{{srch.documentation}}</div>
                                </div>
                            </div>

                            <div ng-if="srch.type=='token' && srch.name.substr(0,1) != '_'">
                                <div class="form-group">
                                    <div class="col-md-2">{{srch.name}}</div>
                                    <div class="col-md-1">==</div>

                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Textual value of code" ng-model="results[srch.name]"/>
                                    </div>
                                    <div class="col-md-5">{{srch.documentation}}</div>
                                </div>
                            </div>



                    </div>

                </form>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{searchString}}
                    </div>
                    <div class="col-md-3">
                        <div ng-hide="loading">
                            <button class="btn btn-primary pull-right" ng-click="search()">Search</button>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>Results <span class="badge">{{selectedResources.entry.length}}</span> </uib-tab-heading>
                <!-- after resources have been selected...-->
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <!-- The result list-->

                        <div class="list-group">
                            <div href="#" class="list-group-item" ng-repeat="ent in selectedResources.entry"
                               ng-click="selectResource(ent)" style="cursor: pointer">

                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(ent.resource);}}
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <pre ng-show="selectedResource">{{selectedResource | json}}</pre>
                    </div>

                </div>

            </uib-tab>
        </uib-tabset>




    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-8">
                <div class="text-left">
                    {{config.servers.data}}{{searchString}}

                </div>

            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-show="selectedResource" ng-click="ok(selected.item)">Select</button>
            </div>
        </div>



    </div>
</div>