<div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-7 col-sm-7">
                <h4>Extension definitions for a {{resourceType}} resource type</h4>
            </div>

            <div class="col-md-1 col-sm-1">
                <div class="pull-right navbar-form" ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-show="selectedExtension" ng-click="$close(selectedExtension)">Select</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div ng-show="loading" class="alert alert-info">
            Querying server, please wait...
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">

                <div><input class="form-control" ng-model='flter' ng-change="filter(flter)" type="text" placeholder="Filter by name"/> </div>


                <div style="height:400px; overflow-y: auto;" >
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="ent in bundle.entry"
                             ng-click="selectExtension(ent)" style="cursor: pointer">
                            {{ent.resource.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">

                <uib-tabset ng-show="analyse">
                    <uib-tab heading="Description">
                        <fhir-extension analyse="analyse" ></fhir-extension>
                    </uib-tab>
                    <uib-tab heading="Json">
                        <pre>{{selectedExtension | json}}</pre>
                    </uib-tab>
                    <uib-tab heading="Analysis">
                        <pre>{{analyse | json}}</pre>
                    </uib-tab>
                </uib-tabset>


            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">

                {{qry}}
            </div>

        </div>



    </div>
</div>