<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Select a scenario</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button ng-show="selectedDocRef" class="btn btn-primary pull-right" ng-click="select()">Select</button>
                    <button  class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="list-group">
                    <div class="list-group-item" ng-click="selectScenario(docRef)" ng-repeat="docRef in hashResource['DocumentReference']">
                        {{docRef.description}}
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-sm-8">
                <uib-tabset>
                    <uib-tab heading="Selected scenario">
                        <div ng-show="selectedPatient">
                            <strong>Patient:</strong> {{ResourceUtilsSvc.getOneLineSummaryOfResource(selectedPatient)}} ({{selectedPatient.id}})

                        </div>
                        <div ng-show="selectedDocRef.author"> <strong>Author:</strong>{{selectedDocRef.author.display}}</div>
                        <br/>
                        <p ng-bind-html="scenarioDescription | markDown"></p>

                        <div ng-show="types" >
                            <p>There are the following resource types in the scenario:</p>
                            <table style="margin-left: 20px">
                                <tr><th>Resource type</th><th>Count</th></tr>
                                <tr ng-repeat = "(k,v)  in types">
                                    <td style="padding:2px">{{k}}</td>
                                    <td style="padding:2px">{{v.cnt}}</td>
                                </tr>
                            </table>

                        </div>


                    </uib-tab>
                    <uib-tab heading="Developer view">
                        <em>This view is for developers only</em>

                        <uib-tabset>
                            <uib-tab heading="Patient">
                                <pre>{{selectedPatient | json}}</pre>
                            </uib-tab>
                            <uib-tab heading="DocumentReference">
                                <pre>{{selectedDocRef | json}}</pre>
                            </uib-tab>
                            <uib-tab heading="Bundle">
                                <pre>{{bundle | json}}</pre>
                            </uib-tab>
                        </uib-tabset>





                    </uib-tab>
                </uib-tabset>


            </div>

        </div>
        <br/>

    </div>




    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">






            </div>

        </div>



    </div>
</div>