<div>


    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 class="modal-title">Send a comment to the FHIR chat</h3>
            </div>
            <div class="col-md-1 col-sm-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-success" ng-show="input.name" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <p>Enter a comment to send to the FHIR chat</p>

    </div>

    <div class="modal-header">




    </div>
</div>