
<div>

    <style>
        .spacer {
            margin-bottom: 8px;
        }
    </style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 class="modal-title">Upload file</h3>

            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="pull-right">
                    <button  class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-4 col-sm-4">

                <h5>Upload new file</h5>

                <input class="btn btn-primary spacer" type="file" id="inputFileName"/>

                <textarea class="form-control spacer" placeholder="Description" ng-model="input.description"></textarea>

                <button class="btn btn-success spacer" ng-click="loadFile()">Load File</button>

                <button class="btn btn-danger spacer pull-right" ng-show="fileToUpload"
                        ng-click="uploadFile()">Upload</button>

                <div>
                    <checkbox ng-model="input.resetId"></checkbox> Reset Id
                </div>


            </div>
            <div class="col-sm-8 col-md-8">
                <pre ng-show="fileToUpload" class="myScroll">{{fileToUpload | json}}</pre>
            </div>


        </div>

    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div ng-show="url" >POST {{url}}</div>
            </div>
        </div>
    </div>

</div>

