
<div>

    <style>
        .myLink  {
            cursor: pointer;
            color: blue;
        }
        .pass {
            color:green;
        }
        .fail {
            color:red;
        }
    </style>

    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-5">
                <h3 class="modal-title">Validate Instance</h3>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <div style="padding-top: 8px">Validation Server</div>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-5">

                <select class="form-control"
                        ng-change="selectValidationServer(input.server)"
                        ng-options="value.name for value in config.allKnownServers track by value.name"
                        ng-model="input.server">

                </select>

            </div>

        </div>

    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div><button class="btn btn-primary form-control" ng-click="input.show='raw'">Json</button> </div>
                <br/>
                <div ng-show="instance"><button class="btn btn-primary form-control" ng-click="parse()">Parsed</button> </div>
                <!--
                <br/>

                <div ng-show="instance && validateResults"><button class="btn btn-primary form-control" ng-click="input.show='results'">Results</button> </div>
                -->
                <br/>
                <div ng-show="instance">
                <button  class="btn btn-primary form-control" ng-click="input.show='validate'">Validate</button>
                </div>
            </div>

            <div class="col-md-10 col-sm-10">

                <div ng-show="input.show == 'validate'">

                    <div class="row">

                        <div class="col-md-1 col-sm-1">Profile</div>
                        <div class="col-md-8 col-sm-8">
                            <select class="form-control"
                                    ng-change="selectValidationProfile(input.profile)"
                                    ng-options="item.url for item in profilesThisType"
                                    ng-model="input.profile">

                            </select>
                            <div class="pull-right myLink" ng-show="input.profile" ng-click="input.copyProfile = !input.copyProfile">
                                Copy to another server
                            </div>

                            <div ng-show="input.copyProfile">
                                <br/><br/>
                                <div><strong>Please Select the server to copy this profile to</strong></div>

                                <div class="row">
                                    <div class="col-md-2 col-sm-2">

                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <select class="form-control"

                                                ng-options="value.name for value in config.allKnownServers track by value.name"
                                                ng-model="input.copyServer">

                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <button class="btn btn-danger" ng-click="copyProfile(input.copyServer,input.profile)">Copy</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">

                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <button class="btn btn-link" ng-click="checkServerHasValueSets()">Check this server has required valuesets</button>

                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <pre ng-show="copyOutcome">{{copyOutcome|json}}</pre>
                                    </div>
                                </div>



                            </div>


                            <br/><br/>
                            <table class="table table-bordered">
                                <tr ng-repeat="el in valueSets" popover-placement="top" popover-trigger='mouseenter'
                                    uib-popover="{{el.binding.description}}">
                                    <td>{{el.binding.valueSetReference.reference}}</td>
                                    <td>{{el.path}}</td>
                                    <td>{{el.binding.strength}}</td>
                                    <td>
                                        <div ng-show="el.vs">
                                            <i class="glyphicon glyphicon-ok pass"></i>
                                        </div>
                                        <div ng-show="el.noVs">
                                            <i class="glyphicon glyphicon-remove fail" ng-click="copyFile[$index] = !copyFile[$index]"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>





                        </div>
                        <div class="col-md-1 col-sm-1">
                            <span class="badge">{{profilesThisType.length}}</span>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button  class="btn btn-danger form-control" ng-click="validate()">Validate</button>
                        </div>
                    </div>
                    <br/>

   <!--
                    <div class="row">
                        <div class="col-md-2 col-sm-2"></div>
                        <div class="col-md-2 col-sm-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-sm-2"></div>
                        <div class="col-md-2 col-sm-2"></div>
                    </div>
-->


                    <div uib-alert class="alert-success"
                               ng-show="validateResults.outcome">
                        {{validateResults.outcome}}
                    </div>

                    <div uib-alert  class="alert-warning"
                                ng-show="validateResults && validateResults.issue && validateResults.issue.length > 0">
                        <div>Sorry, there were some issues:</div>
                        <br/>
                        <p ng-bind-html="error"></p>

                        <table class="table table-bordered">
                            <tr><th>Severity</th><th>Code</th><th>Details/Diagnostics</th><th>Location</th></tr>
                            <tr ng-repeat = "iss in validateResults.issue">
                                <td>{{iss.severity}}</td>
                                <td>{{iss.code}}</td>
                                <td>{{iss.details.text}}
                                    <div>{{iss.diagnostics}}</div>
                                </td>
                                <td><div ng-repeat="loc in iss.location">{{loc}}</div></td>
                            </tr>
                        </table>

                    </div>



                </div>

                <div ng-show="input.show == 'raw'">

                    <div class="row">
                        <div class="col-md-10 col-sm-10">

                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-primary" ng-click="load()">Load</button>
                        </div>
                    </div>

                     <textarea  ng-model="instance" placeholder="Copy the JSON resource to be validated here"
                                class="form-control" rows="18"></textarea>
                </div>

                <div ng-show="input.show == 'parse'">
                    <h4>Resource type: {{resource.resourceType}}</h4>

                    <uib-tabset>
                        <uib-tab heading="Summary">
                            <h5>Profiles claimed conformant:</h5>




                        </uib-tab>
                        <uib-tab heading="Extensions in resource">

                            <table class="table-bordered table table-condensed">
                                <tr ng-repeat="ext in extensions">
                                    <td>

                                        <div class="row">
                                            <div class="col-md-10 col=sm-10">
                                                {{ext.url}}
                                                <div>Path: <em>{{ext.path}}</em></div>
                                                <div ng-show="copyFile[$index]">Copy definition from

                                                </div>

                                            </div>
                                            <div class="col-md-1 col=sm-1">
                                                <span title="toggle display of the value" class="myLink" ng-click="extValue[$index] = !extValue[$index]">Value</span>
                                            </div>
                                            <div class="col-md-1 col=sm-1">
                                                <div ng-show="ext.sdef">
                                                    <i class="glyphicon glyphicon-ok pass"></i>
                                                </div>
                                                <div ng-show="ext.noSdef">
                                                    <i class="glyphicon glyphicon-remove fail" ng-click="copyFile[$index] = !copyFile[$index]"></i>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12 col=sm-12">
                                                <pre ng-show="extValue[$index]" >{{ext.value | json:2}}</pre>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="col-md-12 col=sm-12">
                                    <span class="myLink pull-right" ng-click="checkServerHasDefs()">Check server has Extension Definitions</span>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>




                </div>



                <div ng-show="input.show =='results'">
                    <!--
                    <h4>Results</h4>

                    <uib-alert type="success"
                               ng-show="validateResults.outcome">
                        {{validateResults.outcome}}
                    </uib-alert>

                    <uib-alert  type="warning"
                               ng-show="validateResults && validateResults.issue && validateResults.issue.length > 0">
                        <div>Sorry, there were some issues:</div>
                        <br/>
                        <p ng-bind-html="error"></p>

                        <table class="table table-bordered">
                            <tr><th>Severity</th><th>Code</th><th>Details/Diagnostics</th><th>Location</th></tr>
                            <tr ng-repeat = "iss in validateResults.issue">
                                <td>{{iss.severity}}</td>
                                <td>{{iss.code}}</td>
                                <td>{{iss.details.text}}
                                    <div>{{iss.diagnostics}}</div>
                                </td>
                                <td><div ng-repeat="loc in iss.location">{{loc}}</div></td>
                            </tr>
                        </table>

                    </uib-alert>
-->
                </div>

            </div>


        </div>

    </div>

    <div class="modal-header">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div>{{url}} <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/></div>


        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="pull-right">

                <div>

                    <button  class="btn btn-warning" ng-click="$dismiss()">Close</button>

                </div>


            </div>

        </div>

        </div>
    </div>

</div>
