<div>

<style>
    .myAlign {
        position: fixed;
        left: 230px;
    }
</style>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Concept: {{vo.option.code}}</h3>
            </div>
            <div class="col-md-1">
                <div ng-show="showWaiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <uib-tabset>

            <uib-tab heading="Details of concept">
                <br/>
                <div><strong>Concept display name: </strong><span class="myAlign">{{vo.display}}</span></div>
                <div><strong>Terminology name: </strong><span class="myAlign">{{vo.name}}</span> </div>
                <div><strong>Terminology version: </strong><span class="myAlign">{{vo.display}}</span> </div>

                <br/>
                <strong>Designations</strong>
                <table class="table table-bordered">
                    <tr ng-repeat="des in vo.designation">
                        <td width="25%">{{des.type}}</td>
                        <td>{{des.value}}</td>
                        <td>{{des.language}}</td>
                    </tr>
                </table>

                <strong>Properties</strong>
                <table class="table table-bordered">
                    <tr ng-repeat="prop in vo.property">
                        <td width="25%">{{prop.type}}</td>
                        <td>{{prop.value}}</td>

                    </tr>
                </table>
            </uib-tab>

            <uib-tab heading="vo Json">
                <pre>{{vo | json}}</pre>


            </uib-tab>
            <uib-tab heading="Json">
                <pre>{{params | json}}</pre>
            </uib-tab>
        </uib-tabset>







    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">


            </div>

        </div>



    </div>
</div>