<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3>Copy ValueSet to another server</h3>

            </div>

            <div class="col-md-4">

                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button  ng-show="input.vspreview" class="btn btn-success" ng-click="select()">Select</button>
                    <button class="btn btn-primary" ng-click="$dismiss()">Close</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">


        <uib-tabset>
            <uib-tab heading="Select Server">
                <br/>
                <select class="form-control"
                        ng-change="selectValidationServer(input.server)"
                        ng-options="value.name for value in config.allKnownServers track by value.name"
                        ng-model="input.server">

                </select>


            </uib-tab>
            <uib-tab heading="Json">
                <pre>{{vs | json}}</pre>
            </uib-tab>
        </uib-tabset>


    </div>

    <div class="modal-footer">

        <em>{{termServer}}</em>

    </div>
</div>