<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3>ValueSet Display</h3>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button ng-show="input.vspreview" class="btn btn-success" ng-click="select()">Select</button>
                    <button class="btn btn-primary" ng-click="$dismiss()">Close</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">


        <table class="table table-bordered">
            <tr ng-repeat="concept in data">
                <td>{{concept.code}}</td>
                <td>{{concept.display}}</td>
            </tr>

        </table>
    </div>

    <div class="modal-footer">

        <em>{{uri}}</em>

    </div>
</div>