<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3>Bind ValueSet</h3>

            </div>


            <div class="col-md-4">

                <div class="pull-right">
                    <img ng-show='showWaiting' src="css/ajax_loader_blue_32.gif"/>
                    <button class="btn btn-link" ng-click="$dismiss()">Close</button>
                    <button  ng-show="input.vspreview" class="btn btn-success" ng-click="select()">Select</button>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-5 col-sm-5">

                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <input type="text" ng-model="input.searchName" class="form-control" autofocus placeholder="Enter search text"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button class="btn btn-link" ng-click="search(input.searchName)">Find</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <input type="text" ng-model="input.vsUrlDirect" class="form-control" autofocus placeholder="Enter Url directly"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button class="btn btn-link" ng-click="addUrlDirectly(input.vsUrlDirect)">Find</button>
                    </div>
                </div>



                <br/>
                <div uib-alert class="alert-warning" ng-show="message">
                    {{message}}
                </div>

                <div uib-alert class="alert-info" ng-hide="searchResultBundle.entry">
                    Enter a search string into the text box above and click 'Find'.
                    The app will find all ValueSets where the string you enter is in the name of the ValueSet.
                    Alternatively, enter the Url directly into the second box. If the Url is found on the terminology
                    server then the details will be displayed, but even if not found it can be selected.

                </div>


                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="entry in searchResultBundle.entry" style="margin-bottom: 5px">

                        <div class="row" ng-click="selectVSForDisplay(entry.resource)" style="cursor: pointer">
                            <div class="col-md-12 col-sm-12">
                                {{entry.resource.name}}
                                <div style="margin-left: 10px"><em>{{entry.resource.description}}</em></div>
                            </div>

                        </div>

                    </li>
                </ul>




            </div>
            <div class="col-md-7 col-sm-7">
                <div ng-show="input.vspreview">

                    <div class="banner"> {{input.vspreview.url}}</div>

                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <strong>Binding Strength</strong>
                        </div>


                        <div class="col-sm-4 col-md-4">
                            <select ng-model='input.strength' class="form-control"
                                    ng-options="strength as strength for strength in input.arStrength"></select>

                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <strong>Description</strong>
                        </div>


                        <div class="col-sm-8 col-md-8">
                            <textarea ng-model='input.description' class="form-control"></textarea>

                        </div>
                    </div>


                    <hr/>
                </div>

                <!-- Only show this if the valueSet was retrieved from the Terminology server-->
                <uib-tabset ng-show="input.vspreview && input.vspreview.id">
                    <uib-tab heading="Json">
                        <br />
                        <pre ng-show="input.vspreview">{{input.vspreview | json}}</pre>
                    </uib-tab>
                    <uib-tab heading="Expand">
                        <br/>
                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <input type="text" class="form-control" placeholder="Filter text" ng-model="input.filter">
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <button class="btn btn-link" ng-click="showExpansion(input.vspreview.id,input.filter)">Expand</button>
                            </div>
                        </div>
                        <br/>
                        {{queryDEP}}
                        <table class="table table-bordered">
                            <tr><td>Code</td><td>Display</td></tr>
                            <tr ng-repeat="item in expansion.contains">
                                <td>{{item.code}}</td>
                                <td>{{item.display}}</td>
                            </tr>
                        </table>
                        <div class="alert alert-info" ng-show="queryError">{{queryError}}</div>

                    </uib-tab>
                </uib-tabset>



            </div>
        </div>


    </div>

    <div class="modal-footer">

        <em>{{termServer}}</em>

    </div>
</div>