
<uib-tabset>
    <uib-tab heading="Edit">
        <br/>
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <ul class="list-group">
                    <li ng-class="{'list-group-item':true}" ng-repeat="item in model.item">
                        <span class="pull-right" ng-show="item.repeats">*</span>
                        <div class="clickable capitalize" ng-click="selectSection(item)"

                             uib-popover="{{item.myMeta.ed.definition}}"
                             popover-placement="top"
                             popover-trigger="'mouseenter'">
                        {{item.text}}</div>

                    </li>
                </ul>

            </div>
            <div class="col-sm-10 col-md-10">
                <div class="row rounded-box-filled">
                    <div class="col-sm-4 col-md-4">
                        <h5>{{selectedSection.text}}</h5>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <i ng-show="selectedSection.repeats" class="pull-right glyphicon glyphicon-plus clickable" ng-click="addSection()"></i>
                    </div>
                </div>
                <br/>

                <!--<form>   class="form-group" -->
                    <div  ng-repeat="item in selectedSection.item">
                        <div class="row underline">
                            <div class="col-sm-2 col-md-2">
                                <button class="btn btn-default form-control">
                                    <span class= 'clickable' ng-click = "selectQItem(item)">{{item.text}}</span>


                                    <span ng-show="item.repeats"> *</span>
                                </button>


                            </div>

                            <div class="col-sm-7 col-md-7">

                                <div ng-repeat="answer in item.myMeta.answer">
                                    <div class="answer">
                                        <i class="pull-right glyphicon glyphicon-minus-sign clickable"
                                           ng-click="deleteAnswer(item,$index)"></i>
                                        {{answer.display}}
                                    </div>

                                </div>




                            </div>

                            <div class="col-sm-3 col-md-3">
                                {{getDescription(item)}}
                            </div>

                        </div>
                    </div>
               <!-- </form>-->
            </div>
        </div>




    </uib-tab>

    <uib-tab heading="Resource">
        <pre>{{QR.resource | json}}</pre>
    </uib-tab>

    <uib-tab heading="Text view">

        <div ng-repeat="section in display">
            <div><div class="capitalize">{{section.sectionItem.text}}</div></div>
            <div ng-repeat="item in section.item">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
                       {{item.text}}
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div ng-repeat="answer in item.myMeta.answer">
                            <div uib-popover="{{answer.detail}}"
                                popover-placement="top"
                                popover-trigger="'mouseenter'">
                                {{answer.display}}</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </uib-tab>
    <uib-tab heading="Questionnaire Json" select="makeDisplayJson()" >
        <pre>{{displayModel | json}}</pre>
    </uib-tab>
    <uib-tab heading="QuestionnaireResponse Json">
        <pre>{{QR.QR | json}}</pre>
    </uib-tab>

</uib-tabset>




<vs-browser trigger="showVSBrowserDialog" hidesearch="true"
            vs-selectedDEP="vsSelected" concept-selected="conceptSelected" ></vs-browser>
