<!--

Template for displaying a Document.
Assumes a data model in the format:

Composition
    title
    synopsis
    medications (list medication)
        name                (cc)
        strength        (quantity)
        form            (cc)
        dose
            route           (cc)
            frequency       (Timing)
            duration        (period)
            instructions    (cc)
        indication          (cc)
        comment             (annot)
        date                (date)
    nomeds                  (cc)
    adverseReactions
        substance
        criticality
        verification
        manifestation
        comment
        date
    noAdverseReactions
    problems                (list problem)
        name
        severity
        site
        laterality
        dateRecognized
        comment
        status
        course
    procedure
        name
        site
        laterality
        date
        comment
      noMedHistory          (cc)

patient
    name
    gender
    birthDate


-->

<!-- Top level div to keep things neat-->
<div>

    <!-- where the rendered template will go -->
    <div id="result"></div>

    <!-- The main layout for the template. Uses the canonical model (built from the bundle)
    Heavy use of helpers for each block in the document-->
    <script id="main-template" type="text/x-handlebars-template">
        <h2>{{composition.title}}</h2>
        <div class="row">
            <div class="col-md-2">
                Author:
            </div>
            <div class="col-md-10">
                {{composition.author.display}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Patient
            </div>
            <div class="col-md-10">
                {{#patient patient}}{{/patient}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Medications List
            </div>
            <div class="col-md-10">
                {{#medication_list composition.medications}}{{/medication_list}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Problem List
            </div>
            <div class="col-md-10">
                {{#problem_list composition.problems}}{{/problem_list}}
            </div>
        </div>

    </script>

    <!--  Individual display templates - generally one per resource  -->

    <!-- Display the patient details-->
    <script id="patient-template" type="text/x-handlebars-template">
        <div><strong>{{name}}</strong></div>
        <div>{{gender}} {{birthDate}}</div>
    </script>

    <!-- Display a single problem-->
    <script id="condition-template" type="text/x-handlebars-template">
        <div>
            <b>{{name}}</b>
        </div>
    </script>

    <!-- Display a single medication-->
    <script id="medication-template" type="text/x-handlebars-template">
        <div>
            <b>{{text}}</b>
        </div>
    </script>



    <!-- Display a CodeableConcept-->
    <script id="cc-template" type="text/x-handlebars-template">
        <div>
            <b>{{text}}</b>
        </div>
    </script>


    <script>


        //Note that mainTemplate must be declared against the document object so it can be invoked from the visualizer.
        document.mainTemplate = Handlebars.compile(document.getElementById('main-template').innerHTML)

        //the individual functions for each resource. Used by the helpers...
        let patient_template = Handlebars.compile(document.getElementById('patient-template').innerHTML)
        let condition_template = Handlebars.compile(document.getElementById('condition-template').innerHTML)
        let medication_template = Handlebars.compile(document.getElementById('medication-template').innerHTML);

        //Display a CodeableConcept
        let cc_template = Handlebars.compile(document.getElementById('cc-template').innerHTML)


        /*
        Helpers - each is responsible for rendering a block in teh template

        (invoked by {{#helpername context}}{{/patient}})
        each returns a block of HTML...

        */

        /* helper to display demographis details using the patient template*/
        Handlebars.registerHelper('patient',function(pat) {
            return patient_template(pat)
        });


        /* helper to render the problem list*/
        Handlebars.registerHelper('problem_list',function(problems) {
            console.log(problems)
            let html = "";
            if (problems) {
                problems.forEach(function(problem) {
                    html += condition_template(problem)
                });
            }
            return html
        });

        /* helper to return the list of medications*/
        Handlebars.registerHelper('medication_list',function(meds) {
            let html = "";
            console.log(meds)
            if (meds) {
                meds.forEach(function(med) {
                    console.log(med)
                    html += medication_template(med)
                });
            }

            return html
        });



    </script>

</div>