<div>
    <h3>FHIR Artifacts</h3>
</div>

<p>This section of the Guide contains the specific FHIR artifacts that have been defined to meet the business requirements. Like
the documentation, they are listed in the Table of contents (TOC) and will be displayed in this pane when selected.</p>

<p>While it should be possibel for anyone to understand them, creating them does require FHIR knowledge.</p>

<div class="row">
    <div class="col-md-3">
        <p>There are 6 types of artifact in this Guide:</p>
        <ul class="list-unstyled clickable">
            <li ng-click="artDetail='logical'">Logical models</li>
            <li ng-click="artDetail='profile'">Profiles</li>
            <li ng-click="artDetail='extension'">Extension Definitions</li>
            <li ng-click="artDetail='terminology'">Terminology resources</li>
            <li ng-click="artDetail='other'">Other artifacts</li>
            <li ng-click="artDetail='example'">Examples</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ng-show="artDetail =='logical'">
            <div class="banner">Logical Models</div>
            <p>A logical model is intended to show the contents of a structured 'thing'. For example it might be used
            to show:</p>
            <ul>
                <li>The contents of a message that is send between systems</li>
                <li>Data that should be captured and stored</li>
                <li>The structure of a particular document type (Like an ED Discharge Note)</li>
            </ul>
            <p>It uses the same infrastructure as the usual FHIR resources (eg the same dataTypes, and uses a
            StructureDefinition resource to store it), but it is not constrained to the resource types defined in the
            FHIR specification. This does mean that 'instances' of sample data that are created according to the
            structure in a Logical Model cannot be saved in a standard FHIR server.</p>
            <p>So it's an analysis tool used to capture business requirements (at least the data componnet of those requirements)
            as a step before creating the real FHIR conformance artifacts. It is intended that anyone can create a Logical Model
            (and clinFHIR has a tool to to this), whereas it takes FHIR knowledge to define the FHIR artifacts.</p>
        </div>

        <div ng-show="artDetail == 'profile'">
            <div class="banner">Profiles</div>
            <p>A 'Profile' takes a core FHIR resouce (like a Patient) and adapts it to meet the defined business
            requirements. The sorts of things that you can do in a Profile include:</p>
            <ul>
                <li>Adding an additional element that is not in the core. For example the patients ethnicity. (This is
                known as an extension, and there is a FHIR resource that describes it -
                    <span class = 'clickable' ng-click="artDetail='extension'">see the details</span> in this document)</li>
                <li>Removing an element that is not supported in this implementation (eg Patient.photo). In general it is
                better to leave these elements as optional, unless they are specifically not wanted.</li>
                <li>Changing number of times that an element can appear (its 'multiplicity') - within some limits. eg It is
                possible to make an element defined as multiple, but not the other way around.</li>
                <li>Fix the 'type' of some element. eg require that an identifier must be of a given system - such as the
                New Zealand National Health Index
                    (<a href="http://www.health.govt.nz/our-work/health-identity/national-health-index" target="_blank">NHI</a>).</li>
                <li>Change the set of possible values that a coded element can have - called 'binding' to a ValueSet. This can
                be done for most (but not all) coded elements, depending on the
                    <a target="_blank" href="http://hl7.org/fhir/terminologies.html#strength">strength</a> of the binding .</li>
            </ul>


        </div>
        <div ng-show="artDetail == 'extension'">
            <div class="banner">Extension Definitions</div>
            <p>An Extension Definition is the FHIR artifact that describes the details of an additional element that
                can be added to a core Resource during <span class = 'clickable' ng-click="artDetail='profile'">Profiling</span>. The idea is that when profiled resources are exchanged,
            a recipient can use the definition to understand what the element is intended to represent.</p>
            <p>An extension can use any of the defined FHIR datatypes (including referencing other reources) and
            can be either a simple element with one value, or a complex element with child values.</p>
            <p>It is possible that an extension value can be of different datatypes (eg a string or a date), though
            a given instance will only have one of them.</p>

        </div>

        <div ng-show="artDetail == 'terminology'">
            <div class="banner">Terminology resources</div>
            <p>The terminology sub-system describes how the value coded elements can be bound to a specific set of values.
            There are details of how FHIR uses terminology
                <a target="_blank" href="http://hl7.org/fhir/terminology-module.html">here</a>.
            </p>
            <p>There are a number of different resources that are included in the Terminology module:</p>
            <ul >
                <li><a target="_blank" href="http://hl7.org/fhir/terminology-module.html">ValueSet</a>. This defines a set
                of values (technically 'concepts') that a coded element may have</li>
                <li><a target="_blank" href="http://hl7.org/fhir/terminology-module.html">CodeSystem</a>. The definition of
                    the concept itself. May be a 'pointer' to an existing Terminology (like SNOMED) or define an ah-hoc set</li>
                <li><a target="_blank" href="http://hl7.org/fhir/terminology-module.html">ConceptMap</a>. Used to
                map a concept between multiple code systems - eg between HL7 v2 messages and FHIR</li>
                <li><a target="_blank" href="http://hl7.org/fhir/terminology-module.html">NamingSystem</a>.
                    Used especially for Identifiers, but also code systems. An example would be to define the system
                    within which a Drovers License is unique - effectively the 'issuer' of the license.
                </li>
            </ul>
            <p>A common use of Terminology in Implementation Guides is to define the ValueSet to be used for a
                coded element. The overall steps in changing a terminology binding are:</p>
            <ol>
                <li>Create a ValueSet that has the set of possible values. Generally, these are from a single Code System
                (like SNOMED or LOINC) but it is quite possible that a single ValueSet has values from more than one.</li>
                <li>Decide on the
                    <a target="_blank" href="http://hl7.org/fhir/terminologies.html#strength">Binding Strength</a>
                     - ie can a a resource instance have a value that is not in the ValueSet
                (usually you do want to allow others - see the spec for details</li>
                <li>Create a profile on the resource type that binds the element to the ValueSet, or add the binding
                to a Logical Model.</li>
            </ol>

        </div>
        <div ng-show="artDetail == 'other'">
            <div class="banner">Other resources</div>
            <p>A catch all for other resources that an Implementation Guide may define - such as a
                <a target="_blank" href="http://hl7.org/fhir/capabilitystatement.html">CapabilityStatement</a>, which indicates
                what a server can do - or what it needs to be able to do to meet the requirements of the IG.
            </p>
        </div>
        <div ng-show="artDetail == 'example'">
            <div class="banner">Examples</div>
            <p>Any examples of resource instances that have been defined</p>
        </div>
    </div>
</div>

