<!-- THis is the curent version!! -->

<div ng-controller="dataTypeCtrl">
    <!--<div ng-controller="dataTypeCtrl"> -->


    <div ng-show="dataTypeBeingEntered == 'Reference'">

        <div class="row">
            <div class="col-md-2  col-sm-2">
                Url
            </div>
            <div class="col-md-10  col-sm-10">
                <input placeholder = 'eg Patient/101' type="text" class="form-control" ng-model="input.dt.reference.url"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2  col-sm-2">
                Display
            </div>
            <div class="col-md-10  col-sm-10">
                <input placeholder = 'eg John Doe' type="text" class="form-control" ng-model="input.dt.reference.display"/>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-md-2  col-sm-2">
                Identifier (R3 only)
            </div>
            <div class="col-md-10  col-sm-10">
                <input placeholder = 'eg http://nhi.moh.govt.nz|WER25610' type="text" class="form-control" ng-model="input.dt.reference.identifier"/>
            </div>

        </div>




    </div>

    <div ng-show="dataTypeBeingEntered == 'instant'">
        <div class="row">
            <div class="col-md-7  col-sm-7 col-centered">
                <div uib-datepicker ng-model="input.dt.instant" class="well well-sm"></div>
            </div>
        </div>
    </div>

    <div ng-show="dataTypeBeingEntered == 'Narrative'">
        <!-- The status is 'additional' if any user text is entered...-->
        <div class="row">
            <div class="col-md-7  col-sm-7 col-centered">
                <textarea rows="8" class="form-control"ng-model="input.dt.narrative.div"></textarea>
            </div>
        </div>
    </div>

    <div ng-show="dataTypeBeingEntered == 'Attachment'">


        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Title
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter title' type="text" class="form-control" ng-model="input.dt.attachment.title"/>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                ContentType
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter content type' type="text" class="form-control" ng-model="input.dt.attachment.contentType"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Language
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter language' type="text" class="form-control" ng-model="input.dt.attachment.language"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Url
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter Url to content' type="text" class="form-control" ng-model="input.dt.attachment.url"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Size
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter size of the content' type="text" class="form-control" ng-model="input.dt.attachment.size"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Hash
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter content hash' type="text" class="form-control" ng-model="input.dt.attachment.hash"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Creation
            </div>
            <div class="col-md-6  col-sm-6 ">
                <div uib-datepicker ng-model="input.dt.attachment.creation" class="well well-sm"></div>

            </div>
        </div>


    </div>

    <div ng-show="dataTypeBeingEntered == 'Quantity'">


        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Value
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter quantity value (must be a number)' type="text" class="form-control" ng-model="input.dt.quantity.value"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                System
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter units as string (eg mmHg)' type="text" class="form-control" ng-model="input.dt.quantity.unit"/>

                <!--
                <input type="text" ng-model="input.dt.quantity.units"
                       placeholder="{{vsDetails.id}} (minimum 2 characters)"
                       typeahead-min-length="2"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="selectCCfromList($item, $model, $label)"
                       uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,{id:'ucum-common'})"
                       class="form-control"/>

-->
            </div>
        </div>


    </div>

    <div ng-show="dataTypeBeingEntered == 'Dosage'">



        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-1  col-sm-1 ">
                Sequence
            </div>
            <div class="col-md-5  col-sm-5 ">
                <input placeholder = 'Sequence' type="text" class="form-control" ng-model="input.dt.dosage.sequence"/>
            </div>
            <div class="col-md-1  col-sm-1 ">

            </div>
            <div class="col-md-5  col-sm-5 ">

            </div>
        </div>


        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-1  col-sm-1 ">
                Dose Quantity
            </div>
            <div class="col-md-5  col-sm-5 ">
                <div class="row">
                    <div class="col-md-6  col-sm-6 ">
                        <input placeholder = 'Amount' type="text" class="form-control" ng-model="input.dt.dosage.dose.value"/>
                    </div>
                    <div class="col-md-6  col-sm-6 ">
                        <input placeholder = 'Unit' type="text" class="form-control" ng-model="input.dt.dosage.dose.unit"/>
                    </div>
                </div>



            </div>
            <div class="col-md-1  col-sm-1 ">
                Route
            </div>
            <div class="col-md-5  col-sm-5 ">
                <input type="text" ng-model="input.dt.dosage.route.coding"
                       uib-popover="Search is 'starts with' - eg 'ora' or 'int'"
                       popover-placement="top"
                       popover-trigger="'mouseenter'"

                       typeahead-min-length="3"
                       typeahead-wait-ms="1000"
                       typeahead-on-select="selectCCfromList($item, $model, $label)"
                       uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,routeCodes)"
                       class="form-control"/>
            </div>
        </div>




        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-1  col-sm-1 ">
                Text
            </div>
            <div class="col-md-5  col-sm-5 ">
                <textarea class="form-control" ng-model="input.dt.dosage.text"></textarea>
            </div>
            <div class="col-md-1  col-sm-1 ">
                Patient Instructions
            </div>
            <div class="col-md-5  col-sm-5 ">
                <textarea class="form-control" ng-model="input.dt.dosage.patientInstructions"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1  col-sm-1 ">
                Timing
            </div>
            <div class="col-md-5  col-sm-5 ">
                <ng-include src="'/prTemplates/timing.html'"></ng-include>
            </div>
            <div class="col-md-1  col-sm-1 ">
                As Needed
            </div>
            <div class="col-md-5  col-sm-5 ">
                <input placeholder = 'Reason to take' type="text" class="form-control" ng-model="input.dt.dosage.prn.reason"/>
            </div>

        </div>




        <div class="row">
            <div class="col-md-1  col-sm-1 ">

            </div>
            <div class="col-md-5  col-sm-5 ">

            </div>
            <div class="col-md-1  col-sm-1 ">

            </div>
            <div class="col-md-5  col-sm-5 ">

            </div>
        </div>




    </div>

    <div ng-show="dataTypeBeingEntered == 'ContactPoint'">
        <div class="row">

            <div class="col-md-3  col-sm-3 ">
                <select class="form-control" ng-model="input.dt.contactpoint.use">
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="temp">Temp</option>
                    <option value="mobile">Mobile</option>

                </select>


            </div>
            <div class="col-md-3  col-sm-3 ">
                <select class="form-control" ng-model="input.dt.contactpoint.system">
                    <option value="phone">Phone</option>
                    <option value="fax">Fax</option>
                    <option value="email">Email</option>
                    <option value="pager">Pager</option>
                    <option value="url">Url</option>
                    <option value="other">Other</option>
                </select>


            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter value' type="text" class="form-control" ng-model="input.dt.contactpoint.value"/>
            </div>
        </div>

    </div>

    <div ng-show="dataTypeBeingEntered == 'Identifier'">


        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                Value
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter text value' type="text" class="form-control" ng-model="input.dt.identifier.value"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3  col-sm-3 ">
                System
            </div>
            <div class="col-md-6  col-sm-6 ">
                <input placeholder = 'Enter text value' type="text" class="form-control" ng-model="input.dt.identifier.system"/>
            </div>
        </div>


    </div>

    <div ng-show="dataTypeBeingEntered == 'boolean'">

        <checkbox ng-model="input.dt.boolean"/>


    </div>

    <div ng-show="dataTypeBeingEntered == 'Annotation'">
        <textarea  placeholder = 'Enter text' type="text" class="form-control" ng-model="input.dt.Annotation.text"></textarea>

    </div>

    <div ng-show="dataTypeBeingEntered == 'Period'">
        <div class="row">
            <div class="col-md-6  col-sm-6 ">
                <div uib-datepicker ng-model="input.dt.period.start" class="well well-sm"></div>
            </div>
            <div class="col-md-6  col-sm-6 ">
                <div uib-datepicker ng-model="input.dt.period.end" class="well well-sm"></div>
            </div>
        </div>

    </div>

    <div ng-show="dataTypeBeingEntered == 'date'">
        <div class="row">
            <div class="col-md-7  col-sm-7 col-centered">
                <div uib-datepicker ng-model="input.dt.date" class="well well-sm"></div>
            </div>
        </div>

    </div>

    <div ng-show="dataTypeBeingEntered == 'dateTime'">
        <div class="row">
            <div class="col-md-7  col-sm-7 ">
                <div uib-datepicker ng-model="input.dt.date" class="well well-sm"></div>
            </div>
            <div class="col-md-5  col-sm-5 ">
                <div uib-timepicker ng-model="input.dt.time"></div>
            </div>

        </div>
        <div class="row">

        </div>


    </div>

    <div ng-show="dataTypeBeingEntered == 'integer' || dataTypeBeingEntered == 'positiveInt' || dataTypeBeingEntered == 'unsignedInt'">
        <input placeholder = 'Enter integer value' type="text" class="form-control" ng-model="input.dt.integer"/>
    </div>

    <div ng-show="dataTypeBeingEntered == 'decimal'">
        <input placeholder = 'Enter decimal value' type="text" class="form-control" ng-model="input.dt.integer"/>
    </div>

    <div ng-show="dataTypeBeingEntered == 'string'">

        <uib-tabset>
            <uib-tab heading="Text">
                <br/>
                <input placeholder = 'Enter text value' type="text" class="form-control" ng-model="input.dt.string"/>
            </uib-tab>

            <uib-tab heading="Textarea">
                <br/>
                <textarea rows="8" class="form-control"ng-model="input.dt.string" >

                </textarea>

            </uib-tab>
        </uib-tabset>


    </div>

    <div ng-show="dataTypeBeingEntered == 'uri'">
        <input placeholder = 'Enter value of uri' type="text" class="form-control" ng-model="input.dt.uri"/>
    </div>

    <div ng-show="dataTypeBeingEntered == 'Address'">


        <div class="row">
            <div class="col-sm-1 col-md-1">
                Use
            </div>
            <div class="col-sm-2 col-md-2">
                <select ng-model="input.dt.Address.use" class="form-control">
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="temp">Temp</option>
                    <option value="old">Old</option>

                </select>
            </div>
            <div class="col-sm-1 col-md-1">
                Type
            </div>
            <div class="col-sm-2 col-md-2">
                <select ng-model="input.dt.Address.type" class="form-control">
                    <option value="postal">Postal</option>
                    <option value="physical">Physical</option>
                    <option value="both">Both</option>
                </select>
            </div>
        </div>

        <br/>

        <div class="row">

            <div class="col-sm-4 col-md-4">
                <input placeholder = 'First line' type="text" class="form-control" ng-model="input.dt.Address.line1"/>
            </div>

            <div class="col-sm-4 col-md-4">
                <input placeholder = 'Second line' type="text" class="form-control" ng-model="input.dt.Address.line2"/>
            </div>

            <div class="col-sm-4 col-md-4">
                <input placeholder = 'Third line' type="text" class="form-control" ng-model="input.dt.Address.line3"/>
            </div>

        </div>
        <br/>


        <div class="row">

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'City' type="text" class="form-control" ng-model="input.dt.Address.city"/>
            </div>

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'District' type="text" class="form-control" ng-model="input.dt.Address.district"/>
            </div>

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'State' type="text" class="form-control" ng-model="input.dt.Address.state"/>
            </div>

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'Post code' type="text" class="form-control" ng-model="input.dt.Address.postalCode"/>
            </div>

        </div>
        <br/>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <input placeholder = 'Country' type="text" class="form-control" ng-model="input.dt.Address.country"/>
            </div>
        </div>

        <br/>

        <input placeholder = 'Enter text value of Address' type="text" class="form-control" ng-model="input.dt.Address.text"/>
    </div>

    <div ng-show="dataTypeBeingEntered == 'HumanName'">

        <div class="row">
            <div class="col-sm-1 col-md-1">
                Use
            </div>
            <div class="col-sm-2 col-md-2">
                <select ng-model="input.dt.HumanName.use" class="form-control">
                    <option value="usual">Usual</option>
                    <option value="official">Official</option>
                    <option value="temp">Temp</option>
                    <option value="nickname">Nickname</option>
                    <option value="anonymous">Anonymous</option>
                    <option value="old">Old</option>
                    <option value="maiden">Maiden</option>
                </select>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-1 col-md-1">
                <input placeholder = 'Pfx' type="text" class="form-control" ng-model="input.dt.HumanName.prefix"/>
            </div>
            <div class="col-sm-3 col-md-3">
                <input placeholder = 'Given Name' type="text" class="form-control" ng-model="input.dt.HumanName.given"/>
            </div>

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'Middle' type="text" class="form-control" ng-model="input.dt.HumanName.middle"/>
            </div>

            <div class="col-sm-3 col-md-3">
                <input placeholder = 'Family Name' type="text" class="form-control" ng-model="input.dt.HumanName.family"/>
            </div>

            <div class="col-sm-2 col-md-2">
                <input placeholder = 'Suffix' type="text" class="form-control" ng-model="input.dt.HumanName.suffix"/>
            </div>

        </div>



        <br/>

        <br/>
        <input placeholder = 'Text value of Name' type="text" class="form-control" ng-model="input.dt.HumanName.text"/>
    </div>

    <div ng-show="dataTypeBeingEntered == 'code'">
        <div class="row">
            <div class="col-md-3 col-sm-3" ng-repeat = "option in expandedValueSet.expansion.contains">
                <input type="radio" ng-model="input.dt.code" name="name" value="{{option.code}}"  />
                <span title="{{option.system}}">{{option.display}}</span>
            </div>
        </div>
    </div>

    <div ng-show="dataTypeBeingEntered == 'Coding'">

        <div ng-switch on="vsDetails.type">

            <div ng-switch-when="list">
                <div class="row">
                    <div class="col-md-3 col-sm-3" ng-repeat = "option in expandedValueSet.expansion.contains">
                        <input type="radio" ng-model="input.dt.coding" name="name" value="{{option}}"  />
                        <span title="{{option.system}}">{{option.display}}</span>
                    </div>
                </div>



                <div ng-hide="expandedValueSet.expansion.contains">
                    <div uib-alert class="alert-warning" >
                        This element is configured as a list, but there are no options. This is likely an issue
                        with the Terminology server. One possibility is that the Terminology server didn't have a chance
                        to respond with the list of options (ie it timed out), so you might want to try again.
                        <br/> <br/>
                        Sorry about that...
                    </div>
                </div>


            </div>
            <div ng-switch-default>

                <div class="row">
                    <div class="col-md-5 col-sm-5">

                        <input type="text" ng-model="input.dt.coding"
                               placeholder="{{vsDetails.id}} (minimum {{vsDetails.minLength}} characters)"
                               typeahead-min-length="3"
                               typeahead-wait-ms="1000"
                               typeahead-on-select="selectCCfromList($item, $model, $label)"
                               uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails)"
                               class="form-control"/>

                    </div>
                    <div class="col-md-1 col-sm-1">
                        <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="clickable pull-right"
                             ng-click="showVs(vsDetails.resource)">{{vsDetails.resource.url}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div ng-show="dataTypeBeingEntered == 'CodeableConcept'">

        <div ng-switch on="vsDetails.type">

            <div ng-switch-when="list">
                <div class="row">
                    <div class="col-md-4 col-sm-4" ng-repeat = "option in expandedValueSet.expansion.contains">
                        <input type="radio" ng-model="input.dt.cc" name="name" value="{{option}}"  />
                        <span title="{{option.system}}">{{option.display}}</span>
                    </div>
                </div>



                <div ng-hide="expandedValueSet.expansion.contains">
                    <div uib-alert class="alert-warning" >
                        This element is configured as a list, but there are no options. This is likely an issue
                        with the Terminology server. One possibility is that the Terminology server didn't have a chance
                        to respond with the list of options (ie it timed out), so you might want to try again.
                        <br/> <br/>
                        Sorry about that...
                    </div>
                </div>


            </div>
            <div ng-switch-default>

                <div class="row">
                    <div class="col-md-5 col-sm-5">

                        <input type="text" ng-model="input.dt.cc.coding"
                               placeholder="autocomplete from {{vsDetails.minLength}} characters"
                               typeahead-min-length="3"
                               typeahead-wait-ms="1000"
                               typeahead-on-select="selectCCfromList($item, $model, $label)"
                               uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails)"
                               class="form-control"/>

                        <!--  <input type="text" ng-model="results.cc"
                                               placeholder="{{vsDetails.id}} (minimum {{vsDetails.minLength}} characters)"
                                               typeahead-min-length="3"
                                               typeahead-wait-ms="1000"
                                               typeahead-on-select="selectCCfromList($item, $model, $label)"
                                               uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails)"
                                               class="form-control"/>-->

                    </div>
                    <div class="col-md-1 col-sm-1">
                        <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/>
                    </div>



                    <div class="col-md-6 col-sm-6">
                        <div class="clickable pull-right"
                             ng-click="showVs(vsDetails.resource)">{{vsDetails.resource.url}}</div>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <input placeholder = 'System' uib-typeahead="system for system in systemArray"
                               type="text" class="form-control" ng-model="input.dt.cc.coding.system"/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input placeholder = 'Code' type="text" class="form-control" ng-model="input.dt.cc.coding.code"/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input placeholder = 'Display' type="text" class="form-control" ng-model="input.dt.cc.coding.display"/>
                    </div>
                </div>


                <br/>

                <input placeholder = 'Text value if not coded' type="text" class="form-control" ng-model="input.dt.cc.text"/>
            </div>
        </div>

        <!--
                Url: {{vsDetails.resource.url}}  Id: {{vsDetails.resource.id}}

                    <pre>{{vsDetails | json}}</pre>-->
    </div>



    <div ng-show="ooError">
        <div class="alert alert-danger" style="margin: 20px">
            <div ng-repeat="iss in ooError.issue">
                Error from terminology server: {{iss.details.text}} {{iss.diagnostics}}
            </div>
        </div>


    </div>



    <vs-browser trigger="showVSBrowserDialog" hidesearch="true" concept-selected="conceptSelected"
                vs-selected="vsSelected"></vs-browser>


</div>