<div>


   <div ng-repeat="item in DR">

       <div >{{item.DR.resourceType}}</div>

       <br/>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-condensed table-bordered">
                    <tr ng-repeat="obs in item.obs">
                        <td>
                            <div class="clickable" ng-click="selectDRObs(obs)">{{obs.text.div | cleanTextDiv}}</div>
                        </td>
                        <td>{{obs.valueCodeableConcept}} {{obs.valueString}}   {{obs.valueQuantity}} </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <pre>{{selectedDRObservation | json}}</pre>
                <!--
                <uib-tabset>
                    <uib-tab heading="Observation">
                        <pre>{{selectedDRObservation | json}}</pre>
                    </uib-tab>
                    <uib-tab heading="DiagnosticReport">
                        <pre>{{selectedDR | json}}</pre>
                    </uib-tab>
                </uib-tabset>
                -->

            </div>
        </div>




   </div>
</div>