<div>

       <br/>

        <div class="row">
            <div class="col-md-8">
                <div class="myScroll1">

                <div ng-repeat="item in DR">

                    <div><strong>Report date: </strong>{{item.DR.effectiveDateTime | date}}</div>

                    <table class="table table-condensed table-bordered">
                        <tr ng-repeat="obs in item.obs">
                            <td style="width: 50%">
                                <div class="clickable" ng-click="selectDRObs(obs)">

                                    {{obs.code.text || obs.code.coding[0].display}}
                                </div>
                            </td>
                            <td>{{obs.valueCodeableConcept.value}} {{obs.valueCodeableConcept.unit}}
                                {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                {{obs.valueString}}
                                </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-link"
                            ng-click="selectFromMainGraph(selectedDRObservation)">Details</button>
                </div>
                <div class="clearfix"></div>

                <div class="myScroll1">

                <pre>{{selectedDRObservation | json}}</pre>


            </div>
        </div>




   </div>
</div>