<uib-tabset>
  <uib-tab heading="Rendering from narrative">
    <div class="alert alert-info">
      A rendering of the document using the Patient.text, Composition.text and Composition.section.text
      elements as defined in the spec - ie what the author created.

      See the 'rendering from resources' tab for a display that is derived from the resource contents and is the same across all documents.
    </div>
    <h4>Subject</h4>
    <p  style="margin-left: 10px" ng-bind-html="to_trusted(document.subject.text.div)"></p>

    <hr style="border-top: 1px solid grey; margin: 1px"/>
    <h4>Document metadata</h4>
    <div class="narrative">
      <p  style="margin-left: 10px" ng-bind-html="to_trusted(document.composition.text.div)"></p>
    </div>


    <h4>Sections</h4>

    <div ng-repeat = "section in document.composition.section">
      <hr style="border-top: 1px solid grey; margin: 1px"/>
      <strong>{{section.title}}</strong>

      <div class="row">

        <div class="col-md-12">

          <div class=" scroll-wrapper">
            <p style="margin-left: 10px" ng-bind-html="to_trusted(section.text.div)"></p>
          </div>

        </div>
      </div>

    </div>

    <div><em>Derived from the Composition and Subject text elements as per the spec</em></div>

  </uib-tab>
  <uib-tab ng-show = "false" heading="Rendering and resources">
    <strong>Subject</strong>
    <p style="margin-left: 10px" ng-bind-html="to_trusted(document.subject.text.div)"></p>

    <strong>Document metadata</strong>
    <p style="margin-left: 10px" ng-bind-html="to_trusted(document.composition.text.div)"></p>

    <div ng-repeat = "section in document.composition.section">
      <hr style="border-top: 1px solid grey; margin: 1px"/>
      <strong>{{section.title}}</strong>

      <div class="row">

        <div class="col-md-9">
          <p style="margin-left: 10px" ng-bind-html="to_trusted(section.text.div)"></p>
          <!-- <p style="margin-left: 10px" ng-bind-html="section.text.div"></p> -->

        </div>
        <div class="col-md-3">

          <div ng-repeat = "resource in section.realResources"

               popover-append-to-body="true"
               uib-popover-html="resource.trustedPopover"
               popover-placement="left"
               popover-class="custom-popover-big"
               popover-trigger="'focus'"
               tabindex="0"
               style="cursor: pointer"
               ng-clickX="selectResourceFromRender(resource)">
            <div class="rounded-box">
              {{resource.display}}

              <em><p ng-bind-html="to_trusted(resource.resource.text.div)"></p></em>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div><em>Derived from the Composition and Subject text elements as per the spec</em></div>

  </uib-tab>

  <uib-tab heading="Rendering from resources">
    <div class="alert alert-info">
      A fixed rendering of the document sections using the contents of the resources within
      each section. It's generated from a configuration file so that the layout is independent of what the author created
      (see the Narrative rendering for that) and will be the same for every document.

      <br/>
      <strong>This display is incomplete - working on it.</strong>
    </div>

    <div class="row">
      <div class="col-md-8">

        <div ng-repeat="v in renderObject.vo">
          <div class="clickable pull-right" ng-click="displayRenderingConfig(v)">View configuration file</div>
          <h4>{{v.title}}</h4>

          <table class="table-bordered table">
            <tr>
              <th ng-repeat="hdr in v.section.header track by $index">{{hdr}}</th>
            </tr>

            <tr ng-repeat="row in v.section.rows"
                style="cursor: pointer"
                ng-class="{listItemSelected:v.section.resources[$index] == input.resourceFromRender }"
                ng-click="input.resourceFromRender = v.section.resources[$index]">
              <td ng-repeat="value in row">
                {{value.display}}
              </td>
            </tr>
          </table>
          <hr/>
        </div>

        <table>
          <tr ng-repeat="issue in renderObject.log">
            <td>{{issue.msg}}</td>
          </tr>
        </table>

      </div>


      <div class="col-md-4">
        <div ng-show="input.resourceFromRender" class="pull-right">
          <button class="btn btn-link"
                  ng-click="selectFromMainGraph(input.resourceFromRender)">Details</button>
        </div>
        <div class="clearfix"></div>


          <div class="myScroll1">
            <pre ng-show="input.resourceFromRender">{{input.resourceFromRender | json}} </pre>
          </div>


        <!--
        <pre>{{renderObject.vo | json}}</pre>
-->
      </div>
    </div>




  </uib-tab>

  <uib-tab heading="Sections">
    <div class="alert alert-info">
      Iterates over the sections in the Composition showing the text and resources in each section.
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <div ng-class="{'list-group-item':true,listItemSelected:selectedSection == section}"
               ng-repeat = "section in document.composition.section"
               style="cursor: pointer"
               ng-click="selectSection(section)">
            {{section.title}}
            <div class="pull-right badge">{{section.entry.length}}</div>
            <div>{{section.code.coding[0].system}} {{section.code.coding[0].code}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <uib-tabset>
          <uib-tab heading="Narrative rendered">
            <div class="row">
              <div class="col-md-12">
                <div class="narrative myScroll1">
                  <p ng-bind-html="to_trusted(selectedSection.text.div)"></p>
                </div>

              </div>
              <!--
              <div class="col-md-6">
                <pre><code id="sectionNarrative" class="language-html"></code></pre>
              </div>
              -->
            </div>



          </uib-tab>
          <uib-tab heading="Narrative HTML">
            <div class="myScroll1">
              <pre><code id="sectionNarrative" class="language-html"></code></pre>
            </div>

          </uib-tab>

          <uib-tab heading="Resources">
            <div class="row">
              <div class="col-md-6">
                <strong>Reference to resource</strong>
                <div class="myScroll1">
                  <table>
                    <div class="list-group">
                      <div ng-class="{'list-group-item':true,listItemSelected:entry.reference == selectedImmResourceReference}"
                           style="cursor: pointer"
                           ng-repeat = "entry in selectedSection.entry">
                        <div ng-click="selectEntryFromSection(entry) ">{{entry.reference}}</div>
                      </div>
                    </div>
                  </table>
                </div>

              </div>
              <div class="col-md-6">

                <div ng-show="resourceFromSection" class="pull-right">
                  <button class="btn btn-link"
                          ng-click="selectFromMainGraph(resourceFromSection)">Details</button>
                </div>
                <div class="clearfix"></div>

                <div class="myScroll1">
                <pre>{{resourceFromSection | json}}</pre>
                </div>
              </div>
            </div>

          </uib-tab>

          <uib-tab heading="Graph" select="fitSectionGraph()">

            <div class="row">
              <div class="col-md-8">
                <div id="sectionResourceGraph"></div>
              </div>
              <div class="col-md-4">
                <pre>{{selectedResourceFromSection | json}}</pre>

              </div>
            </div>




          </uib-tab>

          <uib-tab heading="Section Json">
            <div class="myScroll1">
            <pre>{{selectedSection | json}}</pre>
            </div>
          </uib-tab>

        </uib-tabset>







      </div>

    </div>


  </uib-tab>
</uib-tabset>