<div>

    <style>
        .Condition  {
            background-color: #F4C2C2;
        }
        .Observation  {
            background-color: #FFF8DC;
        }


        ul[dnd-list],
        ul[dnd-list] > li {
            position: relative;
        }

        /**
         * The dnd-list should always have a min-height,
         * otherwise you can't drop to it once it's empty
         */
        ul[dnd-list] {
            min-height: 42px;
            padding-left: 0px;
        }

        /**
         * The dndDraggingSource class will be applied to
         * the source element of a drag operation. It makes
         * sense to hide it to give the user the feeling
         * that he's actually moving it.
         */
        ul[dnd-list] .dndDraggingSource {
            display: none;
        }

        /**
         * An element with .dndPlaceholder class will be
         * added to the dnd-list while the user is dragging
         * over it.
         */
        ul[dnd-list] .dndPlaceholder {
            display: block;
            background-color: #ddd;
            min-height: 42px;
        }

        /**
         * The dnd-lists's child elements currently MUST have
         * position: relative. Otherwise we can not determine
         * whether the mouse pointer is in the upper or lower
         * half of the element we are dragging over. In other
         * browsers we can use event.offsetY for this.
         */
        ul[dnd-list] li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
        }

        /**
         * Show selected elements in green
         */
        ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }





    </style>



    <button class="btn btn-link" ng-click="loadResource()">Load</button>
    <div id="loadTree"></div>




    <uib-tabset active="active">

        <uib-tab index="0" heading="All records">
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-3">

                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="entry in allNotes.entry" ng-click="showNote(entry.resource)"
                             style="cursor: pointer">

                            <div> <!-- very suss !!!-->
                                {{entry.resource.extension[2].valueCoding.display}}
                            </div>
                            <div>{{entry.resource.created | date:"EEE MMM d, h:mm a"}}</div>

                        </div>
                    </div>



                </div>
                <div class="col-sm-9 col-md-9">
   <!--
                    <div>
                        <button class="btn btn-link" ng-click="active=1">edit</button>
                    </div>
-->
                    <div ng-repeat="(key,item) in template">
                        <div class="row" ng-show="historicNote[key].content.length > 0">
                            <div class="col-md-2 col-sm-2">
                                <strong>{{template[key].display}}</strong>
                            </div>
                            <div class="col-md-10 col-sm-10" style="border-left: thin">
                                <span ng-repeat="resource in historicNote[key].content">
                                    <button class = "btn btn-default {{resource.type}}"
                                            ng-click="showResourceDEP(resource,key,$index)">{{resource.text}}</button>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>





        </uib-tab>

        <uib-tab index="1" heading="New Consult">
            <br/>

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="btn-group" style="margin-bottom: 10px">

                        <label ng-repeat = "(key,item) in template" uib-btn-radio="key"
                               class="btn btn-warning" ng-model="input.soapModel">
                            {{item.display}}
                        </label>
                    </div>

                </div>

                <div class="col-md-2 col-sm-2">
                    <select class="form-control"
                            ng-options="item.display for item in noteType"
                            ng-model="input.noteType">

                    </select>
                </div>


                <div class="col-md-1 col-sm-1">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button class="btn btn-danger pull-right" ng-show="dirty" ng-click="save()">Save</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3">
<!--
                    <div class="btn-group" style="margin-bottom: 10px">
                        <label class="btn btn-warning" ng-model="input.soapModel" uib-btn-radio="'s'">Subjective</label>
                        <label class="btn btn-warning" ng-model="input.soapModel" uib-btn-radio="'o'">Objective</label>
                        <label class="btn btn-warning" ng-model="input.soapModel" uib-btn-radio="'a'">Assessment</label>
                        <label class="btn btn-warning" ng-model="input.soapModel" uib-btn-radio="'p'">Plan</label>
                    </div>

-->

                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="resource in resources" ng-click="newResource(resource)"
                            style="cursor: pointer">
                            {{resource.type}}
                            <span class="pull-right">
                                <a href="http://hl7.org/fhir/{{resource.type}}.html" target="_blank">
                                    <i class="glyphicon glyphicon-globe clickable"></i>
                                </a>

                            </span>

                        </div>
                    </div>

                </div>

                <div class="col-md-9 col-sm-9">
                    <div ng-show="addNewResource">

                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <h4>Add new {{addNewResource.type}}</h4>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="pull-right">
                                    <button class="btn btn-warning">{{template[input.soapModel].display}}

                                    </button></div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <textarea class="form-control" ng-model="input.text" placeholder="Text of resource"></textarea>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <!-- temp
                                <div ng-repeat="inp in addNewResource.input">
                                    <button class="btn btn-link" ng-click="addNewElement(inp)">{{inp.display}}</button>
                                </div>
        -->


                            </div>

                            <div class="col-md-6 col-sm-6">
                                <!--  temp until I figure it out better
                                <div ng-show="newElement.dataType=='CodeableConcept'">
                                    <input type="text"  ng-model="results.coding"
                                           placeholder="enter search text against {{vsDetails.id}}"
                                           typeahead-min-length=3
                                           typeahead-wait-ms="1000"
                                           uib-typeahead="opt as opt.display for opt in vsLookup($viewValue,vsDetails.id)"
                                           class="form-control"/>
                                </div>

                                <div ng-show="newElement.dataType=='string'">
                                    <h5>string</h5>
                                </div>
        -->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <button class="btn btn-link pull-right" ng-click="addResource(resource)">Add</button>
                            </div>
                        </div>




                        <hr />
                    </div>


                    <uib-tabset>

                        <uib-tab heading="Text">
                            <br/>
                            <div class="row">
                                <div class="col-md-7 col-sm-7" >


                                    <div ng-repeat="(key,item) in template">
                                        <div class="row" ng-show="consult[key].content.length > 0">
                                            <div class="col-md-3 col-sm-3">
                                                <strong>{{template[key].display}}</strong>
                                            </div>
                                            <div class="col-md-9 col-sm-9" style="border-left: thin">
                                                <span ng-repeat="resource in consult[key].content">
                                                    <button class = "btn btn-default {{resource.type}}"
                                                            ng-click="showResource(resource,key,$index)">{{resource.text}}</button>
                                                </span>
                                            </div>
                                        </div>


                                    </div>




                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div ng-show="displayResource">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3" >
                                                <strong>Type</strong>
                                            </div>
                                            <div class="col-md-8 col-sm-8" >
                                                {{displayResource.type}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3" >
                                                <strong>Text</strong>
                                            </div>
                                            <div class="col-md-8 col-sm-8" >
                                                <textarea ng-model = "displayResource.text" class="form-control"></textarea>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 col-sm-3" >

                                            </div>
                                            <div class="col-md-8 col-sm-8" >
                                                <button class="btn btn-danger" ng-click="removeResource()">Remove</button>
                                            </div>
                                        </div>


        <!--
                                        {{displayResource}}
                                        -->
                                    </div>
                                </div>

                            </div>



                        </uib-tab>
                        <uib-tab heading="Re-arrange">


                            <div class="row">



                                <div class="col-md-3 col-sm-3" ng-repeat="(key,item) in template">
                                    <h4>{{template[key].display}}</h4>
                                    <ul dnd-list="consult[key].content">
                                        <li ng-repeat="item in consult[key].content" class="Condition"
                                            dnd-draggable="item"
                                            dnd-moved="consult[key].content.splice($index, 1)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="models.selected = item"
                                            ng-class="{{item.type}}"
                                            ng-classXX="{'selected': models.selected === item}"
                                        >
                                            <div class="{{item.type}}">{{item.text}}</div>
                                        </li>
                                    </ul>
                                </div>



        <!--
                                <div class="col-md-3 col-sm-3" >

                                    <ul dnd-list="consult.s.content">
                                        <li ng-repeat="item in consult.s.content" class="Condition"
                                            dnd-draggable="item"
                                            dnd-moved="consult.s.content.splice($index, 1)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="models.selected = item"
                                            ng-class="{{item.type}}"
                                            ng-classXX="{'selected': models.selected === item}"
                                        >
                                            <div class="{{item.type}}">{{item.text}}</div>
                                        </li>
                                    </ul>

                                </div>
                                -->


                            </div>




                        </uib-tab>
                        <uib-tab heading="Graph">
                            <br/>
                            --> add graph of resources
                        </uib-tab>

                    </uib-tabset>

                </div>
    </div>

        </uib-tab>

    </uib-tabset>

</div>