<!-- WARNING: I think this is redundant...-->
<div class="rounded-box" ng-show="dataType">       <!-- The top for a box around the data entry form-->

    <div class="row">
        <div class="col-md-11 col-sm-11">
            <div><em>{{selectedChild.definition}}</em></div>
        </div>
    </div>

    <br />


    <div ng-show="dataType=='Address'">
        <ng-include src="'/prTemplates/address.html'"></ng-include>
    </div>


    <div ng-show="dataType=='ContactPoint'">
        <ng-include src="'/prTemplates/contactpoint.html'"></ng-include>

    </div>



    <div ng-show="dataType=='HumanName'">
        <ng-include src="'/prTemplates/humanname.html'"></ng-include>

    </div>

    <div ng-show="dataType=='Timing'">
        <ng-include src="'/prTemplates/timing.html'"></ng-include>

    </div>

    <div ng-show="dataType=='Narrative'">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2" >
                <textarea class="form-control" rows="3" ng-model="results.narrative"></textarea>
            </div>
        </div>
    </div>


    <div ng-show="dataType=='Annotation'">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <strong>Author</strong>
            </div>
            <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" ng-model="results.annotation.authorString"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <strong>Note</strong>
            </div>
            <div class="col-md-10 col-sm-10">
                <textarea class="form-control"  rows="3" ng-model="results.annotation.text"></textarea>
            </div>
        </div>
    </div>

    <div ng-show="dataType=='Ratio'">   <!-- Quantity x 2-->
        <div class="row">


            <div class="col-md-2 col-sm-2 col-md-offset-1">
                <input type="text" class="form-control" placeholder = "Amt" ng-model="results.ratio_num_amount"/>
            </div>
            <div class="col-md-2 col-sm-2">
                <input type="text" class="form-control" placeholder = "Units" ng-model="results.ratio_num_units"/>
            </div>
            <div class="col-md-1  col-sm-1">
                /
            </div>
            <div class="col-md-2 col-sm-2">
                <input type="text" class="form-control" placeholder = "Amt" ng-model="results.ratio_denom_amount"/>
            </div>
            <div class="col-md-2 col-sm-2">
                <input type="text" class="form-control" placeholder = "Units" ng-model="results.ratio_denom_units"/>
            </div>

        </div>

    </div>

    <div ng-show="dataType=='Identifier'">

        <div class="row">

            <div class="col-md-2 col-sm-2  control-label">Value</div>
            <div class="col-md-8 col-sm-8">
                <input type="text" class="form-control" ng-model="results.identifier_value" id="identifier_value"/>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2  control-label">System</div>
            <div class="col-md-8 col-sm-8">
                <input class="form-control" type="text" ng-model="results.identifier_system"/>
            </div>


        </div>



    </div>

    <div ng-show="dataType=='Reference'">
        <ng-include src="'/prTemplates/reference.html'"></ng-include>
    </div>

    <div ng-show="dataType=='boolean'">
        <div>{{element.short}}</div>
        <div class="row">
            <div class=" col-md-6 col-sm-6">

                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="results.boolean" uib-btn-radio="true">True</label>
                    <label class="btn btn-primary" ng-model="results.boolean" uib-btn-radio="false">False</label>

                </div>
            </div>

            <div class=" col-md-2 col-sm-2">

                <div class="checkbox">
                    <input type="checkbox"  ng-model="results.boolean"/>
                </div>
            </div>

        </div>


    </div>

    <div ng-show="dataType=='string'">
        <div>{{element.short}}</div>
        <input type="text" class="form-control" ng-model="results.string"/>
    </div>

    <div ng-show="dataType=='positiveInt'">
        <div>{{element.short}}</div>
        <input type="text" class="form-control" ng-model="results.positiveint"/>
    </div>

    <div ng-show="dataType=='integer'" >
        <div>{{element.short}}</div>
        <input type="text" class="form-control" ng-model="results.integer"/>
    </div>

    <div ng-show="dataType=='decimal'" >
        <div>{{element.short}}</div>
        <input type="text" class="form-control" ng-model="results.decimal"/>
    </div>


    <div ng-show="dataType=='id'">
        <div>{{element.short}}</div>
        <!--
        <input type="text" class="form-control" ng-model="results.id"/>
        -->
        <div><strong><em>The Id of the resource cannot be set in this client</em></strong></div>
    </div>

    <div ng-show="dataType=='Signature'">
        <div>{{element.short}}</div>
        <!--
        <input type="text" class="form-control" ng-model="results.id"/>
        -->
        <div><strong><em>A Signature cannot be set in this client</em></strong></div>
    </div>

    <div ng-show="dataType=='uri'">
        <input type="text" class="form-control" ng-model="results.uri"/>
    </div>

    <div ng-show="dataType=='code'">
        <ng-include src="'/prTemplates/code.html'"></ng-include>
    </div>

    <div ng-show="dataType=='CodeableConcept'">
        <ng-include src="'/prTemplates/codeableconcept.html'"></ng-include>
    </div>

    <div ng-show="dataType=='Coding'">

        <ng-include src="'/prTemplates/coding.html'"></ng-include>
    </div>


    <div ng-show="dataType=='date'">

        <div class="row">
            <div class="col-md-7  col-sm-7 col-centered">
                <div uib-datepicker ng-model="results.date_start"  class="well well-sm"></div>
            </div>
        </div>




    </div>



    <div ng-show="dataType=='dateTime' || dataType=='instant'">

        <div class="row">
            <div class="col-md-7  col-sm-7 col-centered">


                <!-- <uib-datepicker ng-model="results.date_start"  datepicker-options="show-weeks" class="well well-sm"></uib-datepicker>-->
                <div uib-datepicker ng-model="results.date_start"  class="well well-sm"></div>
            </div>

            <div class="col-md-4 col-sm-4">

            </div>
        </div>

        <div class="row" ng-show="dataType=='instant'">
            <div class="col-md-7  col-sm-7 col-centered">
                <timepicker ng-model="results.time"></timepicker>
            </div>

            <div class="col-md-4 col-sm-4">

            </div>
        </div>

    </div>



    <div ng-show="dataType=='Period'">

        <ng-include src="'/prTemplates/period.html'"></ng-include>


    </div>

    <div ng-show="dataType=='Quantity'">
        <ng-include src="'/prTemplates/quantity.html'"></ng-include>

    </div>

    <div ng-show="dataType=='Range'">   <!-- Quantity x 2-->
        <div class="row">


            <div class="col-md-3 col-sm-3">
                Between <input type="text" class="form-control" placeholder = "Start Amount" ng-model="results.range_amount_start"/>
            </div>
            <div class="col-md-3 col-sm-3">
                and <input type="text" class="form-control" placeholder = "End Amount" ng-model="results.range_amount_end"/>
            </div>
            <div class="col-md-3 col-sm-3">
                (units) <input type="text" class="form-control" placeholder = "Units" ng-model="results.range_units"/>
            </div>

        </div>



    </div>

    <div ng-show="dataType=='Age'">

        <div class="row">
            <div class="col-md-2 col-sm-2">
                <input type="text" class="form-control" ng-model="results.age.value"/>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="row">
                    <div class="col-md-3 col-sm-3" ng-repeat="unit in UCUMAgeUnits">
                        <input type="radio" name="age" ng-model="results.ageunits" value="{{unit}}"> {{unit.display}}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div ng-show="dataType=='Money'">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <input type="text" class="form-control" ng-model="results.money_amount"/>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="row">
                    <div class="col-md-3 col-sm-3" ng-repeat="unit in UCUMMoneyUnits">
                        <input type="radio" name="age" ng-model="results.money_units" value="{{unit}}"> {{unit.display}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="dataType=='Complex'">

        <ng-include src="'/prTemplates/complex.html'"></ng-include>


    </div>


    <div ng-show="dataType">
        <br />

        <div class="row" >
            <div class="col-md-6 col-sm-6">
                {{dtSelectError}}
            </div>
            <div class="col-md-6 col-sm-6">
                <button class="btn btn-primary pull-right" style="margin:8px"
                        ng-click="saveNewDataType()">Save Element</button>


                <button class="btn btn-danger pull-right" style="margin:8px"
                        ng-click="cancel()">Cancel</button>


            </div>
        </div>



    </div>

</div>      <!-- closes the div that suppounds the data entry form-->

