<div>

    <uib-tabset>

        <uib-tab heading="Sections">


            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h5>Sections</h5>
                    <ul class="list-group" >
                        <li style="cursor: pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':$index == currentSectionIndex}"
                            ng-repeat="section in compositionResource.section">

                            <div class="row">
                                <div class="col-md-9 col-sm-9" ng-click="selectSection(section)">
                                    {{section.title}}
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <i class="glyphicon glyphicon-edit iconSpacing pull-right"
                                       title="Edit text"
                                       ng-click="editSection(section)" style="cursor: pointer">

                                    </i>

                                    <br/>
                                    <div class="pull-right">
                                        <i class="glyphicon glyphicon-arrow-down "
                                           title="Move Down"
                                           ng-click="moveSection($index,'dn')" style="cursor: pointer">

                                        </i>

                                        <i class="glyphicon glyphicon-arrow-up "
                                           title="Move Up"
                                           ng-click="moveSection($index,'up')" style="cursor: pointer">

                                        </i>
                                    </div>


                                </div>
                            </div>






                        </li>
                    </ul>



                    <div>
                        <button class="btn btn-link pull-right" ng-click="editSection()">Add</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <div ng-show="currentSection">
                        <div class="banner">{{currentSection.title}}</div>

                        <p ng-bind-html="currentSection.text.div"></p>

                        <strong>Resources in Section (Direct only)</strong>

                        <ul class="list-group" >
                            <li style="cursor: pointer" class="list-group-item"
                                ng-repeat="entry in currentSection.entry">

                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <span popover-trigger="'mouseenter'"
                                              uib-popover-html = "entry.reference | resourceTextFromReference"
                                                ng-click = "selectResourceFromSection(entry.reference)">
                                            {{entry.reference}}
                                        </span>

                                    </div>
                                    <div class="col-md-4 col-sm-4">

                                        <div class="pull-right">
                                            <i class="glyphicon glyphicon-remove"
                                               title="Remove"
                                               ng-click="removeReferenceFromSection($index)" style="cursor: pointer">

                                            </i>
                                        </div>
                                        <br/>
                                        <div class="pull-right">
                                            <i class="glyphicon glyphicon-arrow-down iconSpacing"
                                               title="Move Down"
                                               ng-click="moveSectionResource($index,'dn')" style="cursor: pointer">

                                            </i>

                                            <i class="glyphicon glyphicon-arrow-up iconSpacing"
                                               title="Move Up"
                                               ng-click="moveSectionResource($index,'up')" style="cursor: pointer">

                                            </i>
                                        </div>

                                    </div>

                                </div>


                            </li>
                        </ul>

                        <hr/>

                        <strong>Resources to add to Section</strong>

                        <ul class="list-group" >
                            <li style="cursor: pointer" class="list-group-item"
                                ng-repeat="reference in resourcesNotInThisSection track by $index">

                                <div class="row">
                                    <div class="col-md-10 col-sm-10">
                                        <span popover-trigger="'mouseenter'" uib-popover-html = "reference.display"
                                              ng-click = "selectResourceFromSection(reference.reference)">
                                            {{reference.reference}}</span>
                                    </div>
                                    <div class="col-md-2 col-sm-2">

                                        <i class="glyphicon glyphicon-plus"
                                           title="Add"
                                           ng-click="addResourceToSection(reference)" style="cursor: pointer">

                                        </i>
                                    </div>

                                </div>


                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </uib-tab>

        <!--
        <uib-tab heading="Header">
            <br/>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <form>
                        <div class="form-group">
                            <label>Document Type</label>
                            <select class="form-control">

                            </select>
                        </div>

                    </form>
                </div>
                <div class="col-sm-6 col-md-6">

                </div>
            </div>




        </uib-tab>

        -->
        <uib-tab heading="Generated text">
            <div class="rounded-box"><p ng-bind-html="generatedHtml"></p></div>
        </uib-tab>

    </uib-tabset>

</div>