<div>
    <br/>
    <uib-tabset>

        <uib-tab heading="Sections">
            <br/>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h5>Sections</h5>
                    <ul class="list-group" >
                        <li style="cursor: pointer" ng-class="{'list-group-item':1==1,'list-group-item-info':$index == currentSectionIndex}"
                            ng-repeat="section in compositionResource.section">

                            <div class="row" ng-mouseover="showMoveArrows = true" ng-mouseleave="showMoveArrows = false">
                                <div class="col-md-8 col-sm-8" ng-click="selectSection(section)">
                                    {{section.title}}
                                    <div>{{section.code.coding[0].code}}</div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <i class="glyphicon glyphicon-edit iconSpacing pull-right " ng-show="showMoveArrows"
                                       title="Edit text"
                                       ng-click="editSection(section)" style="cursor: pointer">

                                    </i>

                                    <br/>
                                    <div class="pull-right" ng-show="showMoveArrows">

                                        <i class="glyphicon glyphicon-remove"
                                           title="Delete section"
                                           ng-click="deleteSection($index)" style="cursor: pointer">

                                        </i>

                                        <i class="glyphicon glyphicon-arrow-down" ng-show="$index < compositionResource.section.length-1"
                                           title="Move Down"
                                           ng-click="moveSection($index,'dn')" style="cursor: pointer">

                                        </i>

                                        <i class="glyphicon glyphicon-arrow-up" ng-show="$index > 0"
                                           title="Move Up"
                                           ng-click="moveSection($index,'up')" style="cursor: pointer">

                                        </i>
                                    </div>


                                </div>
                            </div>
                        </li>
                    </ul>

                    <div>
                        <button class="btn btn-link pull-right" ng-click="editSection()">Add Section</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <div ng-show="currentSection">
                        <div class="banner">{{currentSection.title}}</div>

                        <p ng-bind-html="currentSection.text.div"></p>

                        <strong>Resources in Section (Direct only)</strong>

                        <ul class="list-group" >
                            <li style="cursor: pointer" class="list-group-item"
                                ng-repeat="entry in currentSection.entry">

                                <div class="row" ng-mouseover="showSectionArrows = true" ng-mouseleave="showSectionArrows = false">
                                    <div class="col-md-8 col-sm-8">
                                        <span popover-trigger="'mouseenter'"
                                              uib-popover-html = "entry.reference "
                                              ng-click = "selectResourceFromSection(entry.reference)">


                                            <p ng-bind-html="entry.reference | resourceTextFromReference"></p>
                                            <!--
                                                                                        {{entry.text.div | limitTo : 50}}
                                                                                        -->

                                        </span>

                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div ng-show="showSectionArrows">


                                            <div class="pull-right">
                                                <i class="glyphicon glyphicon-remove"
                                                   title="Remove"
                                                   ng-click="removeReferenceFromSection($index)" style="cursor: pointer">

                                                </i>
                                            </div>
                                            <br/>
                                            <div class="pull-right">
                                                <i class="glyphicon glyphicon-arrow-down iconSpacing"
                                                   title="Move Down"  ng-show="$index < currentSection.entry.length -1"
                                                   ng-click="moveSectionResource($index,'dn')" style="cursor: pointer">

                                                </i>

                                                <i class="glyphicon glyphicon-arrow-up iconSpacing"
                                                   title="Move Up" ng-show="$index > 0"
                                                   ng-click="moveSectionResource($index,'up')" style="cursor: pointer">

                                                </i>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </li>
                        </ul>

                        <hr/>

                        <strong>Resources to add to Section</strong>

                        <ul class="list-group" >
                            <li style="cursor: pointer" class="list-group-item"
                                ng-repeat="reference in resourcesNotInThisSection track by $index">

                                <div class="row">
                                    <div class="col-md-10 col-sm-10">
                                        <span popover-trigger="'mouseenter'" uib-popover-html = "reference.reference + '<br/>' + reference.display"
                                              ng-click = "selectResourceFromSection(reference.reference)">


                                        <p ng-bind-html="reference.reference | resourceTextFromReference  "></p>



                                        </span>


                                    </div>
                                    <div class="col-md-2 col-sm-2">

                                        <i class="glyphicon glyphicon-plus"
                                           title="Add"
                                           ng-click="addResourceToSection(reference)" style="cursor: pointer">

                                        </i>
                                    </div>

                                </div>


                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </uib-tab>


        <uib-tab heading="Generated text">
            <br/>
            <div class="rounded-box"><p ng-bind-html="generatedHtml"></p></div>
        </uib-tab>

        <!--
        <uib-tab heading="Document Bundle">
            <br/>
           <button class="btn btn-link" ng-click="generateDocument()">Generate Document</button>

            <pre ng-show="generatedDocument">{{generatedDocument | json}}</pre>
        </uib-tab>

        -->

        <uib-tab heading="Tree view">
            <br/>
            <button class="btn btn-link" ng-click="generateDocTree()">Generate Tree</button>
            <br/> <br/>

            <div id="docTreeView"></div>

            <em>Note that this view only includes the resources that are directly connected to the Composition.section.entry
            element, and to any List resources referenced by a section. To see the complete list, and all the references
            between resources (such as to the Patient) then use the Graph tab.</em>

        </uib-tab>

    </uib-tabset>

</div>