<div>
    <h3>Document Builder</h3>

    <div class="row rounded-box">
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-primary" ng-click="findPatient()">Find Patient</button>
            {{appConfigSvc.getCurrentDataServer().name}}
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="pull-right">
                <strong> {{ResourceUtilsSvc.getOneLineSummaryOfResource(currentPatient)}}</strong>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2 col-sm-2">
            <h4 style="text-align: center">Select Section</h4>
            <div class="list-group">
                <div href="#" class="list-group-item" ng-click="sectionSelected(section)"
                   ng-repeat="section in config.sections ">


                    <span class="pull-right">
                    <i class="glyphicon glyphicon-arrow-up clickable"
                       ng-hide = "$index == 0"
                       ng-click="moveSectionUp($event,$index)"></i>

                    <i class="glyphicon glyphicon-arrow-down clickable"
                       ng-hide = "$index == (config.sections.length -1)"
                       ng-click="moveSectionDown($event,$index)"></i>

                    </span>
                    {{section.display}}


                    <span class="pull-right badge">{{section.resources.length}}</span>



                </div>
            </div>

            <button class="btn btn-link" ng-click="addSection()">Add Section</button>
        </div>

        <div class="col-md-6 col-sm-6">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="banner" ng-show="selectedSection">{{selectedSection.display}}</div>
                </div>
            </div>

            <div class="row">



                <div class="col-md-6 col-sm-6">
                    <h5>Current contents</h5>

                    <textarea class="form-control" ng-model="input.text"
                              ng-change="setText()" ng-show="selectedSection"
                              placeholder="Enter text here. Can have text and resources."></textarea>

                    <div class="list-group">
                        <a href="#" class="list-group-item"
                           ng-repeat="res in selectedSection.resources">
                            {{ResourceUtilsSvc.getOneLineSummaryOfResource(res)}}
                            <span ng-click="removeResource($index)" class="pull-right badge">X</span>
                        </a>
                    </div>

                    <div ng-show="selectedSection.resources.length==0 || selectedSection.emptyReason ">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <i>Empty Reason</i>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <select class="form-control" ng-model="input.emptyReason" ng-change="setEmptyReason()">
                                    <option value="nilknown">Nil Known</option>
                                    <option value="notasked">Not asked</option>
                                    <option value="withheld">Withheld</option>
                                    <option value="unavailable">Unavailable</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <h5>Add Resource</h5>

                    <select class="form-control" ng-model="input.type" ng-change="typeSelected(typ)"
                            ng-show="selectedSection"
                            ng-options = "typ.display for typ in uniqueResourceTypes" >

                    </select>
                    <!-- <select class="form-control" ng-model="input.type" ng-change="typeSelected(typ)"
                            ng-show="selectedSection"
                            ng-options = "typ for typ in selectedSection.types" ></select>-->

                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-click="resourceSelected(res)"
                           ng-repeat="res in oneResourceType ">

                            {{ResourceUtilsSvc.getOneLineSummaryOfResource(res)}}
                        </a>
                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-4 col-sm-4">

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="banner" ng-show="document">Current Document Structure</div>
                </div>
            </div>

            <uib-tabset   ng-show="document">
                <uib-tab heading="Content">
                    <div ng-repeat="section in config.sections ">

                        <h4 ng-show="section.resources.length > 0 || section.text || section.emptyReason">{{section.display}}</h4>

                        <div style="padding-left: 5px; margin: 5px; border-left: darkgrey solid 2px">{{section.text}}</div>

                        <div ng-show="section.emptyReason">Empty because: {{emptyReasons[section.emptyReason]}}</div>

                        <div class="list-group">
                            <a href="#" class="list-group-item"
                               style="margin-left: 5px"
                               ng-repeat="res in section.resources ">

                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(res)}}
                            </a>
                        </div>

                    </div>


                </uib-tab>
                <uib-tab heading="Json">
                    <pre>
                          <div style="height:400px; overflow-y: auto;" >
                        {{document | json:2}}
                          </div>
                    </pre>
                </uib-tab>
            </uib-tabset>



        </div>
    </div>

    <hr/>
</div>