

<div>
    <div ng-show="loading">
        <div class="alert alert-warning" role="alert">Accessing server, please wait...</div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-3 col-sm-3">
            <a class="navbar-brand" href="#"
               uib-popover-html="displayServers"
               popover-trigger="'mouseenter'"
               popover-placement="right">Extension Definition Manager</a>
        </div>

        <div class="col-md-3 col-sm-3">
            <span class="navbar-text">{{appConfigSvc.getCurrentConformanceServer().name }}</span>
        </div>

        <div class="col-md-2 col-sm-2">
            <form ng-show="selectedExtension && !loadedFromBookmarkUrl" class="navbar-form">
                <button class="btn btn-success pull-right iconSpacing" ng-click="generateShortCut()">Share</button>

            </form>
        </div>

        <div class="col-md-2 col-sm-2">
            <div class="navbar-text" ng-show="securitySvc.getCurrentUser().email">
                {{securitySvc.getCurrentUser().email}}
            </div>
            <div  class="navbar-text" ng-hide="securitySvc.getCurrentUser().email">
                You need to log in to create or edit Extension Definitions
            </div>
        </div>

        <div class="col-md-2 col-sm-2">
            <form class="navbar-form navbar-right">
                <button class=" btn btn-default" ng-show="securitySvc.getCurrentUser()"
                    ng-click="newExtension()">New Extension Definition</button>
            </form>
        </div>


    </nav>

    <div class="row">

        <div ng-class="leftPane">
            <div class="row" style="margin-bottom: 8px">

                <div class="col-md-5 col-sm-5 col-xs-5">

                    <select class="form-control" ng-model="input.searchParam">
                        <option value="url">Url</option>
                        <option value="publisher">Publisher</option>
                        <option value="name">Name</option>
                        <option value="description">Description</option>

                        <option value="identifier">Identifier</option>
                        <option value="resource">Resource</option>

                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">




                    <input ng-hide="input.searchParam=='resource' || input.searchParam=='identifier'|| input.searchParam=='url'"
                           class="form-control" type="text" placeholder="Publisher" ng-model="input.param">


                    <select ng-show="input.searchParam=='resource'" class="form-control" ng-model="input.resourceType"

                            ng-options="type.name for type in allResourceTypes"></select>

                    <div ng-show="input.searchParam=='identifier'">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                Id
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input class="form-control" type="text" ng-model="input.identifierId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                System
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input class="form-control" type="text" ng-model="input.identifierSystem">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <a href="#" ng-click="search(input.param)">
                        <i class="glyphicon glyphicon-search" ></i></a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-12 col-sm-12">
                    <input ng-show="input.searchParam=='url'"
                           class="form-control" type="text" placeholder="Url" ng-model="input.param">
                </div>
            </div>


            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-5 col-sm-5 col-xs-5" ng-hide="input.searchParam=='url' ">
                    <select class="form-control" ng-model="input.searchStatus">
                        <option value="draft">Draft</option>
                        <option value="active">Active</option>
                        <option value="retired">Retired</option>
                        <option value="all">All Statuses</option>
                    </select>
                </div>
                <div class="col-md-7 col-sm-7">


                    <a class="pull-right" ng-show="extensionsArray" download="{{downloadLinkJsonName}}.json"
                       href="{{downloadLinkJsonContent}}"> <span class="badge"> {{extensionsArray.length}}</span>
                        <i class="glyphicon glyphicon-cloud-download" ></i>
                    </a>
                </div>


            </div>

            <ul class="list-group" style=" height:600px; overflow: auto;" >
                <li style="cursor: pointer" ng-class="{'list-group-item':1==1,listItemSelected:$index==index}"
                    ng-repeat="entry in extensionsArray"
                        ng-click="selectExtension(entry,$index)">

                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <h4>{{entry.resource.name}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <em class="pull-right">{{entry.resource.status}}</em>
                        </div>
                    </div>

                    {{entry.resource.description | limitTo : 200}}
                </li>
            </ul>
            <div>{{query}}</div>
        </div>
        <div ng-class="rightPane">

            <uib-tabset ng-show="selectedExtension">
                <uib-tab heading="Details">



                    <div class="row textRow">
                        <div class="col-md-2"><strong>URL</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.url}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>ID on Server</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.id}}
                            <span style="margin-left: 40px"> ( {{conformanceServer}}StructureDefinition/{{selectedExtension.id}} )</span></div>
                    </div>


                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Status</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.status}}</div>
                    </div>

                    <div class="row textRow" ng-show="selectedExtension.meta">
                        <div class="col-md-2 col-sm-2"><strong>Version</strong></div>
                        <div class="col-md-10 col-sm-10">
                            {{selectedExtension.meta.versionId}}
                            <span style="padding-left: 10px">({{selectedExtension.meta.lastUpdated | date}})</span>
                            <span style="padding-left: 10px">{{selectedExtension.lastEditedBy}}</span>
                        </div>
                    </div>

                    <div class="row textRow" ng-hide="isComplexExtension">
                        <div class="col-md-2"><strong>Extension Type</strong></div>
                        <div class="col-md-10 col-sm-10">Simple</div>
                    </div>

                    <div class="row textRow" ng-show="isComplexExtension">
                        <div class="col-md-2"><strong>Extension Type</strong></div>
                        <div class="col-md-10 col-sm-10">Complex</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Author</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.localMeta.author.valueString}}</div>
                    </div>



                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Experimental</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.experimental}}</div>
                    </div>
                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Name</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.name}}</div>
                    </div>

                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Identifier</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat="ident in selectedExtension.identifier" ng-hide="ident.system=='http://clinfhir.com'">
                                {{ident.value}}@{{ident.system}}
                            </div>

                        </div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Description</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.description}}</div>
                    </div>


                    <div class="row textRow">
                        <div class="col-md-2"><strong>Context Type</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.contextType}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2" ng-hide="selectedExtension['contextType']=='resource'">
                            <strong>Context</strong>
                        </div>
                        <div class="col-md-2" ng-show="selectedExtension['contextType']=='resource'">
                            <strong>Contexts</strong>
                        </div>


                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat="ctx in selectedExtension.context">
                                {{ctx}}
                            </div>
                        </div>
                    </div>

                    <div class="row textRow" ng-show="isComplexExtension">
                        <div class="col-md-2"><strong>Components</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default">
                                <table class="table table-condensed table-bordered">
                                    <tr><th>Code</th><th>Definition</th><th>Mult</th><th>DataType</th><th>Binding</th></tr>
                                    <tr ng-repeat="child in analysis.children">
                                        <td>{{child.code}}</td>
                                        <td>{{child.ed.definition}}</td>
                                        <td>{{child.ed.min}}...{{child.ed.max}}</td>
                                        <td>
                                            <div ng-repeat="dt in child.ed.type track by $index">
                                                <a ng-href="http://hl7.org/fhir/datatypes.html#{{dt.code}}" target="_blank">

                                                    <span ng-hide="dt.code=='Reference'">{{dt.code}}</span>
                                                    <span ng-show="dt.code=='Reference'">--></span>


                                                    <span ng-show="dt.profile">
                                                        <span title="{{dt.profile}}">{{dt.profile | referenceType}}</span>
                                                    </span>
                                                </a>
                                            </div>


                                        </td>
                                        <td>
                                            <!--  fundValueSet() needs the real binding--->
                                            <a ng-click="findValueSet(child.ed.binding)"
                                               href="#" title="Edit/View ValueSet">
                                                {{child.boundValueSet}}
                                            </a>


                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="row textRow" ng-hide="isComplexExtension">
                        <div class="col-md-2"><strong>DataType</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat = "dt in analysis.dataTypes">
                                <!--<div ng-repeat = "dt in selectedExtension.localMeta.datatypes">-->
                                <div class="row">
                                    <div class="col-md-10 col-sm-10">

                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <a ng-href="http://hl7.org/fhir/datatypes.html#{{dt.code}}" target="_blank">
                                                    {{dt.code}}
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4">


<!--
                                                <div ng-repeat = "t in selectedExtension.localMeta.polymorphicTypes">
                                                    <a ng-href="http://hl7.org/fhir/datatypes.html#{{t.code}}" target="_blank">
                                                        {{t.code}}
                                                    </a>


                                                </div>
                                                -->
                                            </div>
                                        </div>
                                        <div ng-repeat = "rt in selectedExtension.localMeta.referenceTypes">
                                            -> {{rt.display}}
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>

                        </div>

                    <div class="row textRow" ng-hide="isComplexExtension">
                            <div ng-show="analysis.binding">
                            <div class="col-md-2"><strong>Binding</strong></div>
                            <div class="col-md-10 col-sm-10">
                                <div class="row">
                                    <div class="col-md-10 col-sm-10">
                                        <div>
                                            <strong>ValueSet: </strong>{{analysis.binding.valueSetUri}}

                                            <span ng-show = 'analysis.binding.valueSetReference'>
                                                Note: valueSetReference = {{analysis.binding.valueSetReference.reference}}
                                            </span>

                                            <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                                                        vs-selected="vsSelected"></vs-browser>
                                        </div>
                                        <div>
                                            <strong>Strength: </strong> {{analysis.binding.strength}}
                                        </div>

                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <a ng-click="findValueSet(analysis.binding)"
                                           href="#" title="View ValueSet">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                    </div>
                                </div>


                            </div>
                            </div>
                        </div>









                    <div class="row textRow" ng-show="selectedExtension.localMeta.valueSetUri">
                        <div class="col-md-2"><strong>Binding</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div>
                                        <strong>Strength: </strong> {{selectedExtension.localMeta.referenceStrength}}
                                    </div>
                                    <div>
                                        <strong>ValueSet: </strong>{{selectedExtension.localMeta.valueSetUri}}
                                        <vs-browser trigger="showVSBrowserDialog" hidesearch="true"
                                                    vs-selected="vsSelected"></vs-browser>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <a ng-click="findValueSet(selectedExtension.localMeta.valueSetUri)"
                                            href="#" title="Edit/View ValueSet">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row textRow">
                        <div class="col-md-2"><strong>Publisher</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedExtension.publisher}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Multiple allowed?</strong></div>
                        <div class="col-md-10 col-sm-10">
                            {{selectedExtension.localMeta.multiple ? 'Yes' : 'No'}}
                        </div>
                    </div>

                    <div class="row textRow" ng-show="selectedExtension.contact">
                        <div class="col-md-2"><strong>Contacts</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat = "contact in selectedExtension.contact">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div ng-repeat="telecom in contact.telecom">
                                            {{telecom.system}}: {{telecom.value}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">{{contact.name}}</div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row textRow" ng-show="errors.length > 0">
                        <div class="col-md-2"><strong style="color: red">Errors</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat="err in errors">
                                <strong style="color: red">{{err}}</strong>
                            </div>


                        </div>
                    </div>


                    <!-- todo this logic could be tidied...-->
                    <div class="row">
                        <div class="col-md-12" ng-show="isAuthoredByClinFhir">
                            <div class="pull-right">
                                <button class="btn btn-primary"
                                        ng-show="permissions.canEdit && selectedExtension.status == 'draft'"
                                        ng-click="editExtension()">Edit </button>

                                <button class="btn btn-primary"
                                        ng-show="permissions.canRetire && selectedExtension.status == 'active'"
                                        ng-click="retireExtension('retire')">Retire </button>

                                <button class="btn btn-warning"
                                        ng-show="permissions.canDelete && selectedExtension.status == 'draft'"
                                        ng-click="deleteExtension()">Delete </button>

                                <button class="btn btn-success"
                                        ng-show="permissions.canActivate && selectedExtension.status == 'draft'"
                                        ng-click="activateExtension('activate')">Activate </button>




                            </div>


                        </div>
                        <div class="col-md-10 col-sm-10"></div>
                    </div>

                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{extensionDefForDisplay | json}}</pre>
                </uib-tab>
                <uib-tab heading="Analysis">
                    <pre>{{analysis | json}}</pre>
                </uib-tab>


                <uib-tab heading="Raw Elements">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <table class="table table-condensed">
                                <tr ng-repeat="element in extensionDefForDisplay.snapshot.element">
                                    <td>
                                        <a href="#" ng-click="input.selectedElement=element">{{element.path}}</a>
                                    </td>
                                    <td>{{element.min}}...{{element.max}}</td>
                                    <td>{{element.short}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <pre>{{input.selectedElement | json}}</pre>
                        </div>
                    </div>


                </uib-tab>
            </uib-tabset>

        </div>

    </div>



</div>

