
<style>
  .hasModifier {
    background-colorX: #f2dede;
    color: red;
  }
</style>



<div>

  <div class="row">
    <div class="col-md-2">
      Select Extension Url to view
    </div>
    <div class="col-md-6">
      <select class="form-control" ng-model="input.selectedExtUrl"
              ng-change = "selectExtUrl(input.selectedExtUrl)"
              ng-options="url for url in extensionUrlList"></select>
    </div>
    <div class="col-md-4">
      <em>Selecting an extension url shows only resources with that extension type.</em>
      <div ng-show="bundleHasModifier">
        <em><span class="hasModifier">Red</span> resources are
          <a target="_blank" href="https://hl7.org/fhir/R4/extensibility.html#modifierExtension">modifier extensions</a> </em>
      </div>

    </div>
  </div>

  <hr/>


  <div class="row">
    <div class="col-md-2">
      <div class="banner">Resources</div>
      <div class="myScroll1">
        <div class="list-group">
          <div ng-class="{'list-group-item':true,listItemSelected:selectedExtResource == v,
            hasModifier:v.hasModifier}"
               ng-repeat="(k,v) in extensionSummary"
               ng-show="canShow(v)"
               style="cursor: pointer"
               ng-click = "selectExtResource(v)">
            {{v.resource.resourceType}}
            <span class="badge pull-right">{{v.extensions.length}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="banner">Json</div>
      <pre ng-show="selectedExtResource.resource" >{{selectedExtResource.resource | json}}</pre>
    </div>
    <div class="col-md-2">
      <div class="banner">Extensions</div>

      <div class="list-group">
        <div ng-class="{'list-group-item':true,
          listItemSelected:selectedExtExtension == ext,
          hasModifier:ext.kind=='modifierExtension'}"
             ng-repeat="ext in selectedExtResource.extensions"
             ng-show="canShowExtension(ext)"
             style="cursor: pointer"
             ng-click = "selectExtension(ext)" >


          <div><strong>{{ext.url | referenceType}}</strong></div>
          <em>{{ext.path}}</em>
        </div>
      </div>

      <div ng-hide="input.selectedExtUrl == 'All'">
        <checkbox
                ng-model="input.showAllExtensions"></checkbox> Show all extensions
      </div>


    </div>

    <div class="col-md-4">
      <div class="banner">Details</div>

      <div ng-show="selectedExtExtension">

        <table class="table table-bordered">
          <tr>
            <td  style="width: 20%">Path</td>
            <td>{{selectedExtExtension.path}}</td>
          </tr>
          <tr>
            <td>Url</td>
            <td>{{selectedExtExtension.url}}</td>
          </tr>
          <tr>
            <td>Kind</td>
            <td>
              <div ng-class="{hasModifier : selectedExtExtension.kind == 'modifierExtension'}">
                {{selectedExtExtension.kind}}
              </div>

            </td>
          </tr>
        </table>

        <br/>

        <pre>{{selectedExtExtension.value | json}}</pre>
      </div>





    </div>

  </div>


  <pre>{{extensionSummary | json}}</pre>

</div>


