
<style>
    .myLink {
        padding-top: 8px;
    }
    .pass {
        color:green;
    }
    .fail {
        color:red;
    }
    .verticalLine {
        border-right: thin solid darkgrey;
    }
</style>



<div class="row">


    <div class="col-md-8 col-sm-8">
        <uib-alert ng-show="error" type="danger">
            {{error}}
        </uib-alert>

        <uib-alert ng-show="message" type="info">
            {{message}}
            {{elapsed}}
        </uib-alert>
    </div>
</div>




<div class="row">



    <div class="col-md-3 col-sm-3 verticalLine">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4>My recent Patients</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="pull-right myLink" ng-click="findPatient()">Find Patient</a>
            </div>
        </div>



        <div class="row">
            <div class="col-md-10 col-sm-10">
                <select class="form-control"
                        ng-change="selectServer('data',input.dataServer)"
                        ng-options="value.name for value in config.allKnownServers track by value.name"
                        ng-model="input.dataServer">

                </select>
            </div>

            <div class="col-md-2 col-sm-2">
                <button ng-hide = "input.testdata.loading || input.testdata" class="btn btn-default pull-right"
                        ng-click="testServer(input.dataServer,'data')">Test</button>
                <i ng-show="input.testdata.ok" class="glyphicon glyphicon-ok pass"></i>
                <i ng-show="input.testdata.fail" class="glyphicon glyphicon-remove fail"></i>
                <img ng-show="input.testdata.loading" src="css/ajax_loader_blue_32.gif"/>

            </div>

        </div>


        <br />

        <div class="list-group">
            <a href="#" ng-class="{'list-group-item':true,active:patient.id == appConfigSvc.getCurrentPatient().id}"
               ng-repeat="patient in recent.patient"
               ng-model="input.recentProfile" ng-click = "selectPatient(patient)">
                {{ResourceUtilsSvc.getOneLineSummaryOfResource(patient)}}



            </a>
        </div>

    </div>

    <div class="col-md-5 col-sm-5 verticalLine">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4>My recent Profiles</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="pull-right myLink" ng-click="findProfile()">Find Profile</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-10">
                <select class="form-control"
                        ng-change="selectServer('conformance',input.conformanceServer)"
                        ng-options="value.name for value in config.allKnownServers track by value.name"
                        ng-model="input.conformanceServer">

                </select>
            </div>
            <div class="col-md-2 col-sm-2">
                <button  ng-hide = "input.testconformance.loading || input.testconformance" class="btn btn-default pull-right"
                         ng-click="testServer(input.conformanceServer,'conformance')">Test</button>
                <i ng-show="input.testconformance.ok" class="glyphicon glyphicon-ok pass"></i>
                <i ng-show="input.testconformance.fail" class="glyphicon glyphicon-remove fail"></i>
                <img ng-show="input.testconformance.loading" src="css/ajax_loader_blue_32.gif"/>

            </div>
        </div>



        <br />


        <div ng-show="showingLocalProfile">

            <div>
                <strong>{{frontPageProfile.url}}</strong>
                <button class="btn btn-link pull-right" ng-click="showingLocalProfile = false">Return to list</button>
            </div>
            <show-profile profile="frontPageProfile" onvaluesetselected="testVsSel(uri)"></show-profile>


        </div>

        <div ng-hide = "showingLocalProfile" class="list-group ">
            <a href="#" ng-class="{'list-group-item':true,active:profile.url == resourceCreatorSvc.getCurrentProfile().url}"
               ng-repeat="profile in recent.profile"
               ng-model="input.recentProfile" ng-click="selectProfile(profile)">
                <i class="glyphicon glyphicon-eye-open" ng-click="showLocalProfile($event,profile)"></i>
                {{profile.url}}



            </a>
        </div>

    </div>

    <div class="col-md-4 col-sm-4">

        <h4>System Configuration</h4>

        <h5>Terminology Server</h5>



        <ul class="list-group">
            <li class="list-group-item" ng-repeat = "server in consistencyCheck.terminologyServers">
                <input type="radio" name="terminologyServer" ng-model="input.selectedTS"
                       ng-click="changeTerminologyServer(server)" value="{{server.url}}"/>
                {{server.url}}
            </li>
        </ul>

        <br/>
<!--
        <div>{{config.servers.terminology}}</div>

-->

    </div>

</div>