<strong>Front Page</strong>

<style>
    .myLink {
        padding-top: 8px;
    }

</style>


<!--
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <div class="col-md-1">
            <a class="navbar-brand" href="#">Select</a>

        </div>

        <div class="col-md-4">
        </div>
    </div>
</nav>

-->



<div class="row">

    <div class="col-md-2 col-sm-2">
    </div>

    <div class="col-md-4 col-sm-4">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4>Recent Patients</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="pull-right myLink" ng-click="findPatient()">Find Patient</a>
            </div>
        </div>


        <select class="form-control"
                ng-change="selectServer('data',input.dataServer)"
                ng-options="value.name for value in config.allKnownServers "
                ng-model="input.dataServer">

        </select>
        <br />

        <div class="list-group">
            <a href="#" ng-class="{'list-group-item':true,active:patient.id == appConfigSvc.getCurrentPatient().id}"
               ng-repeat="patient in recent.patient"
               ng-model="input.recentProfile" ng-click = "selectPatient(patient)">
                {{ResourceUtilsSvc.getOneLineSummaryOfResource(patient)}}



            </a>
        </div>

    </div>

    <div class="col-md-4 col-sm-4">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h4>Recent Profiles</h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="pull-right myLink" ng-click="findProfile()">Find Profile</a>
            </div>
        </div>

        <select class="form-control"
                ng-change="selectServer('conformance',input.conformanceServer)"
                ng-options="value.name for value in config.allKnownServers "
                ng-model="input.conformanceServer">

        </select>
        <br />

        <div class="list-group ">
            <a href="#" ng-class="{'list-group-item':true,active:profile.url == resourceCreatorSvc.getCurrentProfile().url}"
               ng-repeat="profile in recent.profile"
               ng-model="input.recentProfile" ng-click="selectProfile(profile)">
                {{profile.url}}



            </a>
        </div>

    </div>

</div>