<div>

    <div class="row">
        <div class="col-md-2 col-sm-2">
            Url
        </div>
        <div class="col-md-10 col-sm-10">
            <input type='text'  ng-change="input.IGSummaryDirty=true" class="form-control" ng-model="currentIG.url"/>
        </div>

    </div>
    <br/>

    <div class="row">
        <div class="col-md-2 col-sm-2">
            Name
        </div>
        <div class="col-md-4 col-sm-4">
            <input type='text'  ng-change="input.IGSummaryDirty=true" class="form-control" ng-model="currentIG.name"/>
        </div>
        <div class="col-md-2 col-sm-2">
            Status
        </div>
        <div class="col-md-4 col-sm-4">

            <input type='text' ng-change="input.IGSummaryDirty=true" class="form-control" ng-model="currentIG.status"/>

        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2 col-sm-2">
            Description
        </div>
        <div class="col-md-4 col-sm-4">
            <textarea class="form-control" ng-change="input.IGSummaryDirty=true" ng-model="currentIG.description"></textarea>
        </div>
        <div class="col-md-2 col-sm-2">

        </div>
        <div class="col-md-4 col-sm-4">


        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2 col-sm-2">

        </div>
        <div class="col-md-4 col-sm-4">

        </div>
        <div class="col-md-2 col-sm-2">

        </div>
        <div class="col-md-4 col-sm-4">
            <button class="btn btn-danger" ng-click="saveIG()" ng-show="input.IGSummaryDirty==true">Save Changes</button>
        </div>
    </div>
</div>