<div>

    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h3>List Builder</h3>
        </div>
        <div class="col-md-3 col-sm-3">
            <button class="btn btn-danger pull-right" ng-show="dirty" ng-click="save()">Save</button>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3 col-sm-3">


            <div class="list-group">
                <div href='#' ng-class="{'list-group-item':true,active:ent.resource.id==selectedList.id}"
                   ng-repeat = "ent in allResources.List.entry"  ng-click="listSelected(ent)">
                     <strong>{{ent.resource | oneLineResource}}</strong>



                    <!-- Show the versions of this resource-->
                    <div ng-show="selectedList.id == ent.resource.id">
                        <div class="row"  ng-repeat="entry in versions[ent.resource.id].entry">
                            <div class="col-md-12">
                                <span class="pull-right" style="cursor:pointer" ng-click="selectVersion($event,$index)">
                                    {{entry.resource.date | date:'MMM dd, HH:mm'}} <span class="badge">{{entry.resource.entry.length}}</span> </span>
                            </div>

                        </div>
                    </div>

                    <!--
                    <div>

                        <ul class="list-unstyled">
                            <li ng-repeat="entry in versions[ent.resource.id].entry">
                                {{entry.resource.date | date:'MMM dd, HH:mm'}}
                            </li>
                        </ul>

                    </div>
-->


                    <div ng-show="showVersion[$index]"> verion</div>
                </div>
            </div>

        </div>

        <div class="col-md-9 col-sm-9">
            <uib-tabset>
                <!--
                <uib-tab heading="Details">
                 <br/>
                </uib-tab>
                -->
                <uib-tab heading="Contents">


                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button class="btn btn-link pull-right" ng-show="selectedList"
                                    ng-click="input.showNew = !input.showNew">Add new resource</button>
                        </div>

                    </div>

                    <!-- All the types in this patients list-->



                    <div ng-show="input.showNew" class="row panel panel-default">
                        <div class="panel-heading"><h4>Select resource to add</h4></div>
                        <div class="panel-body">
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" ng-options="key for (key,value) in allResources"
                                        ng-model = "input.selectedBundle" ng-change="selectTypeForNew(key,value)"></select>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <!-- Instances of the selected type -->

                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat = "entry in input.selectedBundle.entry">
                                        <div class="row">
                                            <div class="col-md-10 col-sm-10">
                                                {{entry.resource | oneLineResource}}
                                                <!--
                                                <a href="#" ng-click="addResource(entry.resource)">
                                                {{entry.resource | oneLineResource}}
                                                </a> -->
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span class="pull-right">
                                                    <i class="glyphicon glyphicon-eye-open clickable"
                                                       ng-click="viewResource(entry.resource)"></i>
                                                    &nbsp;
                                                    <i class="glyphicon glyphicon-plus clickable"
                                                       ng-click="addResource(entry.resource)"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                    <!-- Items in the list resource (these reference the resource...)-->
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat = "entry in selectedList.entry">
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <a href="#" ng-click="showHideResource($index)">{{entry.item.display}}</a>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <pre ng-show="showResource[$index]">{{resource[entry.item.reference] | json}}</pre>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <span class="pull-right">


                                         <i class="glyphicon glyphicon-arrow-up clickable"
                                            ng-hide = "$index == 0"
                                            ng-click="moveResourceUp($index)"></i>




                                        <i class="glyphicon glyphicon-arrow-down clickable"
                                           ng-hide = "$index == (selectedList.entry.length -1)"
                                           ng-click="moveResourceDown($index)"></i>

                                        <span ng-show = "$index == (selectedList.entry.length -1)" >&nbsp;&nbsp;&nbsp;</span>

                                        <i class="glyphicon glyphicon-remove clickable"
                                           ng-click="removeEntry($index)"></i>

                                    </span>
                                </div>
                            </div>


                        </li>
                    </ul>


                </uib-tab>
                <uib-tab heading="Json">
                    <br/>
                    <pre>{{selectedList | json}}</pre>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

</div>