<div>
    <br/>
    <div class="row">

        <div class="col-sm-4 col-md-4">

            <select class="form-control" ng-model = "input.childEntry"
                    ng-change = "childSelected(input.childEntry)"
                ng-options="child.display for child in children">
                <option value=""></option>
            </select>


        </div>
        <div class="col-sm-4 col-md-4">
            <textarea class="form-control" placeholder="Enter description" ng-model="input.description"></textarea>

        </div>



        <div class="col-sm-3 col-md-3">
            <button class="btn btn-primary pull-right" ng-show="currentChildEntry" ng-click="saveFilteredModel()">Update filtered model</button>
        </div>
        <div class="col-sm-1 col-md-1">
            <i class="glyphicon glyphicon-plus-sign" ng-click="addNewChild()"></i>
        </div>

    </div>
    <hr/>


    <div class="row" ng-show="currentChildEntry">
        <div class="col-sm-6 col-md-6">
            <div class="banner">Available Elements</div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="banner">Elements in this model</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="designerScroll">
                <table class="table table-bordered table-condensed" ng-show="currentChildEntry">

                    <tr ng-repeat="row in treeData">
                        <td>
                            <input ng-model="selected[$index]" type="checkbox" ng-change="updateFilteredModel($index)"/>
                        </td>

                        <td>

                            <div  ng-style="{ 'padding-left': (row.data.path | pathindent) }"
                                  ng-click="localTableSelect(row.data.path)" class="clickable" >{{row.data.path| lastInPath}}</div>
                        </td>

                    </tr>

                </table>
            </div>

        </div>
        <div class="col-sm-6 col-md-6">

            <div class="alert alert-danger" ng-show="errors">
                There were errors creating the model - see the browser console
            </div>

            <div class="alert alert-warning" ng-show="issues.length > 0">
                <ul class="list-unstyled">
                    <li ng-repeat="issue in issues">{{issue.display}}</li>
                </ul>
            </div>

            <div class="designerScroll">
                <div  id="filterTreeView"></div>

            </div>


        </div>
    </div>


</div>