<div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <select class="form-control">
                <option>Referral</option>
                <option>Summary</option>
                <option>Some other Scenario</option>
            </select>
        </div>
        <div class="col-sm-4 col-md-4">

        </div>
        <div class="col-sm-4 col-md-4">
            <button class="btn btn-primary" ng-click="saveFilteredModel()">Update filtered model</button>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="designerScroll">
                <table class="table table-bordered table-condensed">

                    <tr ng-repeat="row in treeData">
                        <td>
                            <input ng-model="selected[$index]" type="checkbox" ng-change="updateFilteredModel($index)"/>
                        </td>

                        <td>

                            <div  ng-style="{ 'padding-left': (row.data.path | pathindent) }"
                                  ng-click="localTableSelect(row.data.path)" class="clickable" >{{row.data.path| lastInPath}}</div>
                        </td>

                    </tr>

                </table>
            </div>

        </div>
        <div class="col-sm-6 col-md-6">
            <div class="designerScroll" id="filterTreeView"></div>
        </div>
    </div>


</div>