


<div ng-show="selectedNode">

    <!-- AFAIK this is only used by the profileDiff app (actually, the IG viewer)
    It shows the detail of selected elements in a logical model.-->

    <div class="row">
        <div class="col-md-10 col-sm-10">
            <h4>Element path <em>{{selectedNode.text}}</em> properties</h4>
        </div>
        <div class="col-md-2 col-sm-2">

        </div>
    </div>


    <!-- This is the root node-->
    <div ng-show="selectedNode.parent == '#'">
        <table class="table table-bordered">

            <tr><td width="20%">Base Type</td><td>{{selectedNode.data.header.baseType}}</td></tr>
            <tr><td width="20%">Location</td><td>{{selectedNode.data.header.SDUrl}}</td></tr>
            <tr><td width="20%">Title</td><td>{{selectedNode.data.header.title}}</td></tr>
            <tr><td width="20%">Purpose</td><td>{{selectedNode.data.header.purpose}}</td></tr>
            <tr><td width="20%">Publisher</td><td>{{selectedNode.data.header.publisher}}</td></tr>
        </table>
        <!--
                <pre>{{selectedNode.data.header | json}}</pre>
                  -->

    </div>


    <div ng-hide="selectedNode.parent == '#'">
        <table class="table table-bordered">
        <!--<tr><td width="20%">Name</td><td>{{selectedNode.data.name}}</td></tr> -->
        <tr><td width="20%">Model path</td><td>{{selectedNode.data.path}}</td></tr>
        <tr ng-show="selectedNode.data.title"><td>Title</td><td>{{selectedNode.data.title}}</td></tr>

        <tr><td>Must Support</td><td>
            <div ng-show="selectedNode.data.mustSupport">
                Yes
            </div>
                <div ng-hide="selectedNode.data.mustSupport">
                    No
                </div>
            </td>
        </tr>
        <tr><td>Short</td><td>{{selectedNode.data.short}}</td></tr>
        <tr><td>Description</td><td>{{selectedNode.data.description}}</td></tr>

        <tr ng-show="selectedNode.data.mappingFromED"><td>Mappings</td><td>
            <table class="table table-condensed table-bordered"  style="margin-bottom: 2px">
                <tr><th>Identity</th><th>Map</th><th>Comment</th></tr>
                <tr ng-repeat="map in selectedNode.data.mappingFromED">
                    <td>{{map.identity}}</td>
                    <td>{{map.map}}</td>
                    <td>{{map.comment}}</td>
                </tr>
            </table>
            <!--{{selectedNode.data.mappingFromED}}
            <div ng-show="selectedNode.data.mapping"><em>{{selectedNode.data.mapping}}</em></div>-->
        </td></tr>

        <tr ng-show="selectedNode.data.fhirMappingExtensionUrl"><td>Extension Url</td>
            <td>
                <a href="#" ng-click="editExtension()">{{selectedNode.data.fhirMappingExtensionUrl}}</a>
            </td>
        </tr>

        <tr ng-show="selectedNode.data.comments"><td>Comments</td><td>{{selectedNode.data.comments}}</td></tr>
        <tr><td>Multiplicity</td><td>{{selectedNode.data.min}}..{{selectedNode.data.max}}</td></tr>
        <tr ng-show="selectedNode.data.analysis">
            <td>Extension data</td>
            <td>{{selectedNode.data.analysis | json}}</td>
        </tr>
        <tr><td>Datatypes</td>
            <td>
                <div ng-repeat = "typ in selectedNode.data.type">



                    <div ng-hide="typ.code == 'Reference'">
                        {{typ.code}}
                    </div>

                    <div ng-show="typ.code == 'Reference'">
                        {{typ.code}} --> {{typ.profile}} {{typ.targetProfile}}
                    </div>




                    <!-- Show any profile. If a reference, then hyperlink to the 'display' functionality... -->
                    <!--
                    <span ng-show="typ.code == 'Reference'" class="pull-right">
                        <span class="clickable" ng-click="viewReferencedModel(selectedNode.data.referenceUri)">View</span>

                        <span ng-hide="isDirty" class="clickable" ng-click="loadReferencedModel(selectedNode.data.referenceUri)">Load</span>

                    </span>

                    <div>{{typ.profile}}{{typ.targetProfile}}</div>
                    -->

                </div>
                <!-- If there's a ValueSet defined, allow it to be selected... -->
                <span ng-show="selectedNode.data.selectedValueSet">
                                      <!--  <span>{{selectedNode.data.selectedValueSet.vs.name}}</span>-->

                        <span class="clickable" ng-click="showValueSet(selectedNode.data.selectedValueSet.vs.url)">
                                {{selectedNode.data.selectedValueSet.vs.url}}</span>
                                ({{selectedNode.data.selectedValueSet.strength}})

                        </span>
            </td>
        </tr>

        <tr ng-show="selectedNode.data.conceptMap">
            <td>ConceptMap</td>
            <td><a href="#" ng-click="showConceptMap(selectedNode.data.conceptMap)">{{selectedNode.data.conceptMap}}</a></td></tr>

        <tr ng-show="selectedNode.data.mapping"><td>Mapping notes</td><td>
            {{selectedNode.data.mapping}}
        </td></tr>

        <tr ng-show="selectedNode.data.fixedString">
            <td>Fixed</td><td>{{selectedNode.data.fixedString}}</td>
        </tr>

        <tr ng-show="selectedNode.data.discriminator">
            <td>Discriminator</td><td>{{selectedNode.data.discriminator}}</td>
        </tr>


        <tr ng-show="valueSetOptions">
            <td>Options</td>
            <td>

                <ul>
                    <li ng-repeat="option in valueSetOptions">{{option.display}} ({{option.code}})</li>
                </ul>

            </td>
        </tr>
    </table>
    </div>


<!--
                                <pre>{{selectedNode | json}}</pre>
-->
</div>