<div>

    <div class="row">
        <div class="col-md-6 col-sm-6">

            <h3>Local activity</h3>
        </div>

        <div class="col-md-6 col-sm-6">

            <a href="#" ng-show="localActivity.length > 5" ng-click="clearLAlist()" class="pull-right">
                Clear all except last 5</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="list-group">
                <div href="#" class="list-group-item" ng-repeat="item in localActivity"
                     ng-click="laShowResource(item)" style="cursor: pointer">

                    <div class="pull-right">{{item.date | date:'yyyy-MM-dd HH:mm'}}</div>


                    <div><strong>{{item.patientName}}</strong> ({{item.resourceType}})</div>
                    <div class="pull-right">{{item.date | getAgeSeconds}}</div>
                    <div>{{item.resourceUrl}}</div>


                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="alert alert-warning" ng-show="laItem.item">
                <div ng-show="laAllowEdit" ><a href="#" class="pull-right" ng-click="laEditResource(laItem)">Edit</a></div>

                <div ng-hide="laAllowEdit" class="pull-right">Change Data Server to edit</div>

                <div>{{laItem.item.resourceUrl}}</div>
            </div>


            <pre  ng-show="laItem.item">
                {{laItem.resource | json}}
            </pre>

        </div>
    </div>

<!--
    <pre>
        {{localActivity | json}}
    </pre>

    -->
</div>