<div ng-show="markResult">
    <h3>Results</h3>
    <div class="row">
        <div class="col-md-9">
            <div class="scoreText">Number of resources</div>
        </div>
        <div class="col-md-3">
            <div class="scoreResult" ng-click="markResult.compareResourceTypes.showDetails = ! markResult.compareResourceTypes.showDetails" >
                {{markResult.compareResourceTypes.score}}%
            </div>
        </div>
        <!--
        <div class="col-md-2">
            <div class="scoreText clickable" ng-click="markResult.compareResourceTypes.showDetails = ! markResult.compareResourceTypes.showDetails"  >Details</div>
        </div>
        -->
    </div>


    <table class="table table-bordered" ng-show="markResult.compareResourceTypes.showDetails">
        <tr><th>Resource Type</th><th>Reference scenario</th><th>This scenario</th><th>Score</th></tr>
        <tr ng-repeat="(key,value) in markResult.compareResourceTypes.types">
            <td>{{key}}</td>
            <td>{{value.ref}}</td>
            <td>{{value.test}}</td>
            <td>{{value.score}}%</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-9">
            <div class="scoreText">Connections (References between resources)</div>
        </div>
        <div class="col-md-3">
            <div class="scoreResult" ng-click="markResult.references.showDetails = ! markResult.references.showDetails">
                {{markResult.references.score}}%</div>
        </div>
    </div>

    <table class="table table-bordered" ng-show="markResult.references.showDetails">
        <tr><th>Path </th><th>Target resource</th><th>Found</th></tr>
        <tr ng-repeat="conn in markResult.references.connections">
            <td>{{conn.path}}</td>
            <td>{{conn.to}}</td>
            <td>{{conn.found}}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-9">
            <div class="scoreText">Populated properties</div>
        </div>
        <div class="col-md-3">
            <div class="scoreResult" ng-click="markResult.data.showDetails = ! markResult.data.showDetails">
                {{markResult.data.score}}%</div>
        </div>
    </div>


    <table class="table table-bordered" ng-show="markResult.data.showDetails">
        <tr><th>Type</th><th>Path</th><th>Value</th><th>Result</th></tr>
        <tr ng-repeat="data in markResult.data.data">
            <td>{{data.type}}</td>
            <td>{{data.path}}</td>
            <td>{{data.value | json}}</td>
            <td>{{data.result}}</td>
        </tr>
    </table>


    <hr/>
    <div class="row">
        <div class="col-md-9">
            <div class="scoreText">Overall score</div>
        </div>
        <div class="col-md-3">
            <div class="scoreResult">{{markResult.score}}%</div>
        </div>

    </div>


    <!--
    <pre>{{markResult | json}}</pre>
-->
</div>