<div>

    <style>
        .myScroll {

            height: 500px;
            overflow-y: scroll;
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 2px;
            text-align: left;
        }


    </style>
<!--
    <h3>Builder</h3>
    <div class="row rounded-box">


        <div class="col-md-4 col-sm-4">
            <select ng-model="input.nbProfile" class="form-control"
                    ng-change="savedProfileUrl(input.nbProfile)"
                    ng-options="url for url in nbProfile">

            </select>

        </div>

        <div class="col-md-1 col-sm-1">
            <button class="btn btn-primary" ng-click="findProfile()">Find Profile</button>
        </div>

        <div class="col-md-1 col-sm-1">
        </div>

        <div class="col-md-2 col-sm-2">
            <img ng-show='waiting' src="css/ajax_loader_blue_32.gif"/>
        </div>

        <div class="col-md-4 col-sm-4">

        </div>


    </div>
    -->



    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="myScroll">
                <div id="nbSDtreeView"></div>
            </div>


        </div>
        <div class="col-md-5 col-sm-5">
            <uib-tabset>
                <uib-tab heading="Data Entry">

                    <!-- selectedNode.data.meta.isBBE && -->

                    <div ng-show="selectedNode.data.meta.isMultiple && selectedNode.data.meta.canCopy">

                        <!-- add a new node in the tree for multiple nodes. have an index to tell them apart...-->
                        <button class="btn btn-primary pull-right" ng-click="addNewNode()">Add new element</button>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>

                    <div class="rounded-box" ng-show="selectedNode.data.meta.definition || selectedNode.data.meta.comment">
                        <div>{{selectedNode.data.meta.definition}}</div>
                        <div>{{selectedNode.data.meta.comment}}</div>
                    </div>


                    <div>
                        <span class="clickable iconSpacing" ng-repeat="typ in selectedNode.data.meta.type"
                              ng-click="showDEForm(typ.code)">{{typ.code}}</span>
                        <div class="pull-right">{{selectedNode.data.meta.index}}</div>

                        <div ng-show="currentDT && selectedNode.data.meta.type[0].type !== 'BackboneElement'">

                            <div class="rounded-box">
                                <ng-include src="'/includes/builderDataEntry.html'"></ng-include>

                            </div>

                            <table ng-show="currentDT == 'Reference' && Object.keys(potentialReferences).length > 0"
                                   class="table table-condensed table-bordered">
                                <tr><th>Type</th><th>Potential resources</th></tr>
                                <tr ng-repeat="(key,data) in potentialReferences">
                                    <td>{{key}}</td>
                                    <td>
                                        <table width="100%">
                                            <tr ng-repeat = "resource in data">
                                                <td style="border-bottom: 1px solid #ddd;">
                                                    <div title="{{resource.resourceType}}"
                                                         ng-bind-html="resource.text.div">

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="pull-right">

                                                        <span>
                                                            <i class="glyphicon glyphicon-plus"
                                                               ng-click="linkToResource(resource)" style="cursor: pointer">

                                                            </i>
                                                        </span>
                                                    </div>
                                                </td>

                                            </tr>
                                        </table>


                                    </td>

                                </tr>
                            </table>

                            <button  class="btn btn-primary pull-right" ng-click="addDataType()">
                                <span ng-hide="currentValue">Add</span>
                                <span ng-show="currentValue">Update</span>
                            </button>
                            <button ng-show="currentValue" class="btn btn-danger pull-right"
                                    style="margin-right: 8px"
                                    ng-click="deleteElement(selectedNode.data.meta.index)">
                                Delete
                            </button>
                        </div>
                    </div>


                    {{currentValue}}
                </uib-tab>
                <uib-tab heading="Validate">

                    <button class="btn btn-primary pull-right" ng-click="validate()">Validate</button>


                    <uib-tabset>
                        <br/>
                        <uib-tab heading="issues">
                            <table class="table table-bordered">
                                <tr><th>Severity</th><th>Details/Diagnostics</th></tr>
                                <tr ng-repeat = "iss in validationResult.issue">
                                    <td>{{iss.severity}}</td>

                                    <td>{{iss.details.text}}
                                        <div>{{iss.diagnostics}}</div>
                                    </td>
                                </tr>
                            </table>
                        </uib-tab>

                        <uib-tab heading="json">
                            <pre>{{validationResult | json}}</pre>
                        </uib-tab>


                    </uib-tabset>

                   <!-- <pre>{{validationResult | json}}</pre> -->

                </uib-tab>
                <uib-tab heading="Debug">

                    <pre>{{selectedNode.data.meta | json}}</pre>

                    <pre>{{treeData | json}}</pre>

                    <pre>{{selectedNode | json}}</pre>

                    <pre>{{treeData | json}}</pre>


                </uib-tab>
                <uib-tab heading="Profile">
                    <p class="banner"><em>These are the actual Element Definitions - in order - from the Profile. (StructureDefinition.snapshot.element)</em></p>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="SDScroll">
                                <ul class="list-group">
                                    <li class="list-group-item clickable" ng-repeat="element in currentProfile.snapshot.element"
                                        ng-click = "input.selectedPathED = element" >
                                        {{element.path}}
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-8 col-md-8">
                            <pre>{{input.selectedPathED | json}}</pre>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>


        </div>
        <div class="col-md-4 col-sm-4">

            <uib-tabset>
                <uib-tab heading="Json">
                    <pre>{{resource | json}}</pre>
                    <span class="clickable" ng-click="clear()">Clear resource</span>
                </uib-tab>

                <uib-tab heading="Tree">
                    <div>
                        <span class="clickable pull-right" ng-click="toggleTreeExpand()">Toggle Expand</span>
                    </div>
                    <div id="nbbuilderResourceTree"></div>
                </uib-tab>

                <uib-tab heading="Text">
                    <br/>

                    <div class="pull-right">
                        Summary <checkbox ng-model="input.textDisplaySummary"></checkbox>
                    </div>

                    <hr/>


                    <table width="100%">
                        <tr ng-repeat="item in textDisplay">
                            <td valign="top">{{item.path1}}</td>
                            <td valign="top">{{item.path2}}</td>
                            <td valign="top">
                                <div ng-show = "input.textDisplaySummary">{{item.display.summary}}</div>
                                <div ng-show = "! input.textDisplaySummary">{{item.display.detail}}</div>
                            </td>
                        </tr>
                    </table>
                </uib-tab>

                <uib-tab ng-show="1==2"  heading="Parsed resource">
                    <div ng-repeat="item in parsedTree">
                        <div class="rounded-box" ng-show="item.data.meta.value">
                            <div><strong>{{item.data.meta.path | dropFirstInPath}}</strong></div>

                            <div>
                                {{item.data.meta.value | json}}
                            </div>
                        </div>


                    </div>
                </uib-tab>

                <uib-tab >
                    <uib-tab-heading>References
                        <span class="badge">{{references.outwardLinks.length + references.inwardLinks.length}}</span>
                    </uib-tab-heading>
                   <h5>Outward reference</h5>
                    <table class="table table-bordered">
                        <tr ng-repeat="ref in references.outwardLinks">
                            <td>{{ref.key}}</td>
                            <td>{{ref.reference}}</td>
                        </tr>
                    </table>
                    <h5>Inward reference</h5>
                    <table class="table table-bordered">
                        <tr ng-repeat="lnk in references.inwardLinks">
                            <td>{{lnk.name}}</td>
                            <td>{{lnk.resource.resourceType}}/{{lnk.resource.id}}</td>
                        </tr>
                    </table>


                </uib-tab>

            </uib-tabset>




        </div>



    </div>

<!--
    <select-profile trigger="showFindProfileDialog"
                    all-resource-types="standardResourceTypes"
                    profile-selected="selectedProfileFromDialog" type="'profile'">

    </select-profile>

    -->
</div>