<div>

    <div class="row">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-10">
                    <h4>Patient</h4>
                </div>
                <div class="col-md-2" style="margin-top:10px">
                    <!--
                    <a href="#" ng-click="display.editMode = ! display.editMode" >
                        <span ng-hide="display.editMode">Change</span>
                        <span ng-show="display.editMode">Cancel</span>
                    </a>
                    -->
                </div>
            </div>

<!--
            <div ng-show="display.editMode">
                <div class="row">
                    <div class="col-md-11">
                        <input type="text" ng-model="input.searchPatientName" class="form-control"
                               placeholder="Enter name for patient searc">
                    </div>
                    <div class="col-md-1"style="margin-top:10px">
                        <a href="#"><i class="glyphicon glyphicon-search" ng-click="searchForPatient(input.searchPatientName)"></i></a>
                    </div>
                </div>
                <br/>

                <div ng-show="matchingPatientsBundle">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="entry in matchingPatientsBundle.entry">
                            <a href="#" ng-click="selectNewPatient(entry.resource)">
                                {{ResourceUtilsSvc.getOneLineSummaryOfResource(entry.resource)}}
                            </a>

                        </li>
                    </ul>

                </div>
            </div>

            -->


            <div>
                <pre>{{appConfigSvc.getCurrentPatient() | json}}</pre>
            </div>

        </div>

<!--

        <div class="col-md-4">
            <div ng-hide="display.editMode">
                <h4>Resources List</h4>
                <ul class="list-group">

                    <li ng-repeat = '(key,value) in allResources' class="list-group-item">
                        <a href = "#" ng-click="selectPatientResourceType(value)">
                            {{key}}
                        </a>
                        <span class="badge">{{value.entry.length}}</span>

                    </li>
                </ul>

                <pre>{{allResources | json}}</pre>

            </div>
        </div>

        <div class="col-md-4">
            <div  ng-hide="display.editMode">
                <h4>Resources of one type</h4>
                <pre>{{selectedPatientResourcesOfType | json}}</pre>
            </div>
        </div>


        -->
    </div>




</div>