

<div>
    <div ng-show="loading">
        <div class="alert alert-warning" role="alert">Accessing server, please wait...</div>
    </div>

    <div>
        <div class="row rounded-box">
            <div class="col-md-10 col-sm-10">
                <div>

                    <span class="lead">Profile explorer </span>  on {{appConfigSvc.getCurrentConformanceServer().name }}
                ({{appConfigSvc.getCurrentConformanceServer().url}})</div>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-default pull-right"

                        ng-click="newProfile()">New Profile</button>

                <!--
                <button class="btn btn-default pull-right"
                        ng-show="userProfile.extDef.permissions.canCreate"
                        ng-click="newProfile()">New Profile</button>
                <div ng-hide="userProfile.extDef.permissions.canCreate">
                    Login to edit/create profile
                </div>

                -->
            </div>


        </div>
    </div>
    <hr/>
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="row" style="margin-bottom: 8px">

                <div class="col-md-5 col-sm-5 col-xs-5">

                    <select class="form-control" ng-model="input.searchParam">
                        <option value="publisher">Publisher</option>
                        <option value="name">Name</option>
                        <option value="description">Description</option>

                        <option value="identifier">Identifier</option>
                        <option value="resource">Resource</option>

                    </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">

                    <input ng-hide="input.searchParam=='resource' || input.searchParam=='identifier'"
                           class="form-control" type="text" placeholder="Publisher" ng-model="input.param">

                    <select ng-show="input.searchParam=='resource'" class="form-control" ng-model="input.resourceType"

                            ng-options="type.name for type in allResourceTypes"></select>

                    <div ng-show="input.searchParam=='identifier'">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                Id
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input class="form-control" type="text" ng-model="input.identifierId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                System
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input class="form-control" type="text" ng-model="input.identifierSystem">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <a href="#" ng-click="search(input.param)">
                        <i class="glyphicon glyphicon-search" ></i></a>
                </div>
            </div>

            <div class="row" style="margin-bottom: 8px">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <select class="form-control" ng-model="input.searchStatus">
                        <option value="draft">Draft</option>
                        <option value="active">Active</option>
                        <option value="retired">Retired</option>
                        <option value="all">All Statuses</option>
                    </select>
                </div>
                <div class="col-md-7 col-sm-7">


                    <a class="pull-right" ng-show="extensionsArray" download="{{downloadLinkJsonName}}.json"
                       href="{{downloadLinkJsonContent}}"> <span class="badge"> {{profilesArray.length}}</span> <i class="glyphicon glyphicon-cloud-download" ></i>

                    </a>
                </div>



            </div>

            <ul class="list-group" style=" height:500px; overflow: auto;" >
                <li style="cursor: pointer" ng-class="{'list-group-item':1==1,listItemSelected:$index==index}"
                    ng-repeat="entry in profilesArray"
                        ng-click="selectProfile(entry,$index)">

                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <h4>{{entry.resource.name}}</h4>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <em class="pull-right">{{entry.resource.status}}</em>
                        </div>
                    </div>

                    {{entry.resource.description | limitTo : 200}}
                </li>
            </ul>
            <div>{{query}}</div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">

            <uib-tabset ng-show="selectedProfile">
                <uib-tab heading="Description">

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Base Type</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.constrainedType}}{{selectedProfile.type}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>URL</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.url}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>ID on Server</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.id}}
                            <span style="margin-left: 40px"> ( {{conformanceServer}}StructureDefinition/{{selectedProfile.id}} )</span></div>
                    </div>


                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Status</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.status}}</div>
                    </div>

                    <div class="row textRow" ng-show="selectedProfile.meta">
                        <div class="col-md-2 col-sm-2"><strong>Version</strong></div>
                        <div class="col-md-10 col-sm-10">
                            {{selectedProfile.meta.versionId}}
                            <span style="padding-left: 10px">({{selectedProfile.meta.lastUpdated | date}})</span>
                            <span style="padding-left: 10px">{{selectedProfile.lastEditedBy}}</span>
                        </div>
                    </div>


                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Experimental</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.experimental}}</div>
                    </div>
                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Name</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.name}}</div>
                    </div>

                    <div class="row textRow" >
                        <div class="col-md-2 col-sm-2"><strong>Identifier</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat="ident in selectedProfile.identifier" ng-hide="ident.system=='http://clinfhir.com'">
                                {{ident.value}}@{{ident.system}}
                            </div>

                        </div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Description</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.description}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Publisher</strong></div>
                        <div class="col-md-10 col-sm-10">{{selectedProfile.publisher}}</div>
                    </div>

                    <div class="row textRow">
                        <div class="col-md-2"><strong>Multiple allowed?</strong></div>
                        <div class="col-md-10 col-sm-10">
                            {{selectedProfile.localMeta.multiple ? 'Yes' : 'No'}}
                        </div>
                    </div>

                    <div class="row textRow" ng-show="selectedProfile.contact">
                        <div class="col-md-2"><strong>Contacts</strong></div>
                        <div class="col-md-10 col-sm-10">
                            <div ng-repeat = "contact in selectedProfile.contact">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div ng-repeat="telecom in contact.telecom">
                                            {{telecom.system}}: {{telecom.value}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">{{contact.name}}</div>

                                </div>
                            </div>

                        </div>
                    </div>


                </uib-tab>
                <uib-tab heading="Tree">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <!-- a component (1.5) todisplay a profile-->
                            <show-profile profile="selectedProfile"
                                          ontreenodeselected="treeNodeSelected(item)"
                                          treedivid="'selectProfileTreeInList'">

                            </show-profile>
                            <div id="selectProfileTreeInList"></div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <uib-tabset>
                                <uib-tab heading="Summary">
                                    <ed-summary ed="selectedEd"></ed-summary>
                                </uib-tab>
                                <uib-tab heading="Json">
                                    <pre>{{selectedEd | json}}</pre>
                                </uib-tab>
                            </uib-tabset>

                        </div>
                    </div>



                </uib-tab>

                <uib-tab heading="Json">
                    <pre>{{selectedProfile | json}}</pre>
                </uib-tab>




            </uib-tabset>


            <!-- todo this logic could be tidied...-->
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">

                        <button class="btn btn-primary"
                                ng-click="showProfileDetails(profile)">Details/Edit</button>

   <!--
                        <i title="Show or edit profile" class="glyphicon glyphicon-eye-open" ng-click="showProfileDetails($event,profile)"></i>
-->
<!--
                        <button class="btn btn-primary"
                                ng-show="userProfile.extDef.permissions.canEdit && selectedProfile.status == 'draft'"
                                ng-click="editExtension()">Edit</button>

                        -->

                        <span ng-show="isAuthoredByClinFhir">
                            <button class="btn btn-primary"
                                    ng-show="userProfile.extDef.permissions.canRetire && selectedProfile.status == 'active'"
                                    ng-click="retireProfile('retire')">Retire </button>

                            <button class="btn btn-warning"
                                    ng-show="userProfile.extDef.permissions.canDelete && selectedProfile.status == 'draft'"
                                    ng-click="deleteProfile()">Delete </button>

                            <button class="btn btn-success"
                                    ng-show="userProfile.extDef.permissions.canActivate && selectedProfile.status == 'draft'"
                                    ng-click="activateProfile('activate')">Activate </button>

                        </span>







                    </div>


                </div>
                <div class="col-md-10 col-sm-10"></div>
            </div>



        </div>

    </div>



</div>

