<div>
    Conformance

    <uib-tabset>

        <uib-tab heading="Detail">
            <br/>

            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <ul class="list-group">
                        <li ng-class="{clickable:true, 'list-group-item':true, listItemSelected:input.selectedRest == rest}"
                            style="cursor: hand"
                            ng-repeat="rest in analyseCapStmt.rest"
                            ng-click = "input.selectedRest = rest">
                            {{rest.type}}
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-9" >
                    <div ng-show="input.selectedRest">
                    <h5>Interactions</h5>
                    <table class="table table-bordered">
                        <tr><th>Code</th><th>Expect</th><th>Notes</th></tr>
                        <tr ng-repeat="int in input.selectedRest.interaction">
                            <td>{{int.code}}</td>
                            <td>{{int.expectation}}</td>
                            <td>{{int.documentation}}</td>

                        </tr>
                    </table>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <h5>Simple Search</h5>
                            <table class="table table-bordered">
                                <tr><th>Name</th><th>Expect</th><th>Type</th></tr>
                                <tr ng-repeat="srch in input.selectedRest.search">
                                    <td><span title="{{srch.definition}}" class="clickable"> {{srch.name}}</span> </td>
                                    <td>{{srch.expectation}}</td>
                                    <td>{{srch.type}}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h5>Combo Search</h5>
                            <table class="table table-bordered">
                                <tr><th>#</th><th>Parameters</th></tr>

                                <tr ng-repeat="combo in input.selectedRest.comboSearch">
                                    <td>{{$index}}</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tr ng-repeat="c in combo.children">
                                                <td>{{c.valueString}}</td>
                                                <td>{{c.url}}</td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>

                            </table>
                        </div>
                    </div>



                    </div>

                </div>


            </div>



        </uib-tab>

        <uib-tab heading="Analysis">

            <pre>{{analyseCapStmt | json}}</pre>



        </uib-tab>
        <uib-tab heading="Json">
            <pre>{{otherResource | json}}</pre>
        </uib-tab>
    </uib-tabset>
</div>