<style>
    .applyPadding {
        padding-top: 80px;
    }
    .myScroll {

        height: 500px;
        overflow-y: scroll;
    }
    .mygap {
        margin-bottom: 8px;
    }
    .myDeleted {
        text-decoration: line-through;
        color: red;
    }

</style>

<div ng-controller="logicalModelCtrl">

    <div ng-show="showProfileEditPage"  class="row rounded-box">
        <div class="col-md-4">
            <strong ng-show="mode=='view'">Viewing profile</strong>
            <strong ng-show="mode=='edit'">Editing profile</strong>
            <strong ng-show="mode=='new'">Creating a new profile</strong>
        </div>


        <div class="col-md-3">

            <input ng-show="mode=='new' || mode=='edit'" type="text" placeholder="Enter profile name (no spaces)"
                   ng-readonly="mode=='edit'"
                   ng-blur = "checkExistingProfile(input.profileName)" ng-model="input.profileName" class="form-control"/>


        </div>
        <div class="col-md-5">

            <div class="pull-right">

                <button  ng-hide="mode=='edit' || !allowEdit"
                         class="btn btn-link" ng-click="startEdit()">Edit this profile</button>
                <button  class="btn btn-link" ng-click="mode = 'new'">New Profile</button>

                <button ng-show="input.profileName && (mode=='new'|| mode=='edit')"
                        class="btn btn-success" ng-click="save()">Save</button>
<!--
                <button  class="btn btn-warning" ng-click="save()">Dev-Save</button>
                -->

                <button class="btn btn-danger" ng-click="close()">Close</button>


            </div>
        </div>


    </div>



    <div class="row animate-show" ng-show="showProfileEditPage" >
        <div class="col-md-3">
            <show-profile profile="frontPageProfile" treedivid="'localTree'"
                          ontreenodeselected="treeNodeSelected(item)"
                          deleteatpath="deleteAtPath"
                          restoreremoved ="restoreRemoved"
                          ontreedraw="onTreeDraw(item)" newnode="newNodeToAdd"></show-profile>
            <div class="myScroll">
                <div id="localTree"></div>
            </div>
        </div>
        <div class="col-md-9">


            <uib-tabset ng-show='edFromTreeNode'>
                <uib-tab heading="Details">
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">Path</div>
                                <div class="col-md-9 col-sm-9">
                                    {{edFromTreeNode.path}}
                                    <!--
                                    <div ng-repeat="item in edFromTreeNode.type">{{edFromTreeNode.path}}</div>
                                    -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">DataType/s</div>
                                <div class="col-md-9 col-sm-9">
                                    <div ng-repeat="item in edFromTreeNode.type">{{item.code}}

                                        <span ng-repeat="profile in item.profile">
                                            --> <span class="popoverHint" popover-placement="right"
                                                      popover-trigger='mouseenter'
                                                       uib-popover="{{profile}}">{{profile | showUrlId}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">Definition</div>
                                <div class="col-md-9 col-sm-9">{{edFromTreeNode.definition}}</div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    Multiplicity
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    {{edFromTreeNode.min}}..{{edFromTreeNode.max}}
                                </div>
                            </div>

                            <!--
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    Profiles
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div ng-repeat="type in edFromTreeNode.type">
                                        <em ng-repeat="p in type.profile">

                                            <a href="#" ng-click="showProfileByUrl(p)">{{p}}</a>

                                        </em>
                                    </div>
                                </div>
                            </div>
                            -->

                            <div class="row">
                                <div class="col-md-3 col-sm-3">

                                    ValueSet
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <a href="#" ng-click="showValueSetForProfile(edFromTreeNode.binding.valueSetReference.reference)">
                                        {{edFromTreeNode.binding.valueSetReference.reference}}
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-edit"
                                    ng-click="changeBinding()" style="cursor: pointer">

                                    </i></span>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    MetaData
                                </div>
                                <div class="col-md-9 col-sm-9">

                                    {{edFromTreeNode.myMeta}}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-show="mode=='new' || mode=='edit'">
                                <button ng-hide="edFromTreeNode.min !== 0 || currentNodeIsParent" class="btn btn-default"
                                        ng-click="removeNode()">Remove from profile</button>

                                <span ng-show="edFromTreeNode && ! edFromTreeNode.myMeta.isExtension">


                                    <button class="btn btn-default" ng-click="input.newNode = 'child'">Add Child Node</button>
                                    <button class="btn btn-default" ng-click="input.newNode = 'sibling'"
                                            ng-hide="currentNodeIsParent">Add Sibling Node</button>
                                </span>

                                <div ng-show="input.newNode">

                                    <h4>Add {{input.newNode}} node</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input placeholder="name (no spaces)" type="text" class="form-control mygap"
                                                   ng-model="input.newElementPath"/>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control mygap" ng-model="input.newDatatype"
                                                    ng-options="dt.description for dt in dataTypes"></select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea placeholder="Definition" class="form-control mygap"
                                                      ng-model="input.definition"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="btn-group">
                                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'opt'">0..1</label>
                                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'req'">1..1</label>
                                                <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'mult'">0..*</label>
                                            </div>
                                        </div>
                                    </div>



                                    <div>
                                        <button class="btn btn-link pull-right" ng-click="input.newNode=''">Cancel</button>
                                        <button class="btn btn-primary pull-right"
                                                ng-show="input.newElementPath"
                                                ng-click="addNewNode(input.newNode)">Add</button> </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <hr/>








                    <!--

                    <div ng-show="edFromTreeNode && ! edFromTreeNode.myMeta.isExtension">
                        <button class="btn btn-link" ng-click="newNode = 'child'">Add Child Node</button>

                        <button class="btn btn-link" ng-click="newNode = 'sibling'">Add Sibling Node</button>
                    </div>

                    <button ng-show="selectedNode" class="btn btn-link"
                            ng-click="newNode = 'child'">Add Child Node</button>

                    <button ng-show="selectedNode" class="btn btn-link"
                            ng-click="newNode = 'sibling'">Add Sibling Node</button>-->

<!--

                    <div ng-show="newNode">

                        <h4>Add {{newNode}} node</h4>



                        <input placeholder="path relative to parent" type="text" class="form-control mygap"
                               ng-model="input.newElementPath"/>



                        <select class="form-control mygap" ng-model="input.newDatatype"
                                ng-options="dt.description for dt in dataTypes"></select>

                        <textarea placeholder="Definition" class="form-control mygap" ng-model="input.definition"></textarea>
                        <div class="row mygap">
                            <div class="col-sm-6 col-md-6">
                                Multiplicity
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'opt'">0..1</label>
                                    <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'req'">1..1</label>
                                    <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'mult'">0..*</label>
                                </div>
                            </div>
                        </div>




                        <div>
                            <button class="btn btn-link pull-right" ng-click="newNode=''">Cancel</button>
                            <button class="btn btn-primary pull-right"
                                    ng-show="input.newElementPath"
                                    ng-click="addNewNode(newNode)">Add</button> </div>
                    </div>

-->

                </uib-tab>
                <uib-tab heading="Json">
                    <br/>
                    <pre>{{edFromTreeNode | json}}</pre>
                </uib-tab>

            </uib-tabset>


            <div ng-show="logOfChanges.length > 0">
                <hr />
                <h4>Changes</h4>
                <table class="table table-condensed">
                    <tr ng-repeat="item in logOfChanges">
                        <td>{{item.display}}</td>
                        <td>
                            <button ng-show="item.type=='D'" class="btn btn-default" ng-click="restore(item.ed,$index)">Restore</button>
                            <button ng-show="item.type=='A'" class="btn btn-default" ng-click="removeNewNode(item.ed,$index)">Remove</button>
                        </td>
                    </tr>
                </table>

            </div>


        </div>
    </div>

</div>