<style>
    .applyPadding {
        padding-top: 80px;
    }
    .myScroll {

        height: 500px;
        overflow-y: scroll;
    }
    .mygap {
        margin-bottom: 8px;
    }
    .myDeleted {
        text-decoration: line-through;
        color: red;
    }

    .greyBackground {
        background-color: #f2f2f2;
        margin-bottom: 4px;
    }
    .myPadded {
        padding-top: 6px;
    }



</style>

<div>

    <div class="row rounded-box">
        <div class="col-md-2">
            <div class="myPadded">
                <strong ng-show="mode=='view'">Viewing profile</strong>
                <strong ng-show="mode=='edit'">Editing profile</strong>
                <strong ng-show="mode=='new'">Creating a new profile</strong>
            </div>
        </div>


        <div class="col-md-2">
            <div class="myPadded">
                {{appConfigSvc.getCurrentConformanceServer().name}}
            </div>

        </div>
        <div class="col-md-3">

            <input  type="text" placeholder="Enter profile name (no spaces)"
                   ng-readonly="mode=='edit' || mode=='view'"
                   ng-blur = "checkExistingProfile(input.profileName)" ng-model="input.profileName" class="form-control"/>


        </div>
        <div class="col-md-5">


            <div class="pull-right">

                <button  ng-hide="mode=='edit' || !allowEdit"
                         class="btn btn-link" ng-click="startEdit()">Edit this profile</button>
<!--
                <button ng-show="mode=='view' && isBaseResource" class="btn btn-link" ng-click="mode = 'new'">New Profile</button>
-->
                <button ng-show="mode=='view' && isBaseResource" class="btn btn-link" ng-click="setNew()">New Profile</button>


                <button class="btn btn-link" ng-click="close()">Close</button>

                <button ng-show="input.profileName && (mode=='new'|| mode=='edit')"
                        class="btn btn-success" ng-click="save()">Save</button>
<!--
                <button  class="btn btn-warning" ng-click="save()">Dev-Save</button>
                -->




            </div>
        </div>


    </div>




    <div>

        <uib-tabset active="showTab.tabIndexActive">


            <uib-tab index = '0' heading="Profile editor">
                <br/>



    <!-- <div class="row animate-show" ng-show="showProfileEditPage" >-->
        <div class="row animate-show">
            <div class="col-md-3">
                <show-profile profile="frontPageProfile" treedivid="'localTree'"
                              restoreatpath="restoreAtPath"
                              ontreenodeselected="treeNodeSelected(item)"
                              deleteatpath="deleteAtPath"
                              restoreremoved ="restoreRemoved"
                              updateelementdefinition = "updateElementDefinitionInComponent"
                              ontreedraw="onTreeDraw(item)" newnode="newNodeToAdd"></show-profile>


                <div class="myScroll">
                    <div id="localTree"></div>
                </div>



            </div>
            <div class="col-md-9">

                <div ng-show='edFromTreeNode'>


                    <uib-tabset>


                        <uib-tab index="0" heading="Element Details">
                            <br/>
                            <div class="row ">
                                <div class="col-md-6">
                                    <!-- Path -->
                                    <div class="row greyBackground">
                                        <div class="col-md-3 col-sm-3">Path</div>
                                        <div class="col-md-9 col-sm-8">
                                            {{edFromTreeNode.path}}

                                        </div>
                                    </div>

                                    <div class="row greyBackground" ng-show="edFromTreeNode.name">
                                        <div class="col-md-3 col-sm-3">Name</div>
                                        <div class="col-md-9 col-sm-8">
                                            {{edFromTreeNode.name}}

                                        </div>
                                    </div>

                                    <div class="row greyBackground" ng-show="edFromTreeNode.label">
                                        <div class="col-md-3 col-sm-3">Label</div>
                                        <div class="col-md-9 col-sm-8">
                                            {{edFromTreeNode.label}}

                                        </div>
                                    </div>



                                    <!-- Extension specific -->
                                    <div class="row greyBackground" ng-show="edFromTreeNode.myMeta.isExtension">
                                        <div class="col-md-3 col-sm-3">Extension</div>
                                        <div class="col-md-9 col-sm-8">
                                            <div ng-repeat="item in edFromTreeNode.type">

                                                {{item.code}}

                                                --> <span class="popoverHint" popover-placement="right"
                                                          popover-trigger='mouseenter'
                                                          uib-popover="{{profile}}">{{Utilities.getProfileFromType(item) | showUrlId}}</span>

    <!--
                                                <span ng-repeat="profile in item.profile track by $index">
                                                    -- <span class="popoverHint" popover-placement="right"
                                                              popover-trigger='mouseenter'
                                                              uib-popover="{{profile}}">{{profile | showUrlId}}</span>
                                                </span>
                                                -->
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Data types for Types not in extensions... -->
                                    <div class="row greyBackground" ng-hide="edFromTreeNode.myMeta.isExtension">
                                        <div class="col-md-3 col-sm-3">DataType/s</div>
                                        <div class="col-md-8 col-sm-8">
                                            <div ng-repeat="item in edFromTreeNode.type">
                                                <span ng-hide="edFromTreeNode.type.length <2">
                                                    <i ng-show="mode=='new' || mode=='edit'" style="cursor: pointer"
                                                       ng-click="removeDataType($index)"
                                                       class="glyphicon glyphicon-minus-sign"></i>
                                                </span>


                                                {{item.code}}




                                                --> <span class="popoverHint" popover-placement="right"
                                                          popover-trigger='mouseenter'
                                                          uib-popover="{{profile}}">{{Utilities.getProfileFromType(item) | showUrlId}}</span>


                                                <!-- show any profiles-->
                                                <!--stu3
                                                <span  ng-hide = "item.profile[0].length > 0">
                                                     -> <span class="popoverHint" popover-placement="right"
                                                               popover-trigger='mouseenter'
                                                               uib-popover="{{item.profile}}">{{item.profile | showUrlId}}</span>
                                                </span>
                                                -->

                                                <!--stu2 -->
                                                <!--<span  ng-show="item.profile.length > 0" ng-repeat="profile in item.profile">
                                                     <span class="popoverHint" popover-placement="right"
                                                              popover-trigger='mouseenter'
                                                               uib-popover="{{profile}}">{{profile | showUrlId}}</span>
                                                </span>
                                                -->

                                        </div>
                                        </div>
                                            <!--
                                        <div class="col-md-1 col-sm-1">
                                             <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-plus-sign"
                                                      ng-click="editDefinition = !editDefinition" style="cursor: pointer">

                                             </i></span>
                                        </div>
                                            -->
                                    </div>

                                    <!-- Data types for extensions -  datatypes are in the analysis element-->
                                    <div  class="row greyBackground" ng-show="edFromTreeNode.myMeta.isExtension">
                                        <div class="col-md-3 col-sm-3">DataType/s</div>
                                        <div class="col-md-8 col-sm-8">
                                            <div ng-repeat="dt in edFromTreeNode.myMeta.analysis.dataTypes">

                                                 <span ng-hide="edFromTreeNode.myMeta.analysis.dataTypes.length <2">
                                                    <i ng-show="mode=='new' || mode=='edit'" style="cursor: pointer"
                                                       ng-click="removeDataType($index)"
                                                       class="glyphicon glyphicon-minus-sign"></i>
                                                </span>


                                                {{dt.code}}

                                                <span ng-show="dt.profile">
                                                    <span ng-repeat = "p in dt.profile">
                                                        --> <span class="popoverHint" popover-placement="right"
                                                                  popover-trigger='mouseenter'
                                                                  uib-popover="{{p}}">{{p | showUrlId}}
                                                            <a target="_blank"
                                                               href="http://hl7-fhir.github.io/{{p | referenceType}}">Working

                                                            </a>

                                                        </span>

                                                    </span>
                                                </span>




                                            </div>

                                            <div class="row" ng-show="input.addNewDTToExtension">
                                                <div class="col-md-10 col-sm-10">
                                                    <select class="form-control mygap" ng-model="input.newDatatypeForExtension"
                                                            ng-options="dt.description for dt in dataTypes"></select>

                                                    <select class="form-control mygap" ng-model="input.newRRForExtension"
                                                            ng-show="input.newDatatypeForExtension.description == 'Reference'"
                                                            ng-options="typ.name for typ in standardResourceTypes"></select>



                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <button ng-click="addDTToElement(input.newDatatypeForExtension)"
                                                            class="btn btn-link pull-right">Add</button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                             <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-plus-sign"
                                                      ng-click="input.addNewDTToExtension = !input.addNewDTToExtension" style="cursor: pointer">

                                             </i></span>
                                        </div>
                                    </div>


                                    <!-- The definition of the element... -->
                                    <div class="row greyBackground">
                                        <div class="col-md-3 col-sm-3">Definition</div>
                                        <div class="col-md-8 col-sm-8">
                                            <div ng-hide="editDefinition">
                                                {{edFromTreeNode.definition}}
                                            </div>
                                            <div ng-show="editDefinition">
                                                <textarea rows="3" ng-model="edFromTreeNode.definition" class="form-control"></textarea>
                                                <!--
                                                <div><button class="btn btn-link pull-right" ng-click="saveNewDefinition()">Save</button> </div>
                                                -->
                                            </div>

                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                             <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-edit"
                                                      ng-click="changeDefinition()" style="cursor: pointer">

                                             </i></span>
                                        </div>

                                    </div>

                                    <!-- Comments... -->
                                    <div class="row greyBackground">
                                        <div class="col-md-3 col-sm-3">Comments</div>
                                        <div class="col-md-8 col-sm-8">
                                            <div ng-hide="editComments">
                                                {{edFromTreeNode.comments}}
                                            </div>
                                            <div ng-show="editComments">
                                                <textarea rows="5" ng-model="edFromTreeNode.comments" class="form-control"></textarea>

                                            </div>

                                        </div>
                                        <div class="col-md-1 col-sm-1">
                                             <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-edit"
                                                      ng-click="changeComments()" style="cursor: pointer">

                                             </i></span>
                                        </div>

                                    </div>


                                    <!-- Multiplicity -->
                                    <div class="row greyBackground" >
                                        <div class="col-md-3 col-sm-3">
                                            Multiplicity
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            {{edFromTreeNode.min}}..{{edFromTreeNode.max}}




                                        </div>
                                        <div class="col-md-1 col-sm-1">


                                            <!-- If the base mult is 1..1 (ie required) then it's not possible to change multiplicity-->
                                            <div ng-show="possibleMultiplicity.length > 0">

                                                <span uib-dropdown ng-show="mode=='new' || mode=='edit'"  on-toggle="toggled(open)">
                                                      <a href id="simple-dropdown" uib-dropdown-toggle>
                                                          {{edFromTreeNode.min}}..{{edFromTreeNode.max}}
                                                      </a>
                                                      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                          <li ng-repeat="choice in possibleMultiplicity">
                                                              <a href = '#' ng-click="changeMultiplicity(choice)">{{choice.mult}}</a>
                                                          </li>
                                                      </ul>
                                                </span>
                                            </div>

        <!--
                                            <span><i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-edit"
                                                     ng-click="showMultiplicitySelect=true" style="cursor: pointer">

                                            </i></span>
                                            -->
                                        </div>
                                    </div>


                                    <!-- ValueSet -->
                                    <div class="row greyBackground"
                                         ng-show="edFromTreeNode.myMeta.isCoded || edFromTreeNode.myMeta.analysis.isCoded">
                                        <div class="col-md-3 col-sm-3">

                                            ValueSet
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <a href="#" ng-show="edFromTreeNode.binding.valueSetReference.reference"
                                               ng-click="showValueSetForProfile(edFromTreeNode.binding.valueSetReference.reference)">
                                                {{edFromTreeNode.binding.valueSetReference.reference}}
                                            </a>
                                            <a href="#" ng-show="edFromTreeNode.binding.valueSetUri"
                                               ng-click="showValueSetForProfile(edFromTreeNode.binding.valueSetUri,'true')">
                                                {{edFromTreeNode.binding.valueSetUri}}
                                            </a>


                                            <div>{{edFromTreeNode.binding.description}}</div>

                                            <div>Binding strength: {{edFromTreeNode.binding.strength}}</div>
                                        </div>

                                        <div class="col-md-1 col-sm-1">
                                            <span ng-hide="edFromTreeNode.binding.strength == 'required'">
                                                <i ng-show="mode=='new' || mode=='edit'" class="glyphicon glyphicon-edit"
                                            ng-click="changeBinding()" style="cursor: pointer">

                                                </i>
                                            </span>

                                        </div>
                                    </div>
                                </div>



                                <!-- Editing the node... -->
                                <div class="col-md-6">

                                    <div ng-show="mode=='new' || mode=='edit'">
                                        <h4>Node: {{treeNodeItemSelected.node.text}}</h4>
                                        <button ng-hide="edFromTreeNode.min !== 0 || currentNodeIsParent" class="btn btn-primary"
                                                ng-click="removeNode()">Remove from profile</button>

                                         <span ng-show="edFromTreeNode && ! edFromTreeNode.myMeta.isExtension">

                                            <button class="btn btn-primary" ng-click="input.newNode = 'child';selectExistingExtension()">

                                                Add Child Extension</button>
                                            <!--<button class="btn btn-primary" ng-click="input.newNode = 'sibling';selectExistingExtension()"
                                                    ng-hide="currentNodeIsParent">Add Sibling Extension</button>
                                             -->
                                        </span>


                                        <div ng-show="input.newNode">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <h4>Add {{input.newNode}} Extension</h4>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <button class="btn btn-success pull-right"
                                                            ng-click="selectExistingExtension()">Select existing</button>
                                                </div>
                                            </div>

<!-- always select now
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input placeholder="name (no spaces)" type="text" class="form-control mygap"
                                                           ng-model="input.newElementPath"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control mygap" ng-model="input.newDatatype"
                                                            ng-options="dt.description for dt in dataTypes"></select>

                                                    //If a reference, then allow to select the type
                                                    <select class="form-control mygap" ng-model="input.newRRForNode"
                                                            ng-show="input.newDatatype.description == 'Reference'"
                                                            ng-options="typ.name for typ in standardResourceTypes"></select>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea placeholder="Definition" class="form-control mygap"
                                                              ng-model="input.definition"></textarea>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'opt'">0..1</label>
                                                        <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'req'">1..1</label>
                                                        <label class="btn btn-default" ng-model="input.multiplicity" uib-btn-radio="'mult'">0..*</label>
                                                    </div>
                                                </div>
                                            </div>



                                            <div>
                                                <button class="btn btn-link pull-right" ng-click="input.newNode=''">Cancel</button>
                                                <button class="btn btn-primary pull-right"
                                                        ng-show="input.newElementPath"
                                                        ng-click="addNewNode(input.newNode)">Add</button> </div>
                      -->


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- not yet enabled
                            <button class="btn btn-link pull-right"
                                    ng-click="selectExistingExtension()">Select existing</button>

                            <button class="btn btn-link pull-right"
                                    ng-click="newExtension()">New extension</button>

-->

                            <hr/>

                        </uib-tab>
                        <uib-tab heading="Json">
                            <br/>
                            <pre>{{edFromTreeNode | json}}</pre>
                        </uib-tab>

                        <uib-tab heading="Internal metadata">
                            <br/>
                            <pre>{{edFromTreeNode.myMeta | json}}</pre>
                        </uib-tab>

                    </uib-tabset>
                </div>



                <div ng-show="logOfChanges.length > 0">
                    <hr />
                    <h4>Changes</h4>
                    <table class="table table-condensed">
                        <tr ng-repeat="item in logOfChanges">
                            <td>{{item.display}}</td>
                            <td>
                                <button ng-show="item.type=='D'" class="btn btn-default" ng-click="restore(item.ed,$index)">Restore</button>
                                <button ng-show="item.type=='A'" class="btn btn-default" ng-click="removeNewNode(item.ed,$index)">Remove</button>
                            </td>
                        </tr>
                    </table>

                </div>


            </div>
        </div>



            </uib-tab>

            <uib-tab index="2" heading="Mind Map" select="redrawProfileGraph()">


                <div class="row">
                    <button class="btn btn-link pull-right" ng-click="toggleZoom()">
                        <span ng-show="zoomedMM">UnZoom</span> <span ng-hide="zoomedMM">Zoom</span>
                    </button>
                    <div ng-class="zoomedMM ? 'col-md-11' : 'col-md-8'">
                        <div id="profileNetwork"></div>
                    </div>

                    <div ng-class="zoomedMM ? 'col-md-0': 'col-md-4'">

                        <div class='row'>
                            <div class="col-md-12 col-sm-12">


                                <uib-tabset ng-hide="zoomedMM">
                                    <uib-tab heading="Legend">
                                        <br/>


                                        <table class="table table-condensed table-striped">

                                            <tr><td>Green Background</td><td>Backbone element (has children)</td></tr>
                                            <tr><td>Yellow Background</td><td>Resource reference</td></tr>
                                            <tr><td>Blue Background</td><td>Standard Element</td></tr>
                                            <tr><td>'*' in text</td><td>Multiple allowed</td></tr>
                                            <tr><td>'C' in text</td><td>Coded element</td></tr>
                                            <tr><td>Red text</td><td>Required element</td></tr>

                                        </table>
                                    </uib-tab>

                                    <uib-tab heading="Summary">
                                        <br/>
                                        <div class="row greyBackground">
                                            <div class="col-md-3 col-sm-3">Path</div>
                                            <div class="col-md-9 col-sm-8">
                                                {{selectedProfileNetworkED.path}}

                                            </div>
                                        </div>

                                        <div class="row greyBackground" ng-show="selectedProfileNetworkED.name">
                                            <div class="col-md-3 col-sm-3">Name</div>
                                            <div class="col-md-9 col-sm-8">
                                                {{selectedProfileNetworkED.name}}
                                            </div>
                                        </div>

                                        <div class="row greyBackground" ng-show="selectedProfileNetworkED.label">
                                            <div class="col-md-3 col-sm-3">Label</div>
                                            <div class="col-md-9 col-sm-8">
                                                {{selectedProfileNetworkED.label}}

                                            </div>
                                        </div>

                                        <!-- Data types for Types not in extensions... -->
                                        <div class="row greyBackground" ng-hide="selectedProfileNetworkED.myMeta.isExtension">
                                            <div class="col-md-3 col-sm-3">DataType/s</div>
                                            <div class="col-md-8 col-sm-8">
                                                <div ng-repeat="item in selectedProfileNetworkED.type">
                                                    {{item.code}}
                                                     <span ng-show="item.profile">
                                                         --> {{Utilities.getProfileFromType(item) | showUrlId}}
                                                     </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row greyBackground" ng-show="selectedProfileNetworkED.definition">
                                            <div class="col-md-3 col-sm-3">Definition</div>
                                            <div class="col-md-8 col-sm-8">
                                                <div ng-hide="editDefinition">
                                                    {{selectedProfileNetworkED.definition}}
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row greyBackground"  ng-show="selectedProfileNetworkED.comments">
                                            <div class="col-md-3 col-sm-3">Comments</div>
                                            <div class="col-md-8 col-sm-8">
                                                <div ng-hide="editComments">
                                                    {{selectedProfileNetworkED.comments}}
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row greyBackground" ng-show="selectedProfileNetworkED.min" >
                                            <div class="col-md-3 col-sm-3">
                                                Multiplicity
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                {{selectedProfileNetworkED.min}}..{{selectedProfileNetworkED.max}}
                                            </div>

                                        </div>


                                        <div class="row greyBackground"
                                             ng-show="selectedProfileNetworkED.binding">
                                            <div class="col-md-3 col-sm-3">
                                                ValueSet
                                            </div>
                                            <div class="col-md-8 col-sm-8">
                                                <div>{{selectedProfileNetworkED.binding.description}}</div>

                                                <a href="#" ng-show="selectedProfileNetworkED.binding.valueSetReference.reference"
                                                   ng-click="showValueSetForProfile(selectedProfileNetworkED.binding.valueSetReference.reference)">
                                                    {{selectedProfileNetworkED.binding.valueSetReference.reference}}
                                                </a>
                                                <a href="#" ng-show="selectedProfileNetworkED.binding.valueSetUri"
                                                   ng-click="showValueSetForProfile(selectedProfileNetworkED.binding.valueSetUri,'true')">
                                                    {{selectedProfileNetworkED.binding.valueSetUri}}
                                                </a>

                                                <div>Binding strength: {{selectedProfileNetworkED.binding.strength}}</div>
                                            </div>


                                        </div>



                                    </uib-tab>
                                    <uib-tab heading="Json">
                                        <br/>
                                        <pre>{{selectedProfileNetworkED | json}}</pre>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>

                    </div>
                </div>




            </uib-tab>


            <uib-tab index="3"heading="Difference from base">
                <br/>
                <div><strong>Differences from the base resource: {{baseDefinition}}</strong></div>
                <br/>
                <div ng-hide="differences|| diffError">Creating difference, please wait...</div>
                {{diffError}}

                <div class="panel panel-default" ng-show="differences">
                    <table class="table table-condensed table-bordered">
                        <tr ng-repeat ="diff in differences">
                            <td>{{diff.type}}</td>
                            <td>{{diff.ed.path}}</td>
                            <td>{{diff.ed.definition}}</td>

                            <td>
                                <div ng-show="mode=='edit'">
                                    <div ng-show="diff.type=='removed'">
                                        <button class="btn btn-primary" ng-click="RestoreFromDiff($index)">Restore</button>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>

            </uib-tab>

            <uib-tab index="1" heading="Profile description">

                <br/>



                <div class="row">
                    <div class="col-md-6 col-sm-6">

                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.name}}</div>
                                <div ng-show="editDescription" >
                                    <input class="form-control" ng-model="frontPageProfile.name"}} >
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.description}}</div>
                                <div ng-show="editDescription">
                                    <textarea class="form-control" ng-model="frontPageProfile.description"}} ></textarea>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Requirements</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.requirements}}</div>
                                <div ng-show="editDescription">
                                    <textarea class="form-control" ng-model="frontPageProfile.requirements"}} ></textarea>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>CopyRight</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.copyright}}</div>
                                <div ng-show="editDescription">
                                    <textarea class="form-control" ng-model="frontPageProfile.copyright"}} ></textarea>
                                </div>

                            </div>


                        </form>

                    </div>
                    <div class="col-md-5 col-sm-5">
                        <form>
                            <div class="form-group">
                                <label>Url</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.url}}</div>
                                <div ng-show="editDescription">
                                    <input class="form-control" ng-model="frontPageProfile.url"}} >
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.status}}</div>
                                <div ng-show="editDescription">
                                    <input class="form-control" ng-model="frontPageProfile.status"}} >
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Experimental</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.experimental}}</div>
                                <div ng-show="editDescription">
                                    <input class="form-control" ng-model="frontPageProfile.experimental"}} >
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Publisher</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.publisher}}</div>
                                <div ng-show="editDescription">
                                    <input class="form-control" ng-model="frontPageProfile.publisher"}} >
                                </div>


                            </div>
                            <div class="form-group">
                                <label>Contact</label>
                                <div ng-hide="editDescription"> {{frontPageProfile.contact.name}}</div>
                                <div ng-show="editDescription">
                                    <input class="form-control" ng-model="frontPageProfile.contact.name"}} >
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="col-md-1 col-sm-1">
                        <div ng-show="mode=='edit' || mode=='new'">
                            <button ng-show="editDescription" class="btn btn-link pull-right" ng-click="editDescription = false">Save</button>
                            <button ng-hide="editDescription" class="btn btn-link pull-right" ng-click="editDescription = true">Edit</button>
                        </div>

                    </div>

                </div>


            </uib-tab>

            <uib-tab index="4"heading="Table view">
                <br/>
                <table class="table table-condensed table-bordered">
                    <tr><th>Path</th><th>Name</th><th>DataType</th><th>Definition</th><th>Comments</th><th>Mult</th><th>ValueSet</th></tr>
                    <tr ng-repeat="row in model">
                        <td>{{row.data.ed.path}}</td>
                        <td>{{row.data.ed.name}}</td>
                        <td>
                            <ul>
                                <li ng-repeat="dt in row.data.ed.type">
                                    {{dt.code}} <span ng-show="dt.profile"> --> </span> {{Utilities.getProfileFromType(dt) | shortUrl}}

                                </li>
                            </ul>
                            <!--
                            <div ng-repeat="dt in row.data.ed.type">
                                {{dt.code}} {{dt.profile[0] | shortUrl}}

                            </div>
    -->

                        </td>
                        <td>{{row.data.ed.definition}}</td>
                        <td>{{row.data.ed.comments}}</td>
                        <td>{{row.data.ed.min}}..{{row.data.ed.max}}</td>

                        <td>
                            {{row.data.ed.binding.valueSetReference.reference}}
                            {{row.data.ed.binding.valueSetUri}}
                        </td>
                    </tr>
                </table>
            </uib-tab>

            <uib-tab index="5"heading="Profile resource (Json)" >
                <pre>
                    {{frontPageProfile | json}}
                </pre>
            </uib-tab>

        </uib-tabset>

    </div>



</div>