<div>
    <h5>Projects</h5>

    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="project in fbProjects" ng-click="showProject($index)"
                     style="cursor: pointer">
                    {{project.name}}
                </div>
            </div>

            <button class="btn btn-primary" ng-click="newProject()">New Project</button>

        </div>
        <div class="col-md-10 col-sm-10">

            <div ng-show="projectMode == 'view' && currentProject">
                <uib-tabset>

                    <uib-tab heading="Form">

                        <div class="row">
                            <div class="col-md-4 col-sm-4">

                                <form>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" ng-model="input.name" class="form-control">
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label>Description</label>
                                            <textarea rows="3" ng-model="input.description" class="form-control"
                                                      placeholder="Description of the project"></textarea>
                                        </div>

                                    </div>
<!--
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <label>Password</label>
                                            <input type="text" placeholder="optional password when editing"
                                                   ng-model="input.password" class="form-control"/>
                                        </div>

                                    </div>
-->
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <button class="btn btn-danger pull-right" ng-click="updateProject()">Update Project</button>
                                        </div>
                                    </div>




                                </form>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <h4>Profiles in project</h4>
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="profile in currentProject.profiles"
                                         style="cursor: pointer">
                                        {{profile.url}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-sm-4">
                                <h4>Patients in project</h4>
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="patient in currentProject.patients"
                                         style="cursor: pointer">
                                        {{patient.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab heading="Json">
                        <pre>{{currentProject | json}}</pre>
                    </uib-tab>
                </uib-tabset>
                <div>
                    <button class="btn btn-danger pull-right" ng-click="removeProject()">Remove Project</button>
                </div>


            </div>




            <div ng-show="projectMode == 'new'">

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <form>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" ng-model="input.name" class="form-control" placeholder="Project Name" auto-focus>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label>Description</label>
                                    <textarea rows="3" ng-model="input.description" class="form-control"
                                      placeholder="Description of the project"></textarea>
                                </div>

                            </div>
<!--
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label>Password</label>
                                    <input type="text" placeholder="optional password when editing"
                                           ng-model="input.password" class="form-control"/>
                                </div>

                            </div>
                            -->

                            <br/>
                            <button ng-show="input.name && input.description" class="btn btn-primary"
                                    ng-click="addProject()">Add new project</button>

                        </form>

                    </div>
                    <div class="col-md-8 col-sm-8">

                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <strong>Conformance Server:</strong>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <pre>{{input.servers.conformance | json}}</pre>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <strong>Data Server:</strong>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <pre>{{input.servers.data | json}}</pre>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>
    </div>



</div>