<uib-tabset>
    <uib-tab heading="List">
        <br/>
        <div>
            <button class="btn btn-link pull-right"

                    ng-click="uploadCS(selectedResource)">Upload to Terminology server</button>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="listScroll">
                    <table class="table table-bordered">
                        <tr><th>Code</th><th>Display</th><th>Definition</th></tr>
                        <tr ng-repeat = "concept in selectedResource.concept"
                            ng-click="input.selectedConcept = concept"
                            style="cursor: pointer">
                            <td>{{concept.code}}</td>
                            <td>{{concept.display}}</td>
                            <td>{{concept.definition}}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-md-6">
                <div ng-show="input.selectedConcept">
                    <strong>Concept json</strong>
                    <pre>{{input.selectedConcept | json}}</pre>
                </div>

            </div>
        </div>


    </uib-tab>
    <uib-tab heading="Json">
        <pre>{{selectedResource | json}}</pre>
    </uib-tab>
</uib-tabset>