
    <uib-tabset>
        <br/>
        <uib-tab heading="Summary">
            <br/>
            <div class="row">
                <div class="col-md-2">
                    Url#version
                </div>
                <div class="col-md-10">
                    {{selectedResource.url}}#{{selectedResource.version}}
                </div>
                <!--
                <div class="col-md-2">
                    Version
                </div>
                <div class="col-md-4">
                    {{selectedResource.version}}
                </div>
                -->
            </div>

            <br/>
            <div class="row">
                <div class="col-md-2">
                    Name
                </div>
                <div class="col-md-4">
                    {{selectedResource.name}}
                </div>
                <div class="col-md-2">
                    Title
                </div>
                <div class="col-md-4">
                    {{selectedResource.title}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2">
                    Description
                </div>
                <div class="col-md-10">
                    {{selectedResource.description}}
                </div>

            </div>

            <br/>
            <div class="row">

                <div class="col-md-2">
                    Context
                </div>
                <div class="col-md-4">
                    <div ng-repeat="ctx in selectedResource.context">
                        {{ctx.expression}}
                    </div>
                </div>
            </div>

            <br/>
            <div class="row" ng-show="extensionSummary.isSimple">

                <div class="col-md-2">
                   DataType
                </div>
                <div class="col-md-10">


                    <div ng-repeat="content in extensionSummary.contents">

                        <div ng-repeat="typ in content.type">
                            {{typ.code}}
                        </div>

                        <div ng-show="content.binding">
                            <span class="clickable" ng-click="selectValueSet(content.binding)">
                                {{content.binding.valueSet}}
                            </span>
                            ({{content.binding.strength}})
                            <div><em>{{content.binding.description}}</em></div>
                        </div>

                    </div>

                </div>
            </div>

            <br/>


            <div ng-hide="extensionSummary.isSimple">
                <table class="table table-bordered">
                    <tr ng-repeat="item in extensionSummary.contents">
                        <td>{{item.name}}</td>
                        <td>{{item.definition}}</td>
                        <td>
                            <div ng-repeat="typ in item.type">
                                {{typ.code}}
                            </div>
                        </td>
                        <td>
                            <div>{{item.binding.valueSet}}</div>
                            <div>{{item.binding.strength}}</div>
                        </td>
                    </tr>
                </table>
            </div>



        </uib-tab>

        <uib-tab heading="Snapshot">
            <br/>
            <table class="table table-bordered">
                <tr><th>Key elements</th><th>Element Definition</th></tr>
                <tr ng-repeat="row in SD.snapshot.element">
                    <td>
                        <div><strong> Cnt: </strong>{{$index + 1}}/{{SD.snapshot.element.length}}</div>
                        <div><strong> Path: </strong>{{row.path}}</div>
                        <div><strong> Id: </strong>{{row.id}}</div>
                        <div><strong> SliceName: </strong>{{row.sliceName}}</div>
                        <div><strong> Mult: </strong>{{row.min}}..{{row.max}}</div>
                    </td>

                    <td>
                        <pre>{{row | cleanED | json}}</pre>
                    </td>
                </tr>
            </table>
            <em>Mapping & Constraints have been removed from the ElementDefintion</em>
        </uib-tab>


        <uib-tab heading="Summary object json">
            <br/>
            <div><pre>{{extensionSummary | json}}</pre></div>
        </uib-tab>
        <uib-tab heading="Resource Json">
            <br/>
            <pre>{{selectedResource | json}}</pre>
        </uib-tab>
    </uib-tabset>

