
<div>


    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in selectedItem.value">

                    <div class="clickable" ng-click="getExample(item)">{{item.id}}</div>
                </li>
            </ul>
        </div>
        <div class="col-md-9">

            <uib-tabset>
                <uib-tab heading="Narrative">
                    <p ng-bind-html="clean(selectedExample.text.div)"></p>
                </uib-tab>
                <uib-tab heading="Json">
                    <pre ng-show="selectedExample">{{selectedExample | json}}</pre>

                </uib-tab>
                <uib-tab heading="Xml">
                    <pre ng-show="selectedExampleXml">{{selectedExampleXml}}</pre>

                </uib-tab>



                <uib-tab heading="Tree">
                    <div id="resourceTreeViewXXX"></div>

                </uib-tab>
            </uib-tabset>






        </div>
    </div>


</div>