<div>


    <div class="row">
        <div class="col-md-3 col-sm-3">
            New Status
        </div>
        <div class="col-md-9 col-sm-9">
            <select class="form-control"   ng-model="input.status"
                    ng-options = "status.code for status in taskStatus">

            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            Node
        </div>
        <div class="col-md-9 col-sm-9">
            <textarea ng-model="input.note" class="form-control"></textarea>
        </div>
    </div>

    <button class="btn-primary btn" ng-click="changeStatus(input.status,input.note)">Change Status</button>

    <hr/>
    <h3>Json</h3>


    <pre>{{outcome.selectedResource | json}}</pre>
</div>