<uib-tabset>

    <uib-tab heading="Explore">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="input.filter" placeholder="Filter text"/>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" ng-click="VSExpand(selectedResource,input.filter)">Expand</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-link" ng-click="uploadVS(selectedResource,input.filter)">Upload to Terminology server</button>
            </div>


        </div>
        <br/>

        {{expandUrl}}

        <div ng-show="expandVSError" class="alert alert-danger">
            <pre>{{expandVSError | json}}</pre>
        </div>


        <div class="row" ng-show="expandedVS">

            <div class="col-md-12">

                <table class="table table-bordered">
                    <tr ng-repeat = "concept in expandedVS.expansion.contains"
                        ng-click="input.selectedConcept = concept"
                        style="cursor: pointer">
                        <td>{{concept.code}}</td>
                        <td>{{concept.display}}</td>
                        <td>{{concept.definition}}</td>
                    </tr>
                </table>

            </div>

        </div>

    </uib-tab>

    <uib-tab heading="ValueSet Json">
        <pre>{{selectedResource | json}}</pre>
    </uib-tab>
</uib-tabset>