<div ng-controller="qualityCtrl">

    <style>
        .success {
            color: green;

        }
        .fail {
            color: red;
        }
    </style>
    <em><strong>These are quality issues with the Implementation Guide. Mostly of interest to the ID designer</strong></em>
    <b/><b/>

    <uib-tabset>
        <uib-tab heading="Issues found during loading">



            <h3>Model issues</h3>

            <table class="table table-condensed table-bordered">
                <tr><th>Issue type</th><th>Path</th><th>Description</th></tr>
                <tr ng-repeat="iss in analysis.quality.arModel">
                    <td width="10%">{{iss.type}}</td>
                    <td width="30%">{{iss.ed.path}}</td>
                    <td>{{iss.display}}</td>
                </tr>
            </table>

            <h3>Terminology issues</h3>

            <table class="table table-condensed table-bordered">
                <tr><th>Issue type</th><th>Path</th><th>Description</th></tr>
                <tr ng-repeat="iss in analysis.quality.arCoded">
                    <td width="10%">{{iss.type}}</td>
                    <td width="30%">{{iss.ed.path}}</td>
                    <td>{{iss.display}}</td>
                </tr>
            </table>

            <h3>Conformance resource issues</h3>

            <table class="table table-condensed table-bordered">
                <tr><th>Issue type</th><th>Path</th><th>Description</th></tr>
                <tr ng-repeat="iss in analysis.quality.arExtension">
                    <td width="10%">{{iss.type}}</td>
                    <td width="30%">{{iss.ed.path}}</td>
                    <td>{{iss.display}}</td>
                </tr>
            </table>
        </uib-tab>
        <uib-tab heading="Deep testing">
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <div><button class="btn btn-primary" ng-click="expandAllVS()">Expand all ValueSets </button></div>
                </div>
                <div class="col-md-10">

                    <table class="table table-bordered table-condensed">
                        <tr ng-repeat="item in vsSummary"
                            ng-class="{success:item.state == 'Done',fail:item.state == 'Error'}">
                            <td>
                                <div class="clickable" ng-click="viewVS(item.canUrl)">{{item.canUrl}}</div>
                            </td>
                            <td>{{item.state}}</td>
                            <td>{{item.note}}</td>
                        </tr>
                    </table>

                </div>
            </div>

        </uib-tab>
    </uib-tabset>

</div>