<div>


    <uib-tabset>
        <uib-tab heading="Sample queries">
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,'listItemSelected':sample == selectedSample}" ng-repeat ="sample in samples"
                             style="cursor: pointer" ng-click="selectSample(sample)">
                            {{sample.title}}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-10">
                            <div><strong>{{selectedSample.url}}</strong></div>
                            {{selectedSample.description}}
                        </div>
                        <div class="col-md-2">
                            <div ng-show = "selectedSample" class="pull-right"><button class="btn btn-danger"
                              ng-click="executeSample(selectedSample)">Execute</button> </div>
                        </div>
                    </div>
                    <hr/>
                    <div ng-show="sampleResult">Status: {{sampleResult.status}}</div>
                    <pre ng-show="sampleResult">{{sampleResult.data | json}}</pre>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Ad hoc queries">
            <br/>
            <em>This allows customized queries to be sent to the server. Note that as this is (currentlty) a standard
            HAPi FHIR server, it may allow queries that are not planned to be supported by the HPI. One use of this is
            to test out additions to the API interface for consideration by the project team. There are 2 types of query you can make:
            <ul>
                <li>Search queries that will return a bundle of matching resources (or an empty bundle if there are no matches)</li>
                <li>Read queries that return a single resource where the id matches the one entered into the text box.</li>

            </ul>


            </em>
            <hr/>

            <div class="row">
                <div class="col-md-2">


                </div>
                <div class="col-md-2">
                    <div class="btn-group">
                        <label style="margin:3px" class="btn btn-default" ng-model="input.qType" uib-btn-radio="'search'">Search</label>

                        <label style="margin:3px" class="btn btn-default" ng-model="input.qType" uib-btn-radio="'read'">Read</label>


                    </div>
                </div>
                <div class="col-md-8">
                    <div ng-show="input.qType=='read'">
                        This will retrieve a single resource by id. Enter the id into the query box below
                    </div>
                    <div ng-show="input.qType=='search'">
                        This will search for resources. Enter the querystring into the box below
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <select class="form-control" ng-model="input.type" ng-change="setQUrl()"
                            ng-options="type for type in input.qTypes">

                    </select>

                </div>
                <div class="col-md-8">
                    <input type="text" ng-show = "input.qType =='search'" class="form-control" ng-model="input.queryString" ng-change="setQUrl()"
                           placeholder="Enter query string eg name=smith for a Patient"/>

                    <input type="text" ng-show = "input.qType =='read'" class="form-control" ng-model="input.queryId" ng-change="setQUrl()"
                           placeholder="Enter the resource id"/>

                </div>
                <div class="col-md-1">
                    <button ng-show="input.type" class="btn btn-danger" ng-click="executeQuery()">Execute</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    Query:
                </div>
                <div class="col-md-11">
                    <em>{{qUrl}}</em>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div>Status:{{qResult.status}}</div>
                </div>
                <div class="col-md-8">
                    <pre>{{qResult.data | json}}</pre>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>












</div>