<div>

    <div class="row panel-body"  style="background-color: #ffffdd;">





        <div class="col-md-7">
            <div><strong>Profile:</strong> {{results.profileUrl}} <button class="btn btn-link " ng-click="findProfileNew()">Change</button> </div>
            <div><strong>Server:</strong></div>

        </div>

        <div class="col-md-2">
            <select class="form-control" ng-model = "results.profileName" ng-change="selectProfile()">
                <option value="Condition">Condition</option>
                <option value="CarePlan">CarePlan</option>
                <option value="qicore-condition">QICore Condition</option>

            </select>
        </div>


        <div class="col-md-2">
            <button class="btn btn-primary pull-right" ng-click="saveToServer()">Save</button>
            <button class="btn btn-default pull-right" ng-click="validate()">Validate</button>
        </div>

        <div class="col-md-1">
            <div class="pull-right" ng-show="waiting">
                <img src="css/ajax_loader_blue_32.gif"/>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Resource:Navigator</h4>
            <div style="height:400px; overflow-y: auto;" >
                <div id="treeView"></div>

            </div>



        </div>
        <div class="col-md-4">

            <div ng-show="selectedNode">
                <h4>Element details: <em>{{selectedNode.ed.path}}</em></h4>

                {{selectedNode.display}}

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-danger pull-right" ng-click="removeNode()">Remove</button>
                    </div>

                </div>


            </div>



            <h4 ng-show="children.length > 0">Child elements</h4>

            <div ng-repeat="child in children track by $index">
                <div class="row">
                    <div class="col-md-6">
                        <div class="{{child.myData.displayClass}}">{{child.myData.display}}</div>
                    </div>
                    <div class="col-md-1">
                        {{child.min}}..{{child.max}}
                    </div>
                    <div class="col-md-5">
                        <div ng-repeat="type in child.type">

                                <span ng-hide="type.profile">
                                    <a href="#" ng-click="childSelected(child,$index)">{{type.code}} </a>
                                </span>

                                <span ng-show="type.profile">
                                    <a href="#" class="clickableResourceReference"
                                       ng-click="childSelected(child,$index)">-> {{type.profile | referenceType}} </a>

                                </span>

                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-5">

            <h4>Resource:Json</h4>

            <uib-alert close="closeValidationOutcome()" type="success"
                       ng-show="validateResults.outcome">
                {{validateResults.outcome}}
            </uib-alert>


            <uib-alert close="closeValidationOutcome()" type="warning"
                       ng-show="validateResults && validateResults.issue && validateResults.issue.length > 0">
                <div>Sorry, there were some issues:</div>
                <br/>
                    <table class="table table-bordered">
                        <tr><th>Severity</th><th>Code</th><th>Details/Diagnostics</th><th>Location</th></tr>
                        <tr ng-repeat = "iss in validateResults.issue">
                            <td>{{iss.severity}}</td>
                            <td>{{iss.code}}</td>
                            <td>{{iss.details.text}}
                                <div>{{iss.diagnostics}}</div>
                            </td>
                            <td><div ng-repeat="loc in iss.location">{{loc}}</div></td>
                        </tr>
                    </table>

            </uib-alert>



            <ng-include src="'/includes/dataTypeInputTemplates.html'"></ng-include>
            <pre>{{resource | json}}</pre>

        </div>
    </div>


    <!-- a directive that allows a profile to be selected - not just a base one... -->
    <select-profile trigger="showFindProfileDialog"
                    all-resource-types="standardResourceTypes"
                    profile-selected="selectedProfile" type="'profile'">

    </select-profile>



</div>