
<style>
    .borderForDetail {
        border-left: thin solid darkgrey;
        border-right: thin solid darkgrey;
    }
    .noAddDEPWasUsedForShowing1Only {
        text-decoration: line-through;
        color: gray;
    }
</style>

    <div class="row"  ng-show="isEditingResource">
        <div class="col-md-12">

            <div uib-alert class="alert-info">
                Editing Resource: {{appConfigSvc.getCurrentDataServer().url}}{{isEditingResource.resourceType}}/{{isEditingResource.id}}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <h4  popover-placement="bottom" popover-trigger='mouseenter'
                         uib-popover="A skeleton of the resource currently under construction">
                        {{'RESOURCENAVIGATOR' | translate}}
                    </h4>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h4>
                        <a title="Show specification for this resource" target = "_blank" ng-href="{{typeDefinitionInSpec}}">
                            <i class="glyphicon glyphicon-globe"></i></a>
                    </h4>

                </div>
            </div>




            <div style="height:400px; overflow-y: auto;" >
                <div id="treeView"></div>

            </div>
        </div>

        <div class="col-md-4 borderForDetail" >


            <h4>User entered text</h4>
            <textarea class="form-control" ng-model="input.userText"
                      ng-blur="updateText()"
                      placeholder="Text for this resource in addition to any generated"></textarea>


            <div ng-show="selectedNode">
                <h4>{{'ELEMENTDETAILS' | translate}}: <em>{{selectedNode.ed.path}}</em></h4>
<!--
                {{selectedNode.display}}
-->
                <pre ng-show="selectedNode.fragment">{{selectedNode.fragment | json}}</pre>

                <!-- Show the remove node for everything except the root...-->
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-danger pull-right"
                                ng-hide = "selectedNode.id == 'root' || selectedNode.ed.path.indexOf('patient') > -1"
                                ng-click="removeNode()">Remove</button>
                    </div>

                </div>
            </div>



            <h4 ng-show="children.length > 0">{{'CHILDELEMENTS' | translate}}</h4>

            <div ng-repeat="child in children track by $index">
                <!-- Complex extensions have have ED's inserted - see resourceCreatorSvc.insertComplexExtensionED - so don't display -->
                <div class="row" ng-hide="child.myData.analysis.complexExtension" >
                    <div class="col-md-4">
                        <div class="{{child.myData.displayClass}}">
                            <span popover-trigger="'mouseenter'"
                                   uib-popover="{{child.definition}}">{{child.myData.display}}</span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        {{child.min}}..{{child.max}}
                    </div>

                    <div class="col-md-7">
                        <div ng-repeat="type in child.type">
                            <span ng-hide="type.profile">
                                <a href="#" ng-click="childSelected(child,$index)">{{type.code}} </a>
                            </span>

                            <span ng-show="type.profile">
                                <a href="#" class="clickableResourceReference"
                                   ng-click="childSelected(child,$index)">-> {{type.profile | referenceType}} </a>

                            </span>

                        </div>

                    </div>

                </div>
            </div>



        </div>

        <div class="col-md-5">

            <h4>{{'RESOURCE' | translate}}: Json</h4>

            <div uib-alert close="closeValidationOutcome()" class="alert-success"
                       ng-show="validateResults.outcome">
                {{validateResults.outcome}}
            </div>


            <div uib-alert close="closeValidationOutcome()" class="alert-warning"
                       ng-show="validateResults && validateResults.issue && validateResults.issue.length > 0">
                <div>Sorry, there were some issues:</div>
                <br/>
                    <table class="table table-bordered">
                        <tr><th>Severity</th><th>Code</th><th>Details/Diagnostics</th><th>Location</th></tr>
                        <tr ng-repeat = "iss in validateResults.issue">
                            <td>{{iss.severity}}</td>
                            <td>{{iss.code}}</td>
                            <td>{{iss.details.text}}
                                <div>{{iss.diagnostics}}</div>
                            </td>
                            <td><div ng-repeat="loc in iss.location">{{loc}}</div></td>
                        </tr>
                    </table>

            </div>

            <uib-tabset>
                <uib-tab heading="Data Entry">

                    <ng-include src="'/includes/dataTypeInputTemplates.html'"></ng-include>
                </uib-tab>

                <uib-tab ng-show="selectedChild" heading="Selected Element Definition">
                    <pre>{{selectedChild | json}}</pre>
                </uib-tab>



            </uib-tabset>
            <hr/>
            <pre>{{resource | json}}</pre>


        </div>
    </div>


    <!-- a directive that allows a profile to be selected - not just a base one... -->
    <!---->
    <select-profile trigger="showFindProfileDialog"
                    all-resource-types="standardResourceTypes"
                    profile-selected="selectedProfileFromDialog" type="'profile'">

    </select-profile>



</div>