<div>

    <style>
        .leader  {
            float: left;
            width : 100px;
            font-weight:bold;
        }
    </style>


    <div class="banner">
        Current recording
        <select ng-model="input.filterResource" ng-change="applyFilter(input.filterResource)"
                ng-options="filter for filter in filterResources"></select>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul class="list-group">
                <li ng-repeat="item in selectedContainer.tracker" class="list-group-item"
                    ng-click="selectItem(item)" style="cursor: pointer" ng-show="showItem(item)">
                    <div ng-switch on="item.type">
                        <div ng-switch-when="addCore">
                            {{$index}} <strong>Add resource:</strong> {{item.details.resourceType}}
                        </div>
                        <div ng-switch-when="dt">
                            {{$index}} <strong>Update:</strong> {{item.details.path}}
                        </div>
                    </div>
                    {{track.type}}
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-sm-8">
            <uib-tabset>
                <uib-tab heading="Details">

                    <div class="row">
                        <div class="col-sm-8 col-md-8">

                            <div ng-switch on="selectedItem.type">
                                <div ng-switch-when="addCore">
                                    <h3>Core resource type added: {{selectedItem.details.resourceType}}/{{selectedItem.id}}</h3>
                                </div>

                                <div ng-switch-when="dt">
                                    <h3>Element added to resource: {{selectedItem.details.resourceType}}/{{selectedItem.id}}</h3>

                                    <div><span class="leader">Path: </span>{{selectedItem.details.path}}</div>
                                    <div><span class="leader">DataType:</span> {{selectedItem.details.dataType}}</div>
                                    <div class="leader">Value:</div>

                                    <pre>{{selectedItem.details.value | json}}</pre>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">

                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="Json">
                    <pre>{{selectedItem | json}} </pre>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>



</div>