
<style>
    .thisServer{
        color: blue;
        font-weight: bold;
    }
</style>


<div class="row">
    <div class="col-md-4 col-sm-4">
        <h5>
            <input type="radio" ng-model="input.localMode" value="serverquery"> Server Query

            <input type="radio" ng-model="input.localMode" value="showconformance"> Load Conformance
        </h5>



    </div>

    <div class="col-md-4 col-sm-4">
        <select class="form-control"
                ng-change="selectServer(input.server)"
                ng-options="value.name for value in config.allKnownServers track by value.name"
                ng-model="input.server">

        </select>
    </div>

    <div class="col-md-3 col-sm-3">
    <button ng-show="input.server && input.localMode == 'serverquery'"
            class="btn btn-primary pull-right" ng-click = "showConformance()">Conformance</button>
    <div>
        <button ng-show="input.server && input.localMode == 'serverquery' && conformance"
                class="btn btn-link pull-right" ng-click = "removeConformance()">Query</button>
    </div>
</div>


    <div class="col-md-1 col-sm-1">

        <div class="pull-right" ng-show="waiting">
            <img src="css/ajax_loader_blue_32.gif"/>
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div ng-show="input.localMode == 'showconformance'">
            <br />
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    Id
                </div>
                <div class="col-md-4 col-sm-4">
                    <input class="form-control" type="text" ng-model="input.loadConformanceId"/>
                </div>
                <div class="col-md-4 col-sm-4">
                    <button class="btn btn-primary" ng-click = "loadConformance()">Load Conformance</button>
                </div>
            </div>



        </div>
    </div>
</div>

-->

<div class="row">
    <div ng-class="{'col-md-4 col-sm-4':!conformance}">


        <div class="row">
            <div class="col-md-8 col-sm-8">

            </div>
            <div class="col-md-4 col-sm-4">


            </div>
        </div>

        <div ng-show="input.localMode == 'serverquery' && input.server && ! conformance">

            <h4>Previous Queries</h4>

            <div class="list-group">
                <a href="#" class="list-group-item"
                   ng-repeat="hx in queryHistory"
                   ng-model="input.hx" ng-click = "selectFromHistory(hx)">
                    <div ng-class="{thisServer:hx.server.url == server.url}">{{hx.anonQuery}}</div>



                </a>
            </div>
        </div>



    </div>

    <div ng-class="{'col-md-8 col-sm-8':!conformance}">

        <div ng-show="conformance">
            <uib-tabset>
                <uib-tab heading="REST Interface">
                    <ng-include src="'/includes/conformanceDisplay.html'"></ng-include>

                </uib-tab>

                <uib-tab heading="REST Operations">
                    <br />
                    <ng-include src="'/includes/operationsDisplay.html'"></ng-include>

                </uib-tab>


                <uib-tab heading="Json">
                    <pre>{{conformance | json}}</pre>
                </uib-tab>
            </uib-tabset>

        </div>


        <div ng-hide="conformance">



        <div ng-show="server && input.localMode == 'serverquery'">
            <div class="row">
                <div class="col-md-2 col-sm-2">Verb</div>
                <div class="col-md-3 col-sm-3">Type</div>
                <div class="col-md-4 col-sm-6">
                    <input type="radio" ng-model="input.category" value="parameters"> Parameters
                    <input type="radio" ng-model="input.category" value="id"> Id

                </div>
                <div class="col-md-1 col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <select class="form-control" ng-model="input.verb">
                        <option value="GET">GET</option>
                        <option value="PUT">PUT</option>
                        <option value="POST">POST</option>
                        <option value="DELETE">DELETE</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" ng-model="input.selectedType"
                           uib-typeahead="type.name for type in standardResourceTypes | filter:$viewValue " class="form-control"  ng-blur="buildQuery()">
                </div>
                <div class="col-md-6 col-sm-6">
                    <textarea ng-show="input.category=='parameters'" ng-model="input.parameters" class="form-control"
                              ng-change="buildQuery()"></textarea>
                    <input ng-show="input.category=='id'" type="text" class="form-control"
                           ng-model="input.id" ng-change="buildQuery()"/>

                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-default" ng-click="doit()">Run</button>
                </div>
            </div>





            <div class="row">
                <div class="col-md-12 col-sm-12"><strong>Query:</strong> {{query}}</div>
            </div>

        </div>

<!--
        <div class="row" ng-show="response">
            <div class="col-md-12 col-sm-12">
                <div ng-repeat="(key,value) in responseHeaders">
                    {{key}} {{value}}
                </div>


            </div>
        </div>
-->

        <div class="row" ng-show="err">
            <div class="col-md-12 col-sm-12">
                <div><strong>StatusCode:{{err.status}}</strong></div>
                <pre>{{err.data | json}}</pre>
            </div>
        </div>

        <div class="row" ng-show="response && input.localMode == 'serverquery'">
            <div class="col-md-12 col-sm-12">
                <div><strong>StatusCode:{{response.status}}</strong></div>
                <pre>{{response.data | json}}</pre>
            </div>
        </div>


        </div>
    </div>

</div>