<div class="row">
    <div class = "col-md-3">
        <strong>Tests</strong>
        <div class="list-group">

            <div ng-class="{'list-group-item':true,listItemSelected:selectedTest.query == test.query}"
                 style="cursor: pointer"
                 ng-repeat="test in script.tests">
                <div ng-click = "selectTest(test)"> {{test.name}}</div>
            </div>

        </div>
    </div>
    <div class = "col-md-9">

        <div ng-show="selectedTest">

            <div class="rounded-box">{{selectedTest.description}}</div>


            <div>
                <label>Query</label>
                <textarea class="form-control" ng-model="selectedTest.query"></textarea>
            </div>

            <div>
                <label>Patient Identifier</label>
                <input class="form-control" ng-model="script.patientIdentifier"/>
            </div>

            <button class="btn btn-danger pull-right" ng-click="executeTest(selectedTest)">Execute</button>
        </div>

    </div>
</div>
