

<style>
    #bundleGraph {
        width: 100%;
        height: 550px;
        border: 1px solid lightgray;
    }
</style>


<!-- Display a 'select server' panel-->

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Select server</strong>
    </div>
    <div class="panel-body ">

        <div class="row" >

            <div class="col-md-1 col-sm-1">
                <div ng-hide = "fromHash">
                    <div>
                        <input type="radio"  ng-model="input.serverType" value="known"> Known
                    </div>
                    <input type="radio" ng-model="input.serverType" value="adhoc"> AdHoc
                </div>
            </div>


            <div class="col-md-4 col-sm-4">

                <div ng-hide = "fromHash">
                    <div ng-show="input.serverType == 'known'">
                        <select class="form-control"
                                ng-change="selectServer(input.server)"
                                ng-options="value.name for value in config.allKnownServers track by value.name"
                                ng-model="input.server">
                        </select>
                    </div>

                    <div ng-show="input.serverType == 'adhoc'">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" ng-model="input.adHocServer"
                                       class="form-control" placeholder="Enter the base Url of the server"/>
                            </div>
                            <div class="col-md-2 ">
                                <button class="btn btn-primary" ng-click="selectServer(null,input.adHocServer)">Set</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="fromHash">
                    {{server.url}}

                </div>




            </div>

            <div class="col-md-3 col-sm-3">
                <input type="text" ng-model="input.accessToken" class="form-control"
                       placeholder="Access token, if required by server for queries"/>
            </div>


            <div class="col-md-1 col-sm-1">

                <div class="pull-right" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="pull-right">{{server.url}}</div>
            </div>


        </div>

    </div>
</div>




<div class="row" ng-show="server">

    <div class="col-sm-12 col-md-12">

        <uib-tabset>

            <uib-tab heading="Server Capabilities">
                <br/>
                <div>
                    <uib-tabset>
                        <uib-tab heading="REST Interface">
                            <ng-include src="'/includes/conformanceDisplay.html'"></ng-include>

                        </uib-tab>
                        <uib-tab heading="Description">
                            <br/>


                            <table class="table">
                                <tr>
                                    <td valign="top" width="15%"><strong>Name</strong></td>
                                    <td width="35%">{{conformance.name}}{{conformance.software.name}}</td>
                                    <td valign="top" width="15%"><strong>FHIR version</strong></td>
                                    <td width="35%">{{conformance.fhirVersion}}</td>
                                </tr>
                                <tr>
                                    <td valign="top"><strong>Description</strong></td><td>{{conformance.description}}</td>
                                    <td valign="top"><strong>Publisher</strong></td><td>{{conformance.publisher}}</td>
                                </tr>
                                <tr>
                                    <td valign="top"><strong>Accept Unknown</strong></td><td>{{conformance.acceptUnknown}}</td>
                                    <td valign="top"><strong>Formats</strong></td>
                                    <td>
                                        <div ng-repeat="f in conformance.format">
                                            {{f}}
                                        </div>

                                    </td>

                                </tr>
                            </table>


                            <br />

                            <div uib-alert ng-show="waiting" class="alert-info">
                                Generating the quality report. Note that this can take some time as all profiles and extension definitions
                                are retrieved by the report. It is assumed that all these artifacts are stored on the current conformance server
                                (This is not required by FHIR, but is a limitation of this report)
                            </div>
                            <div ng-show="qualityReport">
                                <h5>Quality report</h5>
                                <uib-tabset>
                                    <uib-tab heading = "Issues">
                                        <br/>
                                        <div class="panel" >
                                            <table class="table  table-bordered">
                                                <tr ng-repeat = "issue in qualityReport.issues">
                                                    <td>{{issue.level}}</td>
                                                    <td>{{issue.display}}</td>
                                                </tr>
                                            </table>

                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Profiles">
                                        <br/>
                                        <ul>
                                            <li ng-repeat = "profile in qualityReport.profiles">
                                                {{profile.url}}
                                            </li>
                                        </ul>

                                    </uib-tab>
                                    <uib-tab heading="Extensions">
                                        <br/>
                                        <table class="table table-bordered table-condensed">
                                            <tr ng-repeat = "extension in qualityReport.extensions">
                                                <td>{{extension.ed.url}}</td>
                                                <td>{{extension.ed.description}}</td>
                                            </tr>
                                        </table>

                                    </uib-tab>

                                </uib-tabset>

                            </div>


                        </uib-tab>



                        <uib-tab heading="REST Operations">
                            <br />

                            <ng-include src="'/includes/operationsDisplay.html'"></ng-include>

                        </uib-tab>


                        <uib-tab heading="Json">
                            <pre>{{conformance | json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </uib-tab>

            <uib-tab heading="Query">


                <div class="row">
                    <div  ng-class="{'col-md-8 col-sm-8':showHistory,'col-md-12 col-sm-12':!showHistory}">
                        <div ng-show="server">

                            <uib-tabset  ng-show="input.showQuery">
                                <br/>
                                <uib-tab heading="Query Builder">
                                    <br/>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">

                                                <strong>Types</strong>
                                                <!--
                                                <select class="form-control" ng-model="input.selectedType"
                                                        ng-change="typeSelected(input.selectedType)"
                                                        ng-options="type.name for type in standardResourceTypes"/>

                                                -->
<!--
                                                <div class="list-group">
                                                    <div ng-class="{'list-group-item':true}"
                                                         ng-repeat = "type in standardResourceTypes"
                                                         style="cursor: pointer"
                                                         ng-click="typeSelected(type)">
                                                        {{type.name}}
                                                    </div>
                                                </div>
                                                -->

                                            </div>

                                            <div class="col-md-1 col-sm-1">



                                                <div>
                                                    <i class="glyphicon glyphicon-question-sign clickable"
                                                       uib-popover="These are the types where there is an interaction of 'search-type'
                                                in the CapabilityStatement."
                                                       popover-placement="right"
                                                       popover-trigger="'mouseenter'">
                                                    </i>
                                                </div>

                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="row rounded-box" ng-show="type">
                                                    <div class="col-md-1 col-sm-1">
                                                        <button class="btn btn-primary" ng-click="doit()">Execute</button>
                                                    </div>
                                                    <div class="col-md-11 col-sm-11">
                                                        <h5>{{query}}</h5>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-2">

                                            </div>

                                            <div class="col-md-2">
                                                <strong>Parameters</strong>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <strong>Parameter value</strong>
                                            </div>
                                            <div class="col-md-2">
                                                <strong>Includes and Chaining</strong>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">


                                                <div class="paramListScroll">




                                                    <!-- Common types (from hx)-->
                                                    <strong>Types you've used</strong>
                                                    <div class="list-group">
                                                        <div ng-class="{'list-group-item':true,listItemSelected: type == input.selectedType.name}"
                                                             ng-repeat = "type in commonTypes"

                                                             style="cursor: pointer"
                                                             ng-click="typeSelected({name:type})">

                                                            <span class="pull-right">
                                                                <a  ng-show="type" target="_blank" ng-href="{{fhirBasePath}}{{type}}.html">
                                                                    <i class="glyphicon glyphicon-globe"
                                                                       title="View Resource definition in spec">
                                                                    </i>

                                                                </a>
                                                            </span>

                                                            {{type}}
                                                        </div>
                                                    </div>

                                                    <strong>All types supported</strong>
                                                    <div class="list-group">
                                                        <div ng-class="{'list-group-item':true,listItemSelected: type.name == input.selectedType.name}"
                                                             ng-repeat = "type in standardResourceTypes"

                                                             style="cursor: pointer"
                                                             ng-click="typeSelected(type)">

                                                            <span class="pull-right">
                                                                <a  ng-show="type" target="_blank" ng-href="{{fhirBasePath}}{{type.name | getLogicalID | lowercase}}.html">
                                                                    <i class="glyphicon glyphicon-globe"
                                                                        title="View Resource definition in spec">
                                                                    </i>

                                                                </a>
                                                            </span>

                                                            {{type.name}}
                                                        </div>
                                                    </div>



                                                </div>



                                            </div>

                                            <div class="col-md-5 col-sm-5 paramListScroll">
                                                <div ng-repeat="param in searchParamList">
                                                    <div class="row" ng-hide="param.type == 'reference'">
                                                        <div class="col-md-5">
                                                            <input type="checkbox"
                                                                   style="padding-top: 12px"
                                                                   ng-change="buildQuery()"
                                                                   ng-model="input.selectedSearchParam[param.name]"/>
                                                            <span
                                                                    uib-popover= "{{param.documentation}}"
                                                                    popover-placement="right"
                                                                    popover-trigger="'mouseenter'">
                                                                {{param.name}}</span>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input class="form-control"
                                                                   ng-disabled = "! input.selectedSearchParam[param.name]"
                                                                   ng-change="buildQuery()"
                                                                   placeholder="{{param.type}}"
                                                                   ng-model="input.selectedSearchParamValue[param.name]"/>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="col-md-5 col-sm-5" ng-show="input.selectedType">

                                                <br/>
                                               <strong>Includes</strong>

                                                <a target="_blank" href="http://hl7.org/fhir/search.html#include">
                                                    <i class="glyphicon glyphicon-globe"
                                                       title="View description in spec">
                                                    </i>
                                                </a>




                                                <div ng-repeat="inc in includeList">
                                                    <input type="checkbox"
                                                           ng-change="buildQuery()"
                                                           ng-model="input.selectedInclude[inc.name]"/>


                                                    <span uib-popover= "{{inc.documentation}}"
                                                          popover-placement="right"
                                                          popover-trigger="'mouseenter'"> {{inc.name}}</span>
                                                </div>


                                                <br/>
                                                <strong>Chaining</strong>

                                                <a target="_blank" href="http://hl7.org/fhir/search.html#chaining">
                                                    <i class="glyphicon glyphicon-globe"
                                                       title="View description in spec">
                                                    </i>
                                                </a>

                                                <div class="row" ng-repeat = "inc in includeList" style="padding-top: 8px">
                                                    <div class="col-md-3">
                                                        <input type="checkbox"
                                                               ng-change="buildQuery()"
                                                               ng-model="input.selectedChain[inc.name]"/>

                                                        <span uib-popover= "{{inc.documentation}}"
                                                              popover-placement="right"
                                                              popover-trigger="'mouseenter'"> {{inc.name}}</span>
                                                    </div>

                                                    <div class="col-md-9">
                                                        <input class="form-control"
                                                               ng-disabled = "! input.selectedChain[inc.name]"
                                                               ng-change="buildQuery()"
                                                               placeholder="chained query parameter.  eg identifier=abc1234"
                                                               ng-model="input.selectedChainValue[inc.name]"/>

                                                    </div>

                                                </div>




                                            </div>

                                        </div>

                                    </div>


                                </uib-tab>

                                <uib-tab heading="Ad Hoc REST query">
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10">
                                            <textarea class="form-control" ng-model="adHocQry"
                                            placeholder="Enter the query to be executed against {{server.url}}. eg Patient?name=hay"></textarea>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <button  rows=4 class="btn btn-primary" ng-click="executeAdHoc(adHocQry)">Execute</button>
                                        </div>
                                    </div>

                                </uib-tab>

                                <uib-tab heading="History">



                                    <h4>Previous Queries</h4>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="paramListScroll">

                                                    <table class="table table-bordered table-condensed">
                                                        <tr ng-repeat = "hx in queryHistory">
                                                            <td>{{hx.query}}</td>
                                                            <td>
                                                                <div class="clickable"
                                                                     ng-click="removeFromHistory($index)">Remove</div>

                                                            </td>
                                                            <td>
                                                                <div class="clickable"
                                                                        ng-click="executeFromHistory(hx)">Execute</div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <!--
                                                    <div class="list-group">
                                                        <a href="#" class="list-group-item"
                                                           ng-repeat="hx in queryHistory"
                                                           ng-model="input.hx" ng-click = "selectFromHistory(hx)">

                                                            <div>{{hx.query}}</div>
                                                        </a>
                                                    </div>

                                                    -->

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!--
                                                <pre>{{hx | json}}</pre>

                                                <button class="btn btn-primary" ng-click="executeFromHistory(hx)">Execute</button>
                                                -->
                                            </div>
                                        </div>




                                </uib-tab>

                                <uib-tab heading="Query help">
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 myBox">
                                            <h5>General links (open in new tab)</h5>
                                            <table class="table">
                                                <tr ng-repeat="link in fhirHelp.links">
                                                    <td>{{link.description}}</td>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.url}}</a>  </td>

                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-md-6 col-sm-6">


                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 myBox">

                                            <h5>Search parameters (links open in new tab)</h5>

                                            <table class="table table-bordered">
                                                <tr><th>Name</th><th>Parameter</th><th>Example syntax</th><th>Description</th><th>Spec</th></tr>
                                                <tr ng-repeat="srch in fhirHelp.search">
                                                    <td>{{srch.name}}</td>
                                                    <td>{{srch.param}}</td>
                                                    <td>{{srch.syntax}}</td>
                                                    <td>{{srch.description}}</td>
                                                    <td><a href="{{srch.url}}" target="_blank">Details</a>  </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                </uib-tab>
                            </uib-tabset>

                        </div>


                        <hr/>


                        <div class="row" ng-show="input.showResults && response">
                            <div class="col-md-12 col-sm-12">

                                <div class="rounded-box-filled">
                                <div class="row">

                                    <div class="col-md-10"  style="padding: 8px;">
                                        <strong> Url: {{query}}</strong>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <button class="btn btn-primary" ng-click="input.showQuery=true;input.showResults=false">
                                                Close results
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                                <div class="alert alert-danger" ng-show="err">
                                <div><strong>StatusCode:{{err.statusCode}}</strong></div>
                                <pre>{{err.data | json}}</pre>
                            </div>




                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="rounded-box">

                                            <a  style="padding: 8px" target="_blank" class="pull-right" ng-href = "{{bvUrl}}?{{query}}">
                                                View in Bundle Visualizer
                                            </a>

                                            <div style="padding: 8px">
                                                   {{response.data.entry.length}} Entries
                                            </div>



                                        </div>

                                        <uib-tabset>
                                            <br/>
                                            <uib-tab heading = "List">
                                                <div class="list-group"  style="height:600px; overflow-y: auto;">

                                                    <div ng-class="{'list-group-item':true,'list-group-item-info':result.selectedEntry.fullUrl == entry.fullUrl}"
                                                         ng-repeat="entry in response.data.entry">
                                                        <div ng-click="selectEntry(entry)"  style="cursor: pointer">
                                                            {{entry.resource.resourceType}}
                                                            <div>{{ResourceUtilsSvc.getOneLineSummaryOfResource(entry.resource)}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>


                                            <uib-tab heading = "Graph"  select="fitGraph()">
                                                <div id="bundleGraph"></div>
                                            </uib-tab>

                                            <uib-tab heading="Bundle" >
                                                <br/>
                                                <pre>{{response | json}}</pre>

                                            </uib-tab>


                                        </uib-tabset>
                                    </div>
                                    <div class="col-md-8">
                                        <br/>
                                        <div class="alert alert-warning" ng-show="selectedResourceVersions && selectedResourceVersions.entry.length > 1">
                                            <ul class="pagination" style="margin-top:1px;margin-bottom:1px">
                                                <li><a href="#"><strong>Versions:</strong></a></li>

                                                <li ng-repeat="ent in selectedResourceVersions.entry">
                                                    <a href="#" ng-click="selectVersion(ent.resource)">
                                                        {{selectedResourceVersions.entry.length - $index}}</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <uib-tabset  ng-show="selectedResource">
                                            <uib-tab heading="Json">
                                                <br/>
                                                <pre>{{selectedResource | json}}</pre>
                                            </uib-tab>
                                            <uib-tab heading="XML">
                                                <br/>
                                                <pre>{{xmlResource}}</pre>
                                            </uib-tab>

                                            <uib-tab heading="Tree">
                                                <br/>
                                                <div id="queryResourceTree"></div>

                                            </uib-tab>

                                        </uib-tabset>

                                    </div>


                                </div>

                                <hr/>

<!--

                                <div class="row">
                                    <div class="col-md-3 col-sm-3">

                                        <div class="row" style="margin-bottom: 8px">

                                            <div class="col-md-6 col-sm-6">
                                                {{response.data.entry.length}} Entries
                                            </div>


                                            <div class="col-md-3 col-sm-3">
                                                <span ng-click="showBundle(response.data)" class="clickable">Show Bundle</span>
                                            </div>


                                            <div class="col-md-3 col-sm-3">
                                                <a target="_blank" ng-href = "{{bvUrl}}?{{query}}">
                                                    Bundle Visualizer
                                                </a>
                                            </div>



                                        </div>



                                    </div>
                                    <div class="col-md-9 col-sm-9">

                                    </div>
                                </div>

-->

                            </div>
                        </div>


                    </div>

                </div>


            </uib-tab>


        </uib-tabset>





    </div>
</div>