<div>

    <uib-tabset>
        <uib-tab heading="Background">
            <br/>
            <p ng-bind-html="hashTabs.Terminology.hideContents | markDown"></p>
        </uib-tab>
        <uib-tab heading="All ValueSets in this guide">
            <br/>

            <div>
                <a class="btn btn-link pull-right" download="{{vsDwnloadLinkJsonName}}"
                   href="{{vsDownloadLinkJsonContent}}" title="{{vsDwnloadLinkJsonName}}" >
                    Download CSV of full table
                </a>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-1">
                    Filter:
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="termFilter"/>
                </div>
                <div class="col-md-8">
                    The filter string will check the description and the url and adjust the list accordingly.
                </div>
            </div>

            <br/>



            <table class="table table-bordered">
                <tr><th>ValueSet Url

                    <span class="pull-right">
                                <i class="glyphicon glyphicon-question-sign"
                                   popover-class="plain"
                                   uib-popover="The ValueSet Url may not resolve. Regardless, it should be considered as a unique identifier"
                                   popover-trigger="'mouseenter'"
                                   popover-placement="right"></i>
                            </span>

                </th><th>Path
                    <span class="pull-right">
                                <i class="glyphicon glyphicon-question-sign"
                                   popover-class="plain"
                                   uib-popover="Where in the model the ValueSet is used. It can either be a core element or an extension."
                                   popover-trigger="'mouseenter'"
                                   popover-placement="right"></i>
                            </span>
                </th><th>Description</th><th>Strength</th><th>CodeSystem Urls</th><th>Note</th></tr>
                <tr ng-repeat="vs in analysis.valueSets"
                    ng-show="showValueSet(vs,termFilter)">
                    <!-- <td>{{vs.url | referenceType}}</td> -->

                    <td>
                                         <span class="clickable" ng-click="viewVS(vs.valueSetUrl)">
                                            {{vs.valueSetUrl}}
                                         </span>
                    </td>
                    <td>{{vs.ed.path}}</td>
                    <td>{{vs.valueSet.description}}</td>
                    <td>{{vs.strength}}</td>
                    <td>
                        <div ng-repeat = "inc in vs.codeSystems">{{inc}}</div>
                    </td>
                    <td>{{vs.note}}</td>
                </tr>
            </table>
        </uib-tab>
    </uib-tabset>



</div>