<div>


    <style>
        .termScroll {
            height: 800px;
            overflow-y: scroll;
        }
    </style>



    <div class="row">
        <div class="col-md-2">
            <div class="banner">Resources</div>
            <div class="termScroll">
                <div class="list-group">
                    <div ng-class="{clickable:true, 'list-group-item':true,listItemSelected:item == selectedItem}"
                         ng-repeat="item in lstCodedResources"
                         ng-click = "selectItem(item)" >
                        <div ng-bind-html="item.resource.text.div"></div>
                        {{item.resource.resourceType}}
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="banner">Json</div>
            <div class="termScroll">
                <pre>{{selectedItem.resource | json}}</pre>
            </div>
        </div>

        <div class="col-md-4">
            <div class="banner">Coded elements</div>
            <div ng-repeat="v in selectedItem.coded">
                <div><strong>Path: {{v.path}}</strong></div>
                <div style="padding-left: 12px">System: {{v.system}}</div>
                <div style="padding-left: 12px">Code: {{v.code}}</div>
                <div style="padding-left: 12px">Display: {{v.display}}</div>
                <br/>
            </div>

        </div>

    </div>



</div>