<div>

    <h5 ng-show = "$ctrl.analyse.isComplexExtension">Complex extension</h5>
    <h5 ng-hide = "$ctrl.analyse.isComplexExtension">Simple extension</h5>


        <uib-tabset>
            <uib-tab heading="Description">
                <br/>


                <table class="table">
                    <tr><td>Url</td><td>{{$ctrl.analyse.url}}</td></tr>
                    <tr><td>Name</td><td>{{$ctrl.analyse.name}}</td></tr>
                    <tr><td>Description</td><td>{{$ctrl.analyse.description}}</td></tr>

                    <tr><td>Publisher</td><td>{{$ctrl.analyse.publisher}}</td></tr>
                    <tr><td>Definition</td><td>{{$ctrl.analyse.definition}}</td></tr>
                    <tr><td>Multiple</td><td>{{$ctrl.analyse.multiple}}</td></tr>
                    <tr>
                        <td>Context</td>
                        <td>
                            <span ng-repeat="ctx in $ctrl.analyse.context">
                                {{ctx}}
                            </span>
                        </td>
                    </tr>

                    <tr ng-show = "$ctrl.analyse.isComplexExtension"><td>Children</td>
                        <td>


                            <table class="table table-condensed table-bordered">
                                <tr><th>Code</th><th>Definition</th><th>Mult</th><th>DataType</th><th>Binding</th></tr>
                                <tr ng-repeat="child in $ctrl.analyse.children">
                                    <td>{{child.code}}</td>
                                    <td>{{child.ed.definition}}</td>
                                    <td>{{child.ed.min}}...{{child.ed.max}}</td>
                                    <td>
                                        <div ng-repeat="dt in child.ed.type track by $index">


                                            <span ng-hide="dt.code=='Reference'">{{dt.code}}</span>
                                            <span ng-show="dt.code=='Reference'">--></span>


                                            <span ng-show="dt.profile">
                                                        <span title="{{dt.profile}}">{{dt.profile | referenceType}}</span>

                                                    </span>
                                            <span ng-show="dt.targetProfile">

                                                     <span title="{{dt.targetProfile}}">{{dt.targetProfile | referenceType}}</span>
                                                    </span>

<!--
                                            <a ng-href="http://hl7.org/fhir/datatypes.html#{{dt.code}}" target="_blank">

                                                <span ng-hide="dt.code=='Reference'">{{dt.code}}</span>
                                                <span ng-show="dt.code=='Reference'">--</span>


                                                <span ng-show="dt.profile">
                                                        <span title="{{dt.profile}}">{{dt.profile | referenceType}}</span>

                                                    </span>
                                                <span ng-show="dt.targetProfile">

                                                     <span title="{{dt.targetProfile}}">{{dt.targetProfile | referenceType}}</span>
                                                    </span>

                                            </a>
                                            -->
                                        </div>


                                    </td>
                                    <td>
                                        <!--  fundValueSet() needs the real binding
                                        <a ng-click="findValueSet(child.ed.binding)"
                                           href="#" title="Edit/View ValueSet">
                                            {{child.boundValueSet}}
                                        </a>

                                        --->

                                        <div class="clickable" ng-click="$ctrl.showvs({url:child.boundValueSet})">
                                            {{child.boundValueSet}}
                                        </div>


                                    </td>
                                </tr>
                            </table>

                            <!--
                            <table class="table">
                                <tr><th>Name</th><th>Short</th><th>Mult</th><th>Types</th><th></th></tr>
                                <tr ng-repeat="item in $ctrl.analyse.children">
                                    <td>{{item.ed.name}}</td>
                                    <td>{{item.ed.short}}</td>
                                    <td>{{item.ed.min}}..{{item.ed.max}}</td>

                                    <td>
                                        <div ng-repeat="type in item.ed.type">

                                            {{type.code}}




                                        </div>


                                    </td>
                                    <td>
                                        <div class="clickable" ng-click="$ctrl.showvs({url:item.boundValueSet})">
                                            {{item.boundValueSet}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            -->


                        </td>
                    </tr>
                    <tr ng-hide = "$ctrl.analyse.isComplexExtension"><td>Datatype/s</td>
                        <td>
                            <div ng-repeat="item in $ctrl.analyse.dataTypes">
                                {{item.code}}
                                {{item.profile}}

                                <!-- profile changed from array to object in STU-3-->
                                <div ng-if="isArray(item.profile)">
                                    <div ng-repeat="p in item.profile track by $index">{{p}}</div>
                                </div>


                            </div>
                        </td>
                    </tr>
                    <tr ng-show = "$ctrl.analyse.binding">
                        <td>Binding</td>
                        <td>
                            <div>

                                <div class="clickable" ng-click="$ctrl.showvs({url:$ctrl.analyse.binding.valueSetReference.reference})">
                                    {{$ctrl.analyse.binding.valueSetReference.reference}}
                                </div>
                                {{$ctrl.analyse.binding.valueSetUri}}
                                ({{$ctrl.analyse.binding.strength}})
                            </div>
                            <div>{{$ctrl.analyse.binding.description}}</div>
                        </td>
                    </tr>

                </table>


            </uib-tab>
            <uib-tab heading="Analysis">
                <br/>
                <pre>{{$ctrl.analyse | json}}</pre>
            </uib-tab>
        </uib-tabset>

    </div>
<!--
    <div ng-hide = "$ctrl.analyse.isComplexExtension">

        <table class="table">
            <tr><td>Name</td><td>{{$ctrl.analyse.name}}</td></tr>
            <tr><td>Url</td><td>{{$ctrl.analyse.url}}</td></tr>
            <tr><td>Publisher</td><td>{{$ctrl.analyse.publisher}}</td></tr>
            <tr><td>Definition</td><td>{{$ctrl.analyse.definition}}</td></tr>
            <tr><td>Multiple</td><td>{{$ctrl.analyse.multiple}}</td></tr>
            <tr>
                <td>Context</td>
                <td>
                    <span ng-repeat="ctx in $ctrl.analyse.context">
                        {{ctx}}
                    </span>
                </td>
            </tr>
            <tr><td>Datatype/s</td>
                <td>
                    <div ng-repeat="item in $ctrl.analyse.dataTypes">
                        {{item.code}}
                    </div>


                </td>
            </tr>
        </table>

    </div>
-->


</div>