<!-- template for the profile view component - profileDisplayComp.js-->

<div class="row">

    <style>
        .link {
            color:blue;
            cursor: pointer;
        }
    </style>

    <div class="col-sm-12 col-md-12 col-xs-12">

        <div>

             <span uib-dropdown on-toggle="toggled(open)">
              <div class="btn btn-link" uib-dropdown-toggle>
                  {{$ctrl.selectedType}}
              </div>
                 <!-- disable for the moment, but may want to re-enable later...
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li ng-repeat="p in $ctrl.profileHistory track by $index">
                      <div class="btn btn-link" ng-click="$ctrl.reloadProfile(p)">{{p | shortUrl}}</div>
                  </li>

              </ul>
                 -->
            </span>
        </div>

        <uib-tabset ng-show="$ctrl.filteredProfile">

            <uib-tab heading="Table">
                <!-- the template for the table -->
                <table ng-show="$ctrl.filteredProfile" class="table table-condensed">
                    <tr><th>Path</th><th>Mult</th><th>DataType</th><th>Definition</th></tr>
                    <tr ng-repeat="element in $ctrl.filteredProfile ">
                        <td valign="top">{{element.myMeta.path}}</td>
                        <td>{{element.min}}..{{element.max}}</td>
                        <td valign="top">
                            <div ng-repeat="item in element.type">{{item.code}}</div>
                        </td>
                        <td valign="top">{{element.definition}}
                            <div><em>

                                <div title="{{element.binding.valueSetReference.reference}}"
                                        class="link" ng-click="$ctrl.showValueSet(element.binding.valueSetReference.reference)">
                                    {{element.binding.valueSetReference.reference | shortUrl}}
                                </div>


                            </em></div>
                            <div ng-repeat="type in element.type">
                                <em ng-repeat="p in type.profile">

                                    <div title="{{p}}"
                                            class="link" ng-click="$ctrl.showProfile(element,type,p)">{{p | shortUrl}}</div>

                                </em>
                            </div>
                        </td>
                    </tr>
                </table>
            </uib-tab>

            <uib-tab heading="Tree">
                <!-- the template for the tree -->
                <table style="width: 100%">
                    <tr ng-repeat="element in $ctrl.treeDisplay" ng-init="inx = $index">
                        <td valign="top">
                            <a href="#" ng-click="selectElement(element,inx)">

                                <span ng-bind-html="element.myStuff.spacer"></span>
                                    <span ng-class="{propertySelected:$index==index,elementRequired:element.min==1,strikeout:element.max=='0' }">
                                        {{element.myStuff.name}}</span>
                            </a>


                        </td>
                        <td>

            <span ng-show="element.noteCount" style="width:20px" class="pull-right">
                <span class="badge" style="cursor: pointer"
                      uib-popover="The number of notes about this element "
                      popover-trigger="mouseenter">{{element.noteCount}}</span>
            </span>

            <span ng-hide="element.noteCount" style="width:20px" class="pull-right">
                &nbsp;
            </span>


            <span style="cursor: pointer" class="pull-right"
                  uib-popover="This element has a fixed value "
                  popover-trigger="mouseenter">
                <i ng-show="element.myStuff.fixed" style="color:orange;width:20px"
                   class="glyphicon glyphicon-lock "></i>
            </span>


            <span ng-hide="element.myStuff.fixed"style="width:20px" class="pull-right">
                &nbsp;
            </span>


            <span ng-show="element.myStuff.isSimpleExtension" class="pull-right" style="width:20px;cursor: pointer"
                  class="pull-right"
                  uib-popover="This element is defined by an extension"
                  popover-trigger="mouseenter">
               <!-- <strong style="color: brown">E</strong>-->
                <img ng-src="icons/icon_extension_simple.png"/>


            </span>


            <span ng-hide="element.myStuff.isSimpleExtension" class="pull-right" style="width:20px">
                &nbsp;
            </span>

            <span ng-show="element.myStuff.isCoded" class="pull-right" style="width:20px;cursor: pointer"
                  class="pull-right"
                  uib-popover="This element is coded and bound to a ValueSet "
                  popover-trigger="mouseenter">
                <strong style="color: brown">C</strong>
            </span>

            <span ng-hide="element.myStuff.isCoded" class="pull-right" style="width:20px">
                &nbsp;
            </span>


            <span ng-show="element.myStuff.dataTypeIcon" style="padding-right: 8px"
                  class="pull-right" popover-html="getIconPopoverText(element)"
                  popover-trigger="mouseenter" >
                <img ng-src="icons/{{element.myStuff.dataTypeIcon}}"/>
            </span>





                        </td>

                    </tr>
                </table>

            </uib-tab>
            <uib-tab heading="Json">
                <pre>{{$ctrl.selectedProfile | json}}</pre>
            </uib-tab>



        </uib-tabset>



        <div id="pfTreeView"></div>


    </div>
</div>


