<!-- To allow a user to query against a valueset-->
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title">Query ValueSet</h3>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="pull-right" ng-show="waiting">
                    <img src="css/ajax_loader_blue_32.gif"/>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-warning pull-right" ng-click="$dismiss()">Close</button>
            </div>
        </div>

    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-md-7 col-sm-7">
                <input type="text" placeholder="Enter filter string" class="form-control" ng-model="input.filter">
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="pull-right">
                    <button class="btn btn-default" ng-click="search(input.filter)">Search</button>
                    <button class="btn btn-default" ng-click="showAll()">Show All</button>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table ng-show="data.length > 0" class="table table-bordered table-condensed">
                    <tr><th>Code</th><th>Display</th></tr>
                    <tr ng-repeat="concept in data | orderBy : 'display'">
                        <td>{{concept.code}}
                            <div>{{concept.system}}</div>
                        </td>

                        <td>{{concept.display}}</td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div><strong>{{vs.url}}</strong></div>
                {{vs.description}}

            </div>
            <div class="col-md-2 col-sm-2">
                <div class="pull-right"  >

                    <div>
                        <button class="btn btn-warning" ng-click="$dismiss()">Close</button>

                    </div>


                </div>

            </div>

        </div>
    </div>

</div>
