

<div class="row">
    <div class="col-sm-5 col-md-5">
        <strong>Upload {{$ctrl.resourceType}}</strong>
    </div>
    <div class="col-sm-7 col-md-7">
        <input type="file" id="uploadFile" name="uploadFile" ng-Model="selectedFile" ng-change="$ctrl.selected()"/>

    </div>


</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <input type="text" class="form-control" placeholder="Enter name to use as url"
               ng-change="$ctrl.showUrl(input.name)" ng-model="input.name"/>
    </div>
    <div class="col-sm-6 col-md-6">
        <button class="btn btn-link pull-right" ng-click="$ctrl.upload()">Upload</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        {{$ctrl.url}}
        <div class="pull-right" ng-show="$ctrl.waiting">
            <img src="css/ajax_loader_blue_32.gif"/>
        </div>
    </div>
</div>
