
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h3 class="modal-title" ng-show="saveState=='before'">Please confirm that you wish to save this resource</h3>
                <h3 class="modal-title" ng-show="saveState=='success'">Resource saved</h3>
                <h3 class="modal-title" ng-show="saveState=='fail'">Resource NOT saved</h3>

            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-hide = "outcome" ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-hide = "outcome" ng-click="saveResource()">Save</button>
                    <button class="btn btn-primary" ng-show = "outcome" ng-click="$close()">Close</button>
                </div>

            </div>

        </div>

    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <pre>{{resourceAsString}}</pre>
            </div>
            <div class="col-md-6">
                <div ng-show="issues.length > 0">
                    <H4>The following issues have been identified</H4>

                    <div class="row" >
                        <div class="col-md-4">
                            <strong>Element</strong>
                        </div>
                        <div class="col-md-8">
                            <strong>Issue</strong>
                        </div>
                    </div>
                </div>

                <div class="row" ng-repeat="issue in issues">
                    <div class="col-md-4">
                        {{issue.element}}
                    </div>
                    <div class="col-md-8">
                        {{issue.type}}
                    </div>
                </div>

                <div ng-show="issues.length > 0">
                    <br />
                    <em>The server may still accept the Resource, but it is not valid against the Profile.</em>
                </div>

                <div ng-show="saving">
                    <div class="alert alert-warning" role="alert">Sending resource to server, please wait...</div>
                </div>

                <strong>{{outcome}}</strong>

                <div ng-repeat = "issue in oo.issue">
                    <div>Dx: {{issue.diagnostics}} {{issue.details}}</div>
                    <div>Loc: {{issue.location}}</div>
                </div>
                <hr />

                <div ng-show="saveState=='fail'">
                    <p>The Activity tab on the <a href="dashboard.html" target="_blank">Dashboard</a> will have all error details</p>
                </div>


                <div class="banner">Send Message</div>
                <chat-message action-after-send="afterMessageSent"
                              attachments="messageAttachments"
                              user="currentUser"
                </chat-message>

            </div>



        </div>



    </div>

    <div class="modal-header">

        <div class="row">
            <div class="col-md-8">
                <div class="text-left">
                    <em></em>
                </div>

            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <button class="btn btn-warning" ng-hide = "outcome"ng-click="$dismiss()">Cancel</button>
                    <button class="btn btn-primary" ng-hide = "outcome" ng-click="saveResource()">Save</button>
                    <button class="btn btn-primary" ng-show = "outcome" ng-click="$close()">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
