<div>


<!-- http://mgcrea.github.io/angular-strap/#/getting-started -->
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div ng-show='showProfileIssues' class="row">
                <div class="col-md-12 col-sm-12">


                    <h4>Quality issues with this profile</h4>
                    <table class="table table-bordered">
                        <tr ng-repeat="issue in profileIssues">
                            <td>{{issue.path}}</td>
                            <td>{{issue.display}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-sm-10">

                    <ul class="breadcrumb" ng-show="crumbs.length > 0">
                        <li>
                             <span ng-show="externalSpecPage" style="font-size:1.5em">
                                <a href="{{externalSpecPage}}" target="_blank">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </a>
                            </span>
                        </li>

                        <li style="cursor: pointer" ng-repeat="crumb in crumbs" ng-click="selectFromCrumb(crumb)">
                            {{crumb.display}}<span ng-show="crumb.element.selectedPage > -1"> ({{crumb.element.selectedPage+1}})</span>

                        </li>
                    </ul>
                </div>

                <div ng-show = 'profileIssues.length > 0' class="col-md-1 col-sm-1">
                    <span ng-click="toggleShowProfileIssues()" style="color: red;font-size:30px"
                       class="glyphicon glyphicon-exclamation-sign"></span>
                </div>

            </div>


            <div style="height:400px; overflow-y: auto;" >

            <table class="table table-condensed">
                <tr ng-repeat = 'element in elementList' ng-init="inx = $index">
                    <td ng-class="{propertySelected:$index==index,elementRequired:element.min==1,
                    elementExtension:element.myMeta.isExtension }" valign="top">

                        <div class='showcursor' ng-click="showElementDefinition(element,inx)" title="{{element.definition}}">
                            <span ng-show="pathDataEntered[element.path]" style="color:green">
                                &check;&nbsp;</span>
                            <span style="margin-left: 8px" ng-show="element.myMeta.extensionText">{{element.myMeta.extensionText}}</span>
                            <span ng-hide="element.myMeta.extensionText">{{element.path}}</span>
                        </div>

                    </td>


                    <td valign="top">{{element.min}}..{{element.max}}</td>
                    <td>

                        <!-- assumptionis that if there is not a type, then this has child elements
                        In DAF profiles, this does seem to be a element tyope so this may require more thinking...-->
                        <!--<div ng-hide="element.type && (element.type !=='Element')">-->
                        <div ng-show="isAChildNode(element)">
                            <div class='clickableParentNode' ng-click="showChild(element)">Show child</div>
                        </div>

                        <div ng-hide="isAChildNode(element)" ng-repeat="t in element.type">

                            <div ng-class="{clickable: t.code !='Reference',
                                clickableResourceReference: t.code =='Reference',
                                clickableExtension:t.code=='Extension',
                                clickableFixed:element['fixed'+t.code]}"
                                 ng-click="showElement(element,t,inx)">


                                <!-- to accomodate profiled datatypes -->

                                <span ng-show="t.code=='Reference'">
                                    --&gt;  <!--{{t.profile | referenceType}}-->
                                </span>

                                <!-- a non profiled datatype-->
                                <span ng-hide="t.profile">
                                    {{t.code}}
                                </span>


                                <span ng-show="t.profile">
                                    <!--{{t.profile}}-->
                                    {{t.profile | referenceType}}
                                </span>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
            </div>






        </div>

        <!--         <div ng-class="{'col-md-8 col-sm-8':!chatInFullScreen,'col-md-12 col-sm-12':chatInFullScreen }"

                class="col-md-8 col-sm-8" style="border-left: 1px solid gainsboro ">-->

        <div class="col-md-8 col-sm-8" style="border-left: 1px solid gainsboro ">

            <div ng-show="currentlySelectedRoot.path">

                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <strong>Current Element: </strong> {{currentElement.path}} Parent: {{currentlySelectedRoot.path}}

                    </div>
                    <div class="col-md-3 col-sm-3">

                        <div ng-show="currentlySelectedRoot.max=='*' && currentlySelectedRoot.value.length > -1">
                            <div class="pull-right">

                                <!--X<div ng-show="currentlySelectedRoot.value.length > -1">array</div>X-->

                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="selectPage($index)"
                                            ng-repeat="page in currentlySelectedRoot.value">{{$index+1}}</button>
                                    <button type="button" class="btn btn-default">
                                        <span ng-click='addPage()' class="glyphicon glyphicon-plus" ></span></button>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-1 col-sm-1">
                        <div ng-show="showWaiting">
                            <img src="css/ajax_loader_blue_32.gif" style="max-height: 20px"/>
                        </div>
                    </div>


                </div>
                <hr/>
            </div>

            <div ng-show="elementDefinition">

                <div ng-show="vsReference">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <a class="btn btn-link pull-right" ng-click="showVSBrowserDlg()">Explore ValueSet</a>
                        </div>

                    </div>

                </div>

                <div>
                    <pre>{{elementDefinition}}</pre>
                </div>

                <vs-browser trigger="showVSBrowserDialog"></vs-browser>

            </div>

            <div ng-show="dataType">

                <div class="row">
                    <div class="col-md-1 col-sm-1">

                        <a href="#" ng-click="skip(true)"><span class="glyphicon glyphicon-backward"></span></a>

                    </div>
                    <div class="col-md-10 col-sm-10 col-sm-10">
                        <div class="banner">{{element.path}}</div>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <a href="#" ng-click="skip()"><span class="glyphicon glyphicon-forward"></span></a>

                    </div>

                </div>
                <br />



                <div>
                    <strong>
                        {{element.short}} ({{dataType}}<span ng-show="dataType=='Reference'">: {{resourceType}}</span>)
                    </strong>
                </div>

                <br />

            </div>

            <!-- some of the datatypes
            <ng-include src="'js/directives/cc/renderProfileDataTypes.html'"></ng-include>
-->

            <div class="rounded-box" ng-show="dataType">       <!-- The top for a box around the data entry form-->
<!--
                <div class="row">
                    <div class="col-md-11 col-sm-11">
                        <div><em>{{element.definition}}</em></div>
                    </div>
                    <div class="col-md-1">
                        <span ng-show="externalReferenceSpecPage" style="font-size:1.5em;padding-right: 8px">
                            <a href="{{externalReferenceSpecPage}}" target="_blank">
                                <i class="glyphicon glyphicon-globe"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <br />
-->

            <div ng-show="dataType=='Address'">
                <ng-include src="'/prTemplates/address.html'"></ng-include>
            </div>


            <div ng-show="dataType=='ContactPoint'">
                <ng-include src="'/prTemplates/contactpoint.html'"></ng-include>

            </div>



            <div ng-show="dataType=='HumanName'">
                <ng-include src="'/prTemplates/humanname.html'"></ng-include>

            </div>

            <div ng-show="dataType=='Timing'">
                <ng-include src="'/prTemplates/timing.html'"></ng-include>

            </div>

            <div ng-show="dataType=='Narrative'">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-md-offset-2" >
                        <textarea class="form-control" rows="3" ng-model="results.narrative"></textarea>
                    </div>
                </div>
            </div>


            <div ng-show="dataType=='Annotation'">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <strong>Author</strong>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" class="form-control" ng-model="results.annotation.authorString"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <strong>Note</strong>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <textarea class="form-control"  rows="3" ng-model="results.annotation.text"></textarea>
                    </div>
                </div>
            </div>

            <div ng-show="dataType=='Ratio'">   <!-- Quantity x 2-->
                <div class="row">


                    <div class="col-md-2 col-sm-2 col-md-offset-1">
                        <input type="text" class="form-control" placeholder = "Amt" ng-model="results.ratio_num_amount"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" placeholder = "Units" ng-model="results.ratio_num_units"/>
                    </div>
                    <div class="col-md-1  col-sm-1">
                        /
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" placeholder = "Amt" ng-model="results.ratio_denom_amount"/>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" placeholder = "Units" ng-model="results.ratio_denom_units"/>
                    </div>

                </div>

            </div>

            <div ng-show="dataType=='Identifier'">

                <div class="row">

                    <div class="col-md-2 col-sm-2  control-label">Value</div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control" ng-model="results.identifier_value" id="identifier_value"/>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2  control-label">System</div>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" type="text" ng-model="results.identifier_system"/>
                    </div>


                </div>



            </div>

            <div ng-show="dataType=='Reference'">
                <ng-include src="'/prTemplates/reference.html'"></ng-include>
            </div>

            <div ng-show="dataType=='boolean'">
                <div>{{element.short}}</div>
                <div class="row">
                    <div class=" col-md-6 col-sm-6">

                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="results.boolean" btn-radio="true">True</label>
                            <label class="btn btn-primary" ng-model="results.boolean" btn-radio="false">False</label>

                        </div>
                    </div>
                    <div class=" col-md-2 col-sm-2">

                        <div class="checkbox">
                            <input type="checkbox"  ng-model="results.boolean"/>
                        </div>
                    </div>

                </div>


            </div>

            <div ng-show="dataType=='string'">
                <div>{{element.short}}</div>
                <input type="text" class="form-control" ng-model="results.string"/>
            </div>

            <div ng-show="dataType=='positiveInt'">
                <div>{{element.short}}</div>
                <input type="text" class="form-control" ng-model="results.positiveint"/>
            </div>

            <div ng-show="dataType=='integer'">
                <div>{{element.short}}</div>
                <input type="text" class="form-control" ng-model="results.integer"/>
            </div>


            <div ng-show="dataType=='id'">
                <div>{{element.short}}</div>
                <!--
                <input type="text" class="form-control" ng-model="results.id"/>
                -->
                <div><strong><em>The Id of the resource cannot be set in this client</em></strong></div>
            </div>

            <div ng-show="dataType=='Signature'">
                <div>{{element.short}}</div>
                <!--
                <input type="text" class="form-control" ng-model="results.id"/>
                -->
                <div><strong><em>A Signature cannot be set in this client</em></strong></div>
            </div>

            <div ng-show="dataType=='uri'">
                <input type="text" class="form-control" ng-model="results.uri"/>

            </div>

            <div ng-show="dataType=='code'">
                <ng-include src="'/prTemplates/code.html'"></ng-include>

            </div>

            <div ng-show="dataType=='CodeableConcept'">
                <ng-include src="'/prTemplates/codeableconcept.html'"></ng-include>

            </div>

            <div ng-show="dataType=='Coding'">
                <ng-include src="'/prTemplates/coding.html'"></ng-include>
            </div>


            <div ng-show="dataType=='date'">

                <div class="row">
                    <div class="col-md-7  col-sm-7 col-centered">
                        <datepicker ng-model="results.date_start"  show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>




            </div>



            <div ng-show="dataType=='dateTime' || dataType=='instant'">

                <div class="row">
                    <div class="col-md-7  col-sm-7 col-centered">
                        <datepicker ng-model="results.date_start"  show-weeks="true" class="well well-sm"></datepicker>
                    </div>

                    <div class="col-md-4 col-sm-4">

                    </div>
                </div>

                <div class="row" ng-show="dataType=='instant'">
                    <div class="col-md-7  col-sm-7 col-centered">
                        <timepicker ng-model="results.time"></timepicker>
                    </div>

                    <div class="col-md-4 col-sm-4">

                    </div>
                </div>

            </div>



            <div ng-show="dataType=='Period'">

                <ng-include src="'/prTemplates/period.html'"></ng-include>


            </div>

            <div ng-show="dataType=='Quantity'">
                <ng-include src="'/prTemplates/quantity.html'"></ng-include>

            </div>

            <div ng-show="dataType=='Range'">   <!-- Quantity x 2-->
                <div class="row">


                    <div class="col-md-3 col-sm-3">
                        Between <input type="text" class="form-control" placeholder = "Start Amount" ng-model="results.range_amount_start"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        and <input type="text" class="form-control" placeholder = "End Amount" ng-model="results.range_amount_end"/>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        (units) <input type="text" class="form-control" placeholder = "Units" ng-model="results.range_units"/>
                    </div>

                </div>



            </div>

            <div ng-show="dataType=='Age'">

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" ng-model="results.age.value"/>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="row">
                            <div class="col-md-3 col-sm-3" ng-repeat="unit in UCUMAgeUnits">
                                <input type="radio" name="age" ng-model="results.ageunits" value="{{unit}}"> {{unit.display}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div ng-show="dataType=='Money'">

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <input type="text" class="form-control" ng-model="results.money_amount"/>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="row">
                            <div class="col-md-3 col-sm-3" ng-repeat="unit in UCUMMoneyUnits">
                                <input type="radio" name="age" ng-model="results.money_units" value="{{unit}}"> {{unit.display}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-show="dataType">
                <br /><br />

                <div class="row" ng-show = "element.requirementsDEP">
                    <div class="col-md-12 col-sm-12">
                        <div><strong>Requirements:</strong>{{element.requirements}}</div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-12 col-sm-12">
                        <button class="btn btn-primary pull-right" style="margin:8px"
                                ng-click="saveNewDataType()">Save</button>
                        <button class="btn btn-primary pull-right" style="margin:8px"
                                ng-click="saveNewDataType(true)">Save & Next</button>

                        <button class="btn btn-danger pull-right" style="margin:8px"
                                ng-click="cancel()">Cancel</button>
                    </div>
                </div>



            </div>

            </div>      <!-- closes the div that suppounds the data entry form-->


            <div ng-show="resource && resource !== '{}'">

                <hr />


                <h4>Resource</h4>




                <pre>{{resource}}</pre>

<!--

                <uib-tabset>
                    <uib-tab heading="Resource">
                        <pre>{{resource}}</pre>
                    </uib-tab>
                    <uib-tab ng-hide='true' heading="Tree View">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div id="treeViewRenderX"></div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <br />
                                <h5>{{treeSelectedDatatype}}</h5>
                                <pre>{{treeSelectedValue}}</pre>
                                <hr />
                            </div>
                        </div>




                    </uib-tab>
                </uib-tabset>

                -->



                <div ng-show='validationInProgress' class="alert alert-warning">
                    Performing Validation, please wait...
                </div>

                <div ng-show="validateResults.outcome" class="alert alert-success">{{validateResults.outcome}}</div>

                <panel ng-show="validateResults && validateResults.issue && validateResults.issue.length > 0">
                    <table class="table table-bordered">
                        <tr><th>Severity</th><th>Code</th><th>Details/Diagnostics</th><th>Location</th></tr>
                        <tr ng-repeat = "iss in validateResults.issue">
                            <td>{{iss.severity}}</td>
                            <td>{{iss.code}}</td>
                            <td>{{iss.details.text}}
                                <div>{{iss.diagnostics}}</div>
                            </td>
                            <td><div ng-repeat="loc in iss.location">{{loc}}</div></td>
                        </tr>
                    </table>



                </panel>

<!--
                <pre ng-show="validateResults">{{validateResults}}</pre>
-->
                <div ng-hide="preview" class="row">
                    <div class="col-lg-12">
                        <a href='#' ng-click="SaveResourceToServer()" class="btn btn-warning pull-right">Save Resource</a>
                        <a href='#' ng-click="validateResource()" style="margin-right: 8px" class="btn btn-info pull-right">Validate Resource</a>
                        <a href='#' ng-click="activateParkResource()" style="margin-right: 8px" class="btn btn-primary pull-right">Park Resource</a>

                    </div>
                </div>

            </div>


        </div>
    </div>




    <hr />



</div>