
<style>
    .myScroll {

        height: 500px;
        overflow-y: scroll;
    }
</style>
<div>
    <div class="modal-header">

        <div class="row">
            <div class="col-md-8 col-sm-8 col-sm-8">
                <h3 class="modal-title">{{heading}}</h3>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
                    <button ng-show="selectedProfile" class="btn btn-primary" ng-click="selectProfile()">Select</button>

                </div>

            </div>

        </div>

    </div>
    <div class="modal-body">


        <uib-tabset active="active">
            <uib-tab index = "0" heading="Query Parameters" >
                <br/>

                <div ng-show="showWaiting">
                    <div class="alert alert-warning" role="alert">Searching server, please wait...</div>

                </div>

                <div ng-show="showNone">
                    <div class="alert alert-success" role="alert">There were no matching profiles found.</div>
                </div>

                <div class="alert alert-success" ng-show="showMessage">
                    There were {{selectedProfiles.entry.length}} profiles found. Please select the <em>Results</em> tab to view them as I can't change the tabe automatically (at the moment)
                </div>

                <form class="form-horizontal" role="form">


                    <div ng-show="baseResourceType">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">Resource Type</div>
                            <div class="col-md-1 col-sm-1">=</div>
                            <div class="col-md-3 col-sm-3">
                                <div class="banner">{{baseResourceType}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6">Extensions that are defined for this resource type</div>
                        </div>
                    </div>

                    <div ng-show="results.type=='profile'">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">Resource Type</div>
                            <div class="col-md-1 col-sm-1">=</div>
                            <div class="col-md-3 col-sm-3">


                                <select class="form-control" ng-model="results.profileType"
                                        ng-options="coreResourceDisplay(type) for type in allResourceTypes">

                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6">The type of resource you are searching for</div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">Name</div>
                            <div class="col-md-1 col-sm-1">=</div>
                            <div class="col-md-3 col-sm-3"><input type="text" class="form-control" ng-model="results.name"/> </div>
                            <div class="col-md-6 col-sm-6">The Name in the StructureDefinition</div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">Description</div>
                            <div class="col-md-1 col-sm-1">=</div>
                            <div class="col-md-3 col-sm-3"><input type="text" class="form-control" ng-model="results.description"/> </div>
                            <div class="col-md-6 col-sm-6">The description text in the StructureDefinition</div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2">Publisher</div>
                            <div class="col-md-1 col-sm-1">=</div>
                            <div class="col-md-3 col-sm-3"><input type="text" class="form-control" ng-model="results.publisher"/> </div>
                            <div class="col-md-6 col-sm-6">The entity (Person, Organization, Application) that authored the StructureDefinition</div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-md-offset-3">
                            <div ng-hide="showWaiting">
                                <button class="btn btn-success pull-right"
                                        ng-click="active=1;search()">Search for Profiles
                                        <span ng-show="results.profileType.name"> on {{results.profileType.name}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" >
                            <button ng-show="results.type=='profile' && results.profileType.name"
                                    class="btn btn-primary" ng-click="selectProfile(results.profileType.name)">
                                Select {{results.profileType.name}}
                            </button>
                        </div>

                    </div>

                </form>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>Results <span class="badge">{{selectedProfiles.entry.length}}</span> </uib-tab-heading>
                <!-- after resources have been selected...-->
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- The result list-->

                        <div class="myScroll">
                            <div class="list-group">
                                <div href="#" class="list-group-item" ng-repeat="ent in selectedProfiles.entry"
                                   ng-click="showProfile(ent)" style="cursor: pointer">

                                    <div><strong>{{ent.resource.name}}</strong></div>
                                    <div style="margin-left: 8px">{{ent.resource.description}}</div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8 col-sm-8">
                        <!-- The selected profile-->

                        <!-- a component (1.5) todisplay a profile-->
                        <show-profile profile="selectedProfile"  treedivid="'selectProfileTree'"></show-profile>
                        <div id="selectProfileTree"></div>

                    </div>

                </div>


            </uib-tab>
            <uib-tab index="2" heading="Select directly" >

                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <select class="form-control"
                                ng-change="selectServer('data',input.dataServer)"
                                ng-options="value.name for value in config.allKnownServers track by value.name"
                                ng-model="input.adhocServer">

                        </select>
                        <br/>
                        <form>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Id</label>
                                        <input type="text" ng-model="input.adhocId" class="form-control"
                                               placeholder="Enter the id of the profile">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <button ng-show="input.adhocServer && input.adhocId"
                                            class="btn btn-primary" ng-click="adhocProfile()">Select Profile</button>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-4 col-sm-4">
                    </div>
                </div>



            </uib-tab>
            <uib-tab index="3" ng-show="recent.length > 0">
                <uib-tab-heading>Recent <span class="badge">{{recent.length}}</span> </uib-tab-heading>
                <div class="list-group">
                    <div href="#" class="list-group-item" ng-repeat="profile in recent track by $index"
                         ng-click="selectRecent(profile)" style="cursor: pointer">

                        <div><strong>{{profile.url}}</strong></div>
                        <div style="margin-left: 8px">{{profile.description}}</div>

                    </div>
                </div>

            </uib-tab>



        </uib-tabset>
    </div>

    <div class="modal-footer">

        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="text-left">

                    <p>Select the base resource type from the dropdown, then either:</p>
                    <ul>
                        <li>Click the '<em>Search</em>' button to find all profiles on this resource</li>
                        <li>Clist the '<em>Select {{results.profileType.name}}</em>' button to load the base type profile directly</li>
                    </ul>

                    <div>{{config.servers.conformance}}</div>

                    <div>{{query}}</div>
                </div>

            </div>
            <div class="col-md-3 col-sm-3">
                <!--
                <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
                <button ng-show="selectedProfile" class="btn btn-primary" ng-click="$close()">Select</button>
                -->
            </div>
        </div>

    </div>
</div>
