
<div>
    <!--<div ng-controller="newResourceCtrl">-->
    <div class="modal-header">

        <div class="row">
            <div class="col-md-9 col-sm-9">
                <h3 class="modal-title">Display ValueSet: {{selectedvs.id}}</h3>

            </div>
            <div class="col-md-3 col-sm-3" >
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="close()">Close</button>
   <!--
                    <button ng-show="showVSSelectButton" class="btn btn-primary" ng-click="selectNewVS()">Select</button>
-->


                </div>
            </div>

        </div>

    </div>
    <div class="modal-body">

        <div ng-show="showWaiting">
            <div class="alert alert-warning" role="alert">Searching server, please wait...</div>
        </div>

        <uib-tabset>

            <uib-tab heading="Description" active="tab.tabDescription" select="setHelpTopic('description')">
                <br />
                <div class="row">
                    <div class="col-md-2 col-sm-2">ID</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.id}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">url</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.url}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">version</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.version}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">Name</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">Publisher</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.publisher}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">Description</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">Status</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.status}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">Date</div>
                    <div class="col-md-10 col-sm-10">{{selectedvs.date}}</div>
                </div>

            </uib-tab>

            <uib-tab  select="setHelpTopic('define')">
                <uib-tab-heading>CodeSystem <span ng-show="selectedvs.define">({{selectedvs.define.concept.length}})</span></uib-tab-heading>
                <br />


                <table class="table table-bordered table-condensed">
                    <tr><th>Code</th><th>Display</th><th>Definition</th></tr>
                    <tr ng-repeat="concept in selectedvs.codeSystem.concept | orderBy : 'code'">
                        <td>{{concept.code}}</td>
                        <td>{{concept.display}}</td>
                        <td>{{concept.definition}}</td>
                    </tr>
                </table>


            </uib-tab>

            <uib-tab heading="Compose"  select="setHelpTopic('compose')">
                <br />
                <uib-tabset>

                    <uib-tab heading="Includes">
                        <br />

                        <div ng-repeat = "include in  selectedvs.compose.include">

                            <h4>{{include.system}}</h4>


                            <div ng-show="include.filter" >
                                <h5>Filters</h5>
                                <table class="table table-bordered table-condensed">
                                    <tr><th>Property</th><th>Operation</th><th>Value</th></tr>
                                    <tr ng-repeat="filter in include.filter">
                                        <td>{{filter.property}}</td>
                                        <td>{{filter.op}}</td>
                                        <td>{{filter.value}}</td>

                                    </tr>
                                </table>
                            </div>


                            <div ng-show="include.concept" >
                                <h5>Concepts</h5>
                                <table  class="table table-bordered table-condensed">
                                    <tr><th>Code</th><th>Display</th></tr>
                                    <tr ng-repeat="concept in include.concept">
                                        <td>{{concept.code}}</td>
                                        <td>{{concept.display}}</td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab  heading="Excludes">

                                <br />
                                <div ng-repeat = "exclude in selectedvs.compose.exclude">
                                    <h4>{{exclude.system}}</h4>


                                    <div ng-show="exclude.filter" >
                                        <h5>Filters</h5>
                                        <table class="table table-bordered table-condensed">
                                            <tr><th>Property</th><th>Operation</th><th>Value</th></tr>
                                            <tr ng-repeat="filter in exclude.filter">
                                                <td>{{filter.property}}</td>
                                                <td>{{filter.op}}</td>
                                                <td>{{filter.value}}</td>

                                            </tr>
                                        </table>
                                    </div>


                                    <div ng-show="exclude.concept" >
                                        <h5>Concepts</h5>
                                        <table  class="table table-bordered table-condensed">
                                            <tr><th>Code</th><th>Display</th></tr>
                                            <tr ng-repeat="concept in exclude.concept">
                                                <td>{{concept.code}}</td>
                                                <td>{{concept.display}}</td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </uib-tab>
                    <uib-tab heading="Import" ng-show="selectedvs.compose.import">
                        <br />
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="imp in selectedvs.compose.import">{{imp}}</li>
                        </ul>

                    </uib-tab>

                        </uib-tabset>




                    </uib-tab>

            <uib-tab heading="JSON"  select="setHelpTopic('json')">
                <br />
                <pre>{{selectedvsJSON}}</pre>
            </uib-tab>

            <uib-tab heading="Expand" disabled="tab.noexpand" select="setHelpTopic('expand')">
                <br />
                <div class="row">
                    <div class="col-md-2">Filter</div>
                    <div class="col-md-8"><input type="text" placeholder="Enter filter text (or leave empty for all)"
                                                 ng-model="results.filter" class="form-control"/> </div>
                    <div class="col-md-2"><button class="btn btn-primary" ng-click="expand()">Expand</button> </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8">{{query}}</div>

                </div>

                <br />


                <table ng-show="data.length > 0" class="table table-bordered table-condensed">
                    <tr><th>Code</th><th>System</th><th>Display</th></tr>
                    <tr ng-repeat="concept in data | orderBy : 'display'">

                        <td><div class="clickable" ng-click="selectConcept(concept)">{{concept.code}}</div></td>
                        <td>{{concept.system}}</td>
                        <td>{{concept.display}}</td>
                    </tr>
                </table>


            </uib-tab>

        </uib-tabset>
    </div>

    <div class="modal-footer">

        <div class="row">
            <div class="col-md-8">
                <div class="text-left">
                    <em>{{config.servers.terminology}}</em>
                    <div ng-show="helpTopic=='compose'">
                        <p>Limitations</p>
                        <em>Define</em> concepts are not recursive
                    </div>
                    <div ng-show="helpTopic=='expand'">
                        <p>Use the terminology expansion function to explore the ValueSet. Use
                        a filter to restrict the result set - there is a limit to the number of concepts
                        that can be returned.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
