

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Period</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <period period="outcome.selectedResource.period"></period>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Status</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        {{outcome.selectedResource.status}}
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Class</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        {{outcome.selectedResource.class}}
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Patient</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <reference reference="outcome.selectedResource.patient"></reference>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Participant/s</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <div ng-repeat="part in outcome.selectedResource.participant">
            <reference reference="part.individual"></reference>
            <div><period period="part.period"></period></div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Indication/s</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <div ng-repeat="ind in outcome.selectedResource.indication">
            <reference reference="ind"></reference>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Location/s</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <div ng-repeat="loc in outcome.selectedResource.location">
            <reference reference="loc.location"></reference>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <strong>Service Provider</strong>
    </div>
    <div class="col-md-9 col-sm-9">
        <reference reference="outcome.selectedResource.serviceProvider"></reference>
    </div>
</div>