<div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Category</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <codeable-concept cc="outcome.selectedResource.category"></codeable-concept>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Code</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <codeable-concept cc="outcome.selectedResource.code"></codeable-concept>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Subject</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <reference reference="outcome.selectedResource.subject"></reference>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Encounter</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <reference reference="outcome.selectedResource.encounter"></reference>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Date</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <dateorperiod dateorperiod="outcome.selectedResource.effectiveDateTime"></dateorperiod>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Performer/s</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <div ng-repeat="performer in outcome.selectedResource.performer">
                <reference reference="performer"></reference>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-3 col-sm-3">
            <strong>Components</strong>
        </div>
        <div class="col-md-9 col-sm-9">
            <div ng-repeat="comp in outcome.selectedResource.component">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <codeable-concept cc="comp.code"></codeable-concept>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <quantity ng-show = "comp.valueQuantity" quantity="comp.valueQuantity"></quantity>
                        <codeable-concept ng-show = "comp.valueCodeableConcept" cc="comp.valueCodeableConcept"></codeable-concept>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-9 col-sm-9">

        </div>

    </div>

</div>